{%- assign country_code_var = localization.country.iso_code | downcase -%}
{%- if type == 'intro' -%}
    <div class="fbcur-introduce-color">
        {% comment %} <p class="fbcur-introduce-title">Choose your color</p> {% endcomment %}
        <ul class="fbcur-introduce-ul">
            {%- for block in section.blocks -%}
                {%- if block.type == 'introduce_service' -%}
                    <li class="fbcur-introduce-item" 
                     >
                        {% assign intoduce_service_img =  block.settings.intoduce_service_img | img_url: '' %}
                        <img class="Image--lazyLoad Image--fadeIn fbcur-introduce-imgcheck {% if block.settings.show_tip_or_dialog == false %}
                            js-introduce-service-dialog {% endif %}" data-src="{{ intoduce_service_img }}" 
                            alt="{{ block.settings.intoduce_service_img.alt }}"
                        >
                        <div class="fbcur-introduce-product-name {% if block.settings.show_tip_or_dialog == false %}
                            js-introduce-service-dialog
                           {% endif %}">
                            {%- if country_code_var == 'gb' -%}
                                {{ block.settings.gb_intoduce_service_desc | default: block.settings.intoduce_service_desc }}
                            {%- elsif country_code_var == 'au' -%}
                                {{ block.settings.au_intoduce_service_desc | default: block.settings.intoduce_service_desc }}
                            {%- else -%}
                                {{ block.settings.intoduce_service_desc }}
                            {%- endif -%}
                            {%- if block.settings.show_tip_or_dialog -%}
                            <div class="fbcur-introduce-tips">
                                {%- if country_code_var == 'gb' -%}
                                    {{ block.settings.gb_intoduce_service_tip | default: block.settings.intoduce_service_tip }}
                                {%- elsif country_code_var == 'au' -%}
                                    {{ block.settings.au_intoduce_service_tip | default: block.settings.intoduce_service_tip }}
                                {%- else -%}
                                    {{ block.settings.intoduce_service_tip }}
                                {%- endif -%}
                                </div>
                            {%- endif -%}
                        </div>
                        
                        <div class="fbcur-introduce-dialog">
                            <div class="fb-introducetip-container">
                                <div class="fbcur-intro-dialogcontent">
                                    <div class="fbcur-intro-dialog-close">
                                        <svg class="js-intro-dialog-close" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                            <path d="M0.800049 0.799999L15.2 15.2M0.800049 15.2L15.2 0.799999" stroke="#333333" stroke-width="1.2"/>
                                        </svg>
                                    </div>
                                    <div class="fbcur-intro-dialog-title">{{ block.settings.fbcur_intro_dialog_title }}</div>
                                    <div class="fbcur-intro-dialog-desc">{{ block.settings.fbcur_intro_dialog_desc1 }} <span>{{ block.settings.fbcur_intro_dialog_desc2 }}</span>{{ block.settings.fbcur_intro_dialog_desc3 }} </div>
                                    <div class="fbcur-intro-dialog-img-wrapper">
                                        <div class="fbcur-intro-dialog-item">
                                            <div>
                                                <a href="{{ block.settings.fbcur_intro_dialog_item_img_url_1 }}" target="_blank">
                                                    {% assign fbcur_intro_dialog_item_img1 =  block.settings.fbcur_intro_dialog_item_img1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                                                    <img class="Image--lazyLoad Image--fadeIn fbcur_intro_dialog_item_img1" data-src="{{ fbcur_intro_dialog_item_img1 }}"  data-sizes="auto" 
                                                        data-optimumx="1.2"
                                                        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                                                        alt="{{ block.settings.fbcur_intro_dialog_item_img1.alt }}"
                                                    >
                                                </a>
                                            </div>
                                            <div>
                                                <a href="{{ block.settings.fbcur_intro_dialog_item_img_url_2 }}" target="_blank">
                                                    {% assign fbcur_intro_dialog_item_img2 =  block.settings.fbcur_intro_dialog_item_img2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                                                    <img class="Image--lazyLoad Image--fadeIn fbcur_intro_dialog_item_img2" data-src="{{ fbcur_intro_dialog_item_img2 }}"  data-sizes="auto"
                                                        data-optimumx="1.2"
                                                        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                                                        alt="{{ block.settings.fbcur_intro_dialog_item_img2.alt }}"
                                                    >
                                                </a>
                                            </div>
                                        </div>
                                        <div class="fbcur-intro-dialog-item">
                                            <div class="fbcur-intro-dialog-title-bottom">
                                                {{ block.settings.fbcur_intro_dialog_title_bottom }}
                                            </div>
                                            <div>
                                                <a href="{{ block.settings.fbcur_intro_dialog_item_img_url_3 }}"  target="_blank">
                                                    {% assign fbcur_intro_dialog_item_img3 =  block.settings.fbcur_intro_dialog_item_img3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                                                    <img class="Image--lazyLoad Image--fadeIn fbcur_intro_dialog_item_img3" data-src="{{ fbcur_intro_dialog_item_img3 }}"  data-sizes="auto"
                                                        data-optimumx="1.2"
                                                        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                                                        alt="{{ block.settings.fbcur_intro_dialog_item_img3.alt }}"
                                                    >
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                   
                {%- endif -%}
            {%- endfor -%}  
        </ul>
    </div>
{%- endif -%}
{%- if type == 'bike-service' -%}
    <ul class="fbcur-bikeservice-ul">
        {%- for block in section.blocks -%}
            {%- if block.type == 'bike_service'  -%}
                {%- if block.settings.bike_service_desc contains 'Financing' and country_code_var != 'ca' -%}
                {%- else -%}
                    <li class="fbcur-bikeservice-item">
                        
                        {% assign bike_service_img =  block.settings.bike_service_img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                        <img class="Image--lazyLoad Image--fadeIn" data-src="{{ bike_service_img }}"  data-sizes="auto"
                            alt="{{ block.settings.bike_service_img.alt }}"
                        >
                        <div class="fbcur-bikeservice-product-name">
                            {%- if country_code_var == 'gb' -%}
                                {{ block.settings.gb_bike_service_desc | default: block.settings.bike_service_desc }}
                            {%- elsif country_code_var == 'au' -%}
                                {{ block.settings.au_bike_service_desc | default: block.settings.bike_service_desc }}
                            {%- else -%}
                                {{ block.settings.bike_service_desc }}
                            {%- endif -%}
                        </div>
                    </li>
                {%- endif -%}
            {%- endif -%}
        {%- endfor -%}  
    </ul>
{%- endif -%}
 {% comment %} defind default value {% endcomment %}
{%- capture fb_product_form -%}
    {%- for block in section.blocks -%}
        {%- if block.type == 'product_kinds'  -%}
                {%- assign product_main = block.settings.product_main -%}
                    {%- form 'product', product_main, class: 'ProductForm-{{block.settings.product_slect_type}}' -%}
                        <input type="text" class="QuantitySelector__CurrentQuantity" pattern="[0-9]*" name="quantity" value="1" aria-label="{{ 'product_main.form.quantity' | t }}">
                        {%- render 'product-form', block: block, product: product_main -%}
                        <button id="js-form-addtocart" type="submit" 
                            data-use-primary-button="true" 
                            data-action="add-to-cart"
                            data-type="{{ block.settings.product_slect_type }}"
                            data-title="{{ product_main.title }}"
                            class="ProductForm__AddToCart Button Button--primary"  
                        >
                        add to cart
                        </button>
                    {%- endform -%}
        {%- endif -%}
    {%- endfor -%}
{%- endcapture -%}
{%- if type == 'sub-total' -%}
    <div class="cs-bike-pc-left">
        {%- for block in section.blocks -%}
            {%- if block.type == 'product_kinds'  -%}
                {%- assign product_main = block.settings.product_main -%}
                <div  class="cs-bike-container js-fbcu-hide js-fbcu-show{{ block.settings.product_slect_type }}">
                    <ul class="cs-bike-content">
                        <li class="cs-bike-li">
                            <span class="span3">{{ section.settings.add_to_total_name }}</span>
                            <div class="cs-bike-li-summery">
                                <span class="span2"
                                    data-fbcountry-code="{{ country_code_var }}" 
                                    data-fbtype="origin"
                                    data-fbid="{{- product_main.id -}}"
                                    data-fborigin= "{{- product_main.selected_or_first_available_variant.price -}}"
                                >{%- render 'customer-price-control', type:'origin', cpc_product: product_main -%}</span>
                                <span class="span4"
                                    data-fbcountry-code="{{ country_code_var }}" 
                                    data-fbtype="sale"
                                    data-fbid="{{- product_main.id -}}"
                                    data-fborigin= "{{- product_main.selected_or_first_available_variant.price -}}"
                                >{%- render 'customer-price-control',type:'sale',cpc_product: product_main -%}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="cs-bike-addtocart-desc js-fbcu-hide js-fbcu-show{{ block.settings.product_slect_type }}">
                    {%- if country_code_var == 'ca' -%}
                        <p class="p-klarea" >
                            {%- if block.settings.add_to_show_klarnades == blank -%}
                                Pay ${%- render 'customer-price-control',type:'mo',cpc_product: product_main -%}/mo¹, at 0% APR with 
                            {%- else -%}
                                {{ block.settings.add_to_show_klarnades }}&nbsp;
                            {%- endif -%}
                            <img class="img1" src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/klarna_8710e8a4-99ca-435f-85c4-7f0cf97fe6ca.png?v=1673943565" />
                            {% comment %} {%- if country_code_var == 'ca' or country_code_var == 'au' -%}
                            {%- else -%}
                                or <img class="img2" src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/PAYPAL_1f1d1cab-1389-4461-a6ee-8bbc288f76cc.png?v=1673943574" />
                            {%- endif -%} {% endcomment %}
                        </p>
                    {%- endif -%}
                </div>
            {%- endif -%}
        {%- endfor -%}
         {% comment %} <div class="cs-bike-addtocart-desc"> {{ section.settings.add_to_cart_sec }}</div> {% endcomment %}
    </div>
    
    <div class="cs-bike-addtocart">
        {%- for block in section.blocks -%}
            {%- if block.type == 'product_kinds'  -%}
                {%- if block.settings.product_slect_type == '1'  -%}
                    {%- assign product_main = block.settings.product_main -%}
                    {% break %}
                {%- endif -%}
            {%- endif -%}
        {%- endfor -%}
        <button  class="js-customershop-addtocart js-keep-productdata"  
            data-variantid="{{ product_main.selected_or_first_available_variant.id }}" 
            data-price="{{ product_main.price | money }}"
            data-title="{{ product_main.title }}"
            data-gourl=""
        > 
            {{ section.settings.add_to_cart_name }}
        </button>
    </div>
{%- endif -%}
{%- if type == 'customer_service' -%}
    <div class="csb-customer-service">
        {%- for block in section.blocks -%}
            {%- if block.type == 'customer_service'  -%}
                <div class="frinew-buy-customer" >
                    {%- if block.settings.customer_img -%}
                        {% assign handsimg = block.settings.customer_img | img_url: '' %}
                    {%- else -%}
                    {% assign handsimg = 'https://cdn.shopify.com/s/files/1/0592/3766/2905/files/image_1.png?v=1667636453' %}
                    {%- endif -%}
                    <img
                        class="Image--lazyLoad Image--fadeIn frinew-customer-img"
                        data-src="{{ handsimg }}"
                        style="border-radius: 50%;"
                        onclick="TidioShowFun()"
                    >
                    <div class="customer_service_right" onclick="TidioShowFun()">
                        {{ block.settings.customer_title }}
                        {{ block.settings.customer_desc }}
                    </div>
                </div>
            {%- endif -%}
        {%- endfor -%}
    </div>
{%- endif -%}
{%- if type == 'customer_gift' -%}
    <div class="gift-show-color js-fbcu-hide js-fbcu-show{{ block.settings.product_slect_type }}">
        <div class="gift-show-title">
            <div class="sapn1">{{ section.settings.fpc_gift_title }}</div>
            <div  class="sapn2">
                {%- if country_code_var == 'ca' -%}
                    {{ section.settings.fpc_gift_sub }}
                {%- elsif country_code_var == 'gb' -%}
                    {{ section.settings.gb_fpc_gift_sub }}
                {%- elsif country_code_var == 'au' -%}
                    {{ section.settings.au_fpc_gift_sub }}
                {%- endif -%}
            </div>
        </div>
        <ul class="gift-show-ul">
            {%- if country_code_var == 'gb'-%}
                {%- assign gift_show1 =  block.settings.gb_gift_show1 -%}
                {%- assign gift_service_price1 = block.settings.gb_gift_service_price1  -%}
            {%- elsif country_code_var == 'au' -%}
                {%- assign gift_show1 =  block.settings.au_gift_show1 -%}
                {%- assign gift_service_price1 = block.settings.au_gift_service_price1  -%}
            {%- else -%}
                {%- assign gift_show1 = block.settings.gift_show1 -%}
                {%- assign gift_service_price1 = block.settings.gift_service_price1  -%}
            {%- endif -%}
            {% if gift_show1 %}
                <li class="gift-show-item">
                    {% assign gift_service_img1 =  block.settings.gift_service_img1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    {%- if  block.settings.gift_service_img_mob1 -%}
                        {% assign gift_service_img_mob1 =  block.settings.gift_service_img_mob1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    {%- else -%}
                        {% assign gift_service_img_mob1 =  block.settings.gift_service_img1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    {%- endif -%}
                    <img class="Image--lazyLoad Image--fadeIn gift-show-imgdefalut cs-mobhide-pcshow" data-src="{{ gift_service_img1 }}"  data-sizes="auto"
                        alt="{{ block.settings.gift_service_img1.alt }}"
                    >
                    <img class="Image--lazyLoad Image--fadeIn gift-show-imgdefalut cs-mobshow-pchide" data-src="{{ gift_service_img_mob1 }}"  data-sizes="auto"
                        alt="{{ block.settings.gift_service_img_mob1.alt }}"
                    >
                    <div class="gift-show-product-price">
                        {{ gift_service_price1 }}
                    </div>
                    <div class="gift-show-product-name">
                        {{ block.settings.gift_service_desc1 }}
                    </div>
                </li>
            {% endif %}
            {%- if country_code_var == 'gb'-%}
                {%- assign gift_show2 =  block.settings.gb_gift_show2 -%}
                {%- assign gift_service_price2 = block.settings.gb_gift_service_price2  -%}
            {%- elsif country_code_var == 'au' -%}
                {%- assign gift_show2 =  block.settings.au_gift_show2 -%}
                {%- assign gift_service_price2 = block.settings.au_gift_service_price2  -%}
            {%- else -%}
                {%- assign gift_show2 =  block.settings.gift_show2 -%}
                {%- assign gift_service_price2 = block.settings.gift_service_price2  -%}
            {%- endif -%}
            {% if gift_show2 %}
                <li class="gift-show-item">
                    {% assign gift_service_img2 =  block.settings.gift_service_img2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    {%- if  block.settings.gift_service_img_mob2 -%}
                        {% assign gift_service_img_mob2 =  block.settings.gift_service_img_mob2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    {%- else -%}
                        {% assign gift_service_img_mob2 =  block.settings.gift_service_img2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    {%- endif -%}
                    <img class="Image--lazyLoad Image--fadeIn gift-show-imgdefalut cs-mobhide-pcshow" data-src="{{ gift_service_img2 }}"  data-sizes="auto"
                        alt="{{ block.settings.gift_service_img2.alt }}"
                    >
                    <img class="Image--lazyLoad Image--fadeIn gift-show-imgdefalut cs-mobshow-pchide" data-src="{{ gift_service_img_mob2 }}"  data-sizes="auto"
                        alt="{{ block.settings.gift_service_img_mob2.alt }}"
                    >
                    <div class="gift-show-product-price">
                        {{ gift_service_price2 }}
                    </div>
                    <div class="gift-show-product-name">
                        {{ block.settings.gift_service_desc2 }}
                    </div>
                </li>
            {% endif %}
            {%- if country_code_var == 'gb'-%}
                {%- assign gift_show3 =  block.settings.gb_gift_show3 -%}
                {%- assign gift_service_price3 = block.settings.gb_gift_service_price3  -%}
           {%- elsif country_code_var == 'au' -%}
                {%- assign gift_show3 =  block.settings.au_gift_show3 -%}
                {%- assign gift_service_price3 = block.settings.au_gift_service_price3  -%}
            {%- else -%}
                {%- assign gift_show3 =  block.settings.gift_show3 -%}
                {%- assign gift_service_price3 = block.settings.gift_service_price3  -%}
            {%- endif -%}
            {% if gift_show3 %}
                <li class="gift-show-item">
                    {% assign gift_service_img3 =  block.settings.gift_service_img3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    {%- if  block.settings.gift_service_img_mob3 -%}
                        {% assign gift_service_img_mob3 =  block.settings.gift_service_img_mob3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    {%- else -%}
                        {% assign gift_service_img_mob3 =  block.settings.gift_service_img3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    {%- endif -%}
                    <img class="Image--lazyLoad Image--fadeIn gift-show-imgdefalut cs-mobhide-pcshow" data-src="{{ gift_service_img3 }}"  data-sizes="auto"
                        alt="{{ block.settings.gift_service_img3.alt }}"
                    >
                    <img class="Image--lazyLoad Image--fadeIn gift-show-imgdefalut cs-mobshow-pchide" data-src="{{ gift_service_img_mob3 }}"  data-sizes="auto"
                        alt="{{ block.settings.gift_service_img_mob3.alt }}"
                    >
                    <div class="gift-show-product-price">
                        {{ gift_service_price3 }}
                    </div>
                    <div class="gift-show-product-name">
                        {{ block.settings.gift_service_desc3 }}
                    </div>
                </li>
            {% endif %}
            {%- if country_code_var == 'gb'-%}
                {%- assign gift_show4 =  block.settings.gb_gift_show4 -%}
                {%- assign gift_service_price4 = block.settings.gb_gift_service_price4  -%}
            {%- elsif country_code_var == 'au' -%}
                {%- assign gift_show4 =  block.settings.au_gift_show4 -%}
                {%- assign gift_service_price4 = block.settings.au_gift_service_price4  -%}
            {%- else -%}
                {%- assign gift_show4 =  block.settings.gift_show4 -%}
                {%- assign gift_service_price4 = block.settings.gift_service_price4  -%}
            {%- endif -%}
            {% if gift_show4 %}
                <li class="gift-show-item">
                    {% assign gift_service_img4 =  block.settings.gift_service_img4 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    {%- if  block.settings.gift_service_img_mob4 -%}
                        {% assign gift_service_img_mob4 =  block.settings.gift_service_img_mob4 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    {%- else -%}
                        {% assign gift_service_img_mob4 =  block.settings.gift_service_img4 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    {%- endif -%}
                    <img class="Image--lazyLoad Image--fadeIn gift-show-imgdefalut cs-mobhide-pcshow" data-src="{{ gift_service_img4 }}"  data-sizes="auto"
                        alt="{{ block.settings.gift_service_img4.alt }}"
                    >
                    <img class="Image--lazyLoad Image--fadeIn gift-show-imgdefalut cs-mobshow-pchide" data-src="{{ gift_service_img_mob4 }}"  data-sizes="auto"
                        alt="{{ block.settings.gift_service_img_mob4.alt }}"
                    >
                    <div class="gift-show-product-price">
                        {{ gift_service_price4 }}
                    </div>
                    <div class="gift-show-product-name">
                        {{ block.settings.gift_service_desc4 }}
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
{%- endif -%}
{%- if type == 'deliver_to' -%}
   <ul class="js-select-countrycode deliver-countrycode-ul">
        <li class="" data-code="ca" data-url=""> CA </li>
        <li class="" data-code="gb" data-url="/en-uk"> UK </li>
        <li class="" data-code="au" data-url="/en-au"> AU </li>
   </ul>
{%- endif -%}
