
<div class="fb-pdpthu-imgList  Product__SlideshowNav--thumbnails  swiper-wrapper">
    {%- for media in my_product.media limit:2 -%}
        {%- case media.media_type -%}
            {%- when 'image' -%}
                <a  href="{{ media | img_url: '1024x' }}" 
                    data-media-id="{{ media.id }}"
                     class="Product__SlideshowNavImage img-box js-pdp-dot {% if initial_media_id == media.id %}is-selected{% endif %} swiper-slide"  
                     data-index="{{ forloop.index }}"
                     data-media-type="{{ media.media_type }}"
                     data-focus-on-click
                     style="--aspect-ratio: {{ media.preview_image.aspect_ratio }}"
                >
                    <img src="{{ media | img_url: '160x' }}" alt="{{ media.alt | escape }}">
                </a>
            {%- when 'video' -%}
                <a href="{{ media | img_url: '1024x' }}"  data-media-id="{{ media.id }}"  class="Product__SlideshowNavImage img-box u-video js-pdp-dot {% if initial_media_id == media.id %}is-selected{% endif %} swiper-slide"
                    data-index="{{ forloop.index }}"
                    data-media-type="{{ media.media_type }}"
                    style="--aspect-ratio: {{ media.preview_image.aspect_ratio }}"
                >
                    <img src="{{ media | img_url: '160x' }}" alt="{{ media.alt | escape }}">
                    <img src="https://cdn.shopify.com/s/files/1/0651/6726/1916/files/Subtract_2x_2.png?v=1676355953" alt="img" class="pause">
                </a>
        {%- endcase -%} 
    {%- endfor -%}
</div>