{%- assign img_index = 0 -%}
{%- assign img_index_zoom = 0 -%}
{%- assign img_index_2 = 0 -%}
{% comment %} <div class="ebike-pdp-slidebox" >
   
</div> {% endcomment %}
{% comment %} -box {% endcomment %}
<div class="ebike-pdp-slidebox fbEbikeImgSwiper">
    <div class="ebike-pdp-slidebox-warpper swiper-wrapper">
        {%- for media in product.media -%}
            {%- if single_product -%}
                {%- assign product_img_show = true -%}
            {%- else -%}
                {%- if media.alt contains option1 and media.alt contains option2 -%}
                    {%- assign product_img_show = true -%}
                {%- else -%}
                    {%- assign product_img_show = false -%}
                {%- endif -%}
            {%- endif -%}
            {% if product_img_show  %}
                {%- case media.media_type -%}
                    {%- when 'image' -%}
                        <div class="swiper-slide Product__SlideItem--image ebike-pdp-slidebox-slide" data-media-type="image" data-media-id="{{ media.id }}" data-media-position="{{ img_index }}" data-index="{{img_index}}"
                            data-zoom-index="{{ img_index_zoom }}"
                        > 
                                {% assign image_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                                <img class="Image--lazyLoad Image--fadeIn" data-src="{{ image_url }}" data-widths="[800,900,1000,1200,1400,1600]" data-sizes="auto" data-expand="-100" alt="{{ media.alt | escape }}" data-max-width="{{ media.width }}" data-max-height="{{ media.height }}" data-original-src="{{ media | img_url: '1800x1800' }}">
                                <span class="Image__Loader"></span>
                                <noscript>
                                <img src="{{ media | img_url: '800x' }}" alt="{{ media.alt | escape }}">
                                </noscript>
                        </div>
                        {%- assign img_index_zoom = img_index_zoom | plus: 1 -%}
                    {%- when 'video' -%}
                        <div id="Media{{ media.id }}" tabindex="-1" class="swiper-slide ebike-pdp-slidebox-slide" data-media-type="video" data-media-id="{{ media.id }}" data-media-position="{{ img_index }}" data-index="{{img_index}}">
                            <div class="Image--lazyLoad fbm-pdp-video-wrapper Image--fadeIn">
                                <div class="VideoWrapper VideoWrapper--native">
                                {{- media | video_tag: image_size: '1024x', controls: true, muted: true -}}
                                </div>
                            </div>
                        </div>
                    {%- endcase -%}
                    {%- assign img_index = img_index | plus: 1 -%}
            {% endif %}
        {%- endfor -%}
    </div>
</div>

<div class="ebike-thumbnails-box" data-imglength="{{ img_index }}">
    <div class="ebike-go-left-right fbEbikeRollSwiper">
        <div class="fb-pdpthu-imgList  swiper-wrapper">
            {%- for media in product.media -%}
                {%- if single_product -%}
                    {%- assign product_img_show2 = true -%}
                {%- else -%}
                    {%- if media.alt contains option1 and media.alt contains option2 -%}
                        {%- assign product_img_show2 = true -%}
                    {%- else -%}
                        {%- assign product_img_show2 = false -%}
                    {%- endif -%}
                {%- endif -%}
                {% if product_img_show2  %}
                    {%- case media.media_type -%}
                        {%- when 'image' -%}
                            <div
                                data-media-id="{{ media.id }}"
                                class="img-box js-pdp-dot {% if media_count_thu == 0 %}is-selected{% endif %} swiper-slide"  
                                data-index="{{ img_index_2 }}"
                                data-media-type="{{ media.media_type }}"
                                data-focus-on-click
                            >
                                {% assign image_url2 = media | img_url: '160x'%}
                                <img class="Image--lazyLoad Image--fadeIn"  data-sizes="auto"  data-src="{{ image_url2 }}" alt="{{ media.alt | escape }}">
                                <span class="Image__Loader"></span>
                            </div>
                        {%- when 'video' -%}
                            <div  data-media-id="{{ media.id }}"  class="img-box u-video js-pdp-dot {% if media_count_thu == 0 %}is-selected{% endif %} swiper-slide"
                                data-index="{{ img_index_2 }}"
                                data-media-type="{{ media.media_type }}"
                                style="--aspect-ratio: {{ media.preview_image.aspect_ratio }}"
                            >
                                {% assign image_url3 = media | img_url: '160x' %}
                                <img  class="Image--lazyLoad Image--fadeIn"  data-sizes="auto" data-src="{{ image_url3 }}" alt="{{ media.alt | escape }}">
                                <img src="https://cdn.shopify.com/s/files/1/0651/6726/1916/files/Subtract_2x_2.png?v=1676355953" alt="img" class="pause">
                            </div>
                    {%- endcase -%} 
                    {%- assign img_index_2 = img_index_2 | plus: 1 -%}
                {% endif %}
            {%- endfor -%}
            <div class="swiper-slide ebike-mobshow-pchide" style="width: 20px;visibility: hidden;cursor:note-allowed;">
            </div>
        </div>
    </div>
    <div class="ebike-thu-scroll-left ebike-pcshow-mobhide">
        <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="Vector" d="M12.0096 0L13.7051 1.48804L23.6061 10.1563C23.7247 10.2429 23.8218 10.3555 23.8901 10.4856C23.9583 10.6157 23.9958 10.7596 23.9997 10.9065C24.0035 11.0533 23.9737 11.1991 23.9124 11.3325C23.8511 11.466 23.76 11.5836 23.6461 11.6763C23.4008 11.8813 23.0899 11.9909 22.7704 11.9851C22.4508 11.9792 22.1441 11.8582 21.9066 11.6443L12.0056 2.97608L2.05269 11.6923C1.81412 11.8911 1.51345 12 1.20295 12C0.89245 12 0.591773 11.8911 0.353209 11.6923C0.242838 11.6023 0.15388 11.4888 0.0927876 11.3601C0.0316953 11.2314 0 11.0908 0 10.9483C0 10.8058 0.0316953 10.6652 0.0927876 10.5365C0.15388 10.4078 0.242838 10.2943 0.353209 10.2043L12.0056 0H12.0096Z" fill="#121212" fill-opacity="0.2"/>
        </svg>
    </div>
    <div class="ebike-thu-scroll-right ebike-pcshow-mobhide">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="12" viewBox="0 0 24 12" fill="none">
        <path id="Vector" d="M12.0096 12L13.7051 10.512L23.6061 1.84372C23.7247 1.75712 23.8218 1.64446 23.8901 1.5144C23.9583 1.38435 23.9958 1.24036 23.9997 1.09353C24.0035 0.946701 23.9737 0.800942 23.9124 0.667474C23.8511 0.534006 23.76 0.416388 23.6461 0.323674C23.4008 0.118676 23.0899 0.00905086 22.7704 0.0149293C22.4508 0.0208078 22.1441 0.141795 21.9066 0.355676L12.0056 9.02392L2.05269 0.307674C1.81412 0.108869 1.51345 3.43101e-07 1.20295 3.43101e-07C0.89245 3.43101e-07 0.591773 0.108869 0.353209 0.307674C0.242838 0.397704 0.15388 0.51118 0.0927876 0.639868C0.0316953 0.768557 0 0.909233 0 1.0517C0 1.19416 0.0316953 1.33483 0.0927876 1.46352C0.15388 1.59221 0.242838 1.70568 0.353209 1.79572L12.0056 12H12.0096Z" fill="#121212" fill-opacity="0.2"/>
        </svg>
    </div>
</div>