{% if type == 'item' %}
    <div class="ebike-size-ul">
        {%- assign sizeconfig_index = 1 -%}
        {%- for block in section.blocks -%}
            {%- case block.type -%}
                {%- when 'size_fit_table'-%}
                    <div class="ebike-size-li {% if template contains 'ebike' %}js-open-ebikedilaog{% else %}js-open-litboomdialog{% endif %}" 
                        data-name="{{ block.settings.size_fit_title | strip_html }}"
                        data-img="{{ block.settings.size_product_img | img_url: '' }}"
                        data-index="{{ sizeconfig_index }}"
                        aria-expanded="false" 
                        data-action="open-modal" 
                        aria-controls="ebike-sizeli-dialog" 
                        aria-label="Open OK"
                    > 
                        <span>{{ block.settings.size_fit_title }} </span>
                        {% if template contains 'ebike' %}
                            <span class="span-svg">
                                <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/open-line-item.png?v=1689144600" />
                            </span>
                        {% else %}
                            <svg class="span-svg2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="Frame">
                                    <path id="Vector" d="M7.22054 5.66996C7.3719 5.54736 7.56076 5.48047 7.75554 5.48047C7.95032 5.48047 8.13919 5.54736 8.29054 5.66996L12.7905 9.52996C12.8576 9.58531 12.9116 9.65481 12.9487 9.73347C12.9857 9.81212 13.0049 9.898 13.0049 9.98496C13.0049 10.0719 12.9857 10.1578 12.9487 10.2365C12.9116 10.3151 12.8576 10.3846 12.7905 10.44L8.29054 14.3C8.13919 14.4226 7.95032 14.4894 7.75554 14.4894C7.56076 14.4894 7.3719 14.4226 7.22054 14.3C7.15348 14.2446 7.09949 14.1751 7.06243 14.0964C7.02536 14.0178 7.00614 13.9319 7.00614 13.845C7.00614 13.758 7.02536 13.6721 7.06243 13.5935C7.09949 13.5148 7.15348 13.4453 7.22054 13.39L11.2205 9.98996L7.22054 6.58996C7.1517 6.53467 7.09615 6.46464 7.05798 6.38503C7.01982 6.30541 7 6.21825 7 6.12996C7 6.04167 7.01982 5.9545 7.05798 5.87489C7.09615 5.79528 7.1517 5.72524 7.22054 5.66996Z" fill="#121212" fill-opacity="0.5"/>
                                </g>
                            </svg>  
                        {% endif %}
                        {% comment %} ebike专属 {% endcomment %}
                        <div class="size-fit-config-desc-hide" style="display: none;">
                            {{ block.settings.size_fit_desc }}
                        </div>
                    </div>
                    {%- assign sizeconfig_index = sizeconfig_index | plus: 1 -%}
            {%- endcase -%}
        {%- endfor -%}
    </div>
{%- elsif type == 'dialog' -%}
{%- capture cloes_dom -%}
    <div class="ebike-sizeli-close">
        <svg class="js-sizeli-close" data-action="close-modal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <g id="Frame">
            <path id="Vector" d="M12.6954 13.4765C12.4954 13.4765 12.2956 13.4003 12.1429 13.2478L2.70543 3.81027C2.40027 3.50512 2.40027 3.01059 2.70543 2.70543C3.01059 2.40027 3.50512 2.40027 3.81027 2.70543L13.2478 12.1429C13.5529 12.4481 13.5529 12.9426 13.2478 13.2478C13.0953 13.4003 12.8953 13.4765 12.6954 13.4765Z" fill="#121212" fill-opacity="0.5"/>
            <path id="Vector_2" d="M3.25793 13.4765C3.05793 13.4765 2.85809 13.4003 2.70543 13.2478C2.40027 12.9426 2.40027 12.4481 2.70543 12.1429L12.1429 2.70543C12.4481 2.40027 12.9426 2.40027 13.2478 2.70543C13.5529 3.01059 13.5529 3.50512 13.2478 3.81027L3.81027 13.2478C3.65777 13.4003 3.45777 13.4765 3.25793 13.4765Z" fill="#121212" fill-opacity="0.5"/>
            </g>
        </svg>
    </div> 
{%- endcapture -%}
{%- capture ios_li_space -%}
    <li class="ios-li-space">
        1
    </li>
{%- endcapture -%}
    <div
        class="Drawer Drawer--fromRight" 
        data-section-type="ebike-sizeli-dialog"
        aria-hidden="true"
        id="ebike-sizeli-dialog">
        <div class="ebike-sizeli-content">
            {%- if template contains 'ebike' -%}
                <div class="ebike-sizeli-public-top ebike-sizeli-door-top" data-index="1" style="display: none;">
                    <div class="ebike-sizeli-title ebike-sizeli-title1 ebike-sizeli-top-textclose">
                        <span class="js-sizelipopup-title"></span>
                        {{ cloes_dom }}
                    </div>
                    <div class="ebike-sizeli-door">
                        <a class="ebike-sizeli-door-button dooractive" data-type="outdoor" href="javascript:void(0);">
                            OUTDOOR
                        </a>
                        <a class="ebike-sizeli-door-button" data-type="indoor" href="javascript:void(0);">
                            INDOOR
                        </a>
                    </div>
                </div>
                <div class="ebike-sizeli-public-top" data-index="2" style="display: none;">
                    <div class="ebike-sizeli-top-textclose ebike-sizeli-title ebike-sizeli-title2" data-index="2">
                        <span class="js-sizelipopup-title"></span>
                        {{ cloes_dom }}
                    </div>
                </div>
                {% comment %} ebike1 {% endcomment %}
                <div class="Drawer__Content__fb_ebike ebike-sizeli-modelshow"  data-index="1">
                    <div class="Drawer__Main" data-scrollable>
                        <ul class="ebike-sizeli-table2 js-ebike-sizeli-doorcontent" data-type="outdoor">
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">MOTOR</span>
                                <span class="tr2-span2">48V, 750W Brushless Hub Motor, Max Torque 85Nm</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">DISPLAY</span>
                                <span class="tr2-span2">3.5" Backlit LCD Display with Speed, Trip, Battery, Assist Level and More</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">BATTERY</span>
                                <span class="tr2-span2">Removable Internal Lithium-ion Battery, 48V, 15Ah (720Wh). 21700 LG Cells with UL2271 Certification.</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">SENSOR</span>
                                <span class="tr2-span2">Cadence Sensor</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">THROTTLE</span>
                                <span class="tr2-span2">Removable Thumb-Control</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">CHARGER</span>
                                <span class="tr2-span2">48V, 2A, Operates on 100V-240V AC, 50-60HZ, 6-7 Hour Charging</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">RANGE</span>
                                <span class="tr2-span2">Up to 60 Miles</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">FRAME</span>
                                <span class="tr2-span2">Aluminum Alloy, Fully Integrated & Lockable Down Tube Battery, Internal Cable Routing, Front and Rear Fenders</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">WEIGHT</span>
                                <span class="tr2-span2">77lbs ( 35kg )</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">PEDALS</span>
                                <span class="tr2-span2">9/16" Inner Hexagon Locking, BS/CPSC Reflective Sheet with R/L Label</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">WEIGHT LIMIT</span>
                                <span class="tr2-span2">Max Load 400lbs ( 181kg )</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">FORK</span>
                                <span class="tr2-span2">Hydraulic Suspension with 80mm Travel, with Lock-out, WB-355-26" ALLOY </span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">CRANKSET</span>
                                <span class="tr2-span2">Aluminum Alloy, 170mm</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">BRAKE LEVER</span>
                                <span class="tr2-span2">Hydraulic Disc Brake</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">REAR DERAILLEUR</span>
                                <span class="tr2-span2">8-Speed Direct Attachment</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">SHIFT LEVER</span>
                                <span class="tr2-span2">SHIMANO M315-8R, 8 Speed Trigger</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">CHAIN</span>
                                <span class="tr2-span2">1/2*3/32*L126</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">SPOKES</span>
                                <span class="tr2-span2">13G Steel Bed</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">TIRE</span>
                                <span class="tr2-span2">26 x 4", Puncture-Resistant Liner</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">SADDLE</span>
                                <span class="tr2-span2">Freebeat Urban Comfort Ergonomic Seat, 220mm Wide</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">LIGHTING</span>
                                <span class="tr2-span2">High Output Integrated LED, Adjustable Angle</span>
                            </li>
                            {{ ios_li_space }}
                        </ul>
                        <ul class="ebike-sizeli-table2 js-ebike-sizeli-doorcontent" data-type="indoor" style="display: none;">
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">MAXIMUM POWER OUTPUT</span>
                                <span class="tr2-span2">1000W</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">DRIVETRAIN</span>
                                <span class="tr2-span2">Chain Drive</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">RESISTANCE <br/>TYPE</span>
                                <span class="tr2-span2">Electromagnetic</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">POWER <br/> CONTROL ACCURACY</span>
                                <span class="tr2-span2">+ / -1%</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">CONNECTIVITY</span>
                                <span class="tr2-span2">Bluetooth</span>
                            </li>
                            <li class="ebike-sizeli-tr2">
                                <span class="tr2-span1">MAXIMUM <br/> RIDER WEIGHT</span>
                                <span class="tr2-span2">250lbs ( 113kg )</span>
                            </li>
                        </ul>
                    </div>
                </div> 
                {% comment %} ebike 2 {% endcomment %}
                <div class="Drawer__Content__fb_ebike2 ebike-sizeli-modelshow"  data-index="2">
                    <div class="Drawer__Main" data-scrollable>
                        <div class="ebike-sizeli-desc">
                        </div>
                        <div class="ebike-sizeli-img js-ebike-sizeli-img">
                            <img  src="">
                        </div>
                        <ul class="ebike-sizeli-table">
                            <li class="ebike-sizeli-header">
                                <span>Frame Size</span>
                                <span>High Step</span>
                                <span>Step Thru</span>
                            </li>
                            <li class="ebike-sizeli-tr">
                                <span>Rider Heights</span>
                                <span>5'6"-6'4"</span>
                                <span>5'1"-6'</span>
                            </li>
                            <li class="ebike-sizeli-tr">
                                <span>Reach</span>
                                <span>404</span>
                                <span>404</span>
                            </li>
                            <li class="ebike-sizeli-tr">
                                <span>Handlebar height</span>
                                <span>1100</span>
                                <span>1100</span>
                            </li>
                            <li class="ebike-sizeli-tr">
                                <span>Standover height</span>
                                <span>462.7</span>
                                <span>462.7</span>
                            </li>
                            <li class="ebike-sizeli-tr">
                                <span>Seat tube length</span>
                                <span>480</span>
                                <span>435</span>
                            </li>
                            <li class="ebike-sizeli-tr">
                                <span>Total length</span>
                                <span>1919</span>
                                <span>1919</span>
                            </li>
                            <li class="ebike-sizeli-tr">
                                <span>Wheelbase</span>
                                <span>1183</span>
                                <span>1183</span>
                            </li>
                            <li class="ebike-sizeli-tr">
                                <span>Min seat height</span>
                                <span>859</span>
                                <span>811.8</span>
                            </li>
                            <li class="ebike-sizeli-tr">
                                <span>Max seat height</span>
                                <span>1038.2</span>
                                <span>898.2</span>
                            </li>
                            {{ ios_li_space }}
                        </ul>
                    </div>
                </div>
            {%- else -%}
                {%- assign sizeconfig_index2 = 1 -%}
                {%- for block in section.blocks -%}
                    {%- case block.type -%}
                        {%- when 'size_fit_table'-%}
                            <div class="lit-boom-size-config"
                                data-index="{{ sizeconfig_index2 }}"
                            >
                                <div class="ebike-sizeli-public-top">
                                    <div class="ebike-sizeli-top-textclose ebike-sizeli-title3" data-index="2">
                                        <span class="js-sizelipopup-title">{{ block.settings.size_fit_title }}</span>
                                        {{ cloes_dom }}
                                    </div>
                                </div>
                                
                                <div class="Drawer__Content__fb_litboom">
                                    <div class="Drawer__Main" data-scrollable>
                                        {{ block.settings.size_fit_desc }}
                                    </div>
                                </div>
                            </div>
                        {%- assign sizeconfig_index2 = sizeconfig_index | plus: 1 -%}
                    {%- endcase -%}
                {%- endfor -%}
            {% comment %} 默认版本 {% endcomment %}
            {%- endif -%}
        </div>
    </div>
{% endif %}