{%- for block in section.blocks -%}
  {%- if block.type == 'contact_dialog' -%}
      {%- assign contact_dialog_title = block.settings.contact_dialog_title -%} 
      {%- assign contact_dialog_subtitle = block.settings.contact_dialog_subtitle -%}
      {%- assign contact_dialog_btn_text = block.settings.contact_dialog_btn_text -%}  
  {%- endif -%}
  {%- if block.type == 'contact_info' -%}
    {%- assign contact_info_name = block.settings.contact_info_name -%} 
    {%- assign contact_info_email = block.settings.contact_info_email -%}
    {%- assign contact_info_username = block.settings.contact_info_username -%} 
    {%- assign contact_info_platform = block.settings.contact_info_platform -%}
    {%- assign contact_info_select_input_name = block.settings.contact_info_select_input_name -%} 
    {%- assign contact_info_select_values = block.settings.contact_info_select_values | split: ',' -%}
    {%- assign contact_info_submit_botton_name = block.settings.contact_info_submit_botton_name | split: ',' -%}
    {%- assign contact_info_select_input_name = block.settings.contact_info_select_input_name -%} 
    {%- assign contact_info_followers = block.settings.contact_info_followers -%} 
    {%- assign contact_info_media_link = block.settings.contact_info_media_link -%}

{%- endif -%}
{%- endfor -%}
    {%- form 'contact', class: 'Community__Contact Form', id: 'community-contact' -%}
        {%- if form.posted_successfully? -%}
          <div class="contact-form-model utils-move-show">
                <div class="cfm-content">
                    <div class="cfm-content-title">
                        {{ contact_dialog_title }}
                    </div>
                    <div class="cfm-content-desc">
                       {{ contact_dialog_subtitle }}
                    </div>
                    <div class="cfm-content-btn">
                      <div  class="cfm-btton js-close-contact-model">
                        {{ contact_dialog_btn_text }}
                      </div>
                    </div>
                </div>
            </div>
        {%- endif -%}

        {%- if form.errors -%}
          <div class="Form__Alert Alert Alert--error">
            <ul class="Alert__ErrorList">
              {%- for field in form.errors -%}
                {%- if field == 'form' -%}
                  <li class="Alert__ErrorItem">{{ form.errors.messages[field] }}</li>
                {%- else -%}
                  <li class="Alert__ErrorItem"><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
        <div class="Form__Group">
            <div class="Form__Item">
                <label class="fb-form-itc-label">{{ contact_info_name }}<span>*</span></label>
                <input type="text" class="Form__Input" name="contact[name]" aria-label="{{ 'contact.form.name' | t }}" placeholder="Name" required {% if customer %}value="{{ customer.name }}"{% endif %}>
            </div>
            <div class="Form__Item">
              <label class="fb-form-itc-label">{{ contact_info_platform }}<span>*</span></label>
              <div class="Form__Select Select Select--primary">
                  {%- render 'icon' with 'select-arrow' -%}
                  <select name="contact[{{ contact_info_platform | escape }}]" title="{{ contact_info_select_input_name | escape }}" required>
                  <option value="" disabled selected>{{ contact_info_select_input_name | escape }}</option>
                  {%- for value in contact_info_select_values -%}
                      {%- assign trim_value = value | strip -%}
                      <option value="{{ trim_value | escape }}">{{ trim_value | escape }}</option>
                  {%- endfor -%}
                  </select>
              </div>
            </div>
        </div>
        <div class="Form__Group">
            <div class="Form__Item">
                <label class="fb-form-itc-label">{{ contact_info_email }}<span>*</span></label>
                <input type="email" class="Form__Input" name="contact[email]" aria-label="{{ 'contact.form.email' | t }}" placeholder="Email" required {% if customer %}value="{{ customer.email }}"{% endif %}>
            </div>
            <div class="Form__Item">
              <label class="fb-form-itc-label">{{ contact_info_username }}<span>*</span></label>
              <input type="text" class="Form__Input" name="contact[{{ contact_info_username | escape }}]" aria-label="{{ contact_info_username | escape }}" placeholder="Username" {% if block.settings.is_required %}required{% endif %}>
            </div>
        </div>
        <div class="Form__Group">
          <div class="Form__Item">
              <label class="fb-form-itc-label">{{ contact_info_followers }}<span>*</span></label>
              <input type="text" class="Form__Input" name="contact[{{ contact_info_followers | escape}}]" aria-label="{{ contact_info_followers | escape}}" placeholder="Amount of Followers" required>
          </div>
          <div class="Form__Item">
            <label class="fb-form-itc-label">{{ contact_info_media_link }}<span>*</span></label>
            <input type="text" class="Form__Input" name="contact[{{ contact_info_media_link | escape}}]" aria-label="{{ contact_info_media_link | escape}}" placeholder="Social Media Link" required>
        </div>
      </div>
        <button type="submit" class="Form__Submit Button--primary">{{ contact_info_submit_botton_name }}</button>
      {%- endform -%}
<script type="text/javascript">
$(function () {
  $('body').on('click', '.js-close-contact-model', function(e) {
      {% comment %} $('.contact-form-model').addClass('utils-move-hide')
      $('.contact-form-model').hide() {% endcomment %}
      window.location.href= window.Shopify.routes.root + "pages/community"
  })
  {% comment %} $(document).on('click', function (e) {
    if ($(e.target).closest('.cfm-content').length <= 0) {
      $('.contact-form-model').addClass('utils-move-hide')
      $('.contact-form-model').hide()
    }
  }) {% endcomment %}
})
</script>
<style>
.contact-form-model{
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}
.cfm-content{
  background: #FFFFFF;
  padding: 110px 75px 80px 75px;
  text-align: center;
}
.cfm-content-title{
  font-size: 24px;
  font-weight: bold;
  color: #1C1B1B;
  line-height: 29px;
  margin-bottom: 50px;
}
.cfm-content-desc {
  font-size: 16px;
  font-weight: 400;
  color: #1C1B1B;
  line-height: 24px;
  margin-bottom: 47px;
}
.cfm-content-btn{
  width: 100%;
  text-align: center;
}
.cfm-content-btn .cfm-btton{
  width: 90px;
  height: 36px;
  background: #02C0D9;
  font-size: 16px;
  margin: 0 auto;
  line-height: 36px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
@media only screen and (min-width: 769px) and (max-width: 1439px) {
  .cfm-content{
    padding: 38px 20px 29px 20px;
  }
  .cfm-content-desc {
    width: 458px;
  }

} 
@media only screen and (max-width: 768px){
  .cfm-content{
    padding: 38px 10px 29px 10px;
  }
  .cfm-content-title{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 18px;
  }
  .cfm-content-desc {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 21px;
    width: 308px;
  }
  .cfm-content-btn .cfm-btton{
    width: 82px;
    height: 40px;
    font-size: 13px;
    line-height: 40px;
  }
}
</style>