<div class="fb_black_slideshow_maskM">
    {%- assign product =  block.settings.product  -%}
     {%- if block.settings.subheading == blank -%}
        <div class="fb_pink_slideshow_1_1">
            <div>
                <img class="fb_pink_slideshow_1_1_img2" src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/freebeat_LOGO-standard-transparent_2x_50bb655e-8a12-46ac-ad22-e10b6c6dcd8d.png?v=1665399656" alt="">
            </div>
            <div class="fb_pink_slideshow_1_1_x">X</div>
            <div>
                <img class="fb_pink_slideshow_1_1_img1" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/20221271642.png?v=1643273713" alt="">
            </div>
        </div>
     {%- else -%} 
        <div class="fb_black_slideshow_1_1" style="{% if block.settings.subheading_color %} color: {{ block.settings.subheading_color }}; {% endif %} ">
            {{ block.settings.subheading }}
        </div>
     {%- endif -%}
     {%- assign title_oprichtext  = block.settings.title | strip_html -%}
     {%- if title_oprichtext != blank -%}
        <div class="fb_black_slideshow_1_2"
            style="{% if block.settings.title_color %}color: {{ block.settings.title_color }}; {% endif %}"
        >
            {{ block.settings.title }}
        </div>
     {%- endif -%}
    <div class="fb_black_starting_at">
        Starting at
    </div>
    <div class="fb_black_slideshow_1_3 fb_pink_slideshow_flex">
        {% comment %} {%- if product != blank -%}
             <div class="fb_lit-bike-klarna_slideshow_1_3_1" style="{% if block.settings.current_price_color %} color: {{ block.settings.current_price_color }}; {% endif %}">
                {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}
            </div>
            <div class="fb_lit-bike-klarna_slideshow_1_3_2" style="{% if block.settings.original_price_color %}color:{{ block.settings.original_price_color }}; {%- endif -%}">
                <span>
                    {{ product.selected_or_first_available_variant.compare_at_price | money_without_trailing_zeros }}
                </span> 
                {{ block.settings.limited_number }}
            </div>
        {%- endif -%}  {% endcomment %}
        {%- if product != blank -%}
             <span class="fb_black_variant_price"  style="{% if block.settings.current_price_color %} color: {{ block.settings.current_price_color }}; {% endif %}">
                {%- render 'customer-price-control', type:'sale', cpc_product: product -%}
            </span>
             <div class="fb_black_flex-item" style="{% if block.settings.original_price_color %}color:{{ block.settings.original_price_color }}; {%- endif -%}">
                <span class="fb_black_compare_price">{%- render 'customer-price-control', type:'origin', cpc_product: product -%}</span>
                <span class="fb_black_off">{% render 'customer-price-control', type:'off', cpc_product: product %} OFF</span>
            </div> 
        {%- endif -%}
    </div>
    {% comment %} <div class="fb_black_slideshow_1_4"  >
         <span style="color: {{ block.settings.bottom_desc_price_color }}">
            {%- if product != blank -%}
                {{ product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | money_without_trailing_zeros }} OFF.
            {%- else -%}
                {{ block.settings.bottom_desc_price }}
            {%- endif -%}
        </span>
        <span id="fb-black-lb" style="color: {{ block.settings.bottom_desc_color }}">
              {{ block.settings.bottom_desc_price_pc }}
        </span>
    </div>
     {% endcomment %}

    {% comment %} <div id="fb-black-lb-mb" style="color: {{ block.settings.bottom_desc_color }}">
        {{ block.settings.bottom_desc_price_mobile }}
    </div> {% endcomment %}
</div>
{%- if block.settings.button_1_text != blank and block.settings.button_2_text != blank -%}
    {%- assign has_two_buttons = true -%}
    {%- else -%}
    {%- assign has_two_buttons = false -%}
{%- endif -%}

{%- if block.settings.button_1_text != blank or block.settings.button_2_text != blank -%}
    <div class="SectionHeader__ButtonWrapper">
        <div class="ButtonGroup ButtonGroup--spacingSmall fb_lit-bike_ButtonGroupM {% if has_two_buttons %}ButtonGroup--sameSize{% endif %}" >
        {%- if block.settings.button_1_text != blank -%}
            <a href="{{ block.settings.button_1_link }}" class="ButtonGroup__Item Button js-public-gtm-btn"
                style="{% if block.settings.button_1_text_bordercolor %}border-color:{{ block.settings.button_1_text_bordercolor }};{% endif %}{% if block.settings.button_1_text_color %}color: {{ block.settings.button_1_text_color }}; {% endif %}{% if block.settings.button_1_text_backgroundcolor %}background-color: {{ block.settings.button_1_text_backgroundcolor }};border-color:{{ block.settings.button_1_text_backgroundcolor }};{% endif %}"
                data-number="{{ forloop.index }}"
                data-btntext="{{ block.settings.button_1_text }}"
                id="gtm-homeSlideshow-xBikeButton-{{ block.settings.button_1_text | escape }}"
            >
                {{ block.settings.button_1_text | escape }}
            </a>
        {%- endif -%}

        {%- if block.settings.button_2_text != blank -%}
            <a  class="ButtonGroup__Item_2 Button js-public-gtm-btn js-open-videodialog fb-img-video-btnvideo"
                style="{% if block.settings.button_2_text_bordercolor %}border-color:{{ block.settings.button_2_text_bordercolor }};{% endif %}{% if block.settings.button_2_text_color %}color: {{ block.settings.button_2_text_color }}; {% endif %}{% if block.settings.button_2_text_backgroundcolor %}background-color: {{ block.settings.button_2_text_backgroundcolor }};border-color:{{ block.settings.button_2_text_backgroundcolor }};{% endif %}"
                data-number="{{ forloop.index }}"
                data-btntext="{{ block.settings.button_2_text }}"
                data-type="playvideo"
                data-section-id="{{ section.id }}"
                data-videourl="{{ block.settings.open_dialog_video_link }}"
                id="gtm-homeSlideshow-xBikeButton-{{ block.settings.button_2_text | escape }}"
            >
                {{ block.settings.button_2_text | escape }}
            </a>
        {%- endif -%}
        </div>
    </div>
{%- endif -%}
<style>
    .fb_pink_slideshow_1_1_x{
        color: #fff;
    }
    @media only screen and (max-width: 414px){ 
        .fb_black_slideshow_1_2{
            margin: 10px 0 19px!important;
            font-size: 25px;
        }
        .fb_black_slideshow_1_2 p{
            font-size: 24px!important;
            line-height: 30px!important;
            letter-spacing: 1px;
        }
       
    }
    @media only screen and (min-width: 679px){ 
        .Image--contrast::after{
            width: 44%!important;
            height: 100%!important;
            left: 0;
            top: 0;
            z-index: 1;
            background-image: linear-gradient(90deg, rgba(0,0,0,0.6000) 0%, rgba(0,0,0,0.5000) 22%, rgba(0,0,0,0.4000) 48%, rgba(0,0,0,0.2000) 75%, rgba(0,0,0,0) 100%)!important;  
        }
    }
     @media only screen and (max-width: 678px){ 
        .Image--contrast::after{
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
             background-image: linear-gradient(to top, rgba(4, 4, 4, 0.65), rgba(54, 54, 54, 0.2));
        }
    }
    @media only screen and (min-width: 100px) and (max-width: 650px) { 
        .Image--contrast::after {
            z-index: 2;
        } 
    }
</style>