<div class="pdp-gift-section">
    <div class="pdp-gift-title">
        <div>{{block.settings.gift_title_line1}}</div>
        <div>{{block.settings.gift_title_line2}}</div>
    </div>
    <div class="pic-prc-des">
        <div class="gift-item">
            <div class="gift-pic-wrapper">
                {% assign imgPiker = block.settings.gift_pic_1 | img_url: '1x1' | replace: '_1x1.','_{width}x.' %}
                <img class="Image--lazyLoad Image--fadeIn gift-pic" data-src="{{ imgPiker }}" data-optimumx="1.2"
                    data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]" data-sizes="auto">
            </div>
            <div class="gift-prc">{{block.settings.gift_price_1}}</div>
            <div class="gift-des">{{block.settings.gift_des_1}}</div>
        </div>
        <!-- 2 -->
        <div class="gift-item">
            <div class="gift-pic-wrapper">
                {% assign imgPiker = block.settings.gift_pic_2 | img_url: '1x1' | replace: '_1x1.','_{width}x.' %}
                <img class="Image--lazyLoad Image--fadeIn gift-pic" data-src="{{ imgPiker }}" data-optimumx="1.2"
                    data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]" data-sizes="auto">
            </div>
            <div class="gift-prc">{{block.settings.gift_price_2}}</div>
            <div class="gift-des">{{block.settings.gift_des_2}}</div>
        </div>
        <!-- 3 -->
        {%- if  block.settings.show_third_gift -%}
            <div class="gift-item">
                <div class="gift-pic-wrapper">
                    {% assign imgPiker = block.settings.gift_pic_3 | img_url: '1x1' | replace: '_1x1.','_{width}x.' %}
                    <img class="Image--lazyLoad Image--fadeIn gift-pic" data-src="{{ imgPiker }}" data-optimumx="1.2"
                        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]" data-sizes="auto">
                </div>
                <div class="gift-prc">{{block.settings.gift_price_3}}</div>
                <div class="gift-des">{{block.settings.gift_des_3}}</div>
            </div>
        {%- endif -%}
        <!-- 4 -->
        {%- if  block.settings.show_forth_gift -%}
            <div class="gift-item">
                <div class="gift-pic-wrapper">
                    {% assign imgPiker = block.settings.gift_pic_4 | img_url: '1x1' | replace: '_1x1.','_{width}x.' %}
                    <img class="Image--lazyLoad Image--fadeIn gift-pic" data-src="{{ imgPiker }}" data-optimumx="1.2"
                        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]" data-sizes="auto">
                </div>
                <div class="gift-prc">{{block.settings.gift_price_4}}</div>
                <div class="gift-des">{{block.settings.gift_des_4}}</div>
            </div>
        {%- endif -%}
    </div>
</div>
<style>
    .pdp-gift-section {
        width: 100%;
        min-height: 205px;
        padding: 16px 21px;
        margin: 16px 0 14px;
        background-color: {{block.settings.giftBackground}};
    }

    .pdp-gift-title {
        padding-bottom: 23px;
    }
    .pdp-gift-title em{
        font-style: normal;
        text-decoration: line-through;
    }
    .pdp-gift-title div {
        font-size: 18px;
        font-weight: 800;
        color: #000000;
        line-height: 21px;
        text-align: center;
    }

    .gift-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .pdp-gift-title strong {
        color: #02C0D9;
    }

    .pic-prc-des {
        display: flex;
        justify-content: space-between;
    }

    .gift-pic {
        display: block;
        width: auto;
        height: 64px;
    }

    .gift-prc {
        padding: 6px 0 4px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(134, 134, 134, 0.8000);
        line-height: 14px;
        text-decoration: line-through;
    }

    .gift-des {
        font-size: 12px;
        font-weight: 400;
        color: #666666;
        line-height: 16px;
    }
  .gift-des P{
      margin:0;
  }
  @media screen and (max-width: 768px){
    .pdp-gift-section {
        height: 184px;
        padding: 12px 16px 15px;
        margin:8px 0 12px;
    }

    .pdp-gift-title {
        padding-bottom: 20px;
    }
    .pdp-gift-title div {
        font-size: 18px;
        line-height: 21px;
    }
    .gift-pic {
        width: auto;
        height: 64px;
    }

    .gift-des {
        font-size: 12px;
        color: rgba(51,51,51,0.8000);
        line-height: 14px;
    }
  }
</style>