{%- assign country_code_var = localization.country.iso_code | downcase -%}
<div class="payment_method_button">
    <div class="pay_now activeBorder">
      <div class="method_name">
        <div class="priceA">
          <div class="current"
                data-fbcountry-code="{{ country_code_var }}" 
                data-fbtype="sale"
                data-fbid="{{- product.id -}}"
                data-fborigin= "{{- product.selected_or_first_available_variant.price -}}"    
            
            >{% render 'customer-price-control', type:'sale', cpc_product: product %}</div>
          <div class="mobi">
            <div class="lowPrice"
                data-fbcountry-code="{{ country_code_var }}" 
                data-fbtype="off"
                data-fbid="{{- product.id -}}"
                data-fborigin= "{{- product.selected_or_first_available_variant.price -}}"    
            >
                {% render 'customer-price-control',type:'off',cpc_product: product %} OFF
            </div>
            <div class="origin"
                data-fbcountry-code="{{ country_code_var }}" 
                data-fbtype="origin"
                data-fbid="{{- product.id -}}"
                data-fborigin= "{{- product.selected_or_first_available_variant.price -}}"
            >
                {% render 'customer-price-control', type:'origin', cpc_product: product %}
            </div>
          </div>
        </div>
      </div>
    </div> 
    {%- assign wether_show_des = block.settings.klarna_text_show_p | strip_html -%}
    {% comment %} 兼容美国站的分期写法 {% endcomment %}
    {%- capture render_klaran -%}
        <span id="renderKlarnaText"></span> with
        <div class="pay_img">
        <img
            src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/klarna_8710e8a4-99ca-435f-85c4-7f0cf97fe6ca.png?v=1673943565"
            alt=""
        >
        </div>
        {%- if country_code_var == 'ca'  -%}
        {%- else -%}
            or
            <div class="pay_img">
            <img
                src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/PAYPAL_1f1d1cab-1389-4461-a6ee-8bbc288f76cc.png?v=1673943574"
                alt=""
            >
            </div>
        {%- endif -%}
       
    {%- endcapture -%}
    {%- if country_code_var == 'ca' -%}
        {%- if  wether_show_des != blank -%}
            <div class="info" id="renderKlarnaDom" style="display: none;">
                {{ render_klaran }}
            </div>
            <div class="info info-render-desc-p" style="display: inline-block;">
                {{ block.settings.klarna_text_show_p }}
                <div class="pay_img">
                    <img
                        src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/klarna_8710e8a4-99ca-435f-85c4-7f0cf97fe6ca.png?v=1673943565"
                        alt=""
                    >
                 </div>
            </div>
        {%- else -%}
            <div class="info" id="renderKlarnaDom" style="display: inline-block;">
                {{ render_klaran }}
            </div>
        {%- endif -%}
    {%- endif -%}
    {%- if country_code_var == 'gb' or country_code_var == 'au' -%}
        <div class="info" id="renderKlarnaDom"  teemo style="display: none;">
            {{ render_klaran }}
        </div>
    {%- endif -%}
  
  
    {% comment %}
      PDP_LP合并需求：该模块不要了
      <div class="pay_overTime" id="payOverTime" data-price=" {{ product.selected_or_first_available_variant.price | minus: fbdisprice | plus: fbtrans }}"
          style="{%- if block.settings.show_pay_over_time == false -%}display: none;{%- endif -%}"
      >
          <div class="pay_klarna">Pay over time</div>
          <div class="info" id="renderKlarnaDom">
              {% comment %} <div class="pay_img">
                  <img  src="https://na-assets.klarnaservices.com/images/badges/klarna.svg" alt="">
              </div>
              <div class="klarna_right_box">
                  <div class="low">Pay as low as $56/mo <a href="" target="_blank"> learn more</a></div>
                  <div class="col">
                     <a href="" target="_blank">See if you're prequalified</a>
                  </div>
              </div> {% endcomment %}
          </div>
      </div>
    {% endcomment %}
      <span class="fb-fbdisprice" style="display: none">{%- render 'customer-price-control',type:'off',cpc_product: product -%}</span>
  </div>
  
  <script>
    $(function () {
      $('body').on('click', '.pay_now', function (e) {
        $('.pay_now').addClass('activeBorder');
        $('.pay_overTime').removeClass('activeBorder');
        $('.method_name').css('color', '#222');
        $('.pay_klarna').css('color', '#666');
      });
      $('body').on('click', '.pay_overTime', function (e) {
        $('.pay_overTime').addClass('activeBorder');
        $('.pay_now').removeClass('activeBorder');
        $('.method_name').css('color', '#666');
        $('.pay_klarna').css('color', '#222');
      });
  
      let text1 = $('.fb_pages_top_bike_b_text').clone();
      let text2 = $('.fb_pages_top_bike_b_text').clone();
      $('#renderKlarnaText').append(text1);
  
      var _current1 = $('.payment_method_button .current').clone();
      var _current2 = $('.payment_method_button .current').clone();
      var _origin1 = $('.payment_method_button .origin').clone();
      var _origin2 = $('.payment_method_button .origin').clone();
  
      $('.fb_pages_top_bike_a').append(_origin1, _current1);
      $('.Header__FlexItem--priceItem').append(_origin2, _current2);
      $('.Header__FlexItem--priceItem').append(text2);
  
      {% comment %} let fbdisprice = $('.fb-fbdisprice').text()
      $(".lowPrice").text(fbdisprice + " OFF") {% endcomment %}
    });
  </script>
  <style>
    .payment_method_button {
      padding: 20px 0;
      width: 100%;
      height: 100%;
      border-bottom: 0.5px solid #e6e6e6;
    }
    .info-render-desc-p p{
        display: inline-block;
    }
    .pay_now,
    .pay_overTime {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .pay_overTime {
      align-items: center;
    }
  
    .method_name {
      font-size: 14px;
      font-weight: bold;
      color: #222222;
      line-height: 16px;
    }
  
    .method_price {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .method_top {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .limited_time {
      height: 12px;
      cursor: pointer;
      color: #9e9e9e;
      line-height: 15px;
      font-size: 12px;
      font-weight: 400;
      margin-top: 5px;
    }
    .lowPrice {
      color: #888;
      font-size: 10px;
      font-weight: 400;
    }
    .origin {
      padding-right: 4px;
      font-size: 10px;
      font-weight: bold;
      color: #666;
      text-decoration: line-through;
    }
  
    .current {
      font-size: 26px;
      font-weight: bold;
      color: #02c0d9;
      line-height: 26px;
      display: inline-block;
      vertical-align: middle;
    }
    .mobi {
      display: inline-block;
      vertical-align: middle;
      margin-left: 8px;
      text-align: left;
    }
  
    .final_price {
      padding-bottom: 9px;
      font-size: 12px;
      font-weight: 400;
      color: #a0a0a0;
      line-height: 14px;
    }
  
    .pay_overTime {
      margin-top: 8px;
    }
  
    .pay_klarna {
      font-size: 14px;
      font-weight: 600;
      color: #666666;
      line-height: 16px;
      padding: 26px 0;
    }
  
    .col {
    }
    .info {
      font-size: 12px;
      font-weight: 500;
      color: #666666;
      line-height: 15px;
    }
  
    .aging {
      padding-top: 26px;
    }
  
    .low {
      padding-right: 3px;
    }
  
    .info .aging span {
      font-size: 16px;
      font-weight: blod;
      color: #02c0d9;
      font-weight: 600;
    }
  
    .jump {
      color: #136873;
      text-decoration: underline;
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      padding: 4px 0 10px;
      text-align: right;
      cursor: pointer;
    }
  
    .payment_method_button .pay_img {
      width: 68px;
      height: auto;
      display: inline-block;
      vertical-align: middle;
    }
  
    .payment_method_button .pay_img img {
      display: block;
      height: auto;
      margin-right: 2px;
    }
    .klarna_right_box {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-direction: column;
      color: #666666;
      font-weight: 500;
    }
    @media only screen and (max-width: 1144px) {
      .low {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      .klarna_right_box {
        align-items: flex-end;
      }
      .klarna_right_box a {
        display: block;
      }
    }
    .klarna_right_box a {
      cursor: pointer;
      color: #9e9e9e;
      line-height: 15px;
      font-weight: 400;
      text-decoration: underline;
    }
    .col {
      margin-top: 6px;
      display: flex;
      align-items: center;
    }
    #klarnaLearmore {
      font-size: 22px;
      color: #02c0d9;
      font-weight: bold;
      line-height: 26px;
    }
  
    @media only screen and (max-width: 768px) {
      .method_name {
        font-size: 14px;
        line-height: 16px;
      }
  
      .method_price {
        width: 125px;
      }
  
      .paymentMethodFrame .origin {
        padding-right: 5px;
        font-size: 10px;
        color: #666666;
        font-weight: 600;
        vertical-align: middle;
      }
      .paymentMethodFrame .current {
        font-size: 32px;
        font-weight: 700;
        color: #02c0d9;
        line-height: 32px;
        display: inline-block;
        vertical-align: middle;
      }
  
      .paymentMethodFrame .mobi {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        text-align: left;
      }
  
      .headerPadding .origin {
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: #888;
        display: inline-block;
        vertical-align: middle;
        padding-right: 8px;
      }
  
      .headerPadding .current {
        font-size: 12px;
        font-weight: 700;
        color: #333;
        line-height: 12px;
      }
  
      .headerPadding .fb_pages_top_bike_b_text {
        font-weight: 500;
        font-size: 10px;
        line-height: 10px;
        color: #333;
        margin-top: 3px;
      }
      {% comment %} .headerPadding .mobi {
        display: inline-block;
        margin-left: 8px;
        text-align: left;
      } {% endcomment %}
  
      .Header__FlexItem--priceItem {
        line-height: 0;
        text-align: right;
      }
      .final_price {
        display: none;
      }
  
      .pay_klarna {
        padding: 24px 0;
      }
  
      .info {
        margin-top: 12px;
        text-align: left;
        font-size: 10px;
        font-weight: bold;
      }
  
      .aging {
        padding-top: 25px;
      }
  
      .low {
        padding-right: 3px;
      }
  
      .info .aging span {
        font-size: 14px;
      }
  
      .payment_method_button .pay_img {
        width: 38px;
      }
  
      .lowPrice {
        font-weight: 500;
      }
    }
    @media only screen and (min-width: 768px){
      .Header__FlexItem--priceItem {
        line-height: 47px;
        text-align: right;
      }
  /*     .headerPadding .current{
        margin-right: 10px;
      } */
      .Header__FlexItem--priceItem{
        width: 170px;
        margin-top: 12px;
        line-height: 0;
      }
    }
    @media only screen and (min-width: 641px) {
      .payment_method_button {
        border-bottom: none;
        text-align: right;
        margin-top: 8px;
        padding: 0;
      }
      #PDPAddToCart_klarna{
        display: none;
      }
      .current {
        font-size: 48px;
      }
      .lowPrice,
      .info,
      .origin {
        font-size: 18px;
      }
      .info {
        margin-top: 25px;
      }
      .pay_now.activeBorder {
        margin-right: 210px;
      }
    }
  </style>
  