<span class="stamped-product-reviews-badge stamped-main-badge" data-product-id="{{ product.id }}"
  data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}"
  data-description="{{ product.description | escape }}" data-product-sku="{{ product.handle }}"
  data-product-title="{{product.title}}" data-product-type="{{product.type}}">
  <span class="stampedRating"></span>
  {{product.metafields.stamped.badge}}
</span>

<script>
  var stampedDom = $(`{{product.metafields.stamped.badge}}`)
  var stampedRating = stampedDom[0].dataset.rating
  $(".stampedRating").text(stampedRating)
  let des = '</br>'
  des = '<span class="u-des">Based on'
  des += '</span>'
  $(des).insertBefore('.stamped-badge-caption')
</script>

<style>
  .u-start {
    position: relative;
    display: inline-block;
  }

  .u-start .stamped-badge-caption {
    display: block;
    text-decoration: unset;
  }

  .u-start .stampedRating {
    position: absolute;
    right: 0;
    top: -28px;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
  }

  .u-start .stamped-badge {
    padding-right: 32px;
  }

  .u-start .stamped-badge-caption {
    position: absolute;
    right: 0;
    bottom: -24px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
  }
  .u-start .stampedRating {
    left: 87px;
    font-size: 24px;
  }

  .u-start .stamped-badge {
    position: absolute;
    padding-right: 0;
    left: 124px;
    top: -22px;
  }

  .u-start .u-des {
    position: absolute;
    width: 100%;
    bottom: -25px;
    left: -54px;
    font-size: 18px;
  }

  .u-start .stamped-badge-caption {
    width: 100%;
    left: 36px;
    font-size: 18px;
    bottom: -26px;
  }

  .u-start .stamped-badge-caption span {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
  }

  .u-start .stamped-fa-star:before {
    font-size: 24px;
  }

  @media screen and (min-width: 641px) {
    .u-start {
      position: absolute;
    }

    .u-start .stampedRating {
      left: 87px;
      font-size: 24px;
    }

    .u-start .stamped-badge {
      position: absolute;
      padding-right: 0;
      left: 126px;
      top: -22px;
    }

    .u-start .u-des {
      position: absolute;
      width: 100%;
      bottom: -25px;
      left: -54px;
    }

    .u-start .stamped-badge-caption {
      width: 100%;
      left: 36px;
      font-size: 18px;
      bottom: -26px;
    }

    .u-start .stamped-badge-caption span {
      color: #666666;
      font-size: 18px;
      font-weight: 400;
    }

    .u-start .stamped-fa-star:before {
      font-size: 24px;
    }
  }

  @media screen and (max-width: 641px) {
    .u-start {
      position: relative;
    }

    .u-start .stampedRating {
      position: absolute;
      top: -20px;
      left: 44px;
      font-size: 14px;
    }

    .u-start .stamped-badge {
      position: absolute;
      padding-right: 0;
      left:calc( calc(100% - 46px) / 2);
      top: -25px;
      width: 50%;
    }

    .u-start .u-des {
      position: absolute;
      bottom: -14px;
      left: -42px;
      font-size: 12px;
    }

    .u-start .stamped-badge-caption {
      bottom: -14px;
      font-size: 12px;
      left: 20px;
    }

    .u-start .stamped-badge-caption span {
      color: #666666;
      font-size: 12px;
      font-weight: 400;
    }

    .u-start .stamped-fa-star:before {
      font-size: 14px;
    }
  }
  @media screen and (max-width:390px) {
    .u-start {
      position: relative;
    }

    .u-start .stampedRating {
      position: absolute;
      top: -20px;
      left: 46px;
      font-size: 14px;
    }

    .u-start .stamped-badge {
      position: absolute;
      padding-right: 0;
      left:calc( calc(100% - 40px) / 2);
      top: -25px;
      width: 50%;
    }

    .u-start .u-des {
      position: absolute;
      bottom: -14px;
      left: -48px;
      font-size: 12px;
    }

    .u-start .stamped-badge-caption {
      bottom: -14px;
      font-size: 12px;
      left: 14px;
    }

  }
</style>