{%- if request.page_type == 'blog'  -%}
    {%- case current_page -%}
        {%- when 1 -%}
            <title>freebeat™ | Blog: Page 1 | Immersive Home Cycling Training</title>
            <meta name="description" content="Hundreds of on-demand indoor cycling classes all in one membership. Rockstar instructors, immersive content, and energizing displays - in the comfort of your home. Premium indoor fitness and cardio classes. Best exercise bike, top performance. ">
        {%- else -%}
        {%- when 2 -%}
            <title>freebeat™ | Blog: Page 2 | Immersive Home Cycling Training</title>
            <meta name="description" content="Make the most of every workout with freebeat. Follow the guidance of professional instructors and goal-oriented indoor cycling classes. Your fitness goals have never been more within reach, make them come true today!">
        {%- when 3 -%}
            <title>freebeat™ | Blog: Page 3 | Immersive Home Cycling Training</title>
            <meta name="description" content="Stationary cycling and strength training brought to you. Hundreds of on-demand exercise bike classes, stretching, HIIT, and more led by world-class instructors. Amplify your home fitness and cardio routines.">
        {%- when 4 -%}
            <title>freebeat™ | Blog: Page 4 | Immersive Home Cycling Training</title>
            <meta name="description" content="Be a part of the indoor cycling revolution! Immersive fitness classes, rockstar instructors, on-demand cardio classes, and more with just one membership! 10 accounts, 1 membership. Home cardio workouts have never been more fun.">
        {%- else -%}
            <title> freebeat™ | Immersive Home Cycling Training - freebeat Blog </title>
            <meta name="description" content="Revitalize your workouts with freebeat's gamified indoor cycling and cardio classes. Bring an immersive experience and virtual workout reality to real life, all in the comfort of your home.">
    {%- endcase -%}
{%- else -%}
    <title>
        {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>
    {%- if page_description -%}
         <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
{%- endif -%}