<div class="fb-star-trust-class">
  <span
    class="stamped-product-reviews-badge1 stamped-main-badge"
    data-product-id="{{ product.id }}"
    data-name="{{ product.title | escape }}"
    data-url="{{ shop.url }}{{ product.url }}"
    data-description="{{ product.description | escape }}"
    data-product-sku="{{ product.handle }}"
    data-product-title="{{product.title}}"
    data-product-type="{{product.type}}"
  >
    {{ product.metafields.stamped.badge }}
  </span>
</div>
<script>
  $(function () {
    var stampedDomTrust = $(`.fb-star-trust-class .stamped-badge`);
    if(stampedDomTrust && stampedDomTrust.length > 0) {
      var stampedRatingTrust = stampedDomTrust.attr('data-rating') || '';
      var star_rate_dom = `<span class="fb-rate-number">${stampedRatingTrust}</span>`;
      $('.fb-star-trust-class .stamped-starrating').prepend(star_rate_dom);
      var fbrevwis = $('.fb-star-trust-class .stamped-badge-caption').attr('data-reviews');
      $('.fb-star-trust-class .stamped-badge-caption').html(`<span class="fb-star-base">Based on <strong>${fbrevwis}</strong>  Reviews</span`);
    }
  });
</script>

<style>
  .u-start .stamped-badge-starrating,
  .u-start .stamped-badge-caption {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .u-start .stamped-badge-starrating {
    width: 100%;
  }
  @media (min-width: 1281px) {
    .u-start {
      padding-top: 14px;
    }
    .u-start .stamped-badge-starrating {
      width: 100%;
      height: 14px;
      line-height: 14px;
    }
    .u-start .stamped-badge-starrating .fb-rate-number {
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
      color: #333;
      margin-right: 6px;
    }
    .u-start .stamped-badge-caption {
      font-size: 14px;
      line-height: 20px;
      margin-top: 6px;
    }
    .u-start .fb-star-base {
      margin-right: 2px;
    }
    .u-start .fb-star-base {
      margin-right: 2px;
    }
  }
  @media (max-width: 1281px) {
    .u-start .stamped-badge-starrating {
      width: 100%;
      text-align: center;
      height: 16px;
      line-height: 16px;
      font-size: 12px;
    }
    .u-start .stamped-badge-starrating .fb-rate-number {
      font-size: 12px;
      font-weight: 700;
      color: #333;
      margin-right: 5px;
    }
    .u-start .stamped-badge-caption {
      font-size: 12px;
      line-height: 12px;
      margin-top: 8px;
    }
    .fa-star-half-o:before,
    .fa-star-o:before,
    .fa-star:before,
    .stamped-fa-star-half-o:before,
    .stamped-fa-star-o:before,
    .stamped-fa-star:before {
      font-size: 12px;
    }
  }
  .u-start .u-des {
    font-weight: 400;
  }
  .u-start .stamped-badge-caption {
    font-style: normal;
    color: #333;
  }
  .stamped-badge-caption {
    font-weight: 600;
  }
  .stamped-badge-caption span {
    font-weight: 400;
  }
</style>
