{%- assign product2 = block.settings.product -%}
{%- assign country_code_var = localization.country.iso_code | downcase -%}
<div class="introduce-bikes-box-pc">
  <div class="introduce-bikes-box2">
    <div class="introduce-bikes-left">
      {%- if section.settings.show_label -%}
        <div class="label">
          <img
            data-src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/label.png?v=1651828886"
            alt=""
            data-sizes="auto"
            class="Image--lazyLoad"
          >
        </div>
      {%- endif -%}
      {% assign image_url = block.settings.link_image_product_chooseImage
        | img_url: '1x1'
        | replace: '_1x1.', '_{width}x.'
      %}
      <img
        class="Image--lazyLoad Image--fadeIn introduce-bikes-product-image"
        data-src="{{ image_url }}"
        data-sizes="auto"
        data-optimumx="1.2"
        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
        alt="{{ block.settings.link_image_product_chooseImage.alt }}"
      >
      <span class="Image__Loader"></span>
      <div class="fb-sg-dotter">
        <div class="fb-sg-imgbox-mobile ib-sg-imgbox-mobile1">
          {% assign imgdefault = block.settings.bike_img_defalut | img_url %}
          {% assign imgactive = block.settings.bike_img_active | img_url %}
          <img class="fb-sg-active" src="{{ imgactive }}" style="display: block">
          {% comment %} <img  class="fb-sg-default" src="{{ imgactive }}" /> {% endcomment %}
        </div>
      </div>
    </div>

    <div class="introduce-bikes-right {% if block.settings.pay_as_low_as == blank %}no-klarna-style{% endif%}">
      <p class="introduce_bikes_title">{{ block.settings.introduce_bikes_title }}</p>
      {%- if block.settings.introduce_bikes_title_sub != blank -%}
        <p class="introduce_bikes_title_sub">{{ block.settings.introduce_bikes_title_sub }}</p>
      {%- else -%}
        <p class="introduce_bikes_title_sub">&nbsp;</p>
      {%- endif -%}
      <div class="m-star-pdp">
        {%- if block.settings.show_custom_product_star != blank -%}
          {%- render 'fb-pdp-star', product: block.settings.show_custom_product_star -%}
        {%- else -%}
          {%- render 'fb-pdp-star', product: product -%}
        {%- endif -%}
      </div>
      <p class="introduce_bikes_desc1">{{ block.settings.starting_at }}</p>
      <div class="introduce_bikes_proprice">
        <p
          class="intoduce_bikes_proprice_price"
          data-fbcountry-code="{{ country_code_var }}"
          data-fbtype="sale"
          data-fbid="{{- product2.id -}}"
          data-fborigin="{{- product2.selected_or_first_available_variant.price -}}"
        >
          {% render 'customer-price-control', type: 'sale', cpc_product: product2 %}
        </p>
        <div class="introduce_bikes_discount">
          <p
            class="introduce_bikes_discount_amount"
            data-fbcountry-code="{{ country_code_var }}"
            data-fbtype="off"
            data-fbid="{{- product2.id -}}"
            data-fborigin="{{- product2.selected_or_first_available_variant.price -}}"
          >
            {% render 'customer-price-control', type: 'off', cpc_product: product2 %} OFF
          </p>
          <p
            class="introduce_bikes_discount_price"
            data-fbcountry-code="{{ country_code_var }}"
            data-fbtype="origin"
            data-fbid="{{- product2.id -}}"
            data-fborigin="{{- product2.selected_or_first_available_variant.price -}}"
          >
            {% render 'customer-price-control', type: 'origin', cpc_product: product2 %}
          </p>
        </div>
      </div>
      {%- if block.settings.pay_as_low_as != blank and country_code_var != 'gb' -%}
        <div class="line"></div>
        <div class="introduce_bikes_stage_desc">{{ block.settings.pay_as_low_as }}</div>
        {%- if product2 != blank -%}
          <div class="introduce_bikes_stage_price">
            ${% render 'customer-price-control', type: 'mo', cpc_product: product2 %}/MO<sup>1</sup>
          </div>
        {%- else -%}
          <div class="introduce_bikes_stage_price">
            ${{ block.settings.introduce_bikes_stage_price }}/MO<sup>1</sup>
          </div>
        {%- endif -%}
      {%- endif -%}
      <a class="introduce_bikes_shopNow" href="{{ block.settings.link_page_url }}">
        <div>{{ block.settings.shop_now }}</div>
      </a>
    </div>
  </div>
</div>
