<!doctype html>
{%- if locale == 'en-GB' -%}
  {% assign fa_google_ads_id = settings.uk_fa_google_ads_id %}
  {% assign fa_google_gtm_id = settings.uk_fa_google_gtm_id %}
  {% assign fa_google_ads_send_to_add_to_cart = settings.uk_fa_google_ads_send_to_add_to_cart %}
  {% assign fa_google_ads_send_to_purchase = settings.uk_fa_google_ads_send_to_purchase %}
  {% assign fa_google_ads_send_to_begin_checkout = settings.uk_fa_google_ads_send_to_begin_checkout %}
  {% assign sasId = '4' %}
{%- elsif locale == 'en-AU' -%}
    {% assign fa_google_ads_id = settings.au_fa_google_ads_id %}
    {% assign fa_google_gtm_id = settings.au_fa_google_gtm_id %}
    {% assign fa_google_ads_send_to_add_to_cart = settings.au_fa_google_ads_send_to_add_to_cart %}
    {% assign fa_google_ads_send_to_purchase = settings.au_fa_google_ads_send_to_purchase %}
    {% assign fa_google_ads_send_to_begin_checkout = settings.au_fa_google_ads_send_to_begin_checkout %}
    {% assign sasId = '3' %}
{%- else -%}
  {% assign fa_google_ads_id = settings.ca_fa_google_ads_id %}
  {% assign fa_google_gtm_id = settings.ca_fa_google_gtm_id %}
  {% assign fa_google_ads_send_to_add_to_cart = settings.ca_fa_google_ads_send_to_add_to_cart %}
  {% assign fa_google_ads_send_to_purchase = settings.ca_fa_google_ads_send_to_purchase %}
  {% assign fa_google_ads_send_to_begin_checkout = settings.ca_fa_google_ads_send_to_begin_checkout %}
  {% assign sasId = '2' %}
{%- endif -%}
<script>
	window.addEventListener('load',function()
	{
			gtag('event', 'conversion', {
              'send_to': 'AW-{{ settings.fa_google_ads_audience_send_to }}',
              'value': Shopify.Checkout.estimatedPrice,
              'currency': Shopify.Checkout.currency
          });
	})
    window.fbGlobalInfo ={
        isOpenFillDiscount: {{ settings.bike_fill_discount }},
        bikeUseDiscountPrice: {{ settings.bike_use_discount_price }},
        gbbikeUseDiscountPrice:{{ settings.gb_bike_use_discount_price }},
        aubikeUseDiscountPrice:{{ settings.au_bike_use_discount_price }},
    }
</script>
<!-- Begin ShareASale Tracking -->
{%if first_time_accessed %}
  <script>
  const sasMid = '132585', sasStoreId = '{{ sasId }}', sasXtype = '{{- locale | remove: 'en-' -}}', sasSkulist = [], sasPricelist = [], sasQuantitylist = [],
      sasOrderName = '{{ order.name | handleize }}' || sasGetOrderRef(),
      sasDiscounts = Shopify.checkout.discount ? parseFloat(Shopify.checkout.discount.amount) : 0,
      sasCurrency = Shopify.checkout.presentment_currency || '{{ order.currency }}',
      sasAmount = parseFloat(Shopify.checkout.subtotal_price),
      sasDiscountPercent = 1 - (sasDiscounts / (sasAmount + sasDiscounts)),
      sasNewCustomer = {% if customer.orders_count > 1 %}'0'{% elsif customer.orders_count <= 1 %} '1'{% else %} ''{% endif %},
      sasCouponcode = Shopify.checkout.discount ? Shopify.checkout.discount.code : '',
      sasVersion = 'shopify_4.0',
      sasImg = new Image(),
      sasMetaTagOpen = document.createElement('meta'),
      sasMetaTagClose = document.createElement('meta');
  sasMetaTagOpen.setAttribute('name', 'referrer'); sasMetaTagOpen.setAttribute('content', 'unsafe-url');
  sasMetaTagClose.setAttribute('name', 'referrer'); sasMetaTagClose.setAttribute('content', 'origin');
  Shopify.checkout.line_items.map((x) => {
      sasSkulist.push(x.sku);
      sasPricelist.push((x.price * sasDiscountPercent).toFixed(2));
      sasQuantitylist.push(x.quantity)
  });
  sasImg.src = `https://shareasale.com/sale.cfm?v=${sasVersion}&merchantID=${sasMid}&transtype=sale&amount=${sasAmount}&tracking=${sasOrderName}&skulist=${sasSkulist}&pricelist=${sasPricelist}&quantitylist=${sasQuantitylist}&currency=${sasCurrency}&couponcode=${sasCouponcode}&newcustomer=${sasNewCustomer}`;
  if (sasStoreId) { sasImg.src += `&storeid=${sasStoreId}` }
  if (sasXtype) { sasImg.src += `&xtype=${sasXtype}` }
  document.body.appendChild(sasMetaTagOpen);
  document.body.appendChild(sasImg);
  document.body.appendChild(sasMetaTagClose);
  function sasGetOrderRef() {
      var orderRef;
      try {
          var orderLabel = document.querySelector('.os-order-number');
          if (orderLabel !== null) {
              orderRef = orderLabel.innerText.split('#')[1];
              if (!orderRef) {
                  orderRef = orderLabel.innerText.split(' ')[1];
              }
          }
          if (!orderRef) {
              orderRef = window.Shopify.checkout.order_id;
          }
          if (!orderRef) {
              throw Error('order_ref_error');
          }
      } catch (err) {
          console.log('ShareASale: error getting orderRef from page. Using timestamp.');
          orderRef = Date.now();
      }
      return orderRef;
  }
  </script>
{% endif %}
<script src="https://www.dwin1.com/36686.js"></script>

<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0"
    >
    <meta name="referrer" content="origin">
    
    <link rel="stylesheet" href="{{ 'fb-checkout.css' | asset_url }}">
    {% render 'checkout-info' %}
    <!-- Global site tag (gtag.js) - Google Ads: 10865413813 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-{{ fa_google_ads_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'AW-{{ fa_google_ads_id }}');
    </script>
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-{{ fa_google_gtm_id }}');
    </script>
    <title>{{ page_title }}</title>
    <script>
      window.addEventListener('load', function () {
        gtag('event', 'conversion', {
          send_to: 'AW-{{ fa_google_ads_send_to_add_to_cart }}',
          value: Shopify.Checkout.estimatedPrice,
          currency: Shopify.Checkout.currency,
        });
      });
    </script>
    <!-- uet tag start -->
    <script>
      (function (w, d, t, r, u) {
        var f, n, i;
        (w[u] = w[u] || []),
          (f = function () {
            var o = { ti: '52011437', tm: 'shpfy_ui' };
            (o.q = w[u]), (w[u] = new UET(o)), w[u].push('pageLoad');
          }),
          (n = d.createElement(t)),
          (n.src = r),
          (n.async = 1),
          (n.onload = n.onreadystatechange =
            function () {
              var s = this.readyState;
              (s && s !== 'loaded' && s !== 'complete') || (f(), (n.onload = n.onreadystatechange = null));
            }),
          (i = d.getElementsByTagName(t)[0]),
          i.parentNode.insertBefore(n, i);
      })(window, document, 'script', '//bat.bing.com/bat.js', 'uetq');
    </script>
    <!-- uet tag end -->
    {% comment %} <script data-namespace="PayPalSDK" src="https://www.paypal.com/sdk/js?client-id=Ae2TPZTe9tHnzOW89kWWy0_PcvUvcEbRb3hsLSBWHLzW7hmYc3-esYglkkLXGm8k_8bNIYG0iNVErxpc&components=messages" defer></script> {% endcomment %}
    {%- comment -%} <script src="{{ 'bannerSwiperBus.js' | asset_url }}" defer></script> {%- endcomment -%}

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

    <!-- Route Code Edited 1/5/2023 -->
    {% comment %} <script
        type="text/javascript"
        src="https://cdn.routeapp.io/route-widget-shopify/v2/route-widget-shopify-stable-v2.min.js"
        ></script>
    <style>
      .route-div::after{
        content: "*Route is an added layer of protection to your order\A which insures package replacement for lost, stolen,\A or damaged packages. By unselecting it, you are\A opting out of this premium feature.";
        white-space: pre-wrap;
        display: inline-block;
      }
      .route-div{
        text-align: right;
      }
    </style> {% endcomment %}
    <!-- End Route Code -->
  </head>
  <body>
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-{{ fa_google_gtm_id }}"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe>
    </noscript>
    {{ skip_to_content_link }}
    {% section 'announcement-checkout' %}
    <div
      class="js-checkout-keep-data"
      data-litbike-rate="{{- settings.lbsb_rate -}}"
      data-boombike-rate="{{- settings.bbaw_rate -}}"
      data-begin-checkout="{{- fa_google_ads_send_to_begin-checkout -}}"
      data-purchase="{{- fa_google_ads_send_to_purchase -}}"
      data-locale="{{- locale | remove: 'en-' -}}"
      style="display: none"
    ></div>
    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
  </body>
  <script src="{{ 'checkout.js' | asset_url }}" defer></script>
</html>
