<section id="section-{{ section.id }}">
  <div class="fb-class-banner">
    <div class="swiper class-banner-content" id="classHeaderBanner">
      <div class="swiper-wrapper class-banner-wrapper">
        {%- for block in section.blocks -%}
          {%- if block.type == 'image_banner' -%}
            <div class="swiper-slide class-banner-item"></div>
            {%- else -%}
            <div class="swiper-slide class-banner-item">
              <div class="banner-video-wrapper">
                {%- assign class_mobile_vedio = block.settings.banner_video_url | default: block.settings.banner_video_url -%}
                {%- assign class_mobile_vedio_mob = block.settings.banner_video_mobile_url | default: block.settings.banner_video_mobile_url -%}
                <video 
                  data-index="{{ forloop.index }}"
                  class="Image--lazyLoad banner-video-item pc-show" 
                  x-webkit-airplay="allow"
                  webkit-playsinline="true" 
                  playsinline="true"
                  autoplay="autoplay" 
                  muted="muted" 
                  loop="loop"
                  data-src="{{ class_mobile_vedio }}"
                  alt="{{ class_mobile_vedio.alt | escape }}"
                >
                </video>
                <video 
                  data-index="{{ forloop.index }}"
                  class="Image--lazyLoad banner-video-item mob-show" 
                  style="position: absolute;z-index:1;" 
                  webkit-playsinline="true" 
                  playsinline="true"
                  autoplay="autoplay" 
                  muted="muted" 
                  loop="loop"
                  data-src="{{ class_mobile_vedio_mob }}">
                </video>
              </div>
              <div class="class-banner-masking">
                <div class="banner-content-text">
                  <div class="banner-title">{{ block.settings.class_banner_title }}</div>
                  <div class="banner-info">{{ block.settings.class_banner_info }}</div>
                  <div class="banner-icon">
                    {%- assign image_icon = section.settings.class_image_icon |  img_url: '' -%}
                    <img
                      class="Image--lazyLoad Image--fadeIn banner-img-icon"
                      data-src="{{ image_icon }}"
                      data-sizes="auto"
                      alt="{{ image_icon.alt | escape }}"
                     >
                   </div>
                 </div>
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
      <div class="classbanner-swiper-pagination"></div>
   </div>
   {% comment %} <div class="class-banner-masking"></div> {% endcomment %}
  </div>
</section>
<script>
  $(function(){
    $('.banner-icon').click(function(){
      if(window.screen.width>768){
        let allHeaderHeight = $('#shopify-section-announcement').height() + $('#section-header').height() + $('.fb-features-main').height()
        let featureSlideDom = Math.trunc($('.fb-class-exercise-type').offset().top - allHeaderHeight)
        $("html,body").scrollTop(featureSlideDom);
      }else{
        $('.fb-features-main-mob').addClass('fb-features-top-mob') 
        $('.fb-features-top-mob').css('top','0')
        {% comment %} $('.exercise-type-title').css('marginTop','104px') {% endcomment %}
        $("html,body").scrollTop(Math.trunc($('.fb-class-exercise-type').offset().top + 1));
      }
      
    })
    const fbClassBanner = {
      init:function(){
        this.swiperFun()
      },
      swiperFun:function(){
        const headerSwiper = new Swiper("#classHeaderBanner",{
          autoplay: {
            delay: 5000,
            disableOnInteraction: false,
          },
          loop:true,
          effect: "fade",
          fadeEffect: {
              crossFade: true
          },
          on:{

          },
          pagination: {
            el: '.classbanner-swiper-pagination',
            clickable:true,
          },
        })
      }
    }
    fbClassBanner.init() 
  })
</script>
<style>
  .fb-class-banner{
    width:100%;
    height: calc(var(--window-height) - (var(--header-height) * var(--header-is-not-transparent, 0)) - var(--announcement-bar-height, 0px));
    {% comment %} height: 100%; {% endcomment %}
    {% comment %} height: 900px; {% endcomment %}
  }
  .class-banner-content{
    width:100%;
    height: 100%;
    {% comment %} height:100vh; {% endcomment %}
  }
  .class-banner-wrapper{
    width:100%;
    height: 100%;
  }
  .class-banner-masking{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    z-index:9;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  .banner-video-wrapper{
    width:100%;
    height:100%;
  }
  .class-banner-item{
    width:100%;
    height:100%;
    position:relative;
  }
  
  .class-banner-item video{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
  }
  .banner-content-text{ 
    width:100%;
  }
  .banner-title{
    width: 788px;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 40px;
    text-align:center;
    margin:0 auto;
    {% comment %} margin-top:318px; {% endcomment %}
  }
  .banner-info{
    width: 560px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 24px;
    margin:0 auto;
    margin-top:24px;
    text-align:center;
  }
  .banner-icon{
    width:28px;
    height:24px;
    margin:0 auto;
    margin-top:166px;
    cursor:pointer;
  }
  .banner-img-icon{
    width:100%;
    height:100%;
  }
  .classbanner-swiper-pagination{
    position:absolute;
    bottom:60px;
    z-index:4;
    margin:0 auto;
    text-align:center;
  }
  .classbanner-swiper-pagination .swiper-pagination-bullet{
    background: rgba(255,255,255,0.8)!important;
    width:12px;
    height:12px;
    {% comment %} width:14px;
    height:14px; {% endcomment %}
  } 
  .classbanner-swiper-pagination .swiper-pagination-bullet-active{
    background: #FFFFFF!important;
    width:12px;
    height:12px;
    {% comment %} width:14px;
    height:14px; {% endcomment %}
  }
  .pc-show{
    display:block;
  }
  .mob-show{
    display:none;
  }
  @media screen and (max-width: 768px){
    .fb-class-banner{
      width:100%;
      height: 550px;
      position:relative;
    }
    .class-banner-content{
      width:100%;
      height:100%;
    }
    .class-banner-wrapper{
      width:100%;
      height: 100%;
    }
    .class-banner-item{
      width:100%;
      height:100%;
      position:relative;
    }
    .class-banner-item video{
      width:100%;
      height:550px;
      object-fit:cover;
      {% comment %} height:100%; {% endcomment %}
    }
    .banner-content-text{
      position:absolute;
      top:0;
      left:0;
      z-index:1;
      width:100%;
    }
    .banner-title{
      width: 335px;
      font-size: 26px;
      font-weight: bold;
      color: #FFFFFF;
      line-height: 26px;
      text-align:center;
      margin:0 auto;
      margin-top:180px;
    }
    .banner-info{
      width: 304px;
      font-size: 12px;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 16px;
      margin:0 auto;
      margin-top:14px;
      text-align:center;
    }
    .banner-icon{
      width:24px;
      height:20px;
      margin:0 auto;
      margin-top:84px;
      cursor:pointer;
    }
    .banner-img-icon{
      width:100%;
      height:100%;
    }
    .classbanner-swiper-pagination .swiper-pagination-bullet{
      background: rgba(255,255,255,0.8)!important;
      width:8px;
      height:8px;
    } 
    .classbanner-swiper-pagination .swiper-pagination-bullet-active{
      background: #FFFFFF!important;
      width:8px;
      height:8px;
    }
    .pc-show{
      display:none;
    }
    .mob-show{
     display:block;
    }
  }

</style>
{% schema %}
  {
    "name": "FbClassesBanner",
    "presets": [
      {
        "name": "fb-classes-banner",
        "category": "Fb Sections",
        "blocks": [
          {
            "type": "image_banner"
          }, 
          {
            "type": "video_banner"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "image_picker",
        "id": "class_image_icon",
        "label": "Class Image Icon"
      }
    ],
    "blocks": [
      {
        "type": "image_banner",
        "name": "Class Image Banner",
        "settings":[
          {
            "type":"image_picker",
            "id":"class_image",
            "label":"Class Image"
          },
          {
            "type":"image_picker",
            "id":"class_image_mob",
            "label":"Class Image Mob"
          },
          {
            "type": "richtext",
            "id": "class_banner_title",
            "label": "Class Banner Title"
          },
          {
            "type": "richtext",
            "id": "class_banner_info",
            "label": "Class Banner Info"
          }
        ]
      },
      {
        "type": "video_banner",
        "name": "Class Video Banner",
        "settings":[
          {
            "type": "url",
            "id": "banner_video_url",
            "label": "PC Banner Video Url"
          },
          {
            "type": "url",
            "id": "banner_video_mobile_url",
            "label": "Banner Mobile Video Url"
          },
          {
            "type": "richtext",
            "id": "class_banner_title",
            "label": "Class Banner Title"
          },
          {
            "type": "richtext",
            "id": "class_banner_info",
            "label": "Class Banner Info"
          }
        ]
      }
    ]
  }
{% endschema %}