{%- capture table1 -%}
  <table class="js-pc-boom-comparebike1">
    <thead  class="fb_compare_mob_line" style="width: 100%">
        <th>
          <h4>Bike</h4>
        </th>
      </tr>
    </thead>
   
  </table>
{%- endcapture -%}
{%- capture header1 -%}
    <thead>
      <tr>
        <th>
          <h4>Bike</h4>
        </th>
        <!-- <th>
          <h4>Price</h4>
        </th> -->
        <th>
          <h4>Colors</h4>
        </th>
        <th>
          <h4>Gamified<br/>Classes</h4>
        </th>
        <th>
          <h4>Auto Resistance<br/>System</h4>
        </th>
        <th>
          <h4>Smart Saddle<br/>Detection+</h4>
        </th>
        <th>
          <h4>Requires<br/>Cycling Shoes</h4>
        </th>
        <th>
          <h4>Bike Size</h4>
        </th>
        <th>
          <h4>Premium<br/>Swiss Design</h4>
        </th>
        <th>
          <h4>180° Rotable<br/>Touch Screen</h4>
        </th>
        <th>
          <h4>Screen Size</h4>
        </th>
        <th>
          <h4>Virtual Workout<br/>Stages</h4>
        </th>
        <th>
          <h4>Performance<br/>Tracking</h4>
        </th>
        <th>
          <h4>Compete<br/>with Friends</h4>
        </th>
      </tr>
    </thead>
{%- endcapture -%}

{%- assign country_code_var = localization.country.iso_code | downcase -%}
{%- if country_code_var != 'gb' -%}
<div id="section-{{ section.id }}" class="fb-compare-table-container fb-savings-calculator">
  <div class="fb-compare-table-title fb_compare_bike_title">
    {{ section.settings.fb_combike_title }}
  </div>
  {%- if section.settings.show_boom_bike -%}
    <div class="fb_compare_home_btn_mob">
      <div class="fb_compare_big_btn">
        <div class="fbc_premium_btn js-premium-btn fbc_btn_active">
          {{ section.settings.premium_btn }}
        </div>
        <div class="fbc_economy_btn js-economy-btn">
          {{ section.settings.economy_btn }}
        </div>
      </div>
    </div>
  {%- endif -%}
  <div class="fb_compare_chart js-freebeat-compare">
    <div class="fb_compare_fixed">
      <table>
        <thead>
          <tr>
            <th>
              <h4>Bike</h4>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="fb_compare_home_btn_pc">
            <!-- <td>
                <div class="fbc_premium_btn_pc">
                {{ section.settings.premium_btn }}
                </div>
            </td> -->
          </tr>
          <tr>
            <td>
              <h4>FREEBEAT
                <br>Lit-C</h4>
            </td>
          </tr>
          <tr>
            <td>
              <h4>PELOTON
                <br>BIKE+</h4>
            </td>
          </tr>
          <tr>
            <td>
              <h4>NORDICTRACK
                <br>S22I</h4>
            </td>
          </tr>
          <tr>
            <td>
              <h4>ECHELON
                <br>EX-7s</h4>
            </td>
          </tr>
         
        </tbody>
      </table>
      {{ table1 }}
    </div>
    <div class="fb_compare_scrollable">
      <table>
        {{ header1 }}
        <tbody>
          <tr class="fb_compare_home_btn_pc" style="display: none">
             {%- comment -%} 占位对齐 {%- endcomment -%}
              <td style="visibility: hidden;">
                  <div class="fbc_premium_btn_pc">
                  {{ section.settings.premium_btn }}
                  </div>
              </td>
          </tr>
          <tr class="fb_compare_pc_weight">
            <td>FREEBEAT
              <br>LIT BIKE
            </td>
            <!-- <td>{{ section.settings.free_lit_bike_price }}</td> -->
            <td>
              <!-- <div class="fb_compare_color " style="background: #ECD0B5; "></div>
              <div class="fb_compare_color " style="background: #FFFFFF; "></div> -->
              <div class="fb_compare_color " style="background: #000000; "></div>
              <!-- <div class="fb_compare_color " style="background: #E788A1; "></div> -->
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/Frame_2x_3635d0d3-034c-42d4-9f82-99c633203df9.png?v=1686135158" alt="check logo" style="width: 16px;height:16px">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/Frame_2x_3635d0d3-034c-42d4-9f82-99c633203df9.png?v=1686135158" alt="check logo" style="width: 16px;height:16px">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/Frame_2x_3635d0d3-034c-42d4-9f82-99c633203df9.png?v=1686135158" alt="check logo" style="width: 16px;height:16px">
            </td>
            <td>No</td>
            <td>
              49" L
              <br>59" H
              <br>23" W</td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/Frame_2x_3635d0d3-034c-42d4-9f82-99c633203df9.png?v=1686135158" alt="check logo" style="width: 16px;height:16px">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/Frame_2x_3635d0d3-034c-42d4-9f82-99c633203df9.png?v=1686135158" alt="check logo" style="width: 16px;height:16px">
            </td>
            <td>22"</td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/Frame_2x_3635d0d3-034c-42d4-9f82-99c633203df9.png?v=1686135158" alt="check logo" style="width: 16px;height:16px">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/Frame_2x_3635d0d3-034c-42d4-9f82-99c633203df9.png?v=1686135158" alt="check logo" style="width: 16px;height:16px">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/Frame_2x_3635d0d3-034c-42d4-9f82-99c633203df9.png?v=1686135158" alt="check logo" style="width: 16px;height:16px">
            </td>
          </tr>
          <tr>
            <td>PELOTON
              <br>BIKE+</td>
            <!-- <td style="font-size: 14px;">{{ section.settings.peleton_bike_price }}</td> -->
            <td>
              <div class="fb_compare_color" style="background: #000000;"></div>
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="close logo">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checktrue.svg?v=1669183473" alt="check logo">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="close logo">
            </td>
            <td>Yes</td>
            <td>59" L
              <br>59" H
              <br>22" W</td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="close logo">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checktrue.svg?v=1669183473" alt="check logo">
            </td>
            <td>24"</td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="close logo">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checktrue.svg?v=1669183473" alt="check logo">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="close logo">
            </td>
          </tr>
          <tr>
            <td>NORDICTRACK
              <br>S22i
            </td>
            <!-- <td>{{ section.settings.nordictrack_bike_price }}</td> -->
            <td>
              <div class="fb_compare_color" style="background: #000000;"></div>
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="close logo">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checktrue.svg?v=1669183473" alt="check logo">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="close logo">
            </td>
            <td>No</td>
            <td>61" L
              <br>58" H
              <br>22" W</td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="close logo">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checktrue.svg?v=1669183473" alt="check logo">
            </td>
            <td>22"</td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="close logo">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checktrue.svg?v=1669183473" alt="check logo">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="close logo">
            </td>
          </tr>
          <tr>
            <td>Echelon
              <br>EX-7s/td>
            <!-- <td style="font-size: 14px;">{{ section.settings.peleton_bike_price }}</td> -->
            <td>
              <div class="fb_compare_color" style="background: #000000;"></div>
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="close logo">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="close logo">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="close logo">
            </td>
            <td>No</td>
            <td>58" L 
              <br>61" H
              <br>22" W </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="close logo">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checktrue.svg?v=1669183473" alt="check logo">
            </td>
            <td>24"</td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="close logo">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checktrue.svg?v=1669183473" alt="check logo">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="close logo">
            </td>
          </tr>
          
          {%- comment -%} 分开 {%- endcomment -%}
          {{ boomtr }}
        </tbody>
      </table>
    </div>
  </div>
  {%- comment -%}  boom bike  {%- endcomment -%}
  {%- if section.settings.show_boom_bike -%}
    <div class="fb_compare_chart js-boombike-compare">
      <div class="fb_compare_fixed">
        {{ table1 }}
      </div>
      <div class="fb_compare_scrollable ">
        <table class="js-pc-boom-comparebike2">
         {{ header1 }}
          {%- comment -%} <tbody> {%- endcomment -%}
            {{ boomtr }}
          {%- comment -%} </tbody> {%- endcomment -%}
        </table>
      </div>
    </div>
  {%- endif -%}
</div>
{%- endif -%}
{% schema %}
  {
    "name": "FbCompareTableLitC",
    "presets": [
      {
        "name": "fb-compare-table-lit-c",
        "category": "Fb Sections",
        "blocks": []
      }
    ],
    "settings": [
      {
        "type": "richtext",
        "id": "fb_combike_title",
        "label": "Compare Bike Title",
        "default": " <p>See Why Lit Bike</p><p>Is Your Obvious Choice</p>"
      },
      {
        "type": "text",
        "id": "free_lit_bike_price",
        "label": "FreeBeat Lit Bike PRICE",
        "default": "$1,799"
      },
      {
        "type": "text",
        "id": "nordictrack_bike_price",
        "label": "NORDICTRACK S22I PRICE",
        "default": "$1,899"
      },
      {
        "type": "text",
        "id": "peleton_bike_price",
        "label": "PELOTON BIKE+ PRICE",
        "default": "$2,700+"
      }, {
        "type": "header",
        "content": "Boom Bike Config"
      }, {
        "type": "checkbox",
        "id": "show_boom_bike",
        "label": "Is Show Boom Bike",
        "default": false,
        "info": "It can only be configured on the home page. Other pages do not need it temporarily"
      },{
        "type": "checkbox",
        "id": "is_show_boom_gery_yellow",
        "label": "Is Show Gery Yellow color",
        "default": true
      }, {
        "type": "text",
        "id": "premium_btn",
        "label": "BUTTON1",
        "default": "Premium"
      }, {
        "type": "text",
        "id": "economy_btn",
        "label": "BUTTON 2",
        "default": "Economy"
      }, {
        "type": "text",
        "id": "boom_bike_price",
        "label": "FREEBEAT BOOM BIKE PRICE",
        "default": "$699"
      }, {
        "type": "text",
        "id": "boom_norictrack_bike_price",
        "label": "NORICTRACK Bike BIKE PRICE",
        "default": "$1,900+"
      }, {
        "type": "text",
        "id": "boom_peleton_bike_price",
        "label": "PELOTON BIKE BIKE PRICE",
        "default": "$1,500+"
      }
    ]
  }
{% endschema %}
<style>
 
  @media only screen and (min-width:769px) {
    .fb-compare-table-container {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  @media only screen and (max-width:768px) {
    .fb-compare-table-container {
      padding-top: 30px;
      padding-bottom: 19px;
    }
  }
</style>
<script>
  $(function() {
    $('.js-premium-btn').click(function() {
      $('.js-boombike-compare').css('display', 'none')
      $('.js-freebeat-compare').css('display', 'flex')
      $('.js-premium-btn').addClass('fbc_btn_active')
      $('.js-economy-btn').removeClass('fbc_btn_active')
    })
    $('.js-economy-btn').click(function() {
      $('.js-boombike-compare').css('display', 'flex')
      $('.js-freebeat-compare').css('display', 'none')
      $('.js-premium-btn').removeClass('fbc_btn_active')
      $('.js-economy-btn').addClass('fbc_btn_active')
    })
  })
</script>
<style>
  .fb_compare_scrollable::-webkit-scrollbar{
    width: 2px;
    background-color:rgb(245, 245, 245);
    border-radius: 5px;
}
.fb_compare_scrollable::-webkit-scrollbar-track
{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.04);
    border-radius:10px;
    background-color: rgb(245, 245, 245);
}


.fb_compare_scrollable::-webkit-scrollbar-thumb{
    border-radius: 5px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(0, 0, 0, 0.5);
}

.fb-compare-table-title{
    text-align: left;
    width: 60%;
    margin:0 auto;
    font-size: 36px;
    font-weight: bold;
    line-height: 38px;
}
.fb-compare-table-title p {
    margin: 0;
}
.comparision-img{
    display: block;
    width: 90%;
    margin: 50px auto 0;
}
.comparision-img-mb{
    display: none;
}
.fb-compare-table-container{
    padding-bottom: 30px;
}
@media only screen and (max-width:768px){
    .fb-compare-table-title{
        font-size: 24px;
        width: 85%;
        line-height: 28px;
    }
    .comparision-img{
        display: none;
    }
    .comparision-img-mb{
        display: block;
        width: 90%;
        margin: 30px auto 0;
    }
    .fb-compare-table-container{
        padding-bottom: 0px;
    }
}

.fb_compare_chart {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 20px 0 11px 0;
    line-height: 14px;
    width: 90%;
    cursor: default;
    margin: auto
}

.fb_compare_chart .fb_compare_fixed {
    display: flex;
    align-items: self-end;
    padding: 0 0 19px 0
}

.fb_compare_chart .fb_compare_scrollable {
    display: flex;
    padding-bottom: 17px
}

.fb_compare_chart table {
    width: 100%;
    border-collapse: collapse;
    /* padding: 0 5px */
}

.fb_compare_chart th {
    text-align: initial;
    padding: 8px 8px 8px 0;
    height: 45px;
}

.fb_compare_chart td {
    text-align: initial;
    padding: 8px 8px 8px 0;
}

.fb_compare_chart th {
    font-weight: 700
}

.fb_compare_chart img {
    /* padding-left: 10px */
}

.fb_compare_chart h5, .fb_compare_chart h4 {
    text-align: left;
    width: 104px;
    display: flex;
    align-items: center
}

/* .fb_compare_fixed table thead h5 {
    height: 28px
} */

.fb_compare_fixed table tbody tr:first-child {
    font-weight: 600
}

.fb_compare_scrollable table tbody tr:first-child {
    font-weight: 600
}

.fb_compare_scrollable table tbody tr:first-child td:nth-child(2),.fb_compare_scrollable table tbody tr:nth-child(2) td:nth-child(2),.fb_compare_scrollable table tbody tr:nth-child(3) td:nth-child(2) {
    font-size: 14px
}

.fb_compare_fixed table thead {
    border-bottom: 1px solid #ddd;
}

.fb_compare_btnDiv {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center
}

#fb_compare_compareBtn {
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 276px;
    font-size: 14px;
    color: white;
    height: 42px;
    background-color: #1c1b1b;
    cursor: pointer;
}

.fb_compare_scrollable table thead {
    border-bottom: 1px solid #ddd;
}

/* .fb_compare_scrollable th {
    padding: 0 5px;
} */
/* .fb_compare_scrollable thead th , .fb_compare_fixed thead th{
    padding: 5px!important;
}
.js-pc-boom-comparebike1 thead tr th {
    padding: 5px!important;
} */
.fb_compare_chart .fb_compare_color {
    width: 12px;
    height: 12px;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.197992);
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
}

.fb_compare_scrollable table {
    margin: 0 0 0 -101px;
}

.fb_compare_scrollable {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch
}

.fb_compare_scrollable::-webkit-scrollbar {
    height: 2px;
}

.fb_compare_scrollable::-webkit-scrollbar-thumb {
    width: 1px;
    border-radius: 2px;
    background-color: darkgrey
}

/* .fb_compare_fixed table tr th {
    padding-bottom: 0;
} */

/* .fb_compare_fixed th {
    padding: 0 5px;
} */

.fb_compare_fixed tbody tr:first-child h5, .fb_compare_fixed tbody tr:first-child h4 {
    padding-top: 10px;
}

.fb_compare_fixed tbody tr td h5, .fb_compare_fixed tbody tr td h4{
    padding: 16px 0 0 0
}

.fb_compare_scrollable table thead tr th:nth-child(5) h5,.fb_compare_scrollable table thead tr th:nth-child(6) h5,.fb_compare_scrollable table thead tr th:nth-child(7) h5,.fb_compare_scrollable table thead tr th:nth-child(8) h5,.fb_compare_scrollable table thead tr th:nth-child(9) h5,.fb_compare_scrollable table thead tr th:nth-child(10) h5,.fb_compare_scrollable table thead tr th:nth-child(11) h5,.fb_compare_scrollable table thead tr th:nth-child(12) h5,.fb_compare_scrollable table thead tr th:nth-child(13) h5 {
    margin-right: 12px
}
.fb_compare_scrollable table thead tr th:nth-child(5) h4,.fb_compare_scrollable table thead tr th:nth-child(6) h4,.fb_compare_scrollable table thead tr th:nth-child(7) h4,.fb_compare_scrollable table thead tr th:nth-child(8) h4,.fb_compare_scrollable table thead tr th:nth-child(9) h4,.fb_compare_scrollable table thead tr th:nth-child(10) h4,.fb_compare_scrollable table thead tr th:nth-child(11) h4,.fb_compare_scrollable table thead tr th:nth-child(12) h4,.fb_compare_scrollable table thead tr th:nth-child(13) h4 {
    margin-right: 12px
}


.fb_compare_scrollable table thead tr th:nth-child(8) h5,.fb_compare_scrollable table thead tr th:nth-child(11) h5 {
    margin-right: 1px
}
.fb_compare_scrollable table thead tr th:nth-child(8) h4,.fb_compare_scrollable table thead tr th:nth-child(11) h4 {
    margin-right: 1px
}

.fb_compare_scrollable table thead tr th:nth-child(9) h5, .fb_compare_scrollable table thead tr th:nth-child(9) h4{
    width: 100px;
}

.fb_compare_scrollable table thead tr th:last-child h5, .fb_compare_scrollable table thead tr th:last-child h4 {
    width: 101px;
}

.fb_compare_scrollable.activeSlideScroll {
    cursor: pointer;
}

.fb_compare_fixed td {
    font-size: 12px;
    line-height: 14px;
}

.fb_compare_bike_title {
    margin-bottom: 15px;
    width: 90%;
}

.fb_compare_chart .fb_compare_scrollable table thead tr th:last-child {
    padding-right: 0;
}

.fb_compare_scrollable table tbody tr:first-child td:nth-child(8),.fb_compare_scrollable table tbody tr:nth-child(2) td:nth-child(8),.fb_compare_scrollable table tbody tr:nth-child(3) td:nth-child(8) {
    font-size: 12px;
}

.fb_compare_home_btn_mob{
    display: none;
}
.fb_compare_fixed{
    width: 119px;    
}
/* 首页调整 */
@media only screen and (min-width:769px) {
    .js-boombike-compare{
        display: none;
    }
    .js-boombike-compare thead{
        visibility: hidden;
        border-bottom: none!important;
    }
    .js-freebeat-compare .fb_compare_fixed{
        flex-direction: column;
    }
    .fb_compare_home_btn_mob_pc{
        width: 100%;
        height: 34px;
    } 
    .fbc_premium_btn_pc, .fbc_economy_btn_pc{
        width: 93px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        font-size: 14px;
        background-color: #fff;
        color: #1C1B1B;
        border: 1px solid #1C1B1B;
    }
    .fb_compare_home_btn_mob{
        display: none;
    }
    .js-freebeat-compare .fb_compare_fixed table tbody tr:nth-child(2), .fb_compare_pc_weight{
        font-weight: 600;
    }
    .fb_compare_home_btn_pc td{
        padding: 16px 8px 8px 0;
    }
    /* .js-freebeat-compare .js-pc-boom-comparebike1, .js-freebeat-compare .js-pc-boom-comparebike2, .js-freebeat-compare .js-pc-boom-tbody{
        display: none;
    } */
}
@media only screen and (min-width:769px) {
    .fb_compare_mob_line{
        display: none;
    }
}

@media only screen and (max-width:768px) {
    .js-freebeat-compare .js-pc-boom-comparebike1, .js-freebeat-compare .js-pc-boom-comparebike2, .js-freebeat-compare .js-pc-boom-tbody, .fb_compare_home_btn_pc{
        display: none;
    }
    .fb_compare_home_btn_mob_pc{
        display: none;
    }
    .fb_compare_home_btn_mob{
        display: block;
    }
    .fb_compare_home_btn_mob{
        display: flex;
        width: 90%;
        /* height: 34px; */
        margin: 0 auto;
    } 
    .fb_compare_big_btn{
        width: 189px;
        height: 34px;
        border-radius: 4px;
        border: 1px solid #1C1B1B;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .fbc_premium_btn, .fbc_economy_btn{
        width: 50%;
        height: 34px;
        line-height: 34px;
        text-align: center;
        font-size: 14px;
        background-color: #fff;
        color: #1C1B1B;
    }
    .fbc_btn_active{
        background-color: #1C1B1B;
        color: #fff;
    }
    .js-boombike-compare{
        display: none;
    }
    .js-freebeat-compare .fb_compare_fixed table tbody tr:nth-child(2), .fb_compare_pc_weight{
        font-weight: 600;
    }
}

</style>

