{%- if section.settings.enable_bar -%}
  {%- unless section.settings.home_page_only and template != 'index' -%}
    <section id="section-{{ section.id }}" class="js-announcementbar-old" data-section-id="{{ section.id }}" data-section-type="announcement-bar">
      <div class="AnnouncementBar"
        data-arry="{%for block in section.blocks%}{{ block.settings.announcement_cycle_speed | times: 1000 }},{% endfor %}"
      >
        <div class="AnnouncementBar__Wrapper js-announcement-box announcement-content-box">
            {%- for block in section.blocks -%}
                {%- assign mobile_text = block.settings.announcement_text_mobile | default: block.settings.announcement_text -%}
                <a class="Heading announcement-scroll js-announcement-show  announcement-scroll-{{ forloop.index }}"
                    {% if block.settings.announcement_link != blank %}
                        href="{{ block.settings.announcement_link }}"  
                    {%- else -%}
                        href="javascript:void(0);" 
                    {% endif %}
                    data-speed="{{ block.settings.announcement_cycle_speed }}"
                    style="color: {{ block.settings.announcement_text_color }};">
                    <div class="utils-mobile-hide2"> <object> {{ block.settings.announcement_text }} </object></div>
                    <div class="utils-pc-hide2"> <object> {{ mobile_text }} </object> </div>
                </a>
            {%- endfor -%}
        </div>
      </div>
    </section>
    <style>
        a{
            text-decoration:none;
        }
        .AnnouncementBar {
          {% assign image = section.settings.BackgroundImage_p %}
          {% if image != blank %}
            background: url("{{ section.settings.BackgroundImage_p | image_url }}");
            background-size: 100% 100%;
          {% else %}
            background: #000;
          {% endif %}
        }
        #shopify-section-announcement-blogger {
            position: sticky;
            top: 0!important;
            width: 100%!important;
            z-index: 10!important;
        }
        #section-{{ section.id }} .announcement-content-box{
            position: relative;
        }
        .announcement-scroll p{
            margin: 0;
            padding: 0;
            font-weight: 700;
        }
        {%- if section.settings.pc_line == '2' -%}
            #section-{{ section.id }} .announcement-content-box {
                height:  80px;
            }
            .announcement-scroll p{
                font-size: 18px;
                line-height: 22px;
            }
        {%- else -%}
            #section-{{ section.id }} .announcement-content-box {
                height: 55px;  
            }
            .announcement-scroll p{
                font-size: 18px;
                line-height: 22px;
            }
        {%- endif -%}
  
        @media only screen and (max-width: 1023px) {
          {%- if section.settings.mobile_line == '2' -%}
            #section-{{ section.id }} .announcement-content-box {
                height:  46px;
            }
            .announcement-scroll p{
                font-size: 12px;
                line-height: 18px;
            }
          {%- else -%}
            #section-{{ section.id }} .announcement-content-box {
                height: 23px;  
            }
            .announcement-scroll p{
                font-size: 12px;
                line-height: 15px;
            }
          {%- endif -%}

          /* 隐藏mobile */
          .utils-mobile-hide2{
            display: none!important;
          }
          
          .AnnouncementBar {
            {% assign image = section.settings.BackgroundImage_m %}
            {% if image != blank %}
              background: url("{{ section.settings.BackgroundImage_m | image_url }}");
              background-size: 100% 100%;
            {% else %}
              background: #000;
            {% endif %}
          }
        }
        .announcement-scroll {
            visibility: hidden;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 0px;
            top: 0px;
        }
        .announcement-scroll:first-child{
            visibility: visible;
        }
        @media only screen and (min-width: 1024px){
          /* 隐藏pc */
            .utils-pc-hide2 {
                display: none!important;
            }
        }
        @keyframes utilsscrollhide{
            0% {opacity: 1;}
            10% {opacity: 0.8;}
            100% {opacity: 0; }
        }
        @keyframes utilsscrollshow{
            0%{opacity:0; }
            100%{
                opacity: 1;
            }
            
        }
        .utils-scroll-show {
            animation: utilsscrollshow 1s 1;
            visibility: visible!important; 
        }
        .utils-scroll-hide {
            animation: utilsscrollhide 1s 1;  
            visibility: hidden!important;
        }
        .announcement-content-box  object p a {
            text-decoration: underline;
            color: #fff;
        }
    </style>

    <script>
      document.documentElement.style.setProperty('--announcement-bar-height', document.getElementById('shopify-section-announcement-blogger').offsetHeight + 'px');
    </script>
  {%- endunless -%}
{%- endif -%}

{% schema %}
{
  "name": "Blogger Announcement bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_bar",
      "label": "Enable bar",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "Home page only",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "BackgroundImage",
      "label": "BackgroundImage"
    },
    {
      "type": "select",
      "id": "pc_line",
      "label": "Select Pc rows",
      "options": [
        {
          "value": "1",
          "label": "One rows"
        },
        {
          "value": "2",
          "label": "Two rows"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "mobile_line",
      "label": "Select Mobile rows",
      "options": [
        {
          "value": "1",
          "label": "One"
        },
        {
          "value": "2",
          "label": "Two"
        }
      ],
      "default": "2"
    }
  ],
  "max_blocks": 3,
  "blocks": [
      {
        "type": "scrollBar",
        "name": "scrollBar",
        "settings": [
            {
                "type": "color",
                "id": "announcement_text_color",
                "label": "Text Color",
                "default": "#ffffff"
            },
            {
                "type": "url",
                "id": "announcement_link",
                "label": "Link"
            },
            {
                "type": "richtext",
                "id": "announcement_text",
                "label": "Pc text"
            },
            {
                "type": "richtext",
                "id": "announcement_text_mobile",
                "label": "Mobile text"
            },
            {
                "type": "range",
                "id": "announcement_cycle_speed",
                "min": 2,
                "max": 20,
                "step": 1,
                "unit": "sec",
                "label": "Change slides every (unit: s)",
                "default": 5
            }
        ]
      }
  ]
}
{% endschema %}
