<div  id="section-{{ section.id }}" class="fb-affiliate-program-started">
    <div class="program_get_started">
        <div class="started_headline">{{ section.settings.started_headline }}</div>
        <div class="started_line_total">
            <div class="started_line"></div>
            <div class="started_line"></div>
            <div class="started_line"></div>
        </div>
        <div class="program_get_started_con affiliate_program_public">
            {%- for block in section.blocks -%}
                <div class="program_get_started_item">
                    {% assign started_icon_pc = block.settings.started_icon_pc | img_url: '' %}
                    {% assign started_icon_mobile = block.settings.started_icon_mobile | img_url: '' %}
                    <img
                    class="Image--lazyLoad Image--fadeIn started_icon_pc"
                    data-sizes="auto"
                    data-optimumx="1.2"
                    data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                    data-src="{{ started_icon_pc }}"
                    >
                    <img
                    class="Image--lazyLoad Image--fadeIn started_icon_mobile"
                    data-sizes="auto"
                    data-optimumx="1.2"
                    data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                    data-src="{{ started_icon_mobile }}"
                    >
                    <div class="started_desc">{{ block.settings.started_desc }}</div>
                </div>
                <div class="started_line_mobile"></div>
            {%- endfor -%}
        </div>
    </div>
    <div class="start_earning_today">
        {% assign started_earning_img_mobile = section.settings.started_earning_img_mobile | img_url: '' %}
            <img
            class="Image--lazyLoad Image--fadeIn started_earning_img_mobile"
            data-sizes="auto"
            data-optimumx="1.2"
            data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
            data-src="{{ started_earning_img_mobile }}"
            > 
        <div class="start_earning_today_con">
            <div class="affiliate_program_public">
                <div class="started_earning_title">{{ section.settings.started_earning_title }}</div>
                <div class="started_earning_desc_pc">{{ section.settings.started_earning_desc_pc }}</div>
                <div class="started_earning_desc_mobile">{{ section.settings.started_earning_desc_mobile }}</div>
                    <div class="started_earning_button">
                        <a href="{{ section.settings.started_earning_url }}" target="_blank">
                        <div>{{ section.settings.started_earning_button }}</div>
                        </a>
                    </div>
                <div class="started_earning_more">{{ section.settings.started_earning_more }}</div>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
    "name": "FbAffiliateProgramStarted",
      "presets": [
        {
          "name": "fb-affiliate-program-started",
          "category": "Fb Sections",
          "blocks": []
        }
      ],
      "settings":[
        {
          "type": "text",
          "id": "started_headline",
          "label": "Headline"
        },
        {
            "type": "image_picker",
            "id": "started_earning_img_mobile",
            "label": "Img Mobile"
        },
        {
            "type": "text",
            "id": "started_earning_title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "started_earning_desc_pc",
            "label": "Desc Pc"
        },
        {
            "type": "richtext",
            "id": "started_earning_desc_mobile",
            "label": "Desc Mobile"
        },
        {
            "type": "text",
            "id": "started_earning_button",
            "label": "Button"
        },
        {
            "type": "url",
            "id": "started_earning_url",
            "label": "URL"
        },
        {
            "type": "richtext",
            "id": "started_earning_more",
            "label": "More"
        }
      ],
      "blocks":[
        {
            "type": "StartedBlock",
            "name": "StartedBlock",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "started_icon_pc",
                    "label": "Icon Pc"
                },
                {
                    "type": "image_picker",
                    "id": "started_icon_mobile",
                    "label": "Icon Mobile"
                },
                {
                    "type": "richtext",
                    "id": "started_desc",
                    "label": "Desc"
                }
            ]
        }
      ]
}
{% endschema %}
<style>
    .start_earning_today{
        width: 100%;
    }
    .start_earning_today img{
        width: 100%;
    }
    .started_earning_more p{
       margin: 0;
    }
    @media screen and (min-width: 1200px) {
        .fb-affiliate-program-started{
            background: #F5F5F5;
        }
        .started_icon_mobile{
            display: none;
        }
        .started_earning_img_mobile{
            display: none;
        }
        .program_get_started{
           padding-top: 80px;
        }
        .started_headline{
            font-size: 36px;
            font-family: Montserrat-Bold, Montserrat;
            font-weight: bold;
            color: #121212;
            line-height: 36px;
            text-align: center;
            padding-bottom: 152px;
        }
        .program_get_started_con{
            background: #FFFFFF;
            border-radius: 16px 16px 16px 16px;
            display: flex;
            justify-content: space-between;
        }
        .program_get_started_item{
            width: 200px;
            text-align: center;
            position: relative;
        }
        .started_icon_pc{
            width: 64px;
        }
        .started_desc{
            font-size: 16px;
            font-family: Montserrat-Bold, Montserrat;
            font-weight: 500;
            color: #666;
            line-height: 24px;
            margin-top: 24px;
        }
        .started_desc strong{
            color: #121212;
        }
        .started_line_mobile{
            display: none;
        }
        .started_line_total{
            display: flex;
            width: 790px;
            margin: auto;
            margin-bottom: -90px;
        }
        .started_line{
            width: 203px;
            opacity: 0.2;
            border: 1px dashed #121212;
        }
        .started_line:nth-of-type(1){
            margin-left: 14px;
        }
        .started_line:nth-of-type(2){
            margin-left: 76px;
        }
        .started_line:nth-of-type(3){
            margin-left: 77px;
        }
        .start_earning_today_con{
            margin-top: 120px;
            background: url('https://cdn.shopify.com/s/files/1/0592/3766/2905/files/Normal-banner-PC_1_2x_a7ad5ac7-7503-4271-96b2-c324e4bac237.png?v=1678783320') no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
        }
        .started_earning_title{
            font-size: 45px;
            font-family: Montserrat-Bold, Montserrat;
            font-weight: bold;
            color: #121212;
            line-height: 45px;
            letter-spacing: 0.01;
        }
        .started_earning_desc_mobile{
            display: none;
        }
        .started_earning_desc_pc{
            font-size: 16px;
            font-family: Montserrat-Medium, Montserrat;
            font-weight: 500;
            color: #121212;
            line-height: 24px;
            margin-top: 20px;
        }
        .started_earning_button{
            width: 240px;
            height: 48px;
            background: #000000;
            font-size: 14px;
            font-family: Montserrat-Bold, Montserrat;
            font-weight: bold;
            color: #FFFFFF;
            line-height: 48px;
            text-align: center;
            margin-top: 30px;
            cursor: pointer;
        }
        .started_earning_more{
            font-size: 14px;
            font-family: Montserrat-Regular, Montserrat;
            font-weight: 400;
            color: #000000;
            line-height: 20px;
            margin-top: 10px;
        }
        .started_earning_more a{
            text-decoration: underline;
        }
    }
    @media screen and (max-width: 1199px) {
        .fb-affiliate-program-started{
            background: #F5F5F5;
        }
        .started_icon_pc{
            display: none;
        }
        .program_get_started{
           padding-top: 60px;
        }
        .started_headline{
            font-size: 20px;
            font-family: Montserrat-Bold, Montserrat;
            font-weight: bold;
            color: #000000;
            line-height: 20px;
            text-align: center;
            padding-bottom: 32px;
        }
        .program_get_started_con{
            width: 327px;
            margin: auto;
            background: #FFFFFF;
            border-radius: 12px 12px 12px 12px;
            padding:24px 20px;
        }
        .program_get_started_item{
            display: flex;
            padding-bottom: 40px;
            position: relative;
            align-items: center;
        }
        .program_get_started_item:nth-of-type(7){
            padding: 0;
        }
        .started_icon_mobile{
            width: 32px;
        }
        .started_desc{
            font-size: 12px;
            font-family: Montserrat-Bold, Montserrat;
            font-weight: 500;
            color: #666666;
            line-height: 16px;
            margin-left: 16px;
        }
        .started_desc strong{
            color: #121212;
        }
        .started_line_total{
            display: none;
        }
        .started_line_mobile{
            height: 32px;
            opacity: 0.2;
            border-left: 2px dashed #121212;
            margin-top: -36px;
            margin-bottom: 4px;
            margin-left: 16px;
        }
        .program_get_started_item:last-child{
            padding-bottom: 0;
        }
        .started_line_mobile:last-of-type{
            display: none;
        }
        .start_earning_today{
            margin-top: 60px;
            position: relative;
        }
        .start_earning_today_con{
            position: absolute;
            top: 40px;
            width: 324px;
            left: 50%;
            margin-left: -162px;
        }
        .started_earning_title{
            font-size: 26px;
            font-family: Montserrat-Bold, Montserrat;
            font-weight: bold;
            color: #000000;
            line-height: 26px;
            text-align: center;
        }
        .started_earning_desc_pc{
            display: none;
        }
        .started_earning_desc_mobile{
            font-size: 12px;
            font-family: Montserrat-Medium, Montserrat;
            font-weight: 500;
            color: #000000;
            line-height: 16px;
            text-align: center;
            margin-top: 11px;
        }
        .started_earning_button{
            width: 205px;
            height: 36px;
            background: #000000;
            font-size: 12px;
            font-family: Montserrat-Bold, Montserrat;
            font-weight: bold;
            color: #FFFFFF;
            line-height: 36px;
            margin: auto;
            text-align: center;
            margin-top: 16px;
            cursor: pointer;
        }
        .started_earning_more{
            font-size: 10px;
            font-family: Montserrat-Regular, Montserrat;
            font-weight: 400;
            color: #000000;
            line-height: 12px;
            text-align: center;
            margin-top: 8px;
        }
        .started_earning_more a{
            text-decoration: underline;
        }
    }
  </style>