<div  id="section-{{ section.id }}" class="fb-scroll-dumbbell-class">
        <div id="fb-scroll-chair-space">
        </div>
        <div id="fb-scroll-dumbbell" data-template="{{template}}" >
          <div class="fb-scroll-container" >
            <div id="dumbbell-video-muted" class="fb-video-muted-btn">
               <img data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/openvideo.png?v=1659322083" class="fac-open-video Image--lazyLoad Image--fadeIn" />
               <img data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/closevideo.png?v=1659322152" class="fac-close-video Image--lazyLoad Image--fadeIn" />
            </div>
            <div class="chair-text-box" id="chair-text">
                <div class="chair-flex-center">
                    {%- if section.settings.ac_title_one != blank -%}
                        <div class="ctb-title">
                        {{ section.settings.ac_title_one }}
                        </div>
                    {%- endif -%}
                    {%- if section.settings.ac_desc_one != blank -%}
                        <div class="ctb-desc">
                            {{ section.settings.ac_desc_one }}
                        </div>
                    {%- endif -%}
                </div>
            </div>
            <div class="chair-text-box" id="dumbbell-text">
                <div class="chair-flex-center">
                    {%- if section.settings.ac_title_two != blank -%}
                        <div class="ctb-title">
                        {{ section.settings.ac_title_two }}
                    </div>
                    {%- endif -%}
                    {%- if section.settings.ac_desc_two != blank -%}
                        <div class="ctb-desc">
                        {{ section.settings.ac_desc_two }}
                        </div>
                    {%- endif -%}
                </div>
            </div>
            <!-- first -->
            <div id="chair-press-box" class="chair-show-opacity">
                <div class="chair-press-content">
                    <div class="chair-press-btn">
                      <div class="chair-press-inner js-chair-down">
                          <!-- {{ section.settings.ac_press_button }} -->
                          <!-- Press <br/>to Stand  -->
                      </div>
                    </div>
                    <!-- <div class="chair-btn-svga" id="chair-btn-svga-one">
                    </div> -->
                    <img class="chair-btn-svga" id="chair-btn-svga-one"  src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/zhanweitu.png?v=1659520780" />
                    <img class="chair-btn-svga" id="chair-btn-svga-two" src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/zhanweitu.png?v=1659520780" />
                    <div class="chair-press-down">
                      <img  id="chairup" src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/zhanweitu.png?v=1659520780" />
                      <img  id="chairdown"  src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/zhanweitu.png?v=1659520780" />
                    </div>
                </div>
            </div>
            <!-- second -->
            <!-- <div id="dumbbell-section-svga">
            </div> -->
            <img id="dumbbell-section-svga"  src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/zhanweitu.png?v=1659520780" />
            <!-- 第三层哑铃视频动画 -->
            <div id="dumbbell-video">
              <!-- ./assets/chair.mp4 -->
             
              <video id="dumbbell-section-video"  
                  x-webkit-airplay="allow"
                  webkit-playsinline="true"
                  playsinline="true"
                  preload="auto"
                  muted
                  loop
                  ref="video"
                  src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/zhanweitu.png?v=1659520780"
              ></video>
            </div>
          </div>
      </div> 
</div>
{% schema %}
  {
    "name": "FbAnimatioChair",
    "presets": [
      {
        "name": "fb-animation-chair",
        "category": "Fb Sections",
        "blocks": []
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "section one"
      },
      {
        "type": "richtext",
        "id": "ac_title_one",
        "label": "title",
        "default": "<p> Smart Saddle Detection+</p>"
      },
      {
        "type": "richtext",
        "id": "ac_desc_one",
        "label": "desc",
        "default": "<p>Dynamic seat sensors detect in and out of saddle movement, closing the gap between effort exerted and recognition received.</p>"
      },
      {
        "type": "richtext",
        "id": "ac_title_two",
        "label": "title",
        "default": "<p>Fitness for Everyone</p>"
      },
      {
        "type": "richtext",
        "id": "ac_desc_two",
        "label": "desc",
        "default": "<p> A staggering array of cycling, stretching, strength training, and more all under one roof. One stop, limitless destinations. </p>"
      },
      {
        "type": "text",
        "id": "ac_press_button",
        "label": "button text",
        "default": "Press"
      }
    ]
  }
{% endschema %}
