<div class="fb-annimation-bike" id="section-{{ section.id }}" data-video-src="https://cdn.shopify.com/">
  <div id="scroll-magic-container" >
        <div id="scroll-section1-web-container"> 
        <div id="scroll-section1-web">
        {%- if section.settings.sm_f_title0 != blank -%}
        <div class="scroll-section1-desc-web" id="scroll-section1-desc-web">{{ section.settings.sm_f_title0 }}</div>
        {%- endif -%}
        <div id="scroll-section1-video-container-web">
        <video id="scroll-section1-video-web" class="Image--lazyLoad"
        x-webkit-airplay="allow"
            webkit-playsinline="true"
            playsinline="true"
            muted
            loop
            ref="video"
            src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/zhanweitu.png?v=1659520780"
        ></video>
        </div>
        </div>
        </div>
        <!-------------------------1------------------------->
        <div id="scroll-section1"> 
        {%- if section.settings.sm_f_title0 != blank -%}
        <div class="scroll-section1-desc">{{ section.settings.sm_f_title0 }}</div>
        {%- endif -%}
        <div id="scroll-section1-video-container">
        <video id="scroll-section1-video" class="Image--lazyLoad"
            x-webkit-airplay="allow"
            webkit-playsinline="true"
            playsinline="true"
            muted
            loop
            ref="video"
           src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/zhanweitu.png?v=1659520780"
        ></video>
        </div>
        </div>
        <!-------------------------------------------------->

        <div id="scroll-section2">
        <div class="section2-container">
        <div id="scroll-section2-video-muted" class="fb-video-muted-btn">
            <img data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/openvideo.png?v=1659322083" class="fac-open-video Image--lazyLoad" />
                <img data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/closevideo.png?v=1659322152" class="fac-close-video Image--lazyLoad" />
        </div>
        <!-----------------------1-2-------------------------->
        <div id="txt-container0" class="txt-container">
            {%- if section.settings.sm_f_title1 != blank -%}
            <div class="scroll-desc scroll-desc1">{{section.settings.sm_f_desc1}}</div>
            <div class="scroll-title scroll-title1">{{section.settings.sm_f_title1}}</div>
            {%- endif -%}
        </div>

        <div id="txt-container1" class="txt-container">
            {%- if section.settings.sm_f_title2 != blank -%}
            <div class="scroll-title">{{section.settings.sm_f_title2}}</div>
            <div class="scroll-desc">{{section.settings.sm_f_desc2}}</div>
            {%- endif -%}
        </div>

        <div id="txt-container5" class="txt-container" style="opacity: 0;">
          <div class="scroll-title" id="scroll-title-1">{{section.settings.sm_f_title2}}</div>
          <div class="scroll-desc" id="scroll-desc-1">
            <div style="margin-right: 5px;">
              丨
            </div>
            <div>
              <div style="margin-bottom: 7px;font-weight: bold">
                {{section.settings.sm_f_title2}}
              </div>
              {{section.settings.sm_f_desc2}}
            </div>
          </div>
      </div>

        <!-- <div id="scroll-section1-svga"></div> -->
        <!-- <img id="scroll-section1-svga" src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/zhanweitu.png?v=1659520780" /> -->
        <img id="scroll-section1-svga" class="Image--lazyLoad" data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/20220803180850.jpg?v=1659521516" />
        <video id="scroll-section2-video" class="Image--lazyLoad"
            x-webkit-airplay="allow"
            webkit-playsinline="true"
            playsinline="true"
            muted
            loop
            ref="video"
            data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/zhanweitu.png?v=1659520780"
        ></video>
        <!-------------------------2-3----------------------->
        <!-- <div id="scroll-section1-svga2"></div> -->
        <img id="scroll-section1-svga2"  class="Image--lazyLoad" data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/zhanweitu.png?v=1659520780" />
        <!--------------------------3------------------------>
        <div id="txt-container2" class="txt-container">
            <div class="scroll-title">{{section.settings.sm_f_title3}}</div>
            <div class="scroll-desc">{{section.settings.sm_f_desc3}}</div>
        </div>

        <div id="txt-container3" class="txt-container">
            <div class="scroll-title">{{section.settings.sm_f_title4}}</div>
            <div class="scroll-desc">{{section.settings.sm_f_desc4}}</div>
        </div>
        <div id="txt-container4" class="txt-container" style="opacity: 0;">
            <div class="scroll-title" id="scroll-title-3">
              <div>{{section.settings.sm_f_title4}}</div>
              <div class="scroll-desc scroll-title-3-desc">Automatically sets the resistance to one of the 100 resistance levels according to the instructor's advice and adapts to each rider's performance. Channel your energy into riding and less on adjusting the settings.</div>
            </div>
            <div class="scroll-desc" id="scroll-desc-3">
              <div style="margin-right: 5px;">丨</div>
              <div>
                <div style="margin-bottom: 7px;font-weight: bold">
                  {{section.settings.sm_f_title4}}
                </div>
                {{section.settings.sm_f_desc4}}
              </div>
            </div>
        </div>

        <div id="progressbar-container">
            <div id="progressbar-container-desc">
            <div>Auto Resistance</div>
            <div id="progress-add">+12</div>
            </div>
            <div id="progressbar"></div>
        </div>

        <!-------------------------------------------------->


        </div>
        </div>
    </div>    
</div>

{% schema %}
{
  "name": "FbAnimatioBike",
  "presets": [
    {
      "name": "fb-animation-bike",
      "category": "Fb Sections",
      "blocks": []
    }
  ],
  "settings": [
      {
        "type": "text",
        "id": "sm_f_title0",
        "label": "title",
        "default": "Break. Through."
      },
      {
        "type": "text",
        "id": "sm_f_desc1",
        "label": "title",
        "default": "All new, all power"
      },
      {
        "type": "text",
        "id": "sm_f_title1",
        "label": "title",
        "default": "Setting the Fitness Stage"
      },
      {
        "type": "text",
        "id": "sm_f_title2",
        "label": "title",
        "default": "ENERGIZING EFFECTS"
      },
      {
        "type": "text",
        "id": "sm_f_desc2",
        "label": "desc",
        "default": "<p>A variety of interactive stages transform any room into an immersive workout experience. </p>"
      },
      {
        "type": "text",
        "id": "sm_f_title3",
        "label": "title",
        "default": "Smart Electronics"
      },
      {
        "type": "text",
        "id": "sm_f_desc3",
        "label": "desc",
        "default": "<p>For your immersive interactive cycling experience... Our bikes are integrated with technologies.</p>"
      },
      {
        "type": "text",
        "id": "sm_f_title4",
        "label": "title",
        "default": "Auto Resistance System"
      },
      {
        "type": "text",
        "id": "sm_f_desc4",
        "label": "desc",
        "default": "<p>Our industry-leading electromagnetic resistance technology adjusts automatically based on the instructors' cues.</p>"
      }
    ]
}
{% endschema %}
