<div  id="section-{{ section.id }}" class="fb-affiliate-program-banner">
    <div class="affiliate-program-banner">
          {% assign banner_img_mobile = section.settings.banner_img_mobile | img_url: '' %}
          <img
          class="Image--lazyLoad Image--fadeIn banner_img_mobile"
          data-sizes="auto"
          data-optimumx="1.2"
          data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
          data-src="{{ banner_img_mobile }}"
        > 
        <div class="banner_text">
          <div class="affiliate_program_public">
            <div class="banner_headline">{{ section.settings.banner_headline }}</div>
            <div class="banner_sub_headline">{{ section.settings.banner_sub_headline }}</div>
          </div>
        </div>
        <div class="alliance_entrance affiliate_program_public">
            {%- for block in section.blocks -%}
                <div class="alliance_entrance_item">
                    {% assign alliance_entrance_icon_pc = block.settings.alliance_entrance_icon_pc | img_url: '' %}
                    {% assign alliance_entrance_icon_mobile = block.settings.alliance_entrance_icon_mobile | img_url: '' %}
                    <img
                        class="Image--lazyLoad Image--fadeIn alliance_entrance_icon_pc"
                        data-sizes="auto"
                        data-optimumx="1.2"
                        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                        data-src="{{ alliance_entrance_icon_pc }}"
                    >
                    <img
                    class="Image--lazyLoad Image--fadeIn alliance_entrance_icon_mobile"
                    data-sizes="auto"
                    data-optimumx="1.2"
                    data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                    data-src="{{ alliance_entrance_icon_mobile }}"
                >
                    <a href="{{ block.settings.alliance_entrance_url }}" target="_blank">
                        <div class="alliance_entrance_button">{{ block.settings.alliance_entrance_button }}</div>
                    </a>
                </div>
                <div class="alliance_entrance_item_line" ></div>
            {%- endfor -%}
        </div>
    </div>
</div>
{% schema %}
    {
      "name": "FbAffiliateProgramBanner",
      "presets": [
        {
          "name": "fb-affiliate-program-banner",
          "category": "Fb Sections",
          "blocks": []
        }
      ],
      "settings": [
        {
          "type": "image_picker",
          "id": "banner_img_mobile",
          "label": "Banner Img Mobile"
        },
        {
          "type": "richtext",
          "id": "banner_headline",
          "label": "Headline"
        },
        {
          "type": "text",
          "id": "banner_sub_headline",
          "label": "Sub-headline"
        }
      ],
      "blocks": [
        {
            "type": "ApplyNowBlock",
            "name": "ApplyNowBlock",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "alliance_entrance_icon_pc",
                    "label": "Icon Pc"
                },
                {
                    "type": "image_picker",
                    "id": "alliance_entrance_icon_mobile",
                    "label": "Icon Mobile"
                },
                {
                    "type": "text",
                    "id": "alliance_entrance_button",
                    "label": "Button"
                },
                {
                    "type": "url",
                    "id": "alliance_entrance_url",
                    "label": "URL"
                }
            ]
        }
      ]
    }
  {% endschema %}
  <style>
    .fb-affiliate-program-banner {
      background: #f5f5f5;
    }
    .affiliate-program-banner{
      width: 100%;
    }
    .affiliate-program-banner img{
      width: 100%;
    }
    @media screen and (min-width: 1200px) {
      .banner_img_mobile{
        display: none;
      }
      .alliance_entrance_icon_mobile{
        display: none;
      }
      .affiliate-program-banner{
        position: relative;
      }
      .banner_text{
        background: url('https://cdn.shopify.com/s/files/1/0592/3766/2905/files/Normal-banner-PC_1_2x_8c349ffb-327b-4b0f-aa90-08f7cd108361.png?v=1679040487') no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        padding: 160px 0 306px 0;
      }
      .banner_headline{
        font-size: 45px;
        font-family: Montserrat-Bold, Montserrat;
        font-weight: bold;
        color: #121212;
        line-height: 45px;
        letter-spacing: 0.01;
      }
      .banner_headline p{
        margin: 0;
      }
      .banner_sub_headline{
        font-size: 24px;
        font-family: Montserrat-SemiBold, Montserrat;
        font-weight: 600;
        color: #121212;
        line-height: 24px;
        padding-top: 20px;
      }
      .alliance_entrance{
        background: #fff;
        border-radius: 16px 16px 16px 16px;
        display: flex;
        justify-content: space-between;
      }
      .alliance_entrance_item{
        width: 280px;
      }
      .alliance_entrance_item_line{
        width: 1px;
        height: 168px;
        background: #121212;
        opacity: 0.2;
      }
      .alliance_entrance .alliance_entrance_item_line:nth-of-type(4) {
        display: none;
      }
      .alliance_entrance_button{
        width: 100%;
        font-size: 16px;
        font-family: Montserrat-Bold, Montserrat;
        font-weight: bold;
        height: 48px;
        text-align: center;
        line-height: 48px;
        margin-top: 20px;
        color: #fff;
        background: #000;
        cursor: pointer;
      }
    }
    @media screen and (max-width: 1199px) {
      .banner_img_pc{
        display: none;
      }
      .alliance_entrance_icon_pc{
        display: none;
      }
      .affiliate-program-banner{
        position: relative;
      }
      .banner_text{
        width: 290px;
        position: absolute;
        top: 58px;
        left: 50%;
        margin-left: -145px;
        text-align: center;
      }
      .banner_headline{
        font-size: 26px;
        font-family: Montserrat-Bold, Montserrat;
        font-weight: bold;
        color: #000000;
        line-height: 26px;
      }
      .banner_headline p{
        margin: 0;
      }
      .banner_sub_headline{
        font-size: 14px;
        font-family: Montserrat-SemiBold, Montserrat;
        font-weight: 600;
        color: #000000;
        line-height: 18px;
        padding-top: 8px;
        width: 201px;
        margin: auto;
      }
      .alliance_entrance{
        width: 327px;
        position: absolute;
        left: 50%;
        margin-left: -163.5px;
        top: 386px;
        padding: 20px 24px;
        background: #FFFFFF;
        border-radius: 12px 12px 12px 12px;
        display: flex;
        justify-content: space-between;
      }
      .alliance_entrance_item{
        width: 120px;
      }
      .alliance_entrance_item_line{
        width: 1px;
        height: 84px;
        background: #121212;
        opacity: 0.2;
      }
      .alliance_entrance .alliance_entrance_item_line:nth-of-type(4) {
        display: none;
      }
      .alliance_entrance_button{
        width: 100%;
        font-size: 12px;
        font-family: Montserrat-Bold, Montserrat;
        font-weight: bold;
        height: 32px;
        text-align: center;
        line-height: 32px;
        margin-top: 12px;
        color: #fff;
        background: #000;
        cursor: pointer;
      }
    }
  </style>