<div class="fb-boomlightbelt-class js-boombike-delayshow" id="section-{{ section.id }}">
    <div id="fb-scroll-boomlightbelt" data-template="{{template}}">
        <div id="fb-scroll-boomlightbelt-container">
            <div class="fb-boomlightbelt-section1">
                <div class="fb-boomlightbelt-video">
                    <video class="Image--lazyLoad js-videoAutoPlayer fb-common-pcshow" 
                        x-webkit-airplay="allow" 
                        webkit-playsinline="true" 
                        playsinline="true" 
                        autoplay="autoplay" 
                        muted="muted" 
                        loop="loop" 
                        data-src="{{ section.settings.video_url }}"
                    >     
                    </video>
                    <video class="Image--lazyLoad js-videoAutoPlayer fb-common-mobshow" 
                            x-webkit-airplay="allow" 
                            webkit-playsinline="true" 
                            playsinline="true" 
                            autoplay="autoplay" 
                            muted="muted" 
                            loop="loop" 
                            data-src="{{ section.settings.mob_video_url }}"
                        >     
                    </video> 
                </div>
               
                {%- if section.settings.video_introduce_title != blank -%}
                    <div class="boomvideo-introduce-text">
                        <div class="boomvideo-introduce-fade">
                            <div class="boomvideo-introduce-title">
                                {{ section.settings.video_introduce_title }}
                            </div>
                            <div class="boomvideo-introduce-desc">
                                {{ section.settings.video_introduce_desc }}
                            </div>
                        </div>
                    
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
      
       
       
</div>
<style>
    .fb-boomlightbelt-class{
        position: relative;
    }
    #section-{{ section.id }} {
        width: 100%;
        background-color: {{ section.settings.backgroundColor }};
    }
    #fb-scroll-boomlightbelt-container{
        width: 100%;
        position: relative;
    }
    @media (min-width: 769px) {
        #section-{{ section.id }} {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .fb-boomlightbelt-class {
            overflow: hidden;
            width: 100%;
            
        }
    }
    @media (max-width: 768px) {
        .fb-boomlightbelt-class {
            height: 100vh;
        }
    }
    
    .fb-boomlightbelt-class{
        margin-top:-2px;
        margin-bottom: -4px;
    }
    .fb-boomlightbelt-section1  {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .fb-boomlightbelt-video{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
    }
    .fb-boomlightbelt-video video {
        width: 100vw;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .fb-common-pcshow{
        display: block;
    }
    .fb-common-mobshow{
        display: none;
    }
    @media (max-width: 768px) {
        .fb-common-pcshow{
            display: none;
        }
        .fb-common-mobshow{
            display: block;
        }
    }
    .boomvideo-introduce-text{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: rgba(0, 0, 0, 0.15);
    } 
    .boomvideo-introduce-fade{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    @media (min-width: 769px) {
        .boomvideo-introduce-fade{
            padding: 0px 6%;
        }
    }
    @media (max-width: 768px) {
        .boomvideo-introduce-text{
            padding: 0px;
        }
        .boomvideo-introduce-fade{
            padding: 0px 6%;
        }
    }
    .boomvideo-introduce-title{
        font-size: 60px;
        font-weight: 800;
        color: #FFFFFF;
        line-height: 60px;
        text-align: center;
    }
    .boomvideo-introduce-desc{
        margin-top: 8px;
        font-size: 18px;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 24px;
        text-align: center;
    }
    @media (max-width: 768px) {
        .boomvideo-introduce-title, .boomvideo-introduce-title p{
            font-size: 40px;
            line-height: 44px;
            letter-spacing: 1px;
        }
        .boomvideo-introduce-desc, .boomvideo-introduce-desc p{
           font-size: 16px;
           line-height: 20px;
           margin-top: 16px;
        }
    }

</style>
{% schema %}
  {
    "name": "FbBoombikeLightbelt",
    "presets": [
    {
      "name": "fb-boombike-lightbelt",
      "category": "Fb Sections",
      "blocks": []
    }
  ],
    "settings": [
        {
            "type": "color",
            "id": "backgroundColor",
            "label": "Background Color"
        },
        {
            "type": "url",
            "id": "backgroundImage",
            "label": "Background Image"
        },
        {
            "type": "richtext",
            "id": "video_introduce_title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "video_introduce_desc",
            "label": "Desc"
        },
        {
            "type": "url",
            "id": "video_url",
            "label": "Video Url"
        },
        {
            "type": "url",
            "id": "mob_video_url",
            "label": "Mobile Video Url"
        }
    ]
  }
{% endschema %}

