<div id="section-{{section.id}}" class="fb-boom-space utils-boom-section js-boombike-delayshow">
    <div class="fb-space-back-fade">
    </div>
    {%- comment -%} <div class="fb-boom-space-content utils-boom-card mshow-pchide" >
        <div class="boom_space_title">
            {{ section.settings.boomspace_introduce_title }}
        </div>
        <div class="boom_space_desc">
            {{  section.settings.boomspace_introduce_desc }}
        </div>
        <div class="boom_space_img">
            <img class="Image--lazyLoad Image--fadeIn"  data-size="auto" data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/5_2x_50925710-6f9d-4724-819b-e7a06f0daa54.png?v=1664344973">
        </div>
    </div> {%- endcomment -%}
    <div class="fb-boom-space-content utils-boom-card" id="boombikeSpaceObserve">
        <div class="fb-boom-space-con ">
            <div class="boom_space_left">
                <div class="boom_space_title">
                    {{ section.settings.boomspace_introduce_title }}
                </div>
                <div class="boom_space_desc">
                    {{  section.settings.boomspace_introduce_desc }}
                </div>
            </div>
            {%- comment -%} <div class="boom_space_right">
                <div class="boom_space_logo">
                    <img  src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/boombikespace.png?v=1666145881" /> 
                </div>
                <div class="boom_space_shadow">
                      <img  src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/boombikeshowd.png?v=1666145881" /> 
                </div>
               <div class="boom_space_cushion">
                    <img  src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/boombikecushion.png?v=1666145881" /> 
               </div>
               <div class="boom_space_length">
                    <img  src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/boombikelength.png?v=1666145881" /> 
               </div>
            </div> {%- endcomment -%}
            <div class="boom_space_right">
                <div class="boom_space_logo">
                    <img  class="boom_space_logo_img" src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/zhanweitu.png?v=1659520780" /> 
                </div>
                <div class="boom_space_cushion">
                    <img  class="boom_space_cushion_img" src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/zhanweitu.png?v=1659520780" /> 
                </div>
                <div class="boom_space_shadow">
                    <img class="boom_space_shadow_img" src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/zhanweitu.png?v=1659520780" /> 
                </div>
                <div class="boom_space_length">
                    <img  class="boom_space_length_img" src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/zhanweitu.png?v=1659520780" /> 
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
"name": "FbBoomSpace",
"presets": [
{
"name": "fb-boom-space",
"category": "Fb Sections",
"blocks": []
}
],
"settings": [
    {
        "type": "richtext",
        "id": "boomspace_introduce_title",
        "label": "Title",
        "default": "<p>Space<br> Saving</p>"
    },
    {
        "type": "richtext",
        "id": "boomspace_introduce_desc",
        "label": "Desc",
        "default":"<p>Maximize workouts while minimizing the footprint. Compact yet powerful cardio, anywhere, anytime.</p>"
    }
]
}
{% endschema %}