{%- assign country_code_var = localization.country.iso_code | downcase -%}
{%- if country_code_var == 'gb' -%}
    {%- assign country_url_add = routes.root_url -%}
{%- elsif country_code_var == 'au' -%}
    {%- assign country_url_add = routes.root_url -%}
{%- else -%}
    {%- assign country_url_add = ''-%}
{%- endif -%}
<div id="section-{{ section.id }}" class="fb-boom-compare">
  <div class="boom_compare_title">
    <span>Which bike is right for you?</span>
  </div>
  <div class="fb-boom-compare-con">
    <div class="boom_compare_content">
      <div class="boom_compare_left">
          {% assign boom_bike_pc = section.settings.boom_bike_pc | img_url: '' %}
          {% assign boom_bike_mobile = section.settings.boom_bike_mobile | img_url: '' %}    
          <img class="Image--lazyLoad Image--fadeIn boom_bike_pc" 
                data-src="{{ boom_bike_pc }}"  
                data-sizes="auto"
                data-optimumx="1.2"
                data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
          >
          <img class="Image--lazyLoad Image--fadeIn boom_bike_mobile" 
                data-src="{{ boom_bike_mobile }}"  
                data-sizes="auto"
                data-optimumx="1.2"
                data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
          >
        <div class="boom_compare_left_bike">
            <img class="Image--lazyLoad Image--fadeIn compact_design_pc" 
              data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/4_1_2x_956deeae-79b0-483f-b24a-806b31f439d5.png?v=1680503021"  
              data-sizes="auto"
              data-optimumx="1.2"
              data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
            >
            <img class="Image--lazyLoad Image--fadeIn compact_design_mobile" 
              data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/4_2_2x_0701bcf7-abd9-44e1-b23a-a7731fb50c90.png?v=1680577815"  
              data-sizes="auto"
              data-optimumx="1.2"
              data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
            >
          <div class="bike_title">Boom Bike</div>
          <div class="bike_desc">Colorful and expressive cardio</div>
        </div>
        <div class="boom_compare_con">
          <div class="boom_compare_left_1">
              <div class="desc">starting at</div>
              <div class="text"
                data-fbcountry-code="{{ country_code_var }}" 
                data-fbtype="sale"
                data-fbid="{{- product.id -}}"
                data-fborigin= "{{- product.selected_or_first_available_variant.price -}}"
              >{% render 'customer-price-control', type:'sale', cpc_product: product %}</div>
              <div class="price_discount"
                data-fbcountry-code="{{ country_code_var }}" 
                data-fbtype="origin"
                data-fbid="{{- product.id -}}"
                data-fborigin= "{{- product.selected_or_first_available_variant.price -}}"    
            >{% render 'customer-price-control', type:'origin', cpc_product: product %}</div>
          </div>
          <div class="boom_compare_left_2">
            <img class="Image--lazyLoad Image--fadeIn" 
              data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/13_2x_b86fc8d9-e86f-4417-b5d4-950d4aad26e8.png?v=1680503926"  
              data-sizes="auto"
              data-optimumx="1.2"
              data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
            >
            <div class="desc">Dynamic Lightstrips</div>
          </div>
          <div class="boom_compare_left_3">
            <img class="Image--lazyLoad Image--fadeIn" 
              data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/24__2x_17547895-3484-4e0d-9c5b-b699bd9ba9bb.png?v=1680505465"  
              data-sizes="auto"
              data-optimumx="1.2"
              data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
            >
            <div class="desc">Gamified Classes</div>
          </div>
          <div class="boom_compare_left_4">
            <div class="text">15.6" HD</div>
            <div class="desc">15.6" HD Rotating Touchscreen</div>
          </div>
          <div class="boom_compare_left_5">
            <img class="Image--lazyLoad Image--fadeIn" 
              data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/13_2x_1.png?v=1680504161"  
              data-sizes="auto"
              data-optimumx="1.2"
              data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
            >
              {%- if country_code_var == 'gb' -%}
                <div class="desc">{{ section.settings.boom_unit_gbdesc }}</div>
              {%- elsif country_code_var == 'au' -%}
                <div class="desc">{{ section.settings.boom_unit_audesc }}</div>
              {%- elsif country_code_var == 'ca' -%}
                <div class="desc">{{ section.settings.boom_unit_cadesc }}</div>
              {%- else -%}
                <div class="desc">{{ section.settings.boom_unit_desc }}</div>
              {%- endif -%}
            {% comment %} <div class="desc">51.5" L x 51.5" H x 24.7" W</div> {% endcomment %}
          </div>
          <div class="boom_compare_left_6">
            <img class="Image--lazyLoad Image--fadeIn" 
              data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/13_2x_2.png?v=1680504267"  
              data-sizes="auto"
              data-optimumx="1.2"
              data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
            >
            <div class="desc">Auto Resistance System</div>
          </div>
          <div class="boom_compare_left_7">
            <img class="Image--lazyLoad Image--fadeIn" 
              data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/Group_14_2x_0eb6d8f2-9512-494c-8397-55ac0cea2b67.png?v=1680504382"  
              data-sizes="auto"
              data-optimumx="1.2"
              data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
            >
            <div class="desc">Smart Saddle Detection+</div>
          </div>
        </div>
      </div>
      <div class="boom_compare_right">
        <img class="Image--lazyLoad Image--fadeIn peloton_bike_pc" 
          data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/pb.png?v=1680501305"  
          data-sizes="auto"
          data-optimumx="1.2"
          data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
        >
        <img class="Image--lazyLoad Image--fadeIn peloton_bike_mobile" 
          data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/pb.png?v=1680501305"  
          data-sizes="auto"
          data-optimumx="1.2"
          data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
        >
        <div class="boom_compare_right_bike">
          <div class="bike_title">Peloton Bike</div>
        </div>
        <div class="boom_compare_con">
            <div class="boom_compare_right_1">
              <div class="desc">starting at</div>
              {%- if country_code_var == 'gb' -%}
                <div class="text">£1,345</div>
                {%- elsif country_code_var == 'au' -%}
                <div class="text">$2,145</div>
                {%- else -%}
                <div class="text">$1,445</div>
              {%- endif -%}
            </div>
            <div class="boom_compare_right_2"></div>
            <div class="boom_compare_right_3"></div>
            <div class="boom_compare_right_4">
              <div class="text">21.5" HD</div>
              <div class="desc">21.5" HD Rotating Touchscreen</div>
            </div>
            <div class="boom_compare_right_5">
              <img class="Image--lazyLoad Image--fadeIn" 
                data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/13_2x_eb551fec-0b3f-4dce-aead-114fbbffb45b.png?v=1680505343"  
                data-sizes="auto"
                data-optimumx="1.2"
                data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
              >
                {%- if country_code_var == 'gb' -%}
                  <div class="desc">{{ section.settings.boom_pelunit_gbdesc }}</div>
                {%- elsif country_code_var == 'au' -%}
                  <div class="desc">{{ section.settings.boom_pelunit_audesc }}</div>
                {%- elsif country_code_var == 'ca' -%}
                  <div class="desc">{{ section.settings.boom_pelunit_cadesc }}</div>
                {%- else -%}
                  <div class="desc">{{ section.settings.boom_pelunit_desc }}</div>
                {%- endif -%}
              {% comment %} <div class="desc">59" L x 53" H x 23" W</div> {% endcomment %}
            </div>
            <div class="boom_compare_right_6">
              <img class="Image--lazyLoad Image--fadeIn" 
                data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/13_2x_1_b655f1a5-e37d-4f4e-8572-9a63b5066bbe.png?v=1680505351"  
                data-sizes="auto"
                data-optimumx="1.2"
                data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
              >
              <div class="desc">
                Magnetic with 
                mechanical adjustment</div>
            </div>
            <div class="boom_compare_right_7"></div>
        </div>
      </div>
    </div>
    <a class="boom_compare_button" href="{{- country_url_add -}}/pages/compare-bikes-peloton-vs-freebeat-bike-which-one-is-better-for-you">
        <span>COMPARE BIKES</span>
      </a>
  </div>
</div>
{% schema %}
  {
    "name": "FbBoomCompare",
    "presets": [
      {
        "name": "fb-boom-compare",
        "category": "Fb Sections",
        "blocks": []
      }
    ],
    "settings": [
        {
          "type": "image_picker",
          "id": "boom_bike_pc",
          "label": "Boom Bike Pc"
        },
        {
          "type": "image_picker",
          "id": "boom_bike_mobile",
          "label": "Boom Bike Mobile"
        },
        {
          "type": "richtext",
          "id": "boom_unit_desc",
          "label": "Unit Desc"
        },
        {
          "type": "richtext",
          "id": "boom_unit_gbdesc",
          "label": "Unit GbDesc"
        },
        {
          "type": "richtext",
          "id": "boom_unit_audesc",
          "label": "Unit AuDesc"
        },
        {
          "type": "richtext",
          "id": "boom_unit_cadesc",
          "label": "Unit CaDesc"
        },
        {
          "type": "richtext",
          "id": "boom_pelunit_desc",
          "label": "PelUnit Desc"
        },
        {
          "type": "richtext",
          "id": "boom_pelunit_gbdesc",
          "label": "PelUnit GbDesc"
        },
        {
          "type": "richtext",
          "id": "boom_pelunit_audesc",
          "label": "PelUnit AuDesc"
        },
        {
          "type": "richtext",
          "id": "boom_pelunit_cadesc",
          "label": "PelUnit CaDesc"
        }
    ]
  }
{% endschema %}
