<div class="fb-boom-incredible js-boombike-delayshow">
    {{section.settings.fb-boom-incredible}}
</div>
<div class="fb-boom-resistance utils-boom-section js-boombike-delayshow" id="section-{{section.id}}">
    <div class="fb-resistance-back-fade">
    </div>
    <div class="fb-boom-resistance-content utils-boom-card" id="boombikeResistanceObserve">
        <div class="boom_resistance_right">
            <div class="boom_resistance_title_black">
                {{section.settings.boom_resistance_title_black}}
            </div>
            <div class="boom_resistance_title_color">
                {{section.settings.boom_resistance_title_color}}
            </div>
            <div class="boom_resistance_desc">
                {{section.settings.boom_resistance_desc}}
            </div>
        </div>
        <div class="boom_resistance_left pcshow-mhide">
            <video 
                class="boom_resistance_video_pc Image--lazyLoad"
                x-webkit-airplay="allow" 
                webkit-playsinline="true" 
                playsinline="true"
                autoplay="autoplay"  
                muted="muted" 
                loop="loop" 
                id="js-boompc-resistance"
                data-src="{{section.settings.boom_resistance_url_pc}}"
                >
            </video>
        </div>
        <div class="boom_resistance_left mshow-pchide">
            <video 
                class="boom_resistance_video_mobile Image--lazyLoad"
                x-webkit-airplay="allow" 
                webkit-playsinline="true" 
                playsinline="true"
                autoplay="autoplay" 
                muted="muted" 
                loop="loop" 
                id="js-boommob-resistance"
                data-src="{{section.settings.boom_resistance_url_mobile}}"
               >
            </video>
        </div>
    </div>
    <div id="progressbar-container">
        <div id="progressbar-container-desc">
            <div>Auto Resistance</div>
            <div id="progress-add">+12</div>
        </div>
        <div id="progressbar"></div>
    </div>
</div>
{% schema %}
{
    "name": "FbBoomResistance",
    "presets": [
        {
        "name": "fb-boom-resistance",
        "category": "Fb Sections",
        "blocks": []
        }
    ],
    "settings": [
        {
            "type":"richtext",
            "id":"fb-boom-incredible",
            "label":"Title Home"
        },{
            "type":"richtext",
            "id":"boom_resistance_title_black",
            "label":"Title Black"
        },{
            "type":"richtext",
            "id":"boom_resistance_title_color",
            "label":"Title Color"
        },{
            "type":"richtext",
            "id":"boom_resistance_desc",
            "label":"Desc"
        },{
            "type":"url",
            "id":"boom_resistance_url_pc",
            "label":"Url Pc"
        },{
            "type":"url",
            "id":"boom_resistance_url_mobile",
            "label":"Url Mobile"
        }
    ]
}
{% endschema %}