{%- assign swiperContent = section.blocks | where: 'type', 'swiperContent' | first -%}
<div
  class="fb-community-swiper utils-timg-content"
  id="section-{{ section.id }}"
>
  <div class="cs-content utils-timg-block utils-timg-block-column">
    <div class="cs-box-left utils-timg-box-space utils-timg-box-p">
      {%- if section.settings['cs-title-1'] -%}
        <div class="cs-title">
          {{ section.settings['cs-title-1'] }}
        </div>
      {%- endif -%}
      {%- if section.settings.cs_box_des1 -%}
        <div class="cs-des">
          {{ section.settings.cs_box_des1 }}
          <!--  -->
        </div>
      {%- endif -%}
      <!-- 一倍图 -->
      <div class="cs-iconWrapper">
        <div class="mini">
          <img
            src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/mini-n1.png?v=1652326274"
            alt="mini logo"
          >
        </div>
        <div class="porsche">
          <img
            src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/porsche-n1.png?v=1652326274"
            alt="porsche logo"
          >
        </div>
        <div class="klarna">
          <img
            src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/klarna-n1.png?v=1652326274"
            alt="klarna logo"
          >
        </div>
        <div class="cure">
          <img
            src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/cure-n1.png?v=1652326274"
            alt="cure logo"
          >
        </div>
        <div class="ctf">
          <img
            src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/ctf-n1.png?v=1652326274"
            alt="ctf logo"
          >
        </div>
      </div>
    </div>
    <div class="cs-box-right utils-timg-box-img">
      <div class="cs-image">
      {% assign imgPiker = section.settings.cs_image | img_url: '1x1' | replace:'_1x1.','_{width}x.' %}
      <img
        class="Image--lazyLoad Image--fadeIn cs-box-right-image"
        data-src="{{ imgPiker }}"
        data-sizes="auto"
        data-optimumx="1.2"
        alt="{{ section.settings.cs_image.alt | escape }}"
        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
      />
      <span class="Image__Loader"></span></div>
      <div class="cs-swiper">
        <div class="swiperContainer">
          <div class="swiper PRswiper">
            <div class="swiper-wrapper">
              {%- for block in section.blocks -%}
                <div class="swiper-slide">
                  <!-- https://www.yahoo.com/lifestyle/launch-freebeat-lit-bike-elevated-154500213.html -->
                  <a
                    href="{{block.settings.swiper_url}}"
                    target="_blank"
                  >
                    <!-- "Lit Bike Elevated At-Home Workouts" -->
                    <div class="text" id="swiperDes">{{ block.settings.swiperDes }}</div>
                    <div class="imgWrapper">
                      {% assign imgPiker = block.settings.swiperImg | img_url: '' %}
                      <img
                        class="swiperImg"
                        src="{{ imgPiker }}"
                        loading="lazy"
                        alt="{{ imgPiker.alt }}"
                      >
                    </div>
                  </a>
                </div>
              {%- endfor -%}
            </div>
            <div class="swiper-scrollbar" id="swiper3-scrollbar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .fb-community-swiper {
    padding-bottom: 150px;
    width: 100%;
  }
  .fb-community-swiper .cs-content {
    align-items: flex-start;
  }
  .cs-box-left {
    padding: 130px 0 253px 15px;
  }
  .cs-title {
    font-size: 36px;
    font-weight: bold;
    color: #1c1b1b;
    line-height: 44px;
  }
  .cs-des {
    font-size: 16px;
    font-weight: 400;
    color: #1c1b1b;
    line-height: 28px;
    padding: 30px 0;
  }
  .cs-iconWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    max-width: 410px;
  }
  .cs-iconWrapper img {
    display: block;
    text-align: center;
  }
  .fb-community-swiper .cs-box-right {
    padding-right: 15px;
  }
  .cs-box-right-image {
    width: 100%;
    height: auto;
  }
  .cs-swiper {
    display: flex;
    width: 100%;
  }
  .swiperContainer {
    position: relative;
    width: 100%;
    padding: 50px 0 0;
  }
  .cs-swiper .swiper {
    position: relative;
    text-align: center;
    height: 200px;
  }
  .cs-swiper .swiper-wrapper {
    height: auto !important;
  }
  .cs-swiper .swiper-slide {
    font-size: 16px;
    font-weight: 400;
    color: #1c1c1b;
    line-height: 32px;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .cs-swiper .swiper-slide a {
    text-decoration: none;
    color: #1c1c1b;
  }
  .cs-swiper .swiper-slide .text {
    padding-bottom: 0px;
  }
  #swiperDes {
    min-height: 65px;
  }
  .imgWrapper {
    min-height: 67.5px;
    position: relative;
  }
  .cs-swiper .swiper-slide .swiperImg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 120px;
    height: auto;
  }
  #swiper3-scrollbar {
    width: 120px;
    height: 2px;
    color: #000;
    align-items: center;
    justify-content: center;
    top: 65%;
    left: 25%;
    bottom: 0px;
    right: 25%;
    margin: auto;
  }
  @media only screen and (min-width: 1441px) {
    .cs-box-left {
      margin-right: 130px;
    }
    .cs-iconWrapper {
      gap: 5px;
      max-width: 546px;
    }
  }
  @media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .cs-box-left {
      width: 48%;
      padding: 130px 0 120px 15px;
    }
    .cs-box-right {
      width: 50%;
    }
    .cs-iconWrapper img {
      width: 100%;
    }
    .mini {
      width: 60px;
    }
    .porsche {
      width: 97px;
    }
    .klarna {
      width: 56px;
    }
    .cure {
      width: 53px;
    }
    .ctf {
      width: 50px;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .fb-community-swiper {
      padding-bottom: 75px;
    }
    .cs-box-left {
      padding: 46px 0 127px 15px;
    }
    .cs-box-left .cs-des {
      padding: 26px 0 35px;
    }
    .iconWrapper {
      width: 250px;
    }
    .cs-title {
      font-size: 28px;
      line-height: 40px;
    }
    .cs-iconWrapper {
      gap: 8px;
      max-width: 350px;
    }
    .cs-iconWrapper img {
      width: 100%;
    }
    .mini {
      width: 60px;
    }
    .porsche {
      width: 97px;
    }
    .klarna {
      width: 56px;
    }
    .cure {
      width: 53px;
    }
    .ctf {
      width: 50px;
    }
  }
  @media only screen and (max-width: 768px) {
    .fb-community-swiper {
      padding-bottom: 74px;
      width: 100%;
    }
    .fb-community-swiper .cs-content {
      align-items: flex-start;
    }
    .cs-box-left {
      padding: 0 11px;
      text-align: center;
    }
    .cs-title {
      font-size: 24px;
      line-height: 30px;
    }
    .cs-des {
      font-size: 15px;
      line-height: 24px;
      padding: 22px 17px;
    }
    .cs-iconWrapper {
      max-width: 388px;
      margin: 0 auto;
    }
    .cs-iconWrapper img {
      width: 100%;
    }
    .mini {
      width: 59px;
    }
    .porsche {
      width: 94px;
    }
    .klarna {
      width: 54px;
    }
    .cure {
      width: 51px;
    }
    .ctf {
      width: 49px;
    }
    .fb-community-swiper .cs-box-right {
      padding: 33px 0 0;
    }
    .cs-box-right-image {
      width: 100%;
      height: auto;
    }
    .cs-swiper .swiperContainer {
      position: relative;
      width: 100%;
      padding: 33px 0 0;
    }
    .cs-swiper .swiper {
      position: relative;
      text-align: center;
      height: 160px;
    }
    .cs-swiper .swiper-slide {
      font-size: 15px;
      line-height: 22px;
    }
    .cs-swiper .swiper-slide .text {
      padding-bottom: 0px;
      padding-top: 15px;
    }
    #swiperDes {
      min-height: 60px;
    }
    .cs-swiper #swiper3-scrollbar {
      width: 60px;
      height: 2px;
      top: 70%;
      color: #000;
      text-align: center;
      justify-content: center;
    }
    .cs-swiper .swiper-slide img {
      width: 100px;
      max-height: 67.5px;
    }
    .cs-swiper .swiper-slide .add-padding {
      padding-bottom: 23px;
    }
  }
</style>
{% schema %}
{
  "name": "FbComunitySwiper",
  "presets": [
    {
      "name": "fb-community-swiper",
      "category": "Fb Sections",
      "blocks": []
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "cs-title-1",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "cs_box_des1",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "cs_image",
      "label": "Right Image"
    }
  ],
  "blocks": [
    {
      "type": "swiperContent",
      "name": "Swiper Content",
      "settings": [
        {
          "type": "url",
          "id": "swiper_url",
          "label": "Swiper URL"
        },
        {
          "type": "image_picker",
          "id": "swiperImg",
          "label": "Swiper Image"
        },
        {
          "type": "text",
          "id": "swiperDes",
          "label": "Swiper Description"
        }
      ]
    }
  ]
}
{% endschema %}
<script>
  //----- 轮播图 PR Start----//
  $(function () {
    var mySwiper = document.querySelector('.PRswiper');
    if (mySwiper) {
      mySwiper = new Swiper('.PRswiper', {
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        //           loop: true,
        observer: true, //修改swiper自己或子元素时，自动初始化swiper
        observeParents: true, //修改swiper的父元素时，自动初始化swiper
        observeSlideChildren: true,
        scrollbar: {
          el: '.swiper-scrollbar',
          //             dragSize: "auto",
        },
      });
      new Swiper('.PRswiper');
    }
    let nav_list = document.getElementsByClassName('nav-list');
    let nav_title = document.getElementsByClassName('nav-title');
    let tw_absolute = document.getElementsByClassName('tw-absolute');
    let arr = [];
    for (let i = 0; i < nav_title.length; i++) {
      nav_title[i].addEventListener('click', (e) => {
        console.log(nav_list[i].children.length);
        if (arr[i]) {
          nav_list[i].style.height = nav_list[i].children.length * 0 + 'px';
          tw_absolute[i].classList.remove('icon_turn');
          arr[i] = false;
        } else {
          nav_list[i].style.height = nav_list[i].children.length * 34 + 'px';
          tw_absolute[i].classList.add('icon_turn');
          arr[i] = true;
        }
      });
    }
  });
  //------轮播图PR End-------//
</script>
