{%- capture header1 -%}
    <thead>
      <tr>
        <th>
          <h5>Bike</h5>
        </th>
        <th>
          <h5>Price</h5>
        </th>
        <th>
          <h5>Colors</h5>
        </th>
        <th>
          <h5>Gamified<br/>Classes</h5>
        </th>
        <th>
          <h5>Auto Resistance<br/>System</h5>
        </th>
        <th>
          <h5>Smart Saddle<br/>Detection+</h5>
        </th>
        <th>
          <h5>Requires<br/>Cycling Shoes</h5>
        </th>
        <th>
          <h5>Bike Size</h5>
        </th>
        <th>
          <h5>Premium<br/>Swiss Design</h5>
        </th>
        <th>
          <h5>180° Rotable<br/>Touch Screen</h5>
        </th>
        <th>
          <h5>Screen Size</h5>
        </th>
        <th>
          <h5>Virtual Workout<br/>Stages</h5>
        </th>
        <th>
          <h5>Performance<br/>Tracking</h5>
        </th>
        <th>
          <h5>Compete<br/>with Friends</h5>
        </th>
      </tr>
    </thead>
{%- endcapture -%}
<div id="section-{{ section.id }}" class="fb-compare-table-container">
  <div class="fb-compare-table-title fb_compare_bike_title">
    {{ section.settings.fb_combike_title }}
  </div>
  <div class="fb_compare_chart">
    <div class="fb_compare_fixed">
      <table>
        <thead>
          <tr>
            <th>
              <h5>Bike</h5>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <h5>FREEBEAT
                <br>LIT BIKE</h5>
            </td>
          </tr>
          <tr>
            <td>
              <h5>NORDICTRACK
                <br>S22I</h5>
            </td>
          </tr>
          <tr>
            <td>
              <h5>PELOTON
                <br>BIKE+</h5>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="fb_compare_scrollable ">
      <table>
        {{ header1 }}
        <tbody>
          <tr>
            <td>FREEBEAT
              <br>LIT BIKE</td>
            <td>{{ section.settings.free_lit_bike_price }}</td>
            <td>
              <div class="fb_compare_color " style="background: #ECD0B5; "></div>
              <div class="fb_compare_color " style="background: #FFFFFF; "></div>
              <div class="fb_compare_color " style="background: #000000; "></div>
              <div class="fb_compare_color " style="background: #E788A1; "></div>
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkcolortrue.svg?v=1669183473 " alt=" ">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkcolortrue.svg?v=1669183473 " alt=" ">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkcolortrue.svg?v=1669183473 " alt=" ">
            </td>
            <td>No</td>
            <td>
              49" L
              <br>59" H
              <br>23" W</td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkcolortrue.svg?v=1669183473" alt="">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkcolortrue.svg?v=1669183473" alt="">
            </td>
            <td>22"</td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkcolortrue.svg?v=1669183473" alt="">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkcolortrue.svg?v=1669183473" alt="">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkcolortrue.svg?v=1669183473" alt="">
            </td>
          </tr>
          <tr>
            <td>NORDICTRACK
              <br>S22i
            </td>
            <td>{{ section.settings.nordictrack_bike_price }}</td>
            <td>
              <div class="fb_compare_color" style="background: #000000;"></div>
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checktrue.svg?v=1669183473" alt="">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="">
            </td>
            <td>No</td>
            <td>61" L
              <br>58" H
              <br>22" W</td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checktrue.svg?v=1669183473" alt="">
            </td>
            <td>22"</td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checktrue.svg?v=1669183473" alt="">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="">
            </td>
          </tr>
          <tr>
            <td>PELOTON
              <br>BIKE+</td>
            <td style="font-size: 14px;">{{ section.settings.peleton_bike_price }}</td>
            <td>
              <div class="fb_compare_color" style="background: #000000;"></div>
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checktrue.svg?v=1669183473" alt="">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="">
            </td>
            <td>Yes</td>
            <td>59" L
              <br>59" H
              <br>22" W</td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checktrue.svg?v=1669183473" alt="">
            </td>
            <td>24"</td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checktrue.svg?v=1669183473" alt="">
            </td>
            <td>
              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/checkclose.svg?v=1669183473" alt="">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "FbCompareTable",
    "presets": [
      {
        "name": "fb-compare-table",
        "category": "Fb Sections",
        "blocks": []
      }
    ],
    "settings": [
      {
        "type": "richtext",
        "id": "fb_combike_title",
        "label": "Compare Bike Title",
        "default": " <p>See Why Lit Bike</p><p>Is Your Obvious Choice</p>"
      },
      {
        "type": "text",
        "id": "free_lit_bike_price",
        "label": "FreeBeat Lit Bike PRICE",
        "default": "$1,799"
      },
      {
        "type": "text",
        "id": "nordictrack_bike_price",
        "label": "NORDICTRACK S22I PRICE",
        "default": "$1,899"
      },
      {
        "type": "text",
        "id": "peleton_bike_price",
        "label": "PELOTON BIKE+ PRICE",
        "default": "$2,700+"
      }, {
        "type": "header",
        "content": "Boom Bike Config"
      }
    ]
  }
{% endschema %}
<style>
   @media only screen and (min-width:769px) {
    .fb-compare-table-container {
      padding-top: 0px;
      padding-bottom: 80px;
    }
  }
  @media only screen and (max-width:768px) {
    .fb-compare-table-container {
      margin-top: -20px;
      padding-top: 0px;
      padding-bottom: 20px;
    }
  }
</style>