<section id="section-{{ section.id }}">
  <div class="fb-class-various">
    <div class="various-title">{{ section.settings.various_title }}</div>
    <div class="various-header-wrapper">
      <div class="various-header-item active" data-type="studio">{{ section.settings.various_studio }}</div>
      <div class="various-header-item" data-type="rhythm">{{ section.settings.various_rhythm }}</div>
      <div class="various-header-item" data-type="scenic">{{ section.settings.various_scenic }}</div>
    </div>
    <div class="various-header-info">
      <div class="various-desc various-studio-info desc-show">{{ section.settings.various_studio_info }}</div>
      <div class="various-desc various-rhythm-info desc-hide">{{ section.settings.various_rhythm_info }}</div>
      <div class="various-desc various-scenic-info desc-hide">{{ section.settings.various_scenic_info }}</div>
    </div>
    <div class="various-content">
      {%- for block in section.blocks -%}
        {%- if block.type == 'studio_list' -%}
          <div class="various-video-item  various-video-studio video-show">
            <video 
              id="video-play-pause{{ forloop.index }}"
              class="Image--lazyLoad various-video-pc" 
              x-webkit-airplay="allow"
              webkit-playsinline="true" 
              playsinline="true"
              muted="muted" 
              loop="loop"
              data-src="{{ block.settings.various_studio_video }}">
            </video>
            <div class="various-video-image" data-index="{{ forloop.index }}">
              {%- assign various-studio = block.settings.various_studio_img | img_url: '' -%}
              <img class="Image--lazyLoad Image--fadeIn" data-src="{{ various-studio }}" />
            </div>
            <div class="various-open-pause">
              {% assign open_icon = section.settings.various_open_icon |  img_url: '' %}
              {% assign pause_icon = section.settings.various_pause_icon |  img_url: '' %}
              <img class="Image--lazyLoad Image--fadeIn various_open_icon" data-index="{{ forloop.index }}" data-src="{{ open_icon }}" />
              <img class="Image--lazyLoad Image--fadeIn various_pause_icon" data-index="{{ forloop.index }}" data-src="{{ pause_icon }}" />
            </div>
          </div>
        {%- elsif block.type == 'rhythm_list' -%}
          <div class="various-video-item various-video-rhythm video-hide">
            <video
              id="video-play-pause{{ forloop.index }}"
              class="Image--lazyLoad various-video-pc" 
              webkit-playsinline="true" 
              playsinline="true"
              muted="muted" 
              loop="loop"
              data-src="{{ block.settings.various_rhythm_video }}">
            </video>
            <div class="various-video-image" data-index="{{ forloop.index }}">
              {%- assign various-rhythm = block.settings.various_rhythm_img | img_url: '' -%}
              <img class="Image--lazyLoad Image--fadeIn" data-src="{{ various-rhythm }}" />
            </div>
            <div class="various-open-pause">
              {% assign open_icon = section.settings.various_open_icon |  img_url: '' %}
              {% assign pause_icon = section.settings.various_pause_icon |  img_url: '' %}
              <img class="Image--lazyLoad Image--fadeIn various_open_icon" data-index="{{ forloop.index }}" data-src="{{ open_icon }}" />
              <img class="Image--lazyLoad Image--fadeIn various_pause_icon" data-index="{{ forloop.index }}" data-src="{{ pause_icon }}" />
            </div>
          </div>
        {%- elsif block.type == 'scenic_list'-%}
          <div class="various-video-item various-video-scenic video-hide">
            <video
              id="video-play-pause{{ forloop.index }}"
              class="Image--lazyLoad various-video-pc" 
              x-webkit-airplay="allow"
              webkit-playsinline="true" 
              playsinline="true"
              muted="muted" 
              loop="loop"
              data-src="{{ block.settings.various_scenic_video }}">
            </video>
            <div class="various-video-image" data-index="{{ forloop.index }}">
              {%- assign various-scenic = block.settings.various_scenic_img | img_url: '' -%}
              <img class="Image--lazyLoad Image--fadeIn" data-src="{{ various-scenic }}" />
            </div>
            <div class="various-open-pause">
              {% assign open_icon = section.settings.various_open_icon |  img_url: '' %}
              {% assign pause_icon = section.settings.various_pause_icon |  img_url: '' %}
              <img class="Image--lazyLoad Image--fadeIn various_open_icon" data-index="{{ forloop.index }}" data-src="{{ open_icon }}" />
              <img class="Image--lazyLoad Image--fadeIn various_pause_icon" data-index="{{ forloop.index }}" data-src="{{ pause_icon }}" />
            </div>
          </div>
        {%- endif -%}
      {%- endfor -%}
      <div class="show-padding"></div>
    </div>
    <div class="various-btn"><a href="{{ section.settings.various_link }}">{{ section.settings.various_link_title }}</a></div>
  </div>
</section>

<script>
  $(function(){
    let isMobile = window.screen.width < 768;
    $('.various-header-wrapper .various-header-item').click(function(){
      let type = $(this).attr('data-type')
      if(type=='studio'){
        $('.various-studio-info').addClass('desc-show')
        $('.various-studio-info').removeClass('desc-hide')
        $('.various-studio-info').siblings().removeClass('desc-show')
        $('.various-studio-info').siblings().addClass('desc-hide')
        $('.various-video-studio').addClass('video-show')
        $('.various-video-studio').removeClass('video-hide')
        $('.various-video-scenic').addClass('video-hide')
        $('.various-video-scenic').removeClass('video-show')
        $('.various-video-rhythm').addClass('video-hide')
        $('.various-video-rhythm').removeClass('video-show')
        if(isMobile){
          $('.various-video-item').css('marginRight','15px')
          $('.various-content').css('overflow','auto')
          $('.various-content').css('paddingLeft','15px')
          $('.show-padding').css('display','block')
        }
      }else if(type=='rhythm'){
        $('.various-rhythm-info').addClass('desc-show')
        $('.various-rhythm-info').removeClass('desc-hide')
        $('.various-rhythm-info').siblings().removeClass('desc-show')
        $('.various-rhythm-info').siblings().addClass('desc-hide')
        $('.various-video-rhythm').addClass('video-show')
        $('.various-video-rhythm').removeClass('video-hide')
        $('.various-video-studio').addClass('video-hide')
        $('.various-video-studio').removeClass('video-show')
        $('.various-video-scenic').addClass('video-hide')
        $('.various-video-scenic').removeClass('video-show')
        if(isMobile){
          $('.various-video-item').css('margin','0 auto')
          $('.various-content').css('paddingLeft','0px')
          $('.various-content').css('overflow','visible')
          $('.show-padding').css('display','none')
        }   
      }else if(type=='scenic'){
        $('.various-scenic-info').addClass('desc-show')
        $('.various-scenic-info').removeClass('desc-hide')
        $('.various-scenic-info').siblings().removeClass('desc-show')
        $('.various-scenic-info').siblings().addClass('desc-hide')
        $('.various-video-scenic').addClass('video-show')
        $('.various-video-scenic').removeClass('video-hide')
        $('.various-video-studio').addClass('video-hide')
        $('.various-video-studio').removeClass('video-show')
        $('.various-video-rhythm').addClass('video-hide')
        $('.various-video-rhythm').removeClass('video-show')
        if(isMobile){
          $('.various-video-item').css('marginRight','15px')
          $('.various-content').css('overflow','auto')
          $('.various-content').css('paddingLeft','15px') 
          $('.show-padding').css('display','block')
        }
      }
      $(this).addClass('active')
      $(this).siblings().removeClass('active')
    })
    $('.various_open_icon').click(function(){
      let currentIndex = $(this).attr('data-index')
      $(this).css('display','none')
      $(this).siblings().css('display','block')
      let currentOpenVideo = document.getElementById(`video-play-pause${currentIndex}`)
      currentOpenVideo.pause()
    })
    $('.various_pause_icon').click(function(){
      $(this).parent().siblings('.various-video-image').css('opacity','0')
      let currentIndex = $(this).attr('data-index')
      $(this).css('display','none')
      $(this).siblings().css('display','block')
      $(this).parent().parent().siblings().find('.various_open_icon').css('display','none')
      $(this).parent().parent().siblings().find('.various_pause_icon').css('display','block')
      {% comment %} let currentOpenVideo = document.getElementById(`video-play-pause${currentIndex}`)
      currentOpenVideo.play() {% endcomment %}
      let playVariousVideo = document.getElementsByClassName('various-video-pc')
      for(let i = 0; i<playVariousVideo.length;i++){
        let currentOpenVideo = document.getElementById(`video-play-pause${i+1}`)
        if(i + 1  == currentIndex){
          currentOpenVideo.play()
        }else{
          currentOpenVideo.pause()
        }
      }
    })
    $('.various-video-image').click(function(){
      $(this).css('opacity','0')
      let currentIndex = $(this).attr('data-index')
      let playVariousVideoImg = document.getElementsByClassName('various-video-pc')
      for(let i = 0; i<playVariousVideoImg.length;i++){
        let variousOpenVideo = document.getElementById(`video-play-pause${i+1}`)
        if(i + 1  == currentIndex){
          if(!variousOpenVideo.paused){
            variousOpenVideo.pause()
            $(this).siblings().find('.various_pause_icon').css('display','block')
            $(this).siblings().find('.various_open_icon').css('display','none')
          }else{
            variousOpenVideo.play()
            $(this).siblings().find('.various_pause_icon').css('display','none')
            $(this).siblings().find('.various_open_icon').css('display','block')
          }
        }else{
          variousOpenVideo.pause()
          $(this).parent().siblings().find('.various_open_icon').css('display','none')
          $(this).parent().siblings().find('.various_pause_icon').css('display','block')
        }
      }
      {% comment %} let currentOpenVideo = document.getElementById(`video-play-pause${currentIndex}`)
      if(!currentOpenVideo.paused){
        currentOpenVideo.pause()
        $(this).siblings().find('.various_pause_icon').css('display','block')
        $(this).siblings().find('.various_open_icon').css('display','none')
      }else{
        currentOpenVideo.play()
        $(this).siblings().find('.various_pause_icon').css('display','none')
        $(this).siblings().find('.various_open_icon').css('display','block')
      } {% endcomment %}
      
    })
  })
</script>
<style>
  .show-padding{
    display:none;
  }
  .fb-class-various{
    width: 100%;
    height: 1051px;
    background: #000000;
  }
  .various-title{
    padding-top:100px;
    font-size: 36px;
    font-family: Montserrat-Bold, Montserrat;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 36px;
    text-align:center;
  }
  .various-header-wrapper{
    width:100%;
    border-bottom:1px solid rgba(255,255,255,0.3);
    display:flex;
    justify-content:center;
    margin-top:60px; 
  }
  .various-header-item{
    width:400px;
    height: 44px;
    font-size: 24px;
    font-family: Montserrat-Medium, Montserrat;
    font-weight: 500;
    color: #B9B9B9;
    line-height: 24px;
    text-align:center;
    color:rgba(255,255,255,0.4);
    cursor:pointer;
  }
  .various-header-wrapper .active{
    color:#FFFFFF;
    border-bottom:1px solid #FFFFFF;
    font-weight: bold;
  }
  .various-header-info{
    margin-top:50px;
  }
  .various-header-info .various-desc{
    font-size: 16px;
    font-family: Montserrat-Regular, Montserrat;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 16px;
    text-align:center;
  }
  .desc-show{
    display:block;
  }
  .desc-hide{
    display:none;
  }
  .various-content{
    width:1200px;
    height:484px;
    margin:0 auto;
    display:flex;
    margin-top:50px;
    flex-wrap:wrap;
    justify-content:space-between;
  }
  .various-video-item{
    width:386px;
    height:230px;
    margin-bottom:24px;
    border-radius:8px;
    position:relative;
    flex-shrink:0;
    {% comment %} margin-right:14px; {% endcomment %}
    {% comment %} margin-right:20px; {% endcomment %}
  }
  .various-video-item video{
    width:100%;
    height:100%;
    object-fit: fill;
    position:relative;
  }
  .various-video-image img{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    border-radius:8px;
    cursor:pointer;
  }
  .various-open-pause{
    width:36px;
    height:36px;
    position:absolute;
    left:20px;
    bottom:20px;
  }
  .various-open-pause img{
    width:100%;
    height:100%;
  }
  .various_open_icon{
    display:none;
  }
  .various-video-pc{
    width:386px;
    border-radius:8px;
    cursor:pointer;
  }
  .video-show{
    display:block;
  }
  .video-hide{
    display:none;
  }
  .various-btn{
    width: 440px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 6px;
    margin:0 auto;
    margin-top:60px;
    font-size: 14px;
    font-family: Montserrat-Bold, Montserrat;
    font-weight: bold;
    color: #000000;
    text-align:center;
    line-height: 48px;
  }
  {% comment %} RhyThm特殊样式 {% endcomment %}
  .various-video-rhythm{
    width:820px;
    height:488px;
    margin:0 auto;
  }
  .various-video-rhythm video{
    width:100%;
    height:100%;
    object-fit:cover;
    {% comment %} object-fit:fill; {% endcomment %}
  }
  @media screen and (max-width: 768px){
    .show-padding{
      display:block;
      padding-left:15px;
    }
    ::-webkit-scrollbar {
      display: none; 
    }
    .fb-class-various{
      width: 100%;
      height: 100%;
      background: #000000;
      padding-bottom:56px;
    }
    .various-title{
      padding-top:48px;
      width:295px;
      margin:0 auto;
      font-size: 28px;
      font-family: Montserrat-Bold, Montserrat;
      font-weight: bold;
      color: #FFFFFF;
      line-height: 32px;
      text-align:center;
    }
    .various-header-wrapper{
      position: relative;
      width:100%;
      border-bottom:1px solid rgba(255,255,255,0.3);
      margin-top:48px;
      display:flex;
      justify-content:start;
      overflow-x:auto;
    }
    .various-header-item{
      min-width:156px;
      height: 37px;
      font-size: 18px;
      font-family: Montserrat-Medium, Montserrat;
      font-weight: 500;
      line-height: 18px;
      text-align:center;
      color:rgba(255,255,255,0.4);
      cursor:pointer;
      margin-left:15px;
    }
     .various-header-wrapper .active{
      color:#FFFFFF;
      border-bottom:2px solid #FFFFFF;
      font-weight: bold;
    }
    .various-header-info{
      margin-top:30px;
    }
    .various-header-info .various-desc{
      width:345px;
      font-size: 14px;
      font-family: Montserrat-Regular, Montserrat;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 20px;
      text-align:left;
      margin-left:15px;
      {% comment %} text-align:center;
      margin:0 auto; {% endcomment %}
    }
    .desc-show{
      display:block;
    }
    .desc-hide{
      display:none;
    }
    .various-content{
      margin-top:30px;
      width:100%;
      height:200px;
      display:flex;
      flex-wrap:nowrap;
      padding-left:15px;
      overflow:auto;
    }
    .various-video-item{
      {% comment %} width:345px;
      height:207px; {% endcomment %}
      width:310px;
      height:186px;
      margin-bottom:0px;
      border-radius:8px;
      flex-shrink:0;
      margin:0 auto;
      margin-right:15px;
    }
    .various-video-item video{
      {% comment %} width:345px;
      height:207px; {% endcomment %}
      width:310px;
      height:186px;
      object-fit: cover;
      border-radius:8px;
      position:relative;
    }
    .various-video-image img{
      width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:0;
      border-radius:8px;
      cursor:pointer;
    }
    .various-btn{
      width: 345px;
      height: 48px;
      background: #FFFFFF;
      border-radius: 6px;
      margin:0 auto;
      margin-top:16px;
      font-size: 14px;
      font-family: Montserrat-Bold, Montserrat;
      font-weight: bold;
      color: #000000;
      text-align:center;
      line-height: 48px;
    }
    {% comment %} .various-video-rhythm{
      width:310px;
      height:186px;
      margin:0 auto;
    }
    .various-video-rhythm video{
      width:100%;
      height:100%;
      object-fit:fill;
    } {% endcomment %}
  }
</style>
{% schema %}
  {
    "name": "FbClassesVarious",
    "presets": [
      {
        "name": "fb-classes-various",
        "category": "Fb Sections",
        "blocks": []
      }
    ],
    "settings":[
      {
        "type": "text",
        "id": "various_title",
        "label": "various Title"
      },
      {
        "type": "text",
        "id": "various_studio",
        "label": "various Studio"
      },
      {
        "type": "richtext",
        "id": "various_studio_info",
        "label": "various Studio Info"
      },
      {
        "type": "text",
        "id": "various_rhythm",
        "label": "various Rhythm"
      },
      {
        "type": "text",
        "id": "various_rhythm_info",
        "label": "various Rhythm Info"
      },
      {
        "type": "text",
        "id": "various_scenic",
        "label": "various Scenic"
      },
      {
        "type": "text",
        "id": "various_scenic_info",
        "label": "various Scenic Info"
      },
      {
        "type": "image_picker",
        "id": "various_open_icon",
        "label": "Various Open"
      },
      {
        "type": "image_picker",
        "id": "various_pause_icon",
        "label": "Various Pause"
      },
      {
        "type": "text",
        "id": "various_link_title",
        "label": "various Link Title"
      },
      {
        "type": "url",
        "id": "various_link",
        "label": "various Link"
      }
    ],
    "blocks":[
      {
        "type": "studio_list",
        "name": "studio list",
        "settings":[
          {
            "type": "url",
            "id": "various_studio_video",
            "label": "various Studio Video"
          },
          {
            "type": "url",
            "id": "various_studio_video_mob",
            "label": "various Studio Video Mob"
          },
          {
            "type": "image_picker",
            "id": "various_studio_img",
            "label": "Various Video Img"
          }
        ]
      },
      {
        "type": "rhythm_list",
        "name": "rhythm list",
        "settings":[
          {
            "type": "url",
            "id": "various_rhythm_video",
            "label": "various Rhythm Video"
          },
          {
            "type": "url",
            "id": "various_rhythm_video_mob",
            "label": "various Rhythm Video Mob"
          },
          {
            "type": "image_picker",
            "id": "various_rhythm_img",
            "label": "Various Video Img"
          }
        ]
      },
      {
        "type": "scenic_list",
        "name": "scenic list",
        "settings":[
          {
            "type": "url",
            "id": "various_scenic_video",
            "label": "various Scenic Video"
          },
          {
            "type": "url",
            "id": "various_scenic_video_mob",
            "label": "various Scenic Video Mob"
          },
          {
            "type": "image_picker",
            "id": "various_scenic_img",
            "label": "Various Video Img"
          }
        ]
      }
    ]
  }
{% endschema %}