<section id="section-{{ section.id }}">
  <div class="fb-class-ready">
    <div class="fb-classes-video">
      <video class="Image--lazyLoad classes-js-videoAutoPlayer fb-classes-pcshow" 
        x-webkit-airplay="allow" 
        webkit-playsinline="true" 
        playsinline="true" 
        autoplay="autoplay" 
        muted="muted" 
        loop="loop" 
        data-src="{{ section.settings.fb_video_url }}"
        alt="{{ section.settings.fb_video_url.alt | escape }}"
      >     
      </video>
      <video class="Image--lazyLoad classes-js-videoAutoPlayer fb-classes-mobshow" 
        x-webkit-airplay="allow" 
        webkit-playsinline="true" 
        playsinline="true" 
        autoplay="autoplay" 
        muted="muted" 
        loop="loop" 
        data-src="{{ section.settings.fb_video_url_mob }}"
        alt="{{ section.settings.fb_video_url_mob.alt | escape }}"
      >     
      </video>
    </div>
    <div class="classes-video-text">
      <div class="fb-class-title">{{ section.settings.fb_ready_title }}</div>
      <div class="fb-class-button">
        <a href="{{ section.settings.fb_ready_link }}">{{ section.settings.fb_ready_desc }}</a>
      </div>
    </div>
 
  </div>
</section>
<style>
  .fb-class-ready{
    width: 100%;
    height: 880px;
    background: #000000;
    position:relative;
  }
  .fb-classes-video{
    width:100%;
    height:100%;
  }
  .classes-js-videoAutoPlayer{
    width:100%;
    height: 880px;
    object-fit: cover;
  }
  .fb-classes-mobshow{
    display:none;
  }
  .classes-video-text{
    width:100%;
    position:absolute;
    top:0;
    left:0;
  }
  .fb-class-title{
    width:880px;
    margin: 0 auto;
    font-size: 36px;
    font-family: Montserrat-Bold, Montserrat;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 36px;
    text-align:center;
    margin-top:100px;
    
  }
  .fb-class-button{
    width: 440px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 6px;
    font-size: 14px;
    font-family: Montserrat-Bold, Montserrat;
    font-weight: bold;
    color: #000000;
    line-height: 14px;
    text-align:center;
    margin:0 auto;
    line-height:48px;
    margin-top:572px;
    {% comment %} margin-top:616px; {% endcomment %}
  }
  @media screen and (max-width: 768px){
    .fb-class-ready{
      width: 100%;
      height: 620px;
      background: #000000;
      position:relative;
    }
    .fb-classes-video{
      width:100%;
      height:100%;
    }
    .classes-js-videoAutoPlayer{
      width:100%;
      height:100%;
      {% comment %} object-fit: fill; {% endcomment %}
    }
    .fb-classes-pcshow{
      display:none;
    }
    .fb-classes-mobshow{
      display:block;
      width: 100%;
      height: 620px;
      object-fit: cover;
    }
    .classes-video-text{
      width:100%;
      position:absolute;
      top:0;
      left:0;
    }
    .fb-class-title{
      width: 315px;
      font-size: 28px;
      font-family: Montserrat-Bold, Montserrat;
      font-weight: bold;
      color: #FFFFFF;
      line-height: 32px;
      text-align:center;
      margin:0 auto;
      margin-top:60px;
    }
    .fb-class-button{
      width: 345px;
      height: 48px;
      background: #FFFFFF;
      border-radius: 6px;
      font-size: 14px;
      font-family: Montserrat-Bold, Montserrat;
      font-weight: bold;
      color: #000000;
      line-height: 14px;
      text-align:center;
      margin:0 auto;
      line-height:48px;
      margin-top:324px;
      {% comment %} margin-top:410px; {% endcomment %}
    }
  }
</style>
{% schema %}
  {
    "name": "FbClassesReady",
    "presets": [
      {
        "name": "fb-classes-ready",
        "category": "Fb Sections",
        "blocks": []
      }
    ],
    "settings": [
      {
        "type": "url",
        "id": "fb_video_url",
        "label": "Video Url"
      },
      {
        "type": "url",
        "id": "fb_video_url_mob",
        "label": "Video Url Mob"
      },
      {
        "type": "richtext",
        "id": "fb_ready_title",
        "label": "Ready title"
      }, 
      {
        "type": "richtext",
        "id": "fb_ready_desc",
        "label": "Ready desc"
      },
      {
        "type":"url",
        "id":"fb_ready_link",
        "label":"Link"
      }
    ]
  }
{% endschema %}