<div id="section-{{ section.id }}" class="fb-download-container">
  <div class="download-left">
    <div class="menuTitle">{{ section.settings.download-title }}</div>
    <div class="swiper left-download-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <!-- pc -->
          <div class="soft-left-box">
            <div class="soft-left-bottom">
              <div class="download-progress-bg"></div>
              <ul>
                {%- for block in section.blocks -%}
                  <li class="left-download-li">
                    <div class="left-download-progress"></div>
                    <div class="left-download-title">
                      <h3>{{ block.settings.download_progress_title }}</h3>
                    </div>
                    <div class="left-download-info">
                      {{ block.settings.download_progress_Info }}
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <!-- mb -->
          <div class="mb-download">
            <div class="mbDoLoad">
              <div class="download-img swiper-wrapper">
                {%- for block in section.blocks -%}
                  {% assign downloadImgPiker = block.settings.download_progress_mobile_image | img_url: '1x1' | replace: '_1x1.','_{width}x.' %}
                  <div class="download-bg-box swiper-slide">
                    <img class="Image--lazyLoad Image--fadeIn fixed-bg"
                      data-src="{{ downloadImgPiker }}" data-sizes="auto" data-optimumx="1.2"
                      data-widths="[1000, 1200, 1400, 1600, 1800, 2000, 2200]">
                  </div>
                {% endfor %}
              </div>
            </div>
             
            <!-- mb -->
            <div class="download-mb-left-box">
              <div class="fbdownloadSwiper">
                <div class="fb_download_mb_scroll swiper-wrapper">
                  {%- for block in section.blocks -%}
                    <div class="swiper-slide fb-mb-download-item">
                      <div class="fb-mb-download-title">
                        {{ block.settings.download_progress_title }}
                      </div>
                      <div class="fb-mb-download-info">
                        {{ block.settings.download_progress_Info }}
                      </div>
                    </div>
                  {%- endfor -%}
                </div>
                <div class="swiper-scrollbar mb-download-swiper-scrollbar">
                  <div class="swiper-scrollbar-drag"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="download-left-bottom-icon">
      {% comment %} {% assign downloadStorePiker = section.settings.download-store-app | img_url: '1x1' | replace: '_1x1.','_{width}x.' %}
      {% assign downloadGooglePiker = section.settings.download-google-play | img_url: '1x1' | replace: '_1x1.','_{width}x.' %}
      {% assign downloadMobStorePiker = section.settings.download-mob-store-app | img_url: '1x1' | replace: '_1x1.','_{width}x.' %}
      {% assign downloadMobGooglePiker = section.settings.download-mob-google-play | img_url: '1x1' | replace: '_1x1.','_{width}x.' %} {% endcomment %}
      {% assign downloadStorePiker = section.settings.download-store-app | img_url: '' %}
      {% assign downloadGooglePiker = section.settings.download-google-play | img_url: '' %}
      {% assign downloadMobStorePiker = section.settings.download-mob-store-app | img_url: '' %}
      {% assign downloadMobGooglePiker = section.settings.download-mob-google-play | img_url: '' %}
      <a href="{{ section.settings.download-store-app-link }}" class="download-pc-icon">
        <img class="Image--lazyLoad Image--fadeIn" data-src="{{ downloadStorePiker }}" data-sizes="auto">
      </a>
      <a href="{{ section.settings.download-google-play-link }}" class="download-pc-icon">
        <img class="Image--lazyLoad Image--fadeIn" data-src="{{ downloadGooglePiker }}" data-sizes="auto">
      </a>
      <a href="{{ section.settings.download-store-app-link }}" class="download-mob-icon">
        <img class="Image--lazyLoad Image--fadeIn" data-src="{{ downloadMobStorePiker }}" data-sizes="auto">
      </a>
      <a href="{{ section.settings.download-google-play-link }}" class="download-mob-icon">
        <img class="Image--lazyLoad Image--fadeIn" data-src="{{ downloadMobGooglePiker }}" data-sizes="auto">
      </a>
      {% comment %} <a href="{{ section.settings.download-store-app-link }}">
        <img class="Image--lazyLoad Image--fadeIn download-pc-icon" data-src="{{ downloadStorePiker }}" data-sizes="auto"
          data-optimumx="1.2" data-widths="[1000, 1200, 1400, 1600, 1800, 2000, 2200]">
      </a>
      <a href="{{ section.settings.download-google-play-link }}">
        <img class="Image--lazyLoad Image--fadeIn download-pc-icon" data-src="{{ downloadGooglePiker }}" data-sizes="auto"
          data-optimumx="1.2" data-widths="[1000, 1200, 1400, 1600, 1800, 2000, 2200]">
      </a>
      <a href="{{ section.settings.download-store-app-link }}">
        <img class="Image--lazyLoad Image--fadeIn download-mob-icon" data-src="{{ downloadMobStorePiker }}" data-sizes="auto"
          data-optimumx="1.2" data-widths="[1000, 1200, 1400, 1600, 1800, 2000, 2200]">
      </a>
      <a href="{{ section.settings.download-google-play-link }}">
        <img class="Image--lazyLoad Image--fadeIn download-mob-icon" data-src="{{ downloadMobGooglePiker }}" data-sizes="auto"
          data-optimumx="1.2" data-widths="[1000, 1200, 1400, 1600, 1800, 2000, 2200]">
      </a> {% endcomment %}
    </div>
  </div>
  <div class="download-right">
    {%- for block in section.blocks -%}
    {% assign downloadImgPiker = block.settings.download_progress_pc_image | img_url: ''  %}
    <div class="download-right-img">
      <img class="Image--lazyLoad Image--fadeIn download-bg-img" data-src="{{ downloadImgPiker }}"
        data-sizes="auto"
      />
    </div>
    {% endfor %}
  </div>
</div>
<style>
  .download-pc-icon{
    display:block;
  }
  .download-mob-icon{
    display:none;
  }
  .fb-download-container {
    width: 100%;
    position: relative;
    height: 720px;
    background: {{ section.settings.download_bg_background }};
    min-width: 1200px;
    display:flex;
    align-items:center;
    overflow-x:auto;
  }
    @media only screen and (min-width: 769px) and (max-width: 1219px) { 
    #shopify-section-{{ section.id }} {
        overflow-x: auto;
        overflow-y: hidden;
    }
  }
  .fb-download-container .u-change {
    display: none;
  }


  .fb-download-container .download-left {
    width: 460px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: calc(calc(100% - 1200px)/2);
  }

  .fb-download-container .menuTitle {
    font-size: 48px;
    font-family: Montserrat-ExtraBold, Montserrat;
    font-weight: 800;
    color: #121212;
    line-height: 48px;
    margin: 80px 0 20px 0;
    margin-top:0px;
  }


  .fb-download-container .download-right {
    display: block;
    width: 55%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .download-right .download-right-img {
    width:100%;
    {% comment %} height: 720px; {% endcomment %}
    {% comment %} height:100%; {% endcomment %}
    background: transparent !important;
    background:pink;
  }
  {% comment %} .download-bg-img{
    width:100%;
    height:auto;
  } {% endcomment %}
  .fb-download-container .download-bg-img {
    position: absolute;
    top: 0;
    width: auto;
    height: 100%;
    {% comment %} height: 100%; {% endcomment %}
    {% comment %} object-fit: contain; {% endcomment %}
    {% comment %} object-fit: fill; {% endcomment %}
    object-fit: cover;
    object-position: left;
  }

  .fb-download-tab {
    width: 338px;
    height: 54px;
    background: rgba(255, 255, 255, .8);
    border-radius: 36px 36px 36px 36px;
    margin-left: 0;
    padding: 5px;
    cursor: pointer;
  }

  .fb-download-tab .swiper-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .discover-tab-box {
    width: 160px;
    height: 44px;
    background: transparent;
    border-radius: 27px;
    font-size: 16px;
    font-family: Montserrat-SemiBold, Montserrat;
    font-weight: 600;
    color: #121212;
    line-height: 44px;
    text-align: center;
    margin-right: 0 !important;
    text-transform: uppercase;
  }

  .fb-download-tab .swiper-slide-thumb-active {
    background: #121212;
    color: #FFFFFF;
  }

  .left-download-container {
    position: relative;
    width: 100%;
    margin-top: 65px;
  }

  .left-download-container .soft-left-box {
    width: 460px;
    -webkit-box-align: center;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    position: relative;
    text-align: left;
  }

  .left-download-container .soft-left-bottom>ul {}

  .left-download-container .soft-left-bottom li {
    list-style: none;
    padding-left: 56px;
    position: relative;
    cursor: pointer;
  }

  .left-download-container .left-download-title {
    font-size: 16px;
    font-family: Montserrat-Bold, Montserrat;
    font-weight: bold;
    color: #121212;
    line-height: 16px;
    transition: color 250ms ease 0s;
    opacity: .5;
  }

  .left-download-container .left-download-info {
    font-size: 14px;
    font-family: Montserrat-Medium, Montserrat;
    font-weight: 500;
    color: rgba(18, 18, 18, .8);
    line-height: 20px;
    opacity: 0;
    transition: all .7s;
    height: 0;
    overflow: hidden;
  }

  .left-download-container .left-download-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    background-color: rgba(18, 18, 18, 1);
    border-radius: 18px;
    height: 20%;
    opacity: 0;
  }

  .left-download-container .soft-left-bottom li:first-child .left-download-info {
    opacity: 1;
    height: 102px;
  }

  .left-download-container .soft-left-bottom li:first-child .left-download-title {
    opacity: 1;
  }

  .left-download-container .soft-left-bottom li:first-child .left-download-progress {
    opacity: 1;
    {% comment %} height:100px; {% endcomment %}
  }

  .download-left-bottom-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 40px;
  }

  .download-progress-bg {
    position: absolute;
    content: '';
    height: 100%;
    top: 0;
    left: 0;
    width: 4px;
    background-color: rgba(18, 18, 18, .2);
    {% comment %} height:300px; {% endcomment %}
  }
  .download-left-bottom-icon a:first-child {
    width: 144px;
    height: 48px;
    margin-right: 30px;
  }

  .download-left-bottom-icon a:nth-child(2) {
    width: 162px;
    height: 48px;
  }
  .download-left-bottom-icon img{
    width:100%;
    height:100%;
  }
  {% comment %} .download-left-bottom-icon img:first-child {
    width: 144px;
    height: 48px;
    margin-right: 30px;
  }

  .download-left-bottom-icon img:nth-child(2) {
    width: 162px;
    height: 48px;
  } {% endcomment %}
  {% comment %} .download-left-bottom-icon img:last-child {
    width: 162px;
    height: 48px;
  }  {% endcomment %}

  .mb-download {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .download-pc-icon{
      display:none;
    }
    .download-mob-icon{
      display:block;
    }
    .mb-download-swiper-scrollbar{
      width:92%!important;
    }
    .fb-download-container .download-right {
      display: none;
    }

    .fb-download-container {
      height: 920px;
      min-width: 100%
    }
    .fb-download-container .u-change {
      display: block;
      position: absolute;
      left: calc(calc(100% - 20px) / 2);
      top: 12px;
      width: 20px;
      height: 20px;
    }
    .fb-download-container .download-left {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: normal;
      margin-left: 0;
    }

    .fb-download-container .menuTitle {
      font-size: 30px;
      font-family: Montserrat-ExtraBold, Montserrat;
      font-weight: 800;
      color: #121212;
      line-height: 36px;
      margin: 60px 0 20px 0;
      width: 100%;
      text-align: center;
    }

    .fb-download-tab {
      width: 327px;
      height: 48px;
      margin-left: auto;
      padding: 4px;
    }

    .fb-download-tab .swiper-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .fb-download-tab .swiper-slide-thumb-active {
      background: #121212;
      color: #FFFFFF;
    }

    .discover-tab-box {
      width: 135px!important;
      height: 40px;
      background: transparent;
      border-radius: 27px;
      font-size: 14px;
      font-family: Montserrat-SemiBold, Montserrat;
      font-weight: 600;
      color: rgba(18, 18, 18, .5);
      line-height: 14px;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
    }

    .left-download-container {
      position: relative;
      width: 100%;
      margin-top: 40px;
    }

    .left-download-container .soft-left-box {
      display: none;
    }

    {% comment %} .download-left-bottom-icon img:first-child {
      width: 132px;
      height: 44px;
      margin-right: 24px;
    } {% endcomment %}
    {% comment %} .download-left-bottom-icon img:nth-child(3) {
      width: 132px;
      height: 44px;
      margin-right: 24px;
    } {% endcomment %}
    .download-left-bottom-icon a:nth-child(3) {
      width: 132px;
      height: 44px;
      margin-right: 24px;
    }

    .download-left-bottom-icon {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: 40px;
      margin-left: 24px;
    }

    {% comment %} .download-left-bottom-icon img:last-child {
      width: 149px;
      height: 44px;
    } {% endcomment %}
    .download-left-bottom-icon a:last-child {
      width: 149px;
      height: 44px;
    }
    .download-left-bottom-icon img{
      width:100%;
      height:100%;
    }

    .mb-download {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: relative;
    }
    .mbDoLoad{
      position: relative;
      width: 100%;
    }
    .mb-download .download-img {
      width: 100%;
      position: relative;
      height: 382px;
    }

    .mb-download .download-bg-box {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0 27px;
      {% comment %} position: absolute;
      top: 0;
      left: 0; {% endcomment %}
      opacity: 1;
    }
    .mb-download .download-bg-box:first-child{
      opacity: 1;
      {% comment %} opacity: 1;  {% endcomment %}
    }
    .mb-download .fixed-bg {
      width: 100%;
      height: 382px;
      object-fit: cover;
    }

    .mb-download .download-mb-left-box {
      width: 100%;
      margin-top: 48px;
    }

    .download-mb-left-box .fbdownloadSwiper {
      height: 168px;
    }

    .download-mb-left-box .swiper-horizontal>.swiper-scrollbar {
      position: absolute;
      left: 23px !important;
      bottom: 3px;
      z-index: 50;
      width: 120px;
      height: 3px;
      background: #121212;
      border-radius: 6px;
      background: rgba(18, 18, 18, .2);
    }

    .download-mb-left-box .swiper-scrollbar {
      border-radius: 6px;
      position: relative;
      -ms-touch-action: none;
      background: rgba(18, 18, 18, .2);
    }

    .download-mb-left-box .swiper-scrollbar-drag {
      height: 100%;
      width: 100%;
      position: relative;
      background: rgba(18, 18, 18, 1);
      border-radius: 10px;
      left: 0;
      top: 0;
    }

    .mb-download .fb-mb-download-title {
      font-size: 16px;
      font-family: Montserrat-Bold, Montserrat;
      font-weight: bold;
      color: #121212;
      line-height: 16px;
    }

    .mb-download .fb-mb-download-info {
      font-size: 14px;
      font-family: Montserrat-Medium, Montserrat;
      font-weight: 500;
      color: #121212;
      line-height: 24px;
      margin-top: 12px;
    }
    .mb-download .fb-mb-download-item{
      width: 285px;
      margin-left: 10px;
    }
    .mb-download .fb-mb-download-item:first-child {
      margin-left: 24px!important;
    }
  }
</style>

{% schema %}
  {
    "name": "FbDownload",
    "presets": [ {
      "name": "fb-download-app",
      "category": "Fb Sections",
      "blocks": [
      ]
    }],
    "settings": [
      {
        "type": "text",
        "id": "download-title",
        "label": "downloadTitle",
        "default": "DISCOVER APP"
      },
      {
        "type": "color",
        "id": "download_bg_background",
        "label": "downloadBackground",
        "default": "rgba(233, 237, 243, 1)"
      },
      {
        "type": "image_picker",
        "id": "download-store-app",
        "label": "Download APP Store"
      },
      {
        "type": "url",
        "id": "download-store-app-link",
        "label": "Download APP Store Link"
      },
      {
        "type": "url",
        "id": "download-google-play-link",
        "label": "Download Google Play Link"
      },
      {
        "type": "image_picker",
        "id": "download-google-play",
        "label": "Download Google Play"
      },
      {
        "type": "image_picker",
        "id": "download-mob-store-app",
        "label": "Download Mob  APP Store"
      },
      {
        "type": "image_picker",
        "id": "download-mob-google-play",
        "label": "Download Google Play"
      }

    ],
    "blocks": [
      {
        "type": "indoorlist",
        "name": "indoor list",
        "settings": [
          {
            "type": "text",
            "id": "download_progress_title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "download_progress_Info",
            "label": "Info"
          },
          {
            "type": "image_picker",
            "id": "download_progress_pc_image",
            "label": "Pc Image"
          },
          {
            "type": "image_picker",
            "id": "download_progress_mobile_image",
            "label": "Mobile Image"
          }
        ]
      }
    ]
  }
{% endschema %}