<div class="fb-exercise-bikes" id="section-{{ section.id }}">
    {%- assign exerise_title = section.settings.exerise_title | strip_html -%}
    {%- assign country_code_var = localization.country.iso_code | downcase -%}
    {%- if exerise_title != blank -%}
        <div class="fb-exercies-title fb-exeries-pc-show">
            <p>{{ section.settings.exerise_title | strip_html }} </p>
        </div>
        <div class="fb-exercies-title fb-exeries-mob-show">
            {{ section.settings.exerise_title }}
        </div>
    {%- endif -%}
    <div class="exercies-bike-block">
        <div class="exercies-type">
            {{ section.settings.exerise_bike }}
        </div>
        <div class="exercies-icon">
            {%- capture  exercies_color -%}
                {%- if section.settings.freebeat_type == '2'-%}
                    exercies-boom-color
                {%- else -%}
                    exercies-default-color
                {%- endif -%}
            {%- endcapture -%}
            <span class="{{ exercies_color }}">{{ section.settings.exerise_bike_icon }}</span>
        </div>
        <div class="exercies-desc">
            {{ section.settings.exerise_bike_desc }}
        </div>
        <div class="exercies-bike-conetent">
            {%- for block in section.blocks  -%}
                {%- assign exerise_product =  block.settings.exerise_product  -%}
                {%- capture show_product -%}
                    {%- render 'customer-price-control', type:'showProduct', cpc_product: exerise_product -%}
                {%- endcapture -%}
                {%- if show_product == 'true' -%}
                    <div class="exbb-box {% if forloop.last %}exbb-box-last{% endif %}">
                        <a class="exbb-img" href="{{ block.settings.bike_btn_url | default: exerise_product.url }}">
                            {%- if block.settings.bike_img_pc == blank -%}
                                {% assign imgdefault = exerise_product.featured_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                            {%- else -%}
                                {% assign imgdefault = block.settings.bike_img_pc | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                            {%- endif -%}
                            <img 
                                class="Image--lazyLoad Image--fadeIn"
                                data-src="{{ imgdefault }}"
                                data-sizes="auto"
                                data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                              >
                             <span class="Image__Loader"></span>
                            {%- if block.settings.open_sold_out -%}
                                <div class="exbb-sold-out">
                                    {{ block.settings.bike_sold_out_text }}
                                </div>
                            {%- endif -%}
                        </a>
                        <div class="exbb-name">
                           <span class="exbb-span1"> {{ block.settings.bike_name_1 | default: section.settings.exerise_bike }} </span>
                           <span class="exbb-span2"> {{ block.settings.bike_name_2  }} </span>
                        </div>
                        <div class="exbb-rate">
                            {%- if block.settings.define_star_product != blank -%}
                                {%- render 'fb-pdp-star', product: block.settings.define_star_product -%}
                            {%- else -%}
                                {%- render 'fb-pdp-star', product: exerise_product -%}
                            {%- endif -%}
                            
                        </div>
                        <div class="exbb-price">
                            <span class="exbb-price-origin">{%- render 'customer-price-control', type:'origin', cpc_product: exerise_product -%} </span>
                            <span class="exbb-price-real"> {%- render 'customer-price-control', type:'sale', cpc_product: exerise_product -%}</span>
                        </div>
                        <div class="exbb-button">
                            <a href="{{ block.settings.bike_btn_url | default: exerise_product.url }}"> {{ block.settings.bike_btn_desc }}</a>
                        </div>
                    </div>
                {%- endif -%}
                
            {%- endfor -%}
        </div>
    </div>
</div>
{% schema %}
{
    "name": "FbExerciseBike",
    "presets": [
      {
          "name": "fb-exercise-bikes",
          "category": "My Sections",
          "blocks": []
      }
    ],
    "settings": [
        {
            "type": "select",
            "id": "freebeat_type",
            "label": "Type",
            "options": [
                {
                    "value": "1",
                    "label": "lit-bike"
                },
                {
                    "value": "2",
                    "label": "boom-bike"
                }
            ],
            "default": "1"
        },
        {
            "type": "richtext",
            "id": "exerise_title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "exerise_bike",
            "label": "Lit Bike",
            "default": "Lit Bike"
        },
        {
            "type": "text",
            "id": "exerise_bike_icon",
            "label": "Lit Bike Icon",
            "default": "PREMIUM DESIGN"
        },
        {
            "type": "richtext",
            "id": "exerise_bike_desc",
            "label": "Lit Bike Desc",
            "default": "<p>Raw performance and sleek designs add grace and modernity to your home.</p>"
        }
       
    ],
    "blocks": [
        {
            "type": "goods",
            "name": "goods",
            "settings": [
                {
                    "type": "product",
                    "id": "exerise_product",
                    "label": "Product"
                },
                {
                    "type": "image_picker",
                    "id": "bike_img_pc",
                    "label": "Bike Pc"
                },
                {
                    "type": "text",
                    "id": "bike_name_1",
                    "label": "Bike Name 1"
                },
                {
                    "type": "text",
                    "id": "bike_name_2",
                    "label": "Bike Name 2"
                },
                {
                    "type": "product",
                    "id": "define_star_product",
                    "label": "Custom Star Product"
                },
                {
                    "type": "checkbox",
                    "id": "open_sold_out",
                    "label": "Choose Sold Out",
                    "default": false
                },
                {
                    "type": "text",
                    "id": "bike_sold_out_text",
                    "label": "Sold Out Desc",
                    "default": "Sold out"
                },
                {
                    "type": "text",
                    "id": "bike_btn_desc",
                    "label": "Button Desc",
                    "default": "VIEW PRODUCT"
                },
                {
                    "type": "url",
                    "id": "bike_btn_url",
                    "label": "Button Url"
                }
            ]
        
        }
    ]
  }
{% endschema %}