<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="FbFooterIcon" class="Product-footerIconSection">
    <div class="productConcat">
        <div class="fb_footerIcon">
            <div class="footerIcon_item">
                {%- if section.settings.Icon-Title-1 != blank -%}
                    <a href="{{section.settings.learnMore-url-1}}"><div class="icon_container"><img class="footerIcon_item_icon .footerIcon_item_icon1" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/fieldx2.png?v=1650340354" alt=""></div></a>
              		<a href="{{section.settings.learnMore-url-1}}"><div class="footerIcon_item_title footerIcon_item_title1 lit-bike-klarna_footerIcon_color lit-bike-klarna_footerIcon_item_title">{{section.settings.Icon-Title-1 | escape }}</div></a>
                    <div class="footerIcon_item_text lit-bike-klarna_footerIcon_color lit-bike-klarna_footerIcon_item_text mobile-hide">{{section.settings.Description-1 | escape }}</div>
                    <div class="footerIcon_item_button lit-bike-klarna_footerIcon_buttonColor mobile-button-hide"><a href="{{section.settings.learnMore-url-1}}">Learn more ></a></div>
                    <a href="{{section.settings.learnMore-url-1}}"><div class="mobiArrow"><img src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/arrow-drop-right-line.png?v=1649752635"></div></a>
                {%- endif -%}
            </div>
{% comment %}             <div class="footerIcon_item">
                <!-- /policies/shipping-policy -->
                {%- if section.settings.Icon-Title-2 != blank -%}
                    <a href="{{section.settings.learnMore-url-2}}"><div class="icon_container"><img class="footerIcon_item_icon" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/shippingx2.png?v=1650340354" alt=""></div></a>
              		<a href="{{section.settings.learnMore-url-2}}"><div class="footerIcon_item_title lit-bike-klarna_footerIcon_color lit-bike-klarna_footerIcon_item_title">{{section.settings.Icon-Title-2 | escape }}</div></a>
                    <div class="footerIcon_item_text lit-bike-klarna_footerIcon_color lit-bike-klarna_footerIcon_item_text mobile-hide">{{section.settings.Description-2 | escape }}</div>
                    <div class="footerIcon_item_button lit-bike-klarna_footerIcon_buttonColor mobile-button-hide"><a href="{{section.settings.learnMore-url-2}}">Learn more ></a></div>
                    <a href="{{section.settings.learnMore-url-2}}"><div class="mobiArrow"><img src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/arrow-drop-right-line.png?v=1649752635"></div></a>
                    {%- endif -%}
            </div> {% endcomment %}
            <div class="footerIcon_item">
                <!-- /pages/return-policy -->
                {%- if section.settings.Icon-Title-3 != blank -%}
                    <a href="{{section.settings.learnMore-url-3}}"><div class="icon_container"><img class="footerIcon_item_icon footerIcon_item_icon1" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/30-dayx2.png?v=1650340354" alt=""></div></a>
              		<a href="{{section.settings.learnMore-url-3}}"><div class="footerIcon_item_title lit-bike-klarna_footerIcon_color lit-bike-klarna_footerIcon_item_title">{{section.settings.Icon-Title-3 | escape }}</div></a>
                    <div class="footerIcon_item_text lit-bike-klarna_footerIcon_color lit-bike-klarna_footerIcon_item_text mobile-hide">{{section.settings.Description-3 | escape }}</div>
                    <div class="footerIcon_item_button lit-bike-klarna_footerIcon_buttonColor mobile-button-hide"><a href="{{section.settings.learnMore-url-3}}">Learn more ></a></div>
                    <a href="{{section.settings.learnMore-url-3}}"><div class="mobiArrow"><img src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/arrow-drop-right-line.png?v=1649752635"></div></a>
                {%- endif -%}
            </div>
            <div class="footerIcon_item">
                <!-- mailto:customerservice@freebeatfit.com -->
                {%- if section.settings.Icon-Title-4 != blank -%}
                    <a href="mailto:customerservice@freebeatfit.com"><div class="icon_container"><img class="footerIcon_item_icon" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/cahtx2.png?v=1650340354" alt=""></div></a>
              		<a href="mailto:customerservice@freebeatfit.com"><div class="footerIcon_item_title lit-bike-klarna_footerIcon_color lit-bike-klarna_footerIcon_item_title">{{section.settings.Icon-Title-4 | escape }}</div></a>
                    <div class="footerIcon_item_text lit-bike-klarna_footerIcon_color lit-bike-klarna_footerIcon_item_text mobile-hide">{{section.settings.Description-4 | escape }}</div>
                    <div class="footerIcon_item_button lit-bike-klarna_footerIcon_buttonColor mobile-button-hide"><a href="mailto:customerservice@freebeatfit.com">Contact us ></a></div>
                    <a href="mailto:customerservice@freebeatfit.com"><div class="mobiArrow"><img src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/arrow-drop-right-line.png?v=1649752635"></div></a>
                {%- endif -%}
                </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "FbFooterIcon",
    "presets": [
        {
            "name": "fb-FooterIcon",
            "category": "My Sections",
            "blocks": []
        }
    ],
    "settings": [
    // 1
        {
            "type": "text",
            "id": "Icon-Title-1",
            "label": "Icon-Title-1",
            "default": "Product warranty"
        },
        {
            "type": "text",
            "id": "Description-1",
            "label": "Description-1",
            "default": "Enjoy warranty up to 10 years for bike components and parts."
        },
        {
            "type": "url",
            "id": "learnMore-url-1",
            "label": "learnMore-1"
        },
        //2
        {
            "type": "text",
            "id": "Icon-Title-2",
            "label": "Icon-Title-2",
            "default": "Free Shipping"
        },
        {
            "type": "text",
            "id": "Description-2",
            "label": "Description-2",
            "default": "and more! Read our shipping and return policies."
        },
        {
            "type": "url",
            "id": "learnMore-url-2",
            "label": "learnMore-2"
        },
        //3
        {
            "type": "text",
            "id": "Icon-Title-3",
            "label": "Icon-Title-3",
            "default": "30-day return policy"
        },
        {
            "type": "text",
            "id": "Description-3",
            "label": "Description-3",
            "default": "If your purchase is not working for you, we've got you covered."
        },
        {
            "type": "url",
            "id": "learnMore-url-3",
            "label": "learnMore-3"
        },
        //4
        {
            "type": "text",
            "id": "Icon-Title-4",
            "label": "Icon-Title-4",
            "default": "Chat with us"
        },
        {
            "type": "text",
            "id": "Description-4",
            "label": "Description-4",
            "default": "Our customer service team will find you the best solution."
        },
        {
            "type": "url",
            "id": "learnMore-url-4",
            "label": "learnMore-4"
        }
    ]
  }
{% endschema %}

<style>
    /* footerIcon-PC */
.lit-bike-klarna_footerIcon_color{
  color: #000 !important;
}
.lit-bike-klarna_footerIcon_item_text{
  min-height: 28px !important;
}
.lit-bike-klarna_footerIcon_item_title{
  margin: 20px 0 0 !important;
}
.lit-bike-klarna_footerIcon_buttonColor{
  color: #02C0D9 !important;
}
.fb_footerIcon_title{
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  line-height: 37px;
  letter-spacing: 1px;
  margin: 0 9% 62px;
}
.fb_lit-bike-klarna_color{
  color: #FFB3C7;
}
.fb_footerIcon{
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  margin-bottom: 100px;
}
.footerIcon_item{
  width: 16%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footerIcon_item_icon{
  display: block;
  height: 60px;
}
.footerIcon_item_title{
  white-space: nowrap;
  margin: 42px 0 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  line-height: 24px;
  text-align: left;
  min-height: 32px;
}
.footerIcon_item_text{
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 19px;
  text-align: left;
  min-height: 55px;
}
.footerIcon_item_button{
  font-size: 14px;
  font-weight: 400;
  color: #7D00FF;
  line-height: 18px;
  margin-top: 26px;
}
.mobiArrow img{
  display: none;
}
@media only screen and (min-width: 100px) and (max-width:440px){
/* footerIcon-mb */
  .productConcat{
    padding:0 12px;
  }
  .fb_footerIcon{
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 41px;
  }
  .footerIcon_item{
      width: 50%;
      padding: 15px 10px 15px;
      align-items:center;
  }
  .productConcat .footerIcon_item{
    flex-direction: row !important;
  }
/*   .productConcat .footerIcon_item_title1{
  	padding:0 0 0 3px !important;
  } */
  .icon_container{
  	width:40px;
    height:40px
  }
/*   .productConcat .footerIcon_item_icon1{
    width:55px;
  } */
  .footerIcon_item_icon{
      display: block;
      height: 40px;
      width:45px;
  }
  .productConcat .footerIcon_item_icon{
    display:flex;
    flex-direction: row !important;
  }
  .footerIcon_item_title{
      white-space: normal;
      margin: 15px 0 8px;
      font-size: 14px;
      line-height: 16px;
/*       text-align: center; */
    
  }
  .productConcat .footerIcon_item_title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 0 auto!important;
    padding: 0 0 0 6px;
  }
  .footerIcon_item_text{
      font-size: 12px;
      line-height: 12px;
      text-align: center;
  }
  .footerIcon_item_button{
    font-size: 12px;
    line-height: 12px;
    margin-top: 8px;
  }
  .mobile-button-hide{
    display:none;
  }
  .mobile-hide{
    display: none;
  }
  .mobiArrow img{
    display: block;
    height: 20px;
  }
    
}
</style>

<script type="text/javascript">
    $(function () {

      function resizeFooterIcon () {
        let arr = []
        $('.lit-bike-klarna_footerIcon_item_text').each(function(ulIndex, ul) {
          arr.push($(ul).height())
        })
        console.log('arr', arr)
        let arrheight = Math.max(...arr)
        console.log(arrheight)
        $('.lit-bike-klarna_footerIcon_item_text').each(function(ulIndex, ul) {
          $(ul).css('height', arrheight + 'px')
        })
      }  
      if(!/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
        resizeFooterIcon()
      } 
    })
</script>
