<div id="section-{{ section.id }}" class="fri-buy-banner">
  <div class="fri-buy-content">
    <div class="fri-buy-imgbox">
      {% assign fb_fri_img_pc = section.settings.fb_fri_img_pc | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
      {% assign fb_fri_img_mob = section.settings.fb_fri_img_mob | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
      <img
        class="Image--lazyLoad Image--fadeIn fri-banner-pc"
        data-src="{{ fb_fri_img_pc }}"
        data-sizes="auto"
        data-optimumx="1.2"
        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
      >
      <img
        class="Image--lazyLoad Image--fadeIn fri-banner-mob"
        data-src="{{ fb_fri_img_mob }}"
        data-sizes="auto"
        data-optimumx="1.2"
        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
      >
      <span class="Image__Loader"></span>
    </div>
    <div class="fri-buy-textbox">
      <div class="fri-buy-left">
        <div class="fri-left-title">
          {{ section.settings.fb_fri_title }}
          {%- comment -%} <img class="" src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/PAYPAL_2x_7d17a12d-f32b-4ac2-a531-6b234ebb5cb0.png?v=1667732889"  /> {%- endcomment -%}
        </div>
        <div class="fri-left-desctitle">
          {{ section.settings.fb_fri_subtitle }}
        </div>
      </div>
      <div class="fri-buy-right">
        <div class="fri-buy-form">
          <div class="fri-form-title fri-form-box">
            {%- if section.settings.fb_form_get_moneynumber > 0 -%}
              <p class="fr-form-imgp">
                Give $100 Earn ${{ section.settings.fb_form_get_moneynumber }}
                <img
                  class=""
                  src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/PAYPAL_2x_7d17a12d-f32b-4ac2-a531-6b234ebb5cb0.png?v=1667732889"
                >
                in 3 Simple Steps
              </p>
            {%- else -%}
              {{ section.settings.fb_form_title }}
            {%- endif -%}
          </div>
          <div class="fri-form-enter">
            {{ section.settings.fb_form_enter }}
          </div>
          <div class="fri-form-name fri-form-box">
            <input type="text" placeholder="Name" class="form-control" id="fri_user_name" maxlength="64" required>
          </div>
          <div class="fri-form-email fri-form-box">
            <input type="text" placeholder="Email address" class="form-control" id="fri_email" required>
          </div>
          <div class="fri-form-btn fri-form-box">
            <button class="fri-submitemail js-fri-submitemail start-earning">
              <span class="start-earning-text">{{ section.settings.fb_form_btntext }}</span>
            </button>
          </div>

          <div class="fri-form-btn fri-form-box">
            <div class="fri-subview js-fri-submitemail view-rewards"><span>View My Rewards</span></div>
          </div>

          <div class="fri-buy-customer" onclick="TidioShowFun()">
            {% assign handsimg = section.settings.customer_img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <img
              class="Image--lazyLoad Image--fadeIn fri-customer-img"
              data-src="{{ handsimg }}"
              data-sizes="auto"
              data-optimumx="1.2"
              data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
              style="border-radius: 50%;"
              alt="{{ section.settings.customer_img.alt | escape }}"
            >
            <div class="customer_service_right">
              {{ section.settings.customer_title }}
              {{ section.settings.customer_desc }}
            </div>
          </div>
          <p class="fri-term">
            <span class="js-open-termdialog">{{ section.settings.customer_ruletitle }}</span>
          </p>
        </div>
        <div class="fri-buy-bottom fbFriendbuyActive">
          <div class="swiper-wrapper">
            {%- for block in section.blocks -%}
              <div class="fri-active-box swiper-slide">
                <div class="fri-active-left">
                  <div class="fri-active-name">{{ block.settings.active_name }}</div>
                  <div class="fri-active-desc">{{ block.settings.active_ac }}</div>
                </div>
                <div class="fri-buy-active-right">
                  {{ block.settings.active_date }}
                </div>
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  #section-{{ section.id }} .fri-submitemail{
       background: {{ section.settings.fb_form_btnback }};
       color: #fff;
  }
  .view-rewards {
    display: none;
  }
  .start-earning-text {
    display: none;
  }
</style>
{% schema %}
{
  "name": "FbFriendbuyBanner",
  "presets": [
    {
      "name": "fb-friendbuy-banner",
      "category": "Fb Sections",
      "blocks": []
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "fb_fri_img_pc",
      "label": "Background Image PC"
    },
    {
      "type": "image_picker",
      "id": "fb_fri_img_mob",
      "label": "Background Image Mob"
    },
    {
      "type": "richtext",
      "id": "fb_fri_title",
      "label": "Banner Title",
      "default": "<p>$100 CASH <br/> referral reward</p>"
    },
    {
      "type": "richtext",
      "id": "fb_fri_subtitle",
      "label": "Banner Sub Title",
      "default": "<p>Share with your friends and receive up to $100 in CASH after their first purchase.</p>"
    },
    {
      "type": "richtext",
      "id": "fb_form_title",
      "label": "Form Title",
      "default": "<p>Get up to $100 in cash rewards for every friend you refer.</p>"
    },
    {
      "type": "number",
      "id": "fb_form_get_moneynumber",
      "label": "When you fill in the amount, open it and use the template",
      "default": 1210
    },
    {
      "type": "richtext",
      "id": "fb_form_enter",
      "label": "Enter Text",
      "default": "<p>Enter your details to start sharing</p>"
    },
    {
      "type": "text",
      "id": "fb_form_btntext",
      "label": "Butoon Text",
      "default": "Start Sharing"
    },
    {
      "type": "text",
      "id": "fb_form_btnback",
      "label": "Butoon Background Color Text",
      "default": "linear-gradient(90deg, #8003FE 0%, #FC5EA6 100%);"
    },
    {
      "type": "image_picker",
      "id": "customer_img",
      "label": "Customer Img"
    },
    {
      "type": "richtext",
      "id": "customer_title",
      "label": "customer_title",
      "default": "<p>Need more help?</p>"
    },
    {
      "type": "richtext",
      "id": "customer_desc",
      "label": "customer_desc",
      "default": "<p>Connect with a Specialist.</p>"
    },
    {
      "type": "text",
      "id": "customer_ruletitle",
      "label": "Terms Title",
      "default": "Terms"
    }
  ],
  "blocks": [
    {
      "type": "active-roll",
      "name": "activeroll",
      "settings": [
        {
          "type": "richtext",
          "id": "active_name",
          "label": "Customer Name",
          "default": "<p>leo leo</p>"
        },
        {
          "type": "richtext",
          "id": "active_ac",
          "label": "Customer Desc",
          "default": "<p>has withdrawn $20 to PayPal.</p>"
        },
        {
          "type": "richtext",
          "id": "active_date",
          "label": "Customer Date",
          "default": "<p>2022.10.12</p>"
        }
      ]
    }
  ]
}
{% endschema %}
