{%- assign Social = section.blocks | where: 'type', 'Social' | first -%}
<div class="fb-image-text-share utils-timg-content" id="section-{{ section.id }}">
  <div class="its-content utils-timg-block utils-timg-block-column">
    <div class="its-box-left utils-timg-box-space utils-timg-box-p">
      <div class="logo">
        {% assign imgPiker = section.settings.its_logo | img_url: '1x1' | replace: '_1x1.','_{width}x.' %} 
            <img class="Image--lazyLoad Image--fadeIn its-logo" 
                data-src="{{ imgPiker }}" 
                data-sizes="auto"
                data-optimumx="1.4"
                data-widths="[ 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
            >
          {%- if section.settings.its-title-1 -%}
            <div class="its-title">{{section.settings.its-title-1}}</div>
          {%- endif -%}
      </div>
      {%- if section.settings.its_box_des1 -%}
        <div class="its-des">
          {{section.settings.its_box_des1}}
        </div>
      {%- endif -%}
      <!-- 二倍图 -->
        <div class="iconWrapper">
          {%- for block in section.blocks -%}
          <!-- https://www.instagram.com/freebeatfit/ -->
          <a href="{{ block.settings.social_url}}" target="_blank"
            ><div class="Instagram">
              {% assign imgPiker = block.settings.social_img | img_url: '1x1' | replace: '_1x1.','_{width}x.' %} 
              <img class="Image--lazyLoad Image--fadeIn social_img" data-src="{{ imgPiker }}" 
                    data-optimumx="1.2"
                    data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                    data-sizes="auto"
                >
              <!-- https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/Instagram2.png?v=1652263373 -->
              </div
          ></a>
          {%- endfor -%}
          <!-- <a href="https://www.youtube.com/channel/UCSob0frzoq6jUnbiMj-jZow" target="_blank"
            ><div class="Youtube">
              <img
                src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/Youtube2.png?v=1652263373"
                alt=""
              /></div
          ></a>
          <a href="https://www.tiktok.com/@freebeatfitusa" target="_blank"
            ><div class="TikTok">
              <img
                src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/TikTok2.png?v=1652263373"
                alt=""
              /></div
          ></a>
          <a href="https://www.facebook.com/freebeatfit" target="_blank"
            ><div class="Facebook">
              <img
                src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/Facebook2.png?v=1652263373"
                alt=""
              /></div
          ></a>
          <a href="https://www.pinterest.com/freebeatfit/_created/" target="_blank"
            ><div class="Pinterest">
              <img
                src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/Pinterest2.png?v=1652263373"
                alt=""
              /></div
          ></a>-->
        </div> 
        {%- if block.settings.social_img -%}
          <div class="tips">*Click on icon to check us out</div>
        {%- endif -%}
      </div>
    <div class="its-box-right utils-timg-box-img">
      {% assign imgPiker = section.settings.its_image | img_url: '1x1' | replace: '_1x1.','_{width}x.' %} 
            <img class="Image--lazyLoad Image--fadeIn its-box-right-image" 
                data-src="{{ imgPiker }}" 
                data-sizes="auto"
                data-optimumx="1.4"
                data-widths="[1200, 1400, 1600, 1800, 2000, 2200]"
            >
            <span class="Image__Loader"></span>
    </div>
  </div>
  </div>
</div>
<style>
  .fb-image-text-share {
    padding-bottom: 130px;
    width: 100%;
  }
  .its-box-left {
    padding-top:91px;
    padding-bottom:135px;
    padding-left:15px;
  }
  .logo{
    position: relative;
  }
  .its-logo {
    position: absolute;
    left: 5px;
    bottom: 18px;
    width: 104px;
    height: auto;
  }
  .its-title {
    font-size: 36px;
    font-weight: bold;
    color: #1C1B1B;
    line-height: 44px;
  }
  .its-box-left .its-des {
    font-size: 16px;
    font-weight: 400;
    color: #1c1b1b;
    line-height: 28px;
    padding: 26px 0 70px;
  }
  .iconWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    width: 310px;
  }
  .iconWrapper div {
    width:33px;
  }
  .iconWrapper img {
    display: block;
    width: 100%;
  }
  .tips {
    font-size: 12px;
    font-weight: 400;
    color: #888888;
    line-height: 28px;
  }
  .its-box-right-image {
    width: 100%;
    height: auto;
  }
  @media only screen and (min-width: 1441px) {
/*     .its-box-left{
        margin-right: 130px;
    } */
  }
  @media only screen and (min-width: 1024px) and (max-width: 1440px) { 
    .its-box-left {
      width: 48%;
    }
    .its-box-right {
      width: 50%;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .its-box-left {
      padding: 91px 0 67px 15px;
    }
    .its-box-left .its-des {
      padding: 26px 0 35px;
    }
    .iconWrapper {
      width: 250px;
    }
    .its-title{
      font-size: 28px;
      line-height:40px;
    }
  }
  @media only screen and (max-width: 768px){
    .fb-image-text-share {
      padding-bottom: 88px;
    }
    .its-box-left {
      padding: 33px 28px 0;
      text-align:center;
    }
    .logo{
      width:94px;
      margin: 0 auto;
    }
    .logo img{
      width:64px
    }
    .its-logo {
      bottom: 11px;
      width: 94px;
    }
    .its-title {
      font-size: 24px;
      line-height: 30px;
    }
    .its-box-left .its-des {
      font-size: 15px;
      line-height: 24px;
      padding: 22px 0;
    }
    .iconWrapper {
      margin:0 auto 9px; 
      width: 267px;
    }
    .tips {
      text-align: center;
      font-size: 12px;
      line-height: 20px;
    }
    .its-box-right{
      padding-top: 33px;
    }
    .its-box-right-image {
      width: 100%;
      height: auto;
    }
  }
</style>
{% schema %}
{
  "name": "FbImageTextShare",
  "presets": [
    {
      "name": "fb-image-text-share",
      "category": "Fb Sections",
      "blocks": []
    }
  ],
  "settings": [
      {
        "type": "image_picker",
        "id": "its_logo",
        "label": "LOGO"
       },
       {
        "type": "text",
        "id": "its-title-1",
        "label": "Title 1"
      },
      {
          "type": "image_picker",
          "id": "its_image",
          "label": "Right Image"
      },
      {
          "type": "richtext",
          "id": "its_box_des1",
          "label": "Description 1"
      }
    ],
    "blocks": [
      {
        "type": "Social",
        "name": "Social Share",
        "settings": [
          {
            "type": "url",
            "id": "social_url",
            "label": "Social URL"
          },
          {
              "type": "image_picker",
              "id": "social_img",
              "label": "Social Image"
          }
       ]
      }
    ]
}
{% endschema %}