{%- assign productclass = section.settings.new_class_prduct -%}

{%- assign class_index = 1 -%}
<div id="section-{{ section.id }}" class="fb-new-class">
      <div class="u-title">
            {{section.settings.content_tit}}
      </div>
      <div class="class-content-box new-class">
            <div class="swiper-box swiper-wrapper">
                  {%- for block in section.blocks -%}
                  <div class="swiper-slide fb-new-slide-box" data-index="{{ forloop.index }}">
                        <div class="fb-new-media">
                              <video class="Image--lazyLoad new-class-vedio" style="position: absolute;z-index:1;"
                                    webkit-playsinline="true" playsinline="true" muted="muted" loop="loop"
                                    data-index="{{ forloop.index }}" poster="{{ block.settings.pages_mb_image }}"
                                    data-src="{{ block.settings.pages_pc_video }}"></video>
                        </div>
                        <div class="slide-tit">{{ block.settings.pages_swiper_title}}</div>
                        <div class="slide-info">{{ block.settings.pages_swiper_Info}}</div>
                  </div>
                  {% endfor %}
            </div>
            <div class="fb-class-list">
                  <div class="swiper-wrapper">
                        {%- for block in section.blocks -%}
                        <div class="swiper-slide class-img-box clicked" data-index="{{ class_index }}">
                              <img data-src="{{ block.settings.pages_mb_image}}" data-index="{{ forloop.index }}"
                                    class="Image--lazyLoad class-sub-img">
                              <img src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/Vector_2x_56353b1b-c43c-4184-8e22-76ec8a8d01db.png?v=1690882609"
                                    alt="" class="class-pause">
                              <span class="Image__Loader"></span>
                        </div>
                        {%- assign class_index = class_index | plus: 1 -%}
                        {%- endfor -%}
                  </div>
            </div>
            <div class="class-button-prev">
                  <img data-sizes="auto" class="Image--lazyLoad"
                        data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/Group_85_2x_e2c2b29c-135f-43a1-8060-a955138bbb47.png?v=1693202579" />
            </div>
            <div class="class-button-next">
                  <img data-sizes="auto" class="Image--lazyLoad"
                        data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/Group_86_2x_db24e443-ba97-4c65-ad90-41691a808466.png?v=1693202579" />
            </div>
      </div>
      <div class="class-swiper-pagination"></div>
      <div class="btn-box">
            {%- if section.settings.show_cart_button -%}
            <a href="javascript:void(0)" data-url="{{ section.settings.buy_now_url }}"  
                  data-keep-biketype="{%- render 'customer-price-control', cpc_product: productclass, type: 'bikeType' -%}"
                  class="prboom_button_one btn-right js-ebike-addtocart"
                  data-origintext="{{ section.settings.product_but_text }}"
                  >
                  <span>{{ section.settings.product_but_text }}</span>

            </a>
                 
            {%- else -%}
            <a href="{{section.settings.btn_one_link}}">
                  <div class="btn-left">{{section.settings.btn_one_des}}</div>
            </a>
            <a href="{{section.settings.btn_two_link}}">
                  <div class="btn-right">{{section.settings.btn_two_des}}</div>
            </a>
            {%- endif -%}
      </div>
</div>
<style>
      {%- if template contains 'product' -%}
      .fb-new-class {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 80px 0 52px 0;
            position: relative;
      }
      {%- else -%}
      .fb-new-class {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 0px 0 52px 0;
            position: relative;
      }
      {%- endif -%}
      .fb-new-class .u-title {
            font-size: 36px;
            font-family: Montserrat-Bold, Montserrat;
            font-weight: bold;
            color: #121212;
            line-height: 36px;
      }

      .fb-new-class .class-content-box {
            margin: 60px auto 30px auto;
            position: relative;
            overflow: hidden;
            width: 100%;
      }

      .class-content-box .swiper-box {
            z-index: 1;
            display: flex;
            flex-direction: row;
            align-items: flex-start;

      }

      .class-content-box .fb-new-slide-box {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-right: 20px;
      }

      .class-content-box .swiper-slide {
            width: 540px;
      }

      .class-content-box .fb-new-media {
            width: 540px;
            height: 302px;
            border-radius: 8px;
            position: relative;
            background: #D9D9D9;
      }

      .class-content-box .fb-new-media video {
            width: 100%;
            height: 100%;
            width: 540px;
            height: 302px;
            border-radius: 8px;
            object-fit: cover;
      }

      .class-content-box .fb-new-slide-box:last-child {
            margin-right: 0;
      }

      .fb-new-class .class-swiper-pagination {
            width: 150px;
            height: 10px;
            margin-bottom: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
      }

      .fb-new-class .swiper-pagination-bullet-active {
            background: black !important;
      }

      .fb-new-class .swiper-pagination-bullet {
            background-color: rgba(0, 0, 0, .6);
      }

      .fb-new-class .slide-tit {
            margin: 30px 0 12px 0;
            font-size: 18px;
            font-family: Montserrat-Bold, Montserrat;
            font-weight: bold;
            color: #121212;
            line-height: 18px;
      }

      .fb-new-class .slide-info {
            width: 480px;
            font-size: 14px;
            font-family: Montserrat-Medium, Montserrat;
            font-weight: 500;
            color: rgba(18, 18, 18, 0.8);
            line-height: 18px;
            text-align: center;
      }






      .class-content-box .class-button-prev {
            width: 44px;
            height: 44px;
            position: absolute;
            top: 129px;
            left: 175px;
            z-index: 2;
            cursor: pointer;
      }

      .class-content-box .class-button-next {
            width: 44px;
            height: 44px;
            position: absolute;
            top: 129px;
            right: 175px;
            z-index: 2;
            cursor: pointer;
      }



      .fb-new-class .btn-box {
            display: flex;
            flex-direction: row;
            justify-content: center;

      }

      .fb-new-class .btn-left {
            width: 300px;
            height: 48px;
            border-radius: 6px 6px 6px 6px;
            border: 1px solid #121212;
            font-size: 14px;
            font-family: Montserrat-Bold, Montserrat;
            font-weight: bold;
            color: #121212;
            line-height: 48px;
            text-align: center;
            cursor: pointer;
            margin-right: 20px;
      }

      .fb-new-class .btn-right {
            width: 300px;
            height: 48px;
            background: #121212;
            border-radius: 6px 6px 6px 6px;
            font-size: 14px;
            font-family: Montserrat-Bold, Montserrat;
            font-weight: bold;
            color: #FFFFFF;
            line-height: 48px;
            text-align: center;
            cursor: pointer;
      }

      .class-content-box .fb-class-list {
            display: none;
      }

      @media screen and (max-width: 768px) {
            {%- if template contains 'product' -%}
            .fb-new-class {
                  width: 100%;
                  height: auto;
                  padding: 60px 0 40px 0;
                  position: relative;
            }
            {%- else -%}
            .fb-new-class {
                  width: 100%;
                  height: auto;
                  padding: 0px 0 40px 0;
                  position: relative;
            }
            {%- endif -%}
            .fb-new-class .u-title {
                  font-size: 24px;
                  font-family: Montserrat-Bold, Montserrat;
                  font-weight: bold;
                  color: #121212;
                  line-height: 28px;
                  text-align: left;
                  margin-left: 24px;
            }

            .fb-new-class .class-content-box {
                  margin: 24px 0 17px 0;
                  padding-right: 0;
                  display: flex;
                  justify-content: flex-start;
                  padding-top: 0;
            }

            .class-content-box .fb-new-slide-box {
                  margin-right: 0
            }

            .class-content-box .swiper-box {
                  align-items: flex-start;
            }

            .class-content-box .fb-new-media {
                  width: 100%;
                  height: 210px;
                  border-radius: 0;
                  background: transparent;

            }

            .class-content-box .fb-new-media video {
                  width: 100%;
                  height: 210px;
                  border-radius: 0;
                  object-fit: contain
            }

            .class-content-box .swiper-slide {
                  width: 100%;
            }

            .class-content-box .fb-class-list {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;
                  margin: 0 0 18px 18px;
                  position: absolute;
                  top: 220px;
                  height: 34px;
                  width: calc(100% - 18px);
                  z-index: 2;
            }

            .class-content-box .class-img-box {
                  width: 60px;
                  height: 34px;
                  border-radius: 2px;
                  margin-right: 10px;
                  position: relative;
            }

            .class-content-box .clicked::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  border-radius: 2px;
                  background: rgba(0, 0, 0, 0.5);
            }

            .class-content-box .class-img-box:last-child {
                  margin-right: 0
            }

            .class-content-box .class-pause {
                  position: absolute;
                  z-index: 1;
                  top: calc(50% - 6px);
                  left: calc(50% - 6px);
                  width: 12px;
                  height: auto;
            }

            .class-content-box .class-img-box .class-sub-img {
                  width: 100%;
                  height: 100%;
                  border-radius: 2px;
                  object-fit: cover;
            }

            .fb-new-class .slide-tit {
                  width: 100%;
                  font-size: 16px;
                  font-family: Montserrat-Bold, Montserrat;
                  font-weight: bold;
                  color: #121212;
                  line-height: 16px;
                  padding: 68px 0 12px 24px;
                  text-align: left;
                  margin: 0;
            }

            .fb-new-class .slide-info {
                  width: 100%;
                  font-size: 14px;
                  font-family: Montserrat-Medium, Montserrat;
                  font-weight: 500;
                  color: rgba(18, 18, 18, 0.8);
                  line-height: 22px;
                  padding: 0 24px;
                  text-align: left;
            }

            .fb-new-class .class-swiper-pagination {
                  display: none;
            }

            .class-content-box .class-button-prev {
                  display: none;
            }

            .class-content-box .class-button-next {
                  display: none;
            }

            .fb-new-class .btn-box {
                  display: flex;
                  flex-direction: column-reverse;
                  justify-content: center;
                  align-items: center;
                  padding: 0 24px;
                  width: 100%;
            }

            .fb-new-class .btn-box a {
                  position: relative;
                  width: 100%;
            }

            .fb-new-class .btn-left {
                  width: 100%;
                  height: 44px;
                  line-height: 44px;
                  margin-right: 0;

            }

            .fb-new-class .btn-right {
                  width: 100%;
                  margin-right: 0;
                  height: 44px;
                  line-height: 44px;
                  margin-bottom: 12px;
            }
      }
</style>
{% schema %}
{
"name": "FbNewClass",
"presets": [
{
"name": "fb-new-class",
"category": "Fb Sections",
"blocks": []
}
],
"settings": [
{
"type": "text",
"id": "content_tit",
"label": "Content Title",
"default": "DIVE INTO A GAMIFIED WONDERLAND"
},
{
"type": "text",
"id": "product_but_text",
"label": "Button text",
"default": "ADD TO CART"
},
{
"type": "product",
"id": "new_class_prduct",
"label": "product"
},
{
"type": "url",
"id": "buy_now_url",
"label": "button text url"
},
{
"type": "checkbox",
"id": "show_cart_button",
"label": "Show Add Cart",
"default": false
},

{
"type": "text",
"id": "btn_one_des",
"label": "btn one des",
"default": "VIEW DETAILS"
},
{
"type": "url",
"id": "btn_one_link",
"label": "btn one link"
},
{
"type": "text",
"id": "btn_two_des",
"label": "btn two des",
"default": "EXPLORE BIKES"
},
{
"type": "url",
"id": "btn_two_link",
"label": "btn two link"
}
],
"blocks": [
{
"type": "videoBlock",
"name": "videoBlock",
"settings": [
{
"type": "text",
"id": "pages_swiper_title",
"label": "Title"
},
{
"type": "text",
"id": "pages_swiper_Info",
"label": "Info"
},
{
"type": "url",
"id": "pages_pc_video",
"label": "Pc Video"
},
{
"type": "url",
"id": "pages_mb_image",
"label": "MB Image"
}
]
}
]
}
{% endschema %}