{%- assign swiperContent = section.blocks | where: 'type', 'swiperContent' | first -%}
<div class="fb-PR-swiper" id="section-{{ section.id }}">
    <!-- 左活动 -->
    <div class="activity litBike-activity">
        <div class="activity-content">
            <!-- https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/1P2A7881-HDR-OD.png?v=1648191555 -->
            {% assign imgPiker = section.settings.PRimg | img_url: '1x1' | replace: '_1x1.','_{width}x.' %} 
             <img class="Image--lazyLoad Image--fadeIn PRimg" 
                 data-src="{{ imgPiker }}" 
                 data-sizes="auto"
                 data-optimumx="1.2"
                 data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
             >
             <span class="Image__Loader"></span>
             <!-- FREEBEAT ON NASDAQ -->
        <div class="activity-title litBike-title">{{section.settings.PR-title}}</div>
        </div>
    </div>
    <!-- Swiper -->
    <div class="swiperContainer litBikePR">
        <div class="swiper PRswiper">
            <div class="swiper-wrapper">
                {%- for block in section.blocks -%}
                    <div class="swiper-slide">
                        <!-- https://www.yahoo.com/lifestyle/launch-freebeat-lit-bike-elevated-154500213.html -->
                    <a
                        href="javascript:void(0)"
                        
                    >
                    <!-- "Lit Bike Elevated At-Home Workouts" -->
                        <div class="text litBike-text" id="swiperDes">{{block.settings.swiperDes}}</div>
                        <div class="imgWrapper">
                            {% assign imgPiker = block.settings.swiperImg | img_url: '1x1' | replace: '_1x1.','_{width}x.' %} 
                            <img class="Image--lazyLoad Image--fadeIn swiperImg" 
                                data-src="{{ imgPiker }}" 
                                data-sizes="auto"
                                data-optimumx="1.2"
                                data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                            >
<!--                             <span class="Image__Loader"></span> -->
                            <!-- <img
                        src="https://static.freebeatfit.com/campaign/Yahoo-Logo.png"
                        alt=""
                        />-->
                    </div> 
                        
                    </a>
                    </div>
                    {%- endfor -%}

              
            </div> 
            <div class="swiper-scrollbar litBike-scrollbar" id="swiper3-scrollbar">
<!--               <div class="swiper-scrollbar-drag litBike-scrollbar-drag"></div> -->
          </div>
        </div>
    </div>
</div> 
<style>
    /* 左活动右PR Start */
        /* litBike */
        /* 
        1.https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/PR-rightbg.png?v=1648889093
        2.https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/PR-leftbg.png?v=1648889093
         */
        .fb-PR-swiper .litBikePR{
            background-image: url({{section.settings.litBike-rightColor}}) !important;
            background-size: cover !important;
        }
        .fb-PR-swiper  .litBike-activity{
            background-image: url({{section.settings.litBike-leftColor}}) !important;
            background-size: cover !important;
        }
        /*#666*/
        .fb-PR-swiper .swiperContainer .litBike-scrollbar{
            background: {{section.settings.litBike-scrollbar}} !important;
        }
        /*#fff*/
        .fb-PR-swiper .swiperContainer .swiper-scrollbar-drag{
            background: {{ section.settings.litBike-scrollbar-drag }} !important;
        }
        /*#fff*/
        .fb-PR-swiper .litBike-title{
            color: {{ section.settings.litBike-titleColor }} !important;
        }
        .fb-PR-swiper .litBike-text{
          color: {{ section.settings.litBike-textColor }} !important;
        }
    /* litBike */
        .fb-PR-swiper {
            position: relative;
            display: flex;
            width: 100%;
        }
        .activity {
            width: 50%;
            padding: 40px 0px 0;
            background: {{ section.settings.PR_swiper_background}};
        }
        .fb-PR-swiper .activity-content {
            margin: 0 auto;
            width: 64%;
            height: auto;
        }
        .fb-PR-swiper .activity .PRimg {
            display: block;
            width: 100%;
            height: auto;
        }
        .fb-PR-swiper .activity-title {
          	text-align: center;
            font-size: 22px;
            font-weight: bold;
            color: #000000;
            line-height: 33px;
            line-height: 33px;
            padding: 16px 0 40px;
        }
        .fb-PR-swiper .activity-des {
            display: block;
            font-size: 15px;
            font-weight: 400;
            color: #1c1c1b;
            line-height: 21px;
        }
        .activity-des-mobi {
            display: none;
        }
        .swiperContainer {
            width: 50%;
            padding: 110px 0 0;
        }
        .fb-PR-swiper .swiper {
            position: relative;
            max-width: 500px;
            height: 190px;
            text-align: center;
        }
        .swiper-slide{
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
        .fb-PR-swiper .swiper-slide {
            height:130px !important;
            font-size: 18px;
            font-weight: 400;
            color: #1c1c1b;
            line-height: 24px; 
            flex-direction: column;
            justify-content: flex-start !important;
        }
        .fb-PR-swiper .swiper-slide a {
            text-decoration: none;
            color: #1c1c1b;
        }
        .fb-PR-swiper .swiper-slide .text {
            padding-bottom: 0px;
        }
        #swiperDes{
            min-height: 70px;
        }
        .imgWrapper{
            min-height:67.5px;
            position: relative;
        }
        #swiper3-scrollbar {
            width: 120px;
            height: 2px;
            color: #000;
            align-items: center;
            justify-content: center;
            left: 25%;
            bottom: 11%;
            right:25%;
            margin:auto;
        }
        .fb-PR-swiper .swiper-slide .swiperImg {
            position:absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            display: block;
            width: 120px;
            height: auto;
        }
    /* 左活动右PR End */
    @media screen and (max-width: 768px){
        /*  左活动右PR mobi Start */
    /*   lit-bike   */
    /*
          https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/PR-bottom-mb.png?v=1648892530
          https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/PR-top-mb.png?v=1648892530

    */
         .fb-PR-swiper .litBikePR{
            height:200px !important;
            background-image: url({{section.settings.litBike-bottomColor}}) !important;
          }
          .fb-PR-swiper .litBike-activity{
            background-image: url({{section.settings.litBike-topColor}});
          }
      /*   lit-bike   */
          .fb-PR-swiper {
            position: relative;
            height: 475px;
            width: 100%;
            flex-direction: column;
            margin-top: -2px;
          }
          .fb-PR-swiper .activity {
            width: 100%;
            padding: 25px 0px 0px;
            height: 275px;
          }
          .fb-PR-swiper .activity-content {
            margin: 0 auto;
            width: 325px;
            height: 100%;
          }
          .fb-PR-swiper .activity .PRimg {
            width: 100%;
            height: auto;
          }
          .activity-title {
            font-size: 20px;
            line-height: 27px;
            padding: 16px 0 10px;
            text-align: center;
          }
          .activity-des {
            display: none;
          }
          .activity-des-mobi {
            display: block;
            text-align: center;
            font-size: 14px;
            line-height: 20px;
          }
          .fb-PR-swiper .swiperContainer {
            width: 100%;
            padding: 12px 0 0;
            margin-top: -2px;
            justify-content: space-between;
          }
          .fb-PR-swiper .swiper {
            width: 300px;
            height: 160px;
          }
          .fb-PR-swiper .swiper-slide {
            font-size: 14px;
            line-height: 20px;
          }
         .fb-PR-swiper .swiper-slide .text {
            padding-bottom: 0px;
            padding-top: 15px;
    
          }
          .fb-PR-swiper #swiper3-scrollbar {
            width: 60px;
            height: 2px;
            color: #000;
            left: 25%;
            right: 25%;
            bottom: 0;
            margin:auto;
            text-align: center;
            justify-content: center;
          }
          .fb-PR-swiper .swiper-slide .swiperImg {
            width: 100px;
            max-height: 56px;
          }
          .fb-PR-swiper .swiper-slide .add-padding {
            padding-bottom: 20px;
          }
    /*  左活动右PR mobi End*/
      }
        @media only screen and (min-width: 1023px) and (max-width:1439px){
            .fb-PR-swiper .swiperContainer{
                padding: 90px 0 0;
                }
        }
      @media only screen and (min-width: 769px) and (max-width:1024px){
        .fb-PR-swiper .activity-content {
          margin: 0 auto;
          width: 70%;
        }
        .fb-PR-swiper .swiperContainer{
          padding: 70px 0 0;
        }
        .fb-PR-swiper .swiper-slide{
          padding-left: 10px;
          padding-right: 10px;
        }
        .fb-PR-swiper .swiper {
          height: 190px;
          max-width: 375px;
        }
        #swiperDes{
            min-height: 70px;
        }
        #swiper3-scrollbar {
          left: 25%;
          bottom: 10%;
          right: 25%;
          margin: auto;
        }
      }
</style>
{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "FbOtherPRSwiper",
  "presets": [
    {
      "name": "fb-other-PR-swiper",
      "category": "Fb Sections",
      "blocks": []
    }
  ],
  "settings": [
        {
            "type": "color",
            "id": "PR_swiper_background",
            "label": "Background color",
            "default": "#fff"
        },
        {
          "type": "image_picker",
          "id": "PRimg",
          "label": "PR"
        },
        {
          "type": "text",
          "id": "PR-title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "litBike-leftColor",
          "label": "litBike left Color"
        },
        {
          "type": "text",
          "id": "litBike-rightColor",
          "label": "litBike Right Color"
        },
        {
          "type": "text",
          "id": "litBike-topColor",
          "label": "litBike Top Color Mb"
        },
        {
          "type": "text",
          "id": "litBike-bottomColor",
          "label": "litBike Bottom Color Mb"
        },
        {
          "type": "color",
          "id": "litBike-scrollbar",
          "label": "litBike Scrollbar"
        },
        {
          "type": "color",
          "id": "litBike-scrollbar-drag",
          "label": "litBike Scrollbar Drag"
        },
        {
          "type": "color",
          "id": "litBike-titleColor",
          "label": "litBike Title Color"
        },
        {
          "type": "color",
          "id": "litBike-textColor",
          "label": "litBike Text Color"
        }
    ],
    "blocks": [
      {
        "type": "swiperContent",
        "name": "Swiper Content",
        "settings": [
          {
            "type": "url",
            "id": "swiper_url",
            "label": "Swiper URL"
          },
          {
              "type": "image_picker",
              "id": "swiperImg",
              "label": "Swiper Image"
          },
          {
            "type": "text",
            "id": "swiperDes",
            "label": "Swiper Description"
          }
       ]
      }
    ]
}
{% endschema %}