{%- assign proposition = section.blocks | where: 'type', 'proposition' | first -%}
<div class="fb_value_proposition {% if template == 'page.lit-bike-white'
                                  or template == 'page.lit-bike-beige' or template == 'page.lit-bike-beige-blogger' %}prop_diff_pages{% endif %}" id="section-{{ section.id }}">
  <div class="proposition_pc">
    {%- for block in section.blocks -%}
      <div class="proposition_pc_item">
        <div class="proposition_imgWrapper">
          {% assign imgPiker = block.settings.iconPic | img_url: '1x1' | replace: '_1x1.','_{width}x.'
           %}
          <img class="Image--lazyLoad Image--fadeIn iconPic" data-src="{{ imgPiker }}" data-sizes="auto" data-optimumx="1.2" data-widths="[1000, 1200, 1400, 1600, 1800, 2000, 2200]">
        </div>
        <div class="proposition_title">{{block.settings.prop_title}}</div>
        <div class="proposition_des">{{block.settings.prop_des}}</div>
      </div>
    {%- endfor -%}
  </div>
  <div class="proposition_mb">
    <div class="swiper proposition_swiper">
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          <div class="swiper-slide">
            <div class="proposition_mb_item">
              <div class="proposition_imgWrapper">
                {% assign imgPiker = block.settings.iconPic | img_url: '1x1' | replace: '_1x1.','_{width}x.'
                 %}
                <img class="Image--lazyLoad Image--fadeIn iconPic" data-src="{{ imgPiker }}" data-sizes="auto" data-optimumx="1.2" data-widths="[1000, 1200, 1400, 1600, 1800, 2000, 2200]">
              </div>
              <div class="proposition_title">{{block.settings.prop_title}}</div>
              <div class="proposition_des">{{block.settings.prop_des}}</div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
  {%- if template contains 'lit-bike-beige-blogger' -%}
    <div class="prop_button_con">
      <a href="{{section.settings.btn_url}}">
        <div class="prop_button">
          {{section.settings.btn_txt}}
        </div>
      </a>
      <a href="{{section.settings.btn_boom_url}}">
        <div class="prop_button prop_boom_button">
          {{section.settings.btn_boom_txt}}
        </div>
      </a>
    </div>
  {%- else -%}
    <a href="{{section.settings.btn_url}}">
      <div class="prop_button {% if template == 'page.lit-bike-white'
                                                                                                                                                                                  or template == 'page.lit-bike-beige' or template == 'page.lit-bike-beige-blogger' %}prop_button_spec{% endif %}
                                                                                                                                                                                  {% if template == 'page.lit-bike'%}prop_button_black{% endif %}
                                                                                                                                                                                  ">
        {{section.settings.btn_txt}}
      </div>
    </a>
  {%- endif -%}
</div>
<style>
  .fb_value_proposition {
    padding: 60px 230px 90px;
    text-align: left;
    background-color: #fff;
    background: url('{{section.settings.lit_bike_background}}') no-repeat;
    background-size: cover;
  }
  .prop_diff_pages {
    padding: 60px 200px 40px !important;
  }
  .proposition_pc {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .proposition_pc_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 228px;
  }
  .proposition_pc_item:not(.proposition_pc_item:last-child) {
    margin-right: 96px;
  }
  .proposition_imgWrapper {
    width: 30px;
    height: 30px;
  }
  .iconPic {
    display: block;
    width: 100%;
  }
  .proposition_title {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin: 20px 0 24px;
    color: {{ section.settings.title_color}};
  }
  .proposition_des {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: {{ section.settings.title_color}};
  }
  .prop_button {
    text-align: center;
    margin: 20px auto 0;
    width: 241px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    color: {{ section.settings.prop_btn_txtcolor}};
    background: {{ section.settings.prop_btn_background}};
  }
  .prop_button_con .prop_button {
    border-radius: 0;
  }
  .fb_value_proposition .prop_button_black {
    background: linear-gradient(135deg, #7D00FF 0%, #00BCFF 100%);
    box-shadow: 0 10px 30px 0 rgba(0, 188, 255, 0.3);
  }
  .fb_value_proposition .prop_button_spec {
    border-radius: 0;
  }
  .proposition_mb {
    display: none;
  }
  @media only screen and (min-width: 1025px) and(max-width: 1550px) {
    .fb_value_proposition {
      padding: 48px 150px 73px;
    }
    .prop_diff_pages {
      padding: 48px 150px 35px !important;
    }
    .proposition_pc_item {
      width: 190px;
    }
    .proposition_pc_item:not(.proposition_pc_item:last-child) {
      margin-right: 60px;
    }
    .proposition_imgWrapper {
      width: 24px;
      height: 24px;
    }
    .proposition_title {
      font-size: 15px;
      line-height: 16px;
      margin: 16px 0 19px;
    }
    .proposition_des {
      font-size: 13px;
      line-height: 18px;
    }
    .prop_button {
      margin: 16px auto 0;
      width: 195px;
      height: 39px;
      line-height: 39px;
      font-size: 13px;
    }
  }
  @media only screen and (min-width: 769px) and(max-width: 1024px) {
    .fb_value_proposition {
      padding: 32px 100px 48px;
    }
    .prop_diff_pages {
      padding: 32px 100px 24px !important;
    }
    .proposition_pc_item {
      width: 122px;
    }
    .proposition_pc_item:not(.proposition_pc_item:last-child) {
      margin-right: 40px;
    }
    .proposition_imgWrapper {
      width: 16px;
      height: 16px;
    }
    .proposition_title {
      font-size: 12px;
      line-height: 14px;
      margin: 11px 0 13px;
    }
    .proposition_des {
      font-size: 12px;
      line-height: 14px;
    }
    .prop_button {
      margin: 16px auto 0;
      width: 129px;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
    }
  }
  @media only screen and (min-width: 769px) {
    .prop_button_con {
      width: 60%;
      display: flex;
      justify-content: space-around;
      margin: auto;
    }
    .prop_boom_button {
      margin-left: 30px;
    }
  }
  @media only screen and (max-width: 768px) {
    .fb_value_proposition {
      padding: 30px 25px;
    }
    .prop_diff_pages {
      padding: 30px 25px !important;
    }
    .proposition_pc {
      display: none;
    }
    .proposition_mb {
      display: block;
    }
    .proposition_mb_item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .proposition_imgWrapper {
      width: 24px;
      height: 24px;
    }
    .proposition_title {
      font-size: 16px;
      line-height: 18px;
      margin: 16px 0 12px;
    }
    .proposition_des {
      font-size: 14px;
      line-height: 20px;
    }
    .prop_button {
      text-align: center;
      margin: 32px auto 0;
      width: 183px;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
    }
    .prop_boom_button {
      margin-top: 15px;
    }
    .fb_value_proposition .prop_button_spec {
      margin: 32px auto 0;
      border-radius: 0;
    }
  }
</style>
<script type="text/javascript">
  $(function() {
    var swiper = new Swiper(".proposition_swiper", {
      autoplay: {
        delay: 3000,
        disableOnInteraction: false
      },
      observer: true,
      observeParents: true,
      observeSlideChildren: true
    });

    function resizeProposition() {
      let arr1 = [];
      $(".proposition_title").each(function(ulIndex, ul) {
        arr1.push($(ul).height())
      })
      let arr1height = Math.max(... arr1)
      $(".proposition_title").each(function(ulIndex, ul) {
        $(ul).css("height", arr1height + "px")
      })
    }
    if (!/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
      resizeProposition()
    }
  })
</script>
{% schema %}
  {
    "name": "Fbpropositionwiper",
    "presets": [
      {
        "name": "fb-proposition-swiper",
        "category": "Fb Sections",
        "blocks": []
      }
    ],
    "settings": [
      {
        "type": "color",
        "id": "swiper_background",
        "label": "Background color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Title Color",
        "default": "#1c1b1b"
      },
      {
        "type": "color",
        "id": "des_color",
        "label": "Des Color",
        "default": "#333"
      },
      {
        "type": "color",
        "id": "prop_btn_txtcolor",
        "label": "Button Text Color",
        "default": "#1C1B1B"
      }, {
        "type": "color_background",
        "id": "prop_btn_background",
        "label": "Button Background"
      }, {
        "type": "text",
        "id": "lit_bike_background",
        "label": "LitBike Page Background"
      }, {
        "type": "text",
        "id": "btn_txt",
        "label": "Button Text"
      }, {
        "type": "url",
        "id": "btn_url",
        "label": "Button URL"
      }, {
        "type": "text",
        "id": "btn_boom_txt",
        "label": "Button Boom Text"
      }, {
        "type": "url",
        "id": "btn_boom_url",
        "label": "Button Boom URL"
      }

    ],
    "blocks": [
      {
        "type": "propositionSwiper",
        "name": "Proposition Swiper",
        "settings": [
          {
            "type": "image_picker",
            "id": "iconPic",
            "label": "Swiper Image"
          }, {
            "type": "text",
            "id": "prop_title",
            "label": "Title"
          }, {
            "type": "richtext",
            "id": "prop_des",
            "label": "Desciption"
          }
        ]
      }
    ]
  }
{% endschema %}