{%- capture prodcutNavOverView -%}
    {%- if template contains 'product' -%}
        js-prodcutpage-overview
    {%- endif -%}
{%- endcapture -%}
<div class="fb-pages-video-introduce xbikeAnimation_video {{ prodcutNavOverView }}"  id="section-{{ section.id }}">
    {%- comment -%} js-boombike-delayshow {%- endcomment -%}
    {%- if section.settings.full_screen_video -%}
        <video class="Image--lazyLoad js-videoAutoPlayer fb-common-pcshow" 
            x-webkit-airplay="allow" 
            webkit-playsinline="true" 
            playsinline="true" 
            autoplay="autoplay" 
            muted="muted" 
            loop="loop" 
            data-src="{{ section.settings.video_url }}"
        >     
        </video>
        <video class="Image--lazyLoad js-videoAutoPlayer fb-common-mobshow" 
            x-webkit-airplay="allow" 
            webkit-playsinline="true" 
            playsinline="true" 
            autoplay="autoplay" 
            muted="muted" 
            loop="loop" 
            data-src="{{ section.settings.mob_video_url }}"
        >     
    </video>  
    {%- else -%}
        <video class="Image--lazyLoad js-videoAutoPlayer" 
            x-webkit-airplay="allow" 
            webkit-playsinline="true" 
            playsinline="true" 
            autoplay="autoplay" 
            muted="muted" 
            loop="loop" 
            data-src="{{ section.settings.video_url }}"
        >     
        </video>  
    {%- endif -%}
    {%- assign video_introduce_title_oprichtext = section.settings.video_introduce_title -%}
    {%- if video_introduce_title_oprichtext != blank -%}
        <div class="video-introduce-text">
            <div class="video-introduce-fade">
                <div class="video-introduce-title">
                    {{ section.settings.video_introduce_title }}
                </div>
                <div class="video-introduce-desc">
                    {{ section.settings.video_introduce_desc }}
                </div>
            </div>
           
        </div>
    {%- endif -%}
</div>
{%- if condition -%}
    
{%- else -%}
    
{%- endif -%}
<!-- 粉车: https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/20222101734.mp4?v=1644485743 -->
<!-- 黑车背景: https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/20221615191-2.png?v=1642763323 -->
<!-- 黑车: https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/20221241707.mp4?v=1643015289 -->
<style>
    .fb-pages-video-introduce{
        position: relative;
    }
    {%- if section.settings.full_screen_video -%}
        #section-{{ section.id }} {
            width: 100%;
            background-color: {{ section.settings.backgroundColor }};
        }
        {%- if template contains 'boom-bike' -%} 
            @media (min-width: 769px) {
                .fb-pages-video-introduce {
                    overflow: hidden;
                    height: 1080px;
                    width: 100%;
                  
                }
            }
            @media (max-width: 768px) {
                .fb-pages-video-introduce {
                   height: 100vh;
                }
            }
        {%- endif -%}
        .fb-pages-video-introduce{
            margin-top:-2px;
            margin-bottom: -4px;
        }
        .xbikeAnimation_video > video{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
        .fb-common-pcshow{
            display: block;
        }
        .fb-common-mobshow{
            display: none;
        }
        @media (max-width: 768px) {
            .fb-common-pcshow{
                display: none;
            }
            .fb-common-mobshow{
                display: block;
            }
        }
    {%- else -%}
        #section-{{ section.id }} {
            background-image: url({{section.settings.backgroundImage}}) no-repeat;
            background-size: 100% 100%;
            background-color: {{ section.settings.backgroundColor }};
        }
        .fb-pages-video-introduce{
            margin-top:-2px;
            margin-bottom: -4px;
        }
        .xbikeAnimation_video > video{
            width: 100%;
        }
    {%- endif -%}
    .video-introduce-text{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    } 
    .video-introduce-fade{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    @media (min-width: 769px) {
        .video-introduce-text{
            padding: 20px 0px;
        }
        .video-introduce-fade{
            padding: 0px 6%;
        }
    }
    @media (max-width: 768px) {
        .video-introduce-text{
            padding: 0px;
        }
        .video-introduce-fade{
            padding: 0px 6%;
        }
    }
    .video-introduce-title{
        font-size: 60px;
        font-weight: 800;
        color: #FFFFFF;
        line-height: 60px;
        text-align: center;
    }
    .video-introduce-desc{
        margin-top: 8px;
        font-size: 18px;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 24px;
        text-align: center;
    }
    @media (max-width: 768px) {
        .video-introduce-title, .video-introduce-title p{
            font-size: 40px;
            line-height: 44px;
            letter-spacing: 1px;
        }
        .video-introduce-desc, .video-introduce-desc p{
           font-size: 16px;
           line-height: 20px;
           margin-top: 16px;
        }
    }

</style>
{% schema %}
  {
    "name": "FbPagesVideoIntroduce",
    "presets": [
    {
      "name": "fb-pages-video-introduce",
      "category": "Fb Sections",
      "blocks": []
    }
  ],
    "settings": [
        {
            "type": "checkbox",
            "id": "full_screen_video",
            "label": "Choose Full Screen",
            "default": false
        },
        {
            "type": "color",
            "id": "backgroundColor",
            "label": "Background Color"
        },
        {
            "type": "text",
            "id": "backgroundImage",
            "label": "Background Image"
        },
        {
            "type": "richtext",
            "id": "video_introduce_title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "video_introduce_desc",
            "label": "Desc"
        },
        {
            "type": "url",
            "id": "video_url",
            "label": "Video Url"
        },
        {
            "type": "url",
            "id": "mob_video_url",
            "label": "Mobile Video Url"
        }
    ]
  }
{% endschema %}

