<div class="fb-product-detailnav js-product-detailnavcard" id="section-{{ section.id }}">
    <ul class="flex-center-between">
        {%- for block in section.blocks -%}
            <li class="{% if forloop.index == 1 %}active{% endif %} js-product-newnav" data-index="{{ forloop.index }}">
               <span> {{ block.settings.product_bav_text }} </span> 
               <span class="pc-nav-bottom-line"></span>
            </li>
        {%- endfor -%}
    </ul> 
</div>
{% schema %}
  {
    "name": "FbProductDetailNavCard",
    "presets": [
      {
        "name": "fb-product-detailnav-card",
        "category": "Fb Sections",
        "blocks": []
      }
    ],
    "settings": [
        {
            "type": "color",
            "id": "single_back",
            "label": "background color",
            "default": "#fff"
        }
    ],
    "blocks": [
        {
          "type": "name",
          "name": "middle-nav",
          "settings": [
                {
                    "type": "text",
                    "id": "product_bav_text",
                    "label": "Text"
                }
            ]
        }
    ]
  }
{% endschema %}
<style>
    #shopify-section-{{ section.id }} {
       /* display: none;*/
    }
    #section-{{ section.id }} {
        background-color: {{ section.settings.single_back }};  
    }
 
    #shopify-section-{{ section.id }} {
      display: block;
      position: sticky;
      position: -webkit-sticky;
      top: 63px;
      z-index: 3; 
    }   
    #stamped-main-widget,.fb-specifical,.js-online-reviewers {
      display: none;
    }
    
    .js-prodcutpage-specail{
        display: none;
    }
    .pc-nav-bottom-line{
      display: none;
    }
    @media only screen and (min-width: 769px){ 
    .fb-product-detailnav ul{
       width: 100%;
       border-top: 1px solid #F0F0F0;
       border-bottom: 1px solid #F0F0F0;
       height: 60px;
    } 
    .fb-product-detailnav ul li {
        font-weight: 500;
        font-size: 16px;
        line-height: 60px;
        color: #a2a2a2;
        width: 125px;
        height: 60px;
        text-align: center;
        cursor: pointer;
        position: relative;
    }
    .fb-product-detailnav ul li  span{
        display: inline-block;
    }
    .fb-product-detailnav ul li.active{
        border-bottom: none;
        color: #02C0D9;
        font-weight: bold;
    }

    .fb-product-detailnav ul li  .pc-nav-bottom-line{
      position: absolute;
      bottom: 0;
      width: 68px;
      height: 4px;
      left: 50%;
      margin-left: -34px;
      background-color: #02C0D9;
      display: none;
    }
    .fb-product-detailnav ul li.active .pc-nav-bottom-line{
        display: inline-block;
    }
    .flex-center-between{
       justify-content: center!important;
    }
}
</style>

