{%- assign product =  section.settings.product  -%}
<!-- lit-bike-klarna-limited-edition -->
<!-- lit-bike -->
<div class="fb-pages-price-comparision {% if template == 'page.lit-bike'%}litBike-whiteLine{% endif %}" id="section-{{ section.id }}">
    <div class="pages-price-comparision-wrapper">
        {%- if section.settings.buttonContent != blank -%}
            <div class="pages-price-comparision-title">
                {{section.settings.comparision-title}}
            </div>
        {%- endif -%}
        <div class="pages-price-comparision-pic">
            {%- if product != blank -%}
                <img class="Image--lazyLoad Image--fadeIn comparision-img" 
                    data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/{{product}}-{{ product.selected_or_first_available_variant.price | remove:"00" }}-pc-2.png" 
                    data-sizes="auto"
                    data-optimumx="1.2"
                    data-widths="[1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                >
                <span class="Image__Loader"></span>
    
                <img class="Image--lazyLoad Image--fadeIn comparision-img-mb" 
                    data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/{{product}}-{{ product.selected_or_first_available_variant.price | remove:"00"}}-mb-2.png" 
                    data-sizes="auto"
                    data-optimumx="1.2"
                    data-widths="[1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                >
                <span class="Image__Loader"></span>

            {%- else -%}
                {% assign imgPiker = section.settings.comparision-img | img_url: '1x1' | replace: '_1x1.','_{width}x.' %} 
                <img class="Image--lazyLoad Image--fadeIn comparision-img" 
                    data-src="{{ imgPiker }}" 
                    data-sizes="auto"
                    data-optimumx="1.2"
                    data-widths="[ 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                >
                <span class="Image__Loader"></span>
    
                {% assign imgPiker = section.settings.comparision-img-mb | img_url: '1x1' | replace: '_1x1.','_{width}x.' %} 
                <img class="Image--lazyLoad Image--fadeIn comparision-img-mb" 
                    data-src="{{ imgPiker }}" 
                    data-sizes="auto"
                    data-optimumx="1.2"
                    data-widths="[800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                >
                <span class="Image__Loader"></span>
             {%- endif -%}
        </div>
        <!-- BUY LIT BIKE NOW! -->
        {%- if section.settings.buttonContent != blank -%}
        <a href="{{section.settings.link-url}}">
            <div class="pages_bike_compared_button {% if template == 'page.lit-bike' %}litBike-button-box-border{% endif %}">
                {{section.settings.buttonContent}}
            </div>
        </a>
        {%- endif -%}
    </div>
</div>
<style>
    #section-{{ section.id }} {
        background: url({{section.settings.backgroundImage}}) no-repeat;
        background-size: 100% 100%;
    }
  	.litBike-whiteLine {
        margin-top:-4px;
    }
    .pages-price-comparision-wrapper{
      color: {{ section.settings.text-color }};
      background: {{ section.settings.comparision-color}};
      padding: 102px 0 156px;
    }
    .pages-price-comparision-title{
        text-align: center;
        font-size: 36px;
        line-height: 44px;
        font-weight: 800;
        margin-bottom: 71px;
    }
    .pages-price-comparision-title strong {
        color: #7D00FF;
        font-weight: 800;
        /* {{section.settings.litBikeTitle-color}} */
    }
    .comparision-img{
        display: block;
        width: 80%;
        margin:0 auto;
    }
    .comparision-img-mb{
        display: none;
    }
    .pages_bike_compared_button{
        max-width: 300px;
        margin: 30px auto 0;
        text-align: center;
        width: max-content;
        /* linear-gradient(135deg, #7D00FF 0%, #00BCFF 100%) */
        background: {{ section.settings.buttonBackground}} ;
        color: {{ section.settings.buttonTextColor}};
        border-radius: 10px;
        padding: 16px 43px;
        font-size: 16px;
        font-weight: bold;
        line-height: 19px;
    }
    .litBike-button-box-border{
        box-shadow: 0 10px 30px 0 rgba(0, 188, 255, 0.3);
    }
    @media only screen and (min-width: 1025px) and (max-width: 1549px){
        .pages_bike_compared_button{
            border-radius: 8px;
            padding: 12px 32px;
            font-size: 12px;
            line-height: 14px;
        }
        .litBike-button-box-border{
            box-shadow: 0 8px 23px 0 rgba(0,188,255,0.3);
        }
    }
    @media only screen and (min-width:769px)and (max-width:1024px){
        .pages-price-comparision-wrapper{
            padding: 68px 0 97px;
        }
        .pages-price-comparision-title{
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 71px;
        }
    }
    @media only screen and (max-width:768px){
        .pages-price-comparision-wrapper{
            padding: 109px 0 82px;
        }
        .pages-price-comparision-title{
            width: 50%;
            margin-left: 19px;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 1px;
            text-align: left;
            margin-bottom: 43px;
        }
        .comparision-img{
            display: none;
        }
        .comparision-img-mb{
            display: block;
            width: 90%;
        }
    }
</style>
{% schema %}
  {
    "name": "FbPagesPriceComparision",
    "presets": [
    {
      "name": "fb-pages-price-comparision",
      "category": "Fb Sections",
      "blocks": []
    }
  ],
    "settings": [
        {
            "type": "product",
            "id": "product",
            "label": "Product"
        },
        {
            "type": "color",
            "id": "comparision-color",
            "label": "Price Comparision Background"
        },
        {
            "type": "text",
            "id": "backgroundImage",
            "label": "Background Image"
        },
        {
            "type": "color",
            "id": "text-color",
            "label": "Text Color"
        },
        {
            "type": "richtext",
            "id": "comparision-title",
            "label": "Title"
        },
        {
            "type": "image_picker",
            "id": "comparision-img",
            "label": "Image Pc"
        },
        {
            "type": "image_picker",
            "id": "comparision-img-mb",
            "label": "Image Mb"
        },
        {
            "type": "color_background",
            "id": "buttonBackground",
            "label": "button Background"
        },
        {
            "type": "color",
            "id": "buttonTextColor",
            "label": "Button Text Color",
            "default": "#fff"
        },
        {
            "type": "url",
            "id": "link-url",
            "label": "Link Url"
        },
        {
            "type": "text",
            "id": "buttonContent",
            "label": "Button Content"
        }
    ]
  }
{% endschema %}
