{%- assign country_code_var = localization.country.iso_code | downcase -%}
 {%- if section.settings.show_top_nav -%}
    <div id="section-{{ section.id }}" class="fb-pages-top-banner">
        <div class="fb_pages_top_bike">
            <div class="fb_pages_top_bike_l">
                <div class="fb_pages_left_one">
                    <span class="fb_ptb_name" style="color: #fff;">
                        {{ section.settings.fb_ptb_name }}
                    </span>
                    {%- if section.settings.top_banner_open_activity -%}
                        <span class="js-pink-market-text fb_sun_color2"> 
                        </span>
                    {%- else -%}
                        {%- if section.settings.fb_ptb_sub_name != blank -%}
                            <span class="fb_sun_color">
                                {{ section.settings.fb_ptb_sub_name }}
                            </span>
                        {%- endif -%}
                    {%- endif -%}
                </div>
                {%- if section.settings.top_banner_open_activity -%}
                    <div class="fb-progress-barcontent js-pink-market-box">
                        <div class="fb_progress-bar js-pink-market-bar">
                        </div> 
                        <div class="fb_progress-line js-pink-market-line">
                        </div>
                    </div>

                {%- endif -%}
                {%- if section.settings.show_litbike_color -%}
                    <div class="fb-litbike-top-color">
                        <div class="fb-litbike-colorgroup">
                            {%- for block in section.blocks -%}
                                <a 
                                    class="litbike-color-block"
                                    {%- if block.settings.is_colorlitbike_active -%}
                                        href="javascript:void(0)"
                                    {%- else -%}
                                        href="{{ block.settings.colorlitbike_url }}"        
                                    {%- endif -%}
                                >
                                    {% assign imgactive = block.settings.colorlitbike_active_img | img_url: '' %}
                                    {% assign imgdefault = block.settings.colorlitbike_default_img | img_url: '' %}
                                    <img class="litbike-color-active {% if block.settings.is_colorlitbike_active == false  %}litbike-color-imghide{% endif %}" src="{{ imgactive }}"  />
                                    <img class="litbike-color-default {% if block.settings.is_colorlitbike_active == true  %}litbike-color-imghide {% endif %}"  src="{{ imgdefault }}" /> 
                                </a>
                            {%- endfor -%}
                        </div>
                    </div>
                {%- endif -%}
            </div>
            {% comment %} {%- if section.settings.top_banner_open_activity -%}
                <div class="fb_pages_top_center">
                    <div class="fb_progress-bar js-pink-market-bar">
                        <div class="fb_progress-line js-pink-market-line"></div>
                    </div>
                    <div class="fb_top_market js-pink-market-text-pc">
                    Discount limited to <strong>100</strong> bikes
                    </div>
                </div>
            {%- endif -%} {% endcomment %}
            <div class="fb_pages_top_bike_r">
                {%- if section.settings.fb_ptb_pay_one != blank -%}
                    <div class="fb_pages_top_bike_r_con">
                        <div>
                            {%- assign product =  section.settings.product  -%}
                            {%- if product != blank -%}
                                {{ section.settings.fb_ptb_pay_one }} ${%- render 'customer-price-control', type:'mo', cpc_product: product -%}<sup>1</sup>
                            {%- else -%}
                                {{ section.settings.fb_ptb_pay_one }} ${{ section.settings.fb_ptb_pay_two }}<sup>1</sup>   
                            {%- endif -%}
                        </div>
                        <div>
                            {{ section.settings.fb_ptb_pay_three }}
                        </div>
                    </div>
                {%- endif -%}
                {%- if section.settings.fb_add_card-%}
                    <div class="js-ddd-btn">
                        <div class="fb_pages_top_bike_r_button">
                            {{ section.settings.fb_ptb_but_text }}
                        </div>
                    </div>
                {%- endif -%}
                {%- if section.settings.fb_ptb_but_text != blank and section.settings.fb_add_card== false -%}
                    <a href="{{ section.settings.fb_ptb_but_url }}">
                        <div class="fb_pages_top_bike_r_button">
                            {{ section.settings.fb_ptb_but_text }}
                        </div>
                    </a>
                {%- endif -%}
            </div>
        </div>
    </div>
{%- endif -%}
 {%- if section.settings.show_litbike_colornav -%}
    {%- render 'fb-litbike-colornav',  section: section  -%}
 {%- endif -%}
<style>
    #shopify-section-{{ section.id }} {
        position: sticky;
        left: 0;
        z-index: 4;
    }
    {%- if section.settings.show_litbike_color -%}
         @media screen and (min-width: 769px) {
            #shopify-section-{{ section.id }} {
                top: 78px;
            }
        
        }
         @media screen and (max-width: 768px) {
            #shopify-section-{{ section.id }} {
                top: 72px;
            }
        
        }
    {%- else -%}
        #shopify-section-{{ section.id }} {
            top: 73px;
        }
        @media screen and (max-width: 1139px) {
            #shopify-section-{{ section.id }} {
                top: 72px;
            }
        
        }
    {%- endif -%}
    #shopify-section-{{ section.id }} .js-ddd-btn{
         cursor:pointer
    }
    @media screen and (min-width: 1140px) and (max-width: 1328px) {
        #shopify-section-{{ section.id }} {
            top: 124px;
        }
    }
    

    #section-{{ section.id }} .fb_pages_top_bike{
        background: {{ section.settings.fb_ptb_background_color }}
    }
    #section-{{ section.id }} .fb_pages_top_bike_l .fb_sun_color{
        color: {{ section.settings.fb_ptb_sub_name_color }};
    }
    .fb_sun_color2 {
        color: #fff;
    }
    .fb_sun_color2 strong {
        font-weight: blod;
    }
    #section-{{ section.id }} .fb_pages_top_bike_r_button{
        padding: 15px 43px;
        font-size: 14px;
        font-weight: bold;
        color: {{ section.settings.fb_ptb_but_text_color }};
        line-height: 18px;
        background: {{ section.settings.fb_ptb_but_color }};
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px){
        #section-{{ section.id }} .fb_pages_top_bike_r_button {
            padding: 10px 14px;
            font-size: 14px;
            line-height: 20px;
            height: 80%;
        }
    }
    @media only screen and (max-width: 768px){
        #section-{{ section.id }} .fb_pages_top_bike_r_button {
            padding: 0 10px;
            font-size: 12px;
            line-height: 30px;
            height: 80%;
        }
    
        {%- if section.settings.show_litbike_color -%}
            .fb_pages_top_bike{
                padding: 8px 14px 6px 18px;
            }
            .fb-litbike-top-color{
                margin-top: 2px;
            }
            .fb-pages-top-banner-full-screen{
                margin-top: -90px!important;
            }
            {%- if template == 'page.lit-bike-klarna' or  template == 'page.lit-bike' -%}
                .fb-pages-top-banner-style{
                    margin-top: -149px;
                }
            {%- endif -%}
        {%- else -%}
            .fb_pages_top_bike{
                 padding: 14px;
            }
        {%- endif -%}
    }
     @media only screen and (min-width: 769px) {
        {%- if section.settings.show_litbike_color -%}
            .fb_pages_top_bike{
                padding: 0px 50px 0px 74px;
                height: 78px;
            }
            .fb-litbike-colorgroup{
                padding-top: 6px;
            }
            .fb-pages-top-banner-full-screen{
                {%- comment -%} margin-top: -90px; {%- endcomment -%}
            }
            {%- if template == 'page.lit-bike-klarna' or  template == 'page.lit-bike' -%}
                .fb-pages-top-banner-style{
                    {%- comment -%} margin-top: -149px; {%- endcomment -%}
                }
            {%- endif -%}
        {%- else -%}
            .fb_pages_top_bike{
                padding: 14px 50px 14px 80px;
            }
        {%- endif -%}
     }
    {%- if country_code_var == 'gb' -%}
        .fb_pages_top_bike_b_text, .fb_pages_top_bike_b{
            display: none!important;
        }
        
    {%- endif -%}
</style>
{% schema %}
  {
    "name": "FbPagesTopBanner",
    "presets": [
      {
        "name": "fb-pages-top-banner",
        "category": "fb-pages-top-banner",
        "blocks": [
            {
                "type": "colorArr"
            }
        ]
      }
    ],
    "settings": [
        {
            "type": "header",
            "content": "RIGHT NAV SECTION"
        },
        {
            "type": "checkbox",
            "id": "show_litbike_colornav",
            "label": "Show Pc Right Lit Bike color",
            "default": false
        },
        {
            "type": "richtext",
            "id": "litbike_color_title",
            "label": "Nav title Name",
            "default": "<p>More Colors Available</p>"
        },
        {
            "type": "checkbox",
            "id": "show_litbike_back_light",
            "label": "Is Dark?",
            "default": true
        },
        {
            "type": "header",
            "content": "TOP NAV SECTION"
        },
        {
            "type": "checkbox",
            "id": "show_top_nav",
            "label": "Show Top Nav",
            "default": true
        },
        {
            "type": "product",
            "id": "product",
            "label": "Product"
        },
        {
            "type": "checkbox",
            "id": "show_litbike_color",
            "label": "Show Choose Color Bike",
            "default": false
        },
        {
            "type": "text",
            "id": "fb_ptb_name",
            "label": "Bike Name"
        },
        {
            "type": "text",
            "id": "fb_ptb_sub_name",
            "label": "Bike Sub Name"
        },
         {
            "type": "text",
            "id": "fb_ptb_background_color",
            "label": "Background Color",
            "default": "rgba(0, 0, 0, 0.28)"
        },
        {
            "type": "color",
            "id": "fb_ptb_sub_name_color",
            "label": "Bike Sub Name Color"
        },
        {
            "type": "text",
            "id": "fb_ptb_pay_one",
            "label": "Desc one"
        },
        {
            "type": "text",
            "id": "fb_ptb_pay_two",
            "label": "Nnumber"
        },
        {
            "type": "text",
            "id": "fb_ptb_pay_three",
            "label": "Desc Two"
        },
        {
            "type": "color",
            "id": "fb_ptb_but_color",
            "label": "Button Color"
        },
        {
            "type": "color",
            "id": "fb_ptb_but_text_color",
            "label": "Button text color"
        },
        {
            "type": "text",
            "id": "fb_ptb_but_text",
            "label": "Button text"
        },
        {
            "type": "checkbox",
            "id": "fb_add_card",
            "label": "Show add card",
            "default": false
        },
        {
            "type": "url",
            "id": "fb_ptb_but_url",
            "label": "Url"
        },
        {
            "type": "checkbox",
            "id": "top_banner_open_activity",
            "label": "open activity",
            "default": false
        }
    ],
     "blocks": [
        {
            "type": "colorArr",
            "name": "add lit bike color",
            "settings": [
                {
                    "type": "text",
                    "id": "is_colorlitbike_name",
                    "label": "Litbike Color Name"
                },
                {
                    "type": "checkbox",
                    "id": "is_colorlitbike_active",
                    "label": "Is Show Active Image",
                    "default": false
                },
                {
                    "type": "image_picker",
                    "id": "colorlitbike_default_img",
                    "label": "Mob Default Image"
                },
                {
                    "type": "image_picker",
                    "id": "colorlitbike_active_img",
                    "label": "Mob Active Image"
                },
                 {
                    "type": "image_picker",
                    "id": "colorlitbike_default_img_pc",
                    "label": "Pc Default Image"
                },
                {
                    "type": "image_picker",
                    "id": "colorlitbike_active_img_pc",
                    "label": "Pc Active Image"
                },
                {
                    "type": "url",
                    "id": "colorlitbike_url",
                    "label": "Link"
                }
            ]
        }
    ]
}
{% endschema %}
