{%- assign swiperContent = section.blocks | where: 'type', 'swiperContent' | first -%}
<div class="fb-PR-swiper home-community" id="section-{{ section.id }}">
    <div class="activity litBike-activity">
        <div class="activity-content">
            {% assign imgPiker = section.settings.PRimg | img_url: '1x1' | replace: '_1x1.','_{width}x.' %} 
            <img class="Image--lazyLoad Image--fadeIn PRimg" 
                 data-src="{{ imgPiker }}" 
                 data-sizes="auto"
                 data-optimumx="1.2"
                 data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                 alt="{{ section.settings.PRimg.alt }}"
             >
             <span class="Image__Loader"></span>
        <div class="activity-title litBike-title">{{section.settings.PR-title}}</div>
        </div>
    </div>
    <div class="swiperContainer litBikePR">
        <div class="swiper PRswiper">
            <div class="swiper-wrapper">
                {%- for block in section.blocks -%}
                    <div class="swiper-slide">
                    <a
                        href="{{block.settings.swiper_url}}"
                        target="_blank"
                    >
                        <div class="text litBike-text" id="swiperDes">{{block.settings.swiperDes}}</div>
                        <div class="imgWrapper">
                            {% assign imgPiker = block.settings.swiperImg | img_url: '1x1' | replace: '_1x1.','_{width}x.' %} 
                            <img class="Image--lazyLoad Image--fadeIn swiperImg" 
                                data-src="{{ imgPiker }}" 
                                data-sizes="auto"
                                data-optimumx="1.2"
                                data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                            >
                    </div> 
                        
                    </a>
                    </div>
                    {%- endfor -%}

                
            </div> 
            <div class="swiper-scrollbar litBike-scrollbar" id="swiper3-scrollbar"></div>
        </div>
    </div>
</div> 
<style>
.fb-PR-swiper .litBikePR{
  background-size: cover !important;
  display:flex;
  justify-content:flex-end;
  background-image: url({{section.settings.litBike-rightColor}}) !important;
}
.fb-PR-swiper  .litBike-activity{
    background-image: url({{section.settings.litBike-leftColor}}) !important;
    background-size: cover !important;
}
.fb-PR-swiper .swiperContainer .litBike-scrollbar{
    background: {{section.settings.litBike-scrollbar}} !important;
}
.fb-PR-swiper .swiperContainer .swiper-scrollbar-drag{
    background: {{ section.settings.litBike-scrollbar-drag }} !important;
}
.fb-PR-swiper .litBike-title{
    color: {{ section.settings.litBike-titleColor }} !important;
}
.fb-PR-swiper .litBike-text{
  color: {{ section.settings.litBike-textColor }} !important;
}
.activity {
    width: 50%;
    padding: 40px 0px 0;
    background: {{ section.settings.PR_swiper_background}};
}       
@media screen and (max-width: 768px){
 .fb-PR-swiper .litBikePR{
    height:200px !important;
    background-image: url({{section.settings.litBike-bottomColor}}) !important;
   justify-content:center;
  }
  .fb-PR-swiper .litBike-activity{
    background-image: url({{section.settings.litBike-topColor}});
  }
}
</style>
{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "FbPRSwiper",
  "presets": [
    {
      "name": "fb-PR-swiper",
      "category": "Fb Sections",
      "blocks": []
    }
  ],
  "settings": [
        {
            "type": "color",
            "id": "PR_swiper_background",
            "label": "Background color",
            "default": "#fff"
        },
        {
          "type": "image_picker",
          "id": "PRimg",
          "label": "PR"
        },
        {
          "type": "text",
          "id": "PR-title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "litBike-leftColor",
          "label": "litBike left Color"
        },
        {
          "type": "text",
          "id": "litBike-rightColor",
          "label": "litBike Right Color"
        },
        {
          "type": "text",
          "id": "litBike-topColor",
          "label": "litBike Top Color Mb"
        },
        {
          "type": "text",
          "id": "litBike-bottomColor",
          "label": "litBike Bottom Color Mb"
        },
        {
          "type": "color",
          "id": "litBike-scrollbar",
          "label": "litBike Scrollbar"
        },
        {
          "type": "color",
          "id": "litBike-scrollbar-drag",
          "label": "litBike Scrollbar Drag"
        },
        {
          "type": "color",
          "id": "litBike-titleColor",
          "label": "litBike Title Color"
        },
        {
          "type": "color",
          "id": "litBike-textColor",
          "label": "litBike Text Color"
        }
    ],
    "blocks": [
      {
        "type": "swiperContent",
        "name": "Swiper Content",
        "settings": [
          {
            "type": "url",
            "id": "swiper_url",
            "label": "Swiper URL"
          },
          {
              "type": "image_picker",
              "id": "swiperImg",
              "label": "Swiper Image"
          },
          {
            "type": "text",
            "id": "swiperDes",
            "label": "Swiper Description"
          }
       ]
      }
    ]
}
{% endschema %}