{%- assign country_code_var = localization.country.iso_code | downcase -%}
{%- if section.settings.show_top_nav -%}
  <div id="section-{{ section.id }}" class="fb-pages-top-banner">
    <div class="fb_pages_top_bike">
      <div class="fb_pages_select_bike_l" onclick="changeFrameType()">
        <span class="fb_pages_bike_info"></span>
        <img
          class="fb_pages_bike_img"
          src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/updaown.png?v=1668668770"
          alt=""
          loading="lazy"
          width="10"
          height="10"
        >
      </div>
      <div class="fb_pages_select_frame">
        <div class="fb_pages_select_item" onclick="toAnchor(0)">Features</div>
        <div class="fb_pages_select_item" onclick="toAnchor(1)">Compare</div>
        <div class="fb_pages_select_item" onclick="toAnchor(2)">Reviews</div>
        <div class="fb_pages_select_item" onclick="toAnchor(3)">Specifications</div>
      </div>
      <div class="fb_pages_top_bike_l">
        <div class="fb_pages_left_one">
          <span class="fb_ptb_name">
            {{ section.settings.fb_ptb_name }}
          </span>
          {%- if section.settings.top_banner_open_activity -%}
            <span class="js-pink-market-text fb_sun_color2"> </span>
          {%- else -%}
            {%- if section.settings.fb_ptb_sub_name != blank -%}
              <span class="fb_sun_color">
                {{ section.settings.fb_ptb_sub_name }}
              </span>
            {%- endif -%}
          {%- endif -%}
        </div>
        {%- if section.settings.top_banner_open_activity -%}
          <div class="fb-progress-barcontent js-pink-market-box">
            <div class="fb_progress-bar js-pink-market-bar"></div>
            <div class="fb_progress-line js-pink-market-line"></div>
          </div>
        {%- endif -%}
        {%- if section.settings.show_litbike_color -%}
          <div class="fb-litbike-top-color">
            <div class="fb-litbike-colorgroup">
              {%- for block in section.blocks -%}
                {%- assign colorlitbike_product = block.settings.colorlitbike_product -%}
                {%- capture show_product -%}
                    {%- render 'customer-price-control', type:'showProduct', cpc_product: colorlitbike_product -%}
                {%- endcapture -%}
                {%- if show_product == true  or show_product == 'true' -%}
                    <a
                    class="litbike-color-block"
                    {%- if block.settings.is_colorlitbike_active -%}
                        href="javascript:void(0)"
                    {%- else -%}
                        href="{{ block.settings.colorlitbike_url }}"
                    {%- endif -%}
                    >
                    {% assign imgactive = block.settings.colorlitbike_active_img | img_url: '' %}
                    {% assign imgdefault = block.settings.colorlitbike_default_img | img_url: '' %}
                    <img
                        class="litbike-color-active {% if block.settings.is_colorlitbike_active == false  %}litbike-color-imghide{% endif %}"
                        src="{{ imgactive }}"
                    >
                    <img
                        class="litbike-color-default {% if block.settings.is_colorlitbike_active == true  %}litbike-color-imghide {% endif %}"
                        src="{{ imgdefault }}"
                    >
                    </a>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}
      </div>
      <div class="fb_pages_top_bike_r">
        {%- if section.settings.fb_ptb_pay_one != blank -%}
          <div class="fb_pages_top_bike_r_con">
            <div class="fb_pages_top_bike_a"></div>
            <div class="fb_pages_top_bike_b" style="{% if country_code_var =='gb' or country_code_var =='au' or product.title  contains 'Lit Bike' %}display: none; {% else %}display: inline-block;{% endif %}">
              {%- assign product = section.settings.product -%}
              <div class="fb_pages_top_bike_b_text" style="{% if country_code_var =='gb' or country_code_var =='au' or product.title  contains 'Lit Bike' %}display: none; {% else %}display: inline-block;{% endif %}">
                {%- if product != blank -%}
                  {{ section.settings.fb_ptb_pay_one }}
                  <span class="fb_pages_top_price">
                    ${%- render 'customer-price-control', type:'mo', cpc_product: product -%}
                    </span>/mo¹,
                {%- else -%}
                  {{ section.settings.fb_ptb_pay_one }} $
                  {{- section.settings.fb_ptb_pay_two -}}
                  /mo¹,
                {%- endif -%}
                {{ section.settings.fb_ptb_pay_three }}
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}
{%- if section.settings.show_litbike_colornav -%}
  {%- render 'fb-litbike-colornav', section: section -%}
{%- endif -%}
<script>
  let fbPageTitle = '{{ section.settings.fb_ptb_name }}';
  let fbPageType = '';
  if (fbPageTitle.startsWith('Lit Bike')) {
    fbPageType = 'Lit Bike';
  } else if (fbPageTitle.startsWith('Boom Bike')) {
    fbPageType = 'Boom Bike';
  }
  let fbPageDom = $(`<span>${fbPageType}</span> · <span class="locationName"></span>`);
  fbPageDom.appendTo('.fb_pages_bike_info');

  let frameType = false;
  function changeFrameType(type) {
    frameType = type ? type : !frameType;

    if (frameType) {
      $('.fb_pages_select_frame').addClass('open');
      $('.fb_pages_top_bike').addClass('open');
      $('.fb_pages_bike_img').addClass('open');
    } else {
      $('.fb_pages_select_frame').removeClass('open');
      $('.fb_pages_bike_img').removeClass('open');
      setTimeout(() => {
        $('.fb_pages_top_bike').removeClass('open');
      }, 400);
    }
  }

  let screenWidth = window.screen.width;
  let isMobile = screenWidth > 325 && screenWidth < 769;

  let overviewAnchor = 0;
  let compareAnchor = 0;
  let reviewersAnchor = 0;
  let specailAnchor = 0;

  function toAnchor(activeIndex) {
    if (isMobile) {
      changeFrameType(false);
    } else {
      setActiveStyle(activeIndex);
    }

    getDomLocation()

    if (activeIndex === 0) {
      document.documentElement.scrollTop = overviewAnchor;
    } else if (activeIndex === 1) {
      document.documentElement.scrollTop = compareAnchor;
    } else if (activeIndex === 2) {
      document.documentElement.scrollTop = reviewersAnchor;
    } else if (activeIndex === 3) {
      document.documentElement.scrollTop = specailAnchor;
    }
  }
  function getDomLocation(){
    let overvieDom = $('.js-prodcutpage-overview').eq(0).offset()
    let compareDom = isMobile ? $('.fb_savCal_MainContainer').offset() : $('.fb_savCal_MainContainer').offset()
    let reviewersDom = $('.js-online-reviewers').offset()
    let specailDom = $('.fb-key-specifical').offset()
    let allHeaderHeight = $(".headerPadding").height() + $('.fb_pages_top_bike').height() + $('#shopify-section-announcement').height()

    if(overvieDom) overviewAnchor = Math.trunc(overvieDom.top - allHeaderHeight);
    if(compareDom) compareAnchor = Math.trunc(compareDom.top - allHeaderHeight);
    if(reviewersDom) reviewersAnchor = Math.trunc(reviewersDom.top - allHeaderHeight);
    if(specailDom) specailAnchor = Math.trunc(specailDom.top - allHeaderHeight);
  }
    
  function setActiveStyle(activeIndex) {
    if (activeIndex === undefined) {
    }
    for (let index = 0; index < $('.fb_pages_select_item').length; index++) {
      let dom = $('.fb_pages_select_item')[index];

      if (activeIndex === undefined) {
        $(dom).removeClass('active');
      } else {
        if (activeIndex === index) {
          $(dom).addClass('active');
        } else {
          $(dom).removeClass('active');
        }
      }
    }
  }

  if (!isMobile) {
    setTimeout(() => {
      let leftValue = $('.fb_pages_top_bike_l').width() + 72;
      $('.fb_pages_select_frame').css('margin-left', leftValue + 'px');
    });
  } 

  window.addEventListener('scroll', () => {
    let topValue = document.documentElement.scrollTop;
    rangeLocationName(topValue)

    let maxTop = 0;
    if (isMobile) {
      maxTop = Math.trunc($('.paymentMethodFrame .main_product_payBtn').offset().top);
    } else {
      maxTop = Math.trunc($('.chooseBikeColor').offset().top);
    }

    if (topValue >= maxTop) {
      $('.fb_pages_top_bike').addClass('show');
    } else {
      $('.fb_pages_top_bike').removeClass('show');
    }
  });

  function rangeLocationName(topValue){
    getDomLocation()

    if(topValue >= overviewAnchor || topValue < overviewAnchor){
      if(isMobile) $(".locationName").text("Features");
      setActiveStyle(0)
    }
    if(topValue >= compareAnchor){
      if(isMobile) $(".locationName").text("Compare");
      setActiveStyle(1)
    }
    if(topValue >= reviewersAnchor){
      if(isMobile) $(".locationName").text("Reviews");
      setActiveStyle(2)
    }
    if(topValue >= specailAnchor){
      if(isMobile) $(".locationName").text("Specifications");
      setActiveStyle(3)
    }
  }
  $(function() {
    if (window.location.href.includes('reviews')) { 
        let reviewersDomNew = $('.js-online-reviewers').offset()
        let allHeaderHeightNew = $(".headerPadding").height() + $('.fb_pages_top_bike').height() + $('#shopify-section-announcement').height()
        reviewersAnchorNew = Math.trunc(reviewersDomNew.top - allHeaderHeightNew);
        document.documentElement.scrollTop = reviewersAnchorNew;
    }
  })
</script>
<style>
  #shopify-section-{{ section.id }} {
      position: sticky;
      left: 0;
      z-index: 4;
  }
  {%- if section.settings.show_litbike_color -%}
       @media screen and (min-width: 769px) {
          #shopify-section-{{ section.id }} {
              top: 78px;
          }

      }
       @media screen and (max-width: 768px) {
          #shopify-section-{{ section.id }} {
              top: 72px;
          }

      }
  {%- else -%}
      #shopify-section-{{ section.id }} {
          top: 73px;
      }
      @media screen and (max-width: 1139px) {
          #shopify-section-{{ section.id }} {
              top: 72px;
          }

      }
  {%- endif -%}
  #shopify-section-{{ section.id }} .js-ddd-btn{
       cursor:pointer
  }
  @media screen and (min-width: 1140px) and (max-width: 1328px) {
      #shopify-section-{{ section.id }} {
          top: 124px;
      }
  }


  #section-{{ section.id }} .fb_pages_top_bike{
      background: {{ section.settings.fb_ptb_background_color }}
  }
  #section-{{ section.id }} .fb_pages_top_bike_l .fb_sun_color{
      color: {{ section.settings.fb_ptb_sub_name_color }};
  }
  .fb_sun_color2 {
      color: #fff;
  }
  .fb_sun_color2 strong {
      font-weight: blod;
  }
  #section-{{ section.id }} .main_product_payBtn{
      padding: 15px 43px;
      font-size: 14px;
      font-weight: bold;
      line-height: 18px;
  }
  @media only screen and (min-width: 769px) and (max-width: 1024px){
      #section-{{ section.id }} .main_product_payBtn {
          padding: 10px 14px;
          font-size: 14px;
          line-height: 20px;
          height: 80%;
      }
  }
  @media only screen and (max-width: 768px){
      #section-{{ section.id }} .main_product_payBtn {
          padding: 0 10px;
          font-size: 12px;
          line-height: 30px;
          height: 80%;
      }

      {%- if section.settings.show_litbike_color -%}
          .fb_pages_top_bike{
              padding: 0 18px;
          }
          .fb-pages-top-banner-full-screen{
              margin-top: -90px!important;
          }
          {%- if template == 'page.lit-bike-klarna' or  template == 'page.lit-bike' -%}
              .fb-pages-top-banner-style{
                  margin-top: -149px;
              }
          {%- endif -%}
      {%- else -%}
          .fb_pages_top_bike{
               padding: 14px;
          }
      {%- endif -%}
  }
  @media only screen and (min-width: 769px) {
    .fb_pages_top_bike_a{
      display: flex;
      justify-content: flex-end;
    }
    .fb_pages_top_bike_a .current{
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #333;
      margin-left: 10px;
    }
    .fb_pages_top_bike_a .origin{
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      color: #888888;
    }
    .fb_pages_top_bike_b{
      display: inline-block;
      vertical-align: middle;
    }
    {%- if section.settings.show_litbike_color -%}
        .fb_pages_top_bike{
            height: 78px;
        }
        .fb-pages-top-banner-full-screen{
            {%- comment -%} margin-top: -90px; {%- endcomment -%}
        }
        {%- if template == 'page.lit-bike-klarna' or  template == 'page.lit-bike' -%}
            .fb-pages-top-banner-style{
                {%- comment -%} margin-top: -149px; {%- endcomment -%}
            }
        {%- endif -%}
    {%- endif -%}
  }

  .fb_pages_top_bike{
    position: relative;
    border-bottom: 0.5px solid #e6e6e6;
    height: 0;
    padding: 0;
    transition: height .3s;
    overflow: hidden;
  }
  .fb_pages_top_bike.show{
    height: 40px;
    overflow: unset;
  }
  .fb_pages_top_bike.open{
    border-bottom:  0.5px solid transparent;
  }
  .fb_pages_select_frame{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    color: #888;
    background: {{ section.settings.fb_ptb_background_color }};
    height: 0;
    overflow: hidden;
    transition: height .4s;
  }
  .fb_pages_select_frame.open{
    height: 174px;
  }
  .fb_pages_select_item{
    border-top: 0.5px solid #e6e6e6;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    margin: 0 18px;
  }
  .fb_pages_top_bike_l{
    position: absolute;
    right: 18px;
  }
  .fb_pages_top_bike_r,
  .fb_pages_left_one{
    display: none;
  }
  .fb_pages_select_bike_l{
    height: 39.5px;
    line-height: 38.5px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-left: 15px;
  }
  .fb_pages_bike_img{
    transform: rotate(180deg);
    margin-left: 6px;
    transition: all .4s;
  }
  .fb_pages_bike_img.open{
    transform: rotate(0deg);
  }
  .fb_pages_bike_info,
  .fb_pages_bike_img{
    vertical-align: middle;
  }
  @media only screen and (min-width: 769px) {
    #section-{{ section.id }} .main_product_payBtn{
      display: inline-block;
    }
    .fb_pages_top_bike.show{
      height: 78px;
      overflow: hidden;
    }
    .fb_pages_top_bike_l{
      left: 50px;
      right: unset;
    }
    .fb_pages_select_bike_l{
      display: none;
    }
    .fb_pages_left_one{
      margin-right: 30px;
    }
    .fb_pages_left_one,
    .fb-litbike-top-color,
    .fb_pages_top_bike_r_con,
    .js-ddd-btn{
      display: inline-block;
      vertical-align: middle;
    }
    .fb_pages_top_bike_r{
      display: inline-block;
    }
    .fb_pages_top_bike{
      border-bottom: none;
    }
    .fb_pages_top_bike.show{
      border-bottom: 0.5px solid #ccc;
    }
    .fb_pages_top_bike_r{
      position: absolute;
      right: 50px;
    }
    .fb_pages_top_bike_r_con{
      color: #333;
    }
    .fb_pages_select_frame{
      position: unset;
      height: auto;
      width: auto;
      color: #666;
      background: transparent;
    }
    .fb_pages_select_item{
      display: inline-block;
      border-top: none;
      font-size: 16px;
      cursor: pointer;
    }
    .fb_pages_select_item.active{
      font-size: 16px;
      color: #333;
      font-weight: 700;
    }
    #LPNavigation_nav{
      display: none !important;
    }
  }
</style>
{% schema %}
{
  "name": "FbPagesTopBannerPdp",
  "presets": [
    {
      "name": "fb-pages-top-banner-pdp",
      "category": "fb-pages-top-banner-pdp",
      "blocks": [
        {
          "type": "colorArr"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "RIGHT NAV SECTION"
    },
    {
      "type": "checkbox",
      "id": "show_litbike_colornav",
      "label": "Show Pc Right Lit Bike color",
      "default": false
    },
    {
      "type": "richtext",
      "id": "litbike_color_title",
      "label": "Nav title Name",
      "default": "<p>More Colors Available</p>"
    },
    {
      "type": "checkbox",
      "id": "show_litbike_back_light",
      "label": "Is Dark?",
      "default": true
    },
    {
      "type": "header",
      "content": "TOP NAV SECTION"
    },
    {
      "type": "checkbox",
      "id": "show_top_nav",
      "label": "Show Top Nav",
      "default": true
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "checkbox",
      "id": "show_litbike_color",
      "label": "Show Choose Color Bike",
      "default": false
    },
    {
      "type": "text",
      "id": "fb_ptb_name",
      "label": "Bike Name"
    },
    {
      "type": "text",
      "id": "fb_ptb_sub_name",
      "label": "Bike Sub Name"
    },
    {
      "type": "text",
      "id": "fb_ptb_background_color",
      "label": "Background Color",
      "default": "rgba(255, 255, 255, 1)"
    },
    {
      "type": "color",
      "id": "fb_ptb_sub_name_color",
      "label": "Bike Sub Name Color"
    },
    {
      "type": "text",
      "id": "fb_ptb_pay_one",
      "label": "Desc one"
    },
    {
      "type": "text",
      "id": "fb_ptb_pay_two",
      "label": "Nnumber"
    },
    {
      "type": "text",
      "id": "fb_ptb_pay_three",
      "label": "Desc Two"
    },
    {
      "type": "checkbox",
      "id": "fb_add_card",
      "label": "Show add card",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "top_banner_open_activity",
      "label": "open activity",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "colorArr",
      "name": "add lit bike color",
      "settings": [
        {
            "type": "product",
            "id": "colorlitbike_product",
            "label": "product"
        },
        {
          "type": "text",
          "id": "is_colorlitbike_name",
          "label": "Litbike Color Name"
        },
        {
          "type": "checkbox",
          "id": "is_colorlitbike_active",
          "label": "Is Show Active Image",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "colorlitbike_default_img",
          "label": "Mob Default Image"
        },
        {
          "type": "image_picker",
          "id": "colorlitbike_active_img",
          "label": "Mob Active Image"
        },
        {
          "type": "image_picker",
          "id": "colorlitbike_default_img_pc",
          "label": "Pc Default Image"
        },
        {
          "type": "image_picker",
          "id": "colorlitbike_active_img_pc",
          "label": "Pc Active Image"
        },
        {
          "type": "url",
          "id": "colorlitbike_url",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
