{%- assign video_content = section.blocks | where: 'type', 'video_content' | first -%}
{%- assign image_content = section.blocks | where: 'type', 'image_content' | first -%}
{%- assign country_code_var = localization.country.iso_code | downcase -%}
<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="fb-richTextWithMedia" 
class="fb-richTextWithMedia Section {% if template == 'page.lit-bike' %}white-line{% endif %} {% if template == 'page.classes' %}classesPadding{% endif %}">
  {%- for block in section.blocks -%}
        {%- capture section_content -%}
          <div class="FeatureText__ContentWrapper">
            <div class="FeatureText__Content">
                <header class="SectionHeader" id="unifyColor">
      
                    <h2 class="SectionHeader__Heading Heading u-h1" id="unifyColor">{{ section.settings.title1}}</h2>
      
                    <div class="SectionHeader__Description Rte">
                        {%- if country_code_var == 'gb'  -%}
                            {{ section.settings.content | replace: '$74','£53'}}
                        {%- elsif country_code_var == 'au' -%}
                         {{ section.settings.content | replace: '$74','$83'}}
                        {%- else -%}
                            {{ section.settings.content }}
                        {%- endif -%}
                    </div>
      
                    <a href="{{ section.settings.link_url }}" class="Link Link--underline">{{ section.settings.link_text }}</a>
                </header>
            </div>
          </div>
        {%- endcapture -%}
      
        {% comment %} 图片模块 {% endcomment %}
          {%- capture image_content -%}
            <div class="FeatureText__ImageWrapper" style="position:relative;">
              {%- capture supported_sizes -%}
              {%- render 'image-size', sizes: '400,600,700,800,900,1000,1200', image: block.settings.image -%}
              {%- endcapture -%}
               <div class="AspectRatio" style="max-width: {{ block.settings.image.width }}px; --aspect-ratio: {{ block.settings.image.aspect_ratio }}">
              {% assign image_url = block.settings.image | img_url: '1x1' | replace: '_1x1.','_{width}x.' %} 
              <img class="Image--lazyLoad Image--fadeIn Image--slide{{ section.settings.image_position | capitalize }} imgMedia" data-src="{{ image_url }}" 
                    data-optimumx="1.2"
                    data-sizes="auto"
                    data-widths="[800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                >
                <noscript>
                  <img src="{{ block.settings.image | img_url: '800x' }}" alt="{{ block.settings.image.alt | escape }}">
                </noscript>
              </div>
            </div>
          {%- endcapture -%}

          {% comment %} 视频模块 {% endcomment %}
          {%- capture video_content -%}
          <div class="FeatureText__ImageWrapper" style="position:relative;">
               <div class="AspectRatio">
                    <video class="class-video pc-video Image--lazyLoad js-videoAutoPlayer" 
                    x-webkit-airplay="allow" 
                    webkit-playsinline="true" 
                    playsinline="true" 
                    autoplay="autoplay" 
                    muted="muted" 
                    loop="loop" 
                    data-src="{{ block.settings.video_url }}"
                    >     
                  </video>
                </div>
          </div>
          {%- endcapture -%}

        {%- capture section_media -%}
                    {%- if block.type == 'image_content' -%}   
                      {{- image_content -}}
                    {%- else -%}
                      {{- video_content -}}
                    {%- endif -%}
				{%- endcapture -%} 
        <div class="FeatureText {% if block.settings.image != blank or block.settings.video_url != blank %}FeatureText--withImage FeatureText--image{{ section.settings.image_position | capitalize }}{% endif %}">
          {%- if section.settings.image_position == 'left' -%}
            {{- section_media -}}
            {{- section_content -}}
          {%- else -%}
            {{- section_content -}}
            {{- section_media -}}
          {%- endif -%}
        </div>
        
        {%- endfor -%}
</section>
<style>
  #section-{{ section.id }}{
    background:{{section.settings.backgroundColor}};
  }
  .fb-richTextWithMedia{
    padding-bottom:50px;
  }
  .white-line{
    margin-top: -2px;
  }
  .classesPadding{
    padding-top:50px;
  }
  #section-{{ section.id }} .FeatureText__Content #unifyColor{
    color:{{ section.settings.textColor}};
  }
  .pc-order{
    display:block;
  }
  .mobile-order{
    display:none;
  }
  .fb-richTextWithMedia .class-video{
    width: 80%;
    margin: 0 auto;
    display:block;
  }
  .fb-richTextWithMedia .imgMedia{
    left:10%;
    height: auto;
    width: 80%;
    margin: 0 auto;
    display:block;
  }
  @media (max-width: 768px) {
    .fb-richTextWithMedia{
      padding-bottom:10px;
    }
    .classesPadding{
      padding-top:20px;
    }
    .fb-richTextWithMedia .AspectRatio{
    padding:0 40px;
    }
    .FeatureText--imageRight{
      display: flex;
      flex-direction: column-reverse;
    }
    .fb-richTextWithMedia .class-video{
      width: 100%;
    }
    .fb-richTextWithMedia .imgMedia{
      left:10%;
      width: 80%;
      margin: 0 auto;
      display:block;
    }
  }


</style>
<script>
  $(function() {
  })
  
</script>
      {% schema %}
      {
        "name": "Fb Rich text with Media",
        "class": "shopify-section--bordered",
        "presets": [
          {
            "name": "fb-rich-text-with-media",
            "category": "Fb Sections",
            "blocks": [
                  {
                    "type": "image_content"
                  },
                  {
                    "type": "video_content"
                  }
            ]
          }
        ],
        "settings": [
          {
            "type": "color",
            "id": "backgroundColor",
            "label": "Background"
          },
          {
            "type": "color",
            "id": "textColor",
            "label": "Text Color"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Sub-heading"
          },
          {
            "type": "text",
            "id": "title1",
            "label": "Heading"
          },
          {
            "type": "select",
            "id": "image_position",
            "label": "Image position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
              ],
              "default": "right"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Link text"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "Link URL"
          }
          ],
        "blocks":[
          {
            "type": "image_content",
            "name": "Image Content",
            "limit": 1,
            "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            }
        ]
        },
        {
            "type": "video_content",
            "name": "Video Content",
            "limit": 1,
            "settings": [
            {
              "type": "url",
              "id": "video_url",
              "label": "Video Url"
            }
            ]
        }
        
        ]
      }
      {% endschema %}