<link rel="stylesheet" href="{{ 'fb-single-text-dealer.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'fb-become-dealer.css' | asset_url }}">
{%- assign fstdealer = section.blocks | where: 'type', 'fstdealer' | first -%}

<div class="fb_value_fstdealer" id="section-{{ section.id }}">
  <div class="fstdealer-title">
    {{ section.settings.dealer_title }}
  </div>
  <div class="fstdealer_pc">
    {%- for block in section.blocks -%}
      <div class="fstdealer-box">
        <div class="fstdealer_imgWrapper">
          {% assign imgPiker = block.settings.iconPic | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <img
            class="Image--lazyLoad Image--fadeIn inline-block"
            data-src="{{ imgPiker }}"
            data-sizes="auto"
            data-optimumx="1.2"
            data-widths="[1000, 1200, 1400, 1600, 1800, 2000, 2200]"
            alt="{{ imgPiker.alt | escape }}"
          >
        </div>
        <div class="fstdealer_title">{{ block.settings.prop_title }}</div>
        <div class="fstdealer_des">{{ block.settings.prop_des }}</div>
      </div>
    {%- endfor -%}
    <div class="fstdealer-box-mobpadding">1</div>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    function resizefstdealer() {
      let arr1 = [];
      $('.fstdealer_title').each(function (ulIndex, ul) {
        arr1.push($(ul).height());
      });
      let arr1height = Math.max(...arr1);
      $('.fstdealer_title').each(function (ulIndex, ul) {
        $(ul).css('height', arr1height + 'px');
      });
    }
    if (!/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
      resizefstdealer();
    }
  });
</script>
{% schema %}
{
  "name": "FbSingleTextDealer",
  "presets": [
    {
      "name": "fb-single-text-dealer",
      "category": "Fb Sections",
      "blocks": []
    }
  ],
  "settings": [
    {
      "type": "richtext",
      "id": "dealer_title",
      "label": "Title",
      "default": "<p>Provide Professional Support <br\/> To Boost Your Business</p>"
    }
  ],
  "blocks": [
    {
      "type": "fstdealerSwiper",
      "name": "fstdealer Swiper",
      "settings": [
        {
          "type": "image_picker",
          "id": "iconPic",
          "label": "Swiper Image"
        },
        {
          "type": "text",
          "id": "prop_title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "prop_des",
          "label": "Desciption"
        }
      ]
    }
  ]
}
{% endschema %}
