{% comment %} {% assign fbSpecialBoxLength = false  %}
{% assign fbSpecialCss = ''  %}
{%- for block in section.blocks -%}
  {% if forloop.length > 3 %}
    {% assign fbSpecialBoxLength = true  %}
    {% assign fbSpecialCss = 'fb-spec-ul-length'  %}
  {% endif %}
{%- endfor -%} {% endcomment %}

<div class="fb-specifical" id="section-{{ section.id }}">
  <div class="fb-specifical-content">
    {%- if section.settings.specail_title -%}
      <p class="fb-spec-title">
        {{ section.settings.specail_title }}
      </p>
    {%- endif -%}
    <div class="fb-spec-ul {{ fbSpecialCss }}" id="fb-spec-ul-control">
      {%- for block in section.blocks -%}
          <div class="fb-spec-li">
            <div class="fb-spec-li-title">
              {{ block.settings.spe_box_title }}
            </div>
            <div class="fb-spec-li-content">
              {{ block.settings.spe_box_desc }}
            </div>
          </div>
      {%- endfor -%}
      {% comment %} {% if fbSpecialBoxLength %}
        <div class="fb-spec-over"></div>
      {% endif %} {% endcomment %}
    </div>
    {% comment %} {% if fbSpecialBoxLength %}
      <div class="fb-spec-view">
        <span class="fb-spec-vire-btn js-spec-view-btn">
          {{ section.settings.mobile_specail_view_text }} <br/>
          <img src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/Group.png?v=1649917464" />
        </span>
      </div>
    {% endif %} {% endcomment %}
  </div>
</div>
<style>
.fb-specifical {
  background-color: {{ section.settings.specail_color }}
}
.fb-specifical-content{
  width: 100%;
  
  padding: 64px 5% 0px 5%;
}
.fb-spec-title{
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  line-height: 42px;
  margin-bottom: 38px;
}
.fb-spec-ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content : flex-start;
  height: auto;
}
.fb-spec-li{
  width: 33%;
  padding: 0px 0px 52px 0px;
  text-align: left;

}
.fb-spec-ul-length{
  height: auto;
}
.fb-spec-li .fb-spec-li-title{
  font-size: 18px;
  font-weight: bold;
  color: #1C1B1B;
  line-height: 21px;
  margin-bottom: 12px;
}
.fb-spec-li .fb-spec-li-content{
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}
.fb-spec-li .fb-spec-li-content p{
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.fb-spec-over{
  display: none;
}
.fb-spec-view{
  display: none;
}
@media only screen and (min-width: 415px) and (max-width: 1024px) {
  .fb-specifical-content{
    padding: 20px 36px;
  }
  .fb-spec-title{
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 22px;
  }
  .fb-spec-li{
    width: 50%;
    padding: 0px 10px 18px 0px;
  }
  .fb-spec-li .fb-spec-li-title{
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 16px;
  }
  .fb-spec-li .fb-spec-li-content{
    font-size: 12px;
    color: #666;
  }
}
@media only screen and (max-width: 414px){
  .fb-specifical-content{
    padding: 20px 26px;
  }
  .fb-spec-title{
    font-size: 26px;
    color: #1C1C1B;
    line-height: 31px;
    margin-bottom: 20px;
  }
  .fb-spec-ul{
    position: relative;
  }
  .fb-spec-ul-length {
    height: 450px;
    overflow: hidden;
  }
  .fb-spec-li{
    width: 100%;
    padding: 0px 0px 24px 0px;
    transition: all 0.5s;
    
  }
  .fb-spec-li .fb-spec-li-title{
    font-size: 20px;
    color: #333;
    margin-bottom: 12px;
  }
  .fb-spec-li .fb-spec-li-content{
    font-size: 18px;
    font-weight: 400;
    color: #666;
  }
  .fb-spec-li .fb-spec-li-content p{
    line-height: 20px;
    margin: 0;
    padding: 0;
  }
  .fb-spec-over{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 166px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.4) 40%, rgba(255, 255, 255, 0.6) 59%, rgba(255, 255, 255, 0.9) 88%);
  }
  .fb-spec-view{
    display: block;
    width: 100%;
    text-align: center;
    padding: 13px 0px 0px 0px;
  }
  .fb-spec-view .fb-spec-vire-btn {
    font-size: 13px;
    font-weight: 500;
    color: #02C0D9;
    line-height: 16px;
    font-weight: 500;
  }
  .fb-spec-view img{
    width: 26px;
    height: 26px;
    margin-top: -8px;
  }
 
}
</style>
{% schema %}
  {
    "name": "FbSpecifications",
    "presets": [
      {
          "name": "fb-specifications",
          "category": "Fb specifications",
          "blocks": []
      }
    ],
    "settings": [
      {
        "type": "color",
        "id": "specail_color",
        "label": "Background Color",
        "default": "#fff"
      },
      {
        "type": "text",
        "id": "specail_title",
        "label": "Title",
        "default": "Specifications"
      },
      {
        "type": "text",
        "id": "mobile_specail_view_text",
        "label": "Mobile View Btn",
        "default": "VIEW ALL"
      }
    ],
    "blocks": [
      {
        "type": "box",
        "name": "box",
        "settings": [
          {
            "type": "text",
            "id": "spe_box_title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "spe_box_desc",
            "label": "Desc"
          }
        ]
      }
    ]
  }
{% endschema %}

{% comment %} <script type="text/javascript">
$(function () {
  const FbspecailBike = {
    _fbview: $('.fb-spec-view'),
    _fbOver: $('.fb-spec-over'),
    _fbcontrol:$('#fb-spec-ul-control'),
    init: function() {
      this.event()
    },
    event: function () {
      let _this = this
      $('body').on('click', '.js-spec-view-btn', function (e) {
        _this._fbview.css('display','none')
        _this._fbOver.css('display', 'none')
        _this._fbcontrol.removeClass('fb-spec-ul-length')
      })
    }
  }
  FbspecailBike.init()
})
</script> {% endcomment %}
