{%- assign productcal = section.settings.fsc_peoper_prduct -%}
{%- assign country_code_var = localization.country.iso_code | downcase -%}
<div
  id="section-{{ section.id }}"
  class="fb-savings-calculator"
  data-people="{{ section.settings.fsc_peoper_number }}"
  data-week="{{ section.settings.fsc_week_number }}"
  data-price="{%- render 'customer-price-control', type:'saleInt', cpc_product: productcal -%}"
>
  <div class="fb_savCal_MainContainer">
    <div class="fb_savCal_upperContainer">
      <div class="fb_savCal_upperMainTitle">
        {{ section.settings.fsc_title }}
      </div>
      {%- if section.settings.fsc_number_bike_img != blank -%}
        {% assign oneimg = section.settings.fsc_number_bike_img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
      {%- else -%}
        {% assign oneimg = 'https://cdn.shopify.com/s/files/1/0592/3766/2905/files/1_2edecd79-2b64-400d-aba9-4967a2cdc761.png?v=1675155260' %}
      {%- endif -%}
      {%- if section.settings.fsc_number_week_img != blank -%}
        {% assign twoimg = section.settings.fsc_number_week_img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
      {%- else -%}
        {% assign twoimg = 'https://cdn.shopify.com/s/files/1/0592/3766/2905/files/2_541fbb75-6a3d-48a6-9b78-70b5ee649bea.png?v=1675155265' %}
      {%- endif -%}
      {%- if section.settings.fsc_number_workout_img != blank -%}
        {% assign threeimg = section.settings.fsc_number_workout_img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
      {%- else -%}
        {% assign threeimg = 'https://cdn.shopify.com/s/files/1/0592/3766/2905/files/3_c8900846-57ba-4d70-bbf4-e320d6b8a3e0.png?v=1675155268' %}
      {%- endif -%}

      <div class="fb_savCal_numberOf">
        <div class="savCal_numberOf_bike">
          <img
            class="Image--lazyLoad"
            data-src="{{ oneimg }}"
            data-sizes="auto"
          >
          <div class="savCal_numberOf_desc">
            {{ section.settings.fsc_number_bike_text }}
          </div>
        </div>
        <div class="savCal_numberOf_week">
          <img
            class="Image--lazyLoad"
            data-src="{{ twoimg }}"
            data-sizes="auto"
          >
          <div class="savCal_numberOf_desc">
            {{ section.settings.fsc_number_week_text }}
          </div>
        </div>
        <div class="savCal_numberOf_workout">
          <img
            class="Image--lazyLoad"
            data-src="{{ threeimg   }}"
            data-sizes="auto"
          >
          <div class="savCal_numberOf_desc">
            {{ section.settings.fsc_per_workout }}
          </div>
        </div>
      </div>
      <div class="fb_savCal_calculatorMainDiv">
        <div class="fb_savCal_calculator_people">
          <div class="savCal_people_number_div">
            <h3 class="js_savCal_people_number">02</h3>
          </div>
          <div class="fb_savCal_arrows_div">
            <span class="savCal_upArrow js_upArrow" data-change="js_savCal_people_number">
              <svg
                class="sacCal_used"
                width="25"
                height="24"
                viewBox="0 0 25 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M11.678 4.431C11.7697 4.29776 11.8925 4.18882 12.0357 4.11355C12.1789 4.03829 12.3382 3.99897 12.5 3.99897C12.6618 3.99897 12.8211 4.03829 12.9643 4.11355C13.1075 4.18882 13.2303 4.29776 13.322 4.431L22.322 17.431C22.4262 17.5809 22.4873 17.7566 22.4986 17.9388C22.51 18.121 22.4712 18.3029 22.3865 18.4646C22.3018 18.6263 22.1743 18.7618 22.018 18.8561C21.8617 18.9505 21.6826 19.0003 21.5 19L3.5 19C3.31784 18.9992 3.13934 18.9489 2.98368 18.8542C2.82802 18.7596 2.7011 18.6244 2.61657 18.463C2.53203 18.3017 2.49308 18.1203 2.50391 17.9385C2.51473 17.7566 2.57492 17.5812 2.678 17.431L11.678 4.431Z" fill="#1C1B1B"></path>
              </svg>
              <svg
                class="sacCal_disabled"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.2"><path d="M11.178 4.431C11.2697 4.29776 11.3925 4.18882 11.5357 4.11355C11.6789 4.03829 11.8382 3.99897 12 3.99897C12.1618 3.99897 12.3211 4.03829 12.4643 4.11355C12.6075 4.18882 12.7303 4.29776 12.822 4.431L21.822 17.431C21.9262 17.5809 21.9873 17.7566 21.9986 17.9388C22.01 18.121 21.9712 18.3029 21.8865 18.4646C21.8018 18.6263 21.6743 18.7618 21.518 18.8561C21.3617 18.9505 21.1826 19.0003 21 19L3 19C2.81784 18.9992 2.63934 18.9489 2.48368 18.8542C2.32802 18.7596 2.2011 18.6244 2.11657 18.463C2.03203 18.3017 1.99308 18.1203 2.00391 17.9385C2.01473 17.7566 2.07492 17.5812 2.178 17.431L11.178 4.431Z" fill="#888888"></path></g>
              </svg>
            </span>
            <span class="savCal_downArrow js_downArrow" data-change="js_savCal_people_number">
              <svg
                class="sacCal_used"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M11.178 19.569C11.2697 19.7022 11.3925 19.8112 11.5357 19.8864C11.6789 19.9617 11.8382 20.001 12 20.001C12.1618 20.001 12.3211 19.9617 12.4643 19.8864C12.6075 19.8112 12.7303 19.7022 12.822 19.569L21.822 6.569C21.9262 6.41906 21.9873 6.24343 21.9986 6.06121C22.01 5.87898 21.9712 5.69712 21.8865 5.53539C21.8018 5.37366 21.6743 5.23825 21.518 5.14386C21.3617 5.04947 21.1826 4.99971 21 5L3 5C2.81784 5.00075 2.63934 5.05115 2.48368 5.14576C2.32802 5.24038 2.2011 5.37564 2.11657 5.53699C2.03203 5.69835 1.99308 5.8797 2.00391 6.06153C2.01473 6.24337 2.07492 6.41881 2.178 6.569L11.178 19.569Z" fill="#1C1B1B"></path>
              </svg>
              <svg
                class="sacCal_disabled"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.2"><path d="M11.178 19.569C11.2697 19.7022 11.3925 19.8112 11.5357 19.8864C11.6789 19.9617 11.8382 20.001 12 20.001C12.1618 20.001 12.3211 19.9617 12.4643 19.8864C12.6075 19.8112 12.7303 19.7022 12.822 19.569L21.822 6.569C21.9262 6.41906 21.9873 6.24343 21.9986 6.06121C22.01 5.87898 21.9712 5.69712 21.8865 5.53539C21.8018 5.37366 21.6743 5.23825 21.518 5.14386C21.3617 5.04947 21.1826 4.99971 21 5L3 5C2.81784 5.00075 2.63934 5.05115 2.48368 5.14576C2.32802 5.24038 2.2011 5.37564 2.11657 5.53699C2.03203 5.69835 1.99308 5.8797 2.00391 6.06153C2.01473 6.24337 2.07492 6.41881 2.178 6.569L11.178 19.569Z" fill="#888888"></path></g>
              </svg>
            </span>
          </div>
        </div>
        <div class="fb_savCal_closeIcon">
          <span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" fill="#888888"></path>
            </svg>
          </span>
        </div>
        <div class="fb_savCal_calculator_workout">
          <div class="fb_savCal_workout_number_div">
            <h3 class="js_savCal_week_number">03</h3>
          </div>
          <div class="fb_savCal_arrows_div">
            <span class="savCal_upArrow js_upArrow" data-change="js_savCal_week_number">
              <svg
                class="sacCal_used"
                width="25"
                height="24"
                viewBox="0 0 25 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M11.678 4.431C11.7697 4.29776 11.8925 4.18882 12.0357 4.11355C12.1789 4.03829 12.3382 3.99897 12.5 3.99897C12.6618 3.99897 12.8211 4.03829 12.9643 4.11355C13.1075 4.18882 13.2303 4.29776 13.322 4.431L22.322 17.431C22.4262 17.5809 22.4873 17.7566 22.4986 17.9388C22.51 18.121 22.4712 18.3029 22.3865 18.4646C22.3018 18.6263 22.1743 18.7618 22.018 18.8561C21.8617 18.9505 21.6826 19.0003 21.5 19L3.5 19C3.31784 18.9992 3.13934 18.9489 2.98368 18.8542C2.82802 18.7596 2.7011 18.6244 2.61657 18.463C2.53203 18.3017 2.49308 18.1203 2.50391 17.9385C2.51473 17.7566 2.57492 17.5812 2.678 17.431L11.678 4.431Z" fill="#1C1B1B"></path>
              </svg>
              <svg
                class="sacCal_disabled"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.2"><path d="M11.178 4.431C11.2697 4.29776 11.3925 4.18882 11.5357 4.11355C11.6789 4.03829 11.8382 3.99897 12 3.99897C12.1618 3.99897 12.3211 4.03829 12.4643 4.11355C12.6075 4.18882 12.7303 4.29776 12.822 4.431L21.822 17.431C21.9262 17.5809 21.9873 17.7566 21.9986 17.9388C22.01 18.121 21.9712 18.3029 21.8865 18.4646C21.8018 18.6263 21.6743 18.7618 21.518 18.8561C21.3617 18.9505 21.1826 19.0003 21 19L3 19C2.81784 18.9992 2.63934 18.9489 2.48368 18.8542C2.32802 18.7596 2.2011 18.6244 2.11657 18.463C2.03203 18.3017 1.99308 18.1203 2.00391 17.9385C2.01473 17.7566 2.07492 17.5812 2.178 17.431L11.178 4.431Z" fill="#888888"></path></g>
              </svg>
            </span>
            <span class="savCal_downArrow js_downArrow" data-change="js_savCal_week_number">
              <svg
                class="sacCal_used"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M11.178 19.569C11.2697 19.7022 11.3925 19.8112 11.5357 19.8864C11.6789 19.9617 11.8382 20.001 12 20.001C12.1618 20.001 12.3211 19.9617 12.4643 19.8864C12.6075 19.8112 12.7303 19.7022 12.822 19.569L21.822 6.569C21.9262 6.41906 21.9873 6.24343 21.9986 6.06121C22.01 5.87898 21.9712 5.69712 21.8865 5.53539C21.8018 5.37366 21.6743 5.23825 21.518 5.14386C21.3617 5.04947 21.1826 4.99971 21 5L3 5C2.81784 5.00075 2.63934 5.05115 2.48368 5.14576C2.32802 5.24038 2.2011 5.37564 2.11657 5.53699C2.03203 5.69835 1.99308 5.8797 2.00391 6.06153C2.01473 6.24337 2.07492 6.41881 2.178 6.569L11.178 19.569Z" fill="#1C1B1B"></path>
              </svg>
              <svg
                class="sacCal_disabled"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.2"><path d="M11.178 19.569C11.2697 19.7022 11.3925 19.8112 11.5357 19.8864C11.6789 19.9617 11.8382 20.001 12 20.001C12.1618 20.001 12.3211 19.9617 12.4643 19.8864C12.6075 19.8112 12.7303 19.7022 12.822 19.569L21.822 6.569C21.9262 6.41906 21.9873 6.24343 21.9986 6.06121C22.01 5.87898 21.9712 5.69712 21.8865 5.53539C21.8018 5.37366 21.6743 5.23825 21.518 5.14386C21.3617 5.04947 21.1826 4.99971 21 5L3 5C2.81784 5.00075 2.63934 5.05115 2.48368 5.14576C2.32802 5.24038 2.2011 5.37564 2.11657 5.53699C2.03203 5.69835 1.99308 5.8797 2.00391 6.06153C2.01473 6.24337 2.07492 6.41881 2.178 6.569L11.178 19.569Z" fill="#888888"></path></g>
              </svg>
            </span>
          </div>
        </div>
        <div class="fb_savCal_equalIcon">
            <span>
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24 9.33334H8.00004C7.2928 9.33334 6.61452 9.61429 6.11442 10.1144C5.61433 10.6145 5.33337 11.2928 5.33337 12C5.33337 12.7073 5.61433 13.3855 6.11442 13.8856C6.61452 14.3857 7.2928 14.6667 8.00004 14.6667H24C24.7073 14.6667 25.3856 14.3857 25.8857 13.8856C26.3858 13.3855 26.6667 12.7073 26.6667 12C26.6667 11.2928 26.3858 10.6145 25.8857 10.1144C25.3856 9.61429 24.7073 9.33334 24 9.33334ZM24 18.6667H8.00004C7.2928 18.6667 6.61452 18.9476 6.11442 19.4477C5.61433 19.9478 5.33337 20.6261 5.33337 21.3333C5.33337 22.0406 5.61433 22.7189 6.11442 23.219C6.61452 23.7191 7.2928 24 8.00004 24H24C24.7073 24 25.3856 23.7191 25.8857 23.219C26.3858 22.7189 26.6667 22.0406 26.6667 21.3333C26.6667 20.6261 26.3858 19.9478 25.8857 19.4477C25.3856 18.9476 24.7073 18.6667 24 18.6667Z" fill="#888888"></path>
                </svg>
            </span>
        </div>
        <div class="fb_lower_title_block">
          <h2>$2.13</h2>
          {{ section.settings.fsc_cheap_than }}
        </div>
      </div>
    </div>
    <div class="fb_savCal_lowerContainer">
      <div class="fb_lower_title_">
        <h5>{{ section.settings.fsc_per_workout }}</h5>
      </div>
      <div class="fb_lower_title_block">
        <h2>$2.13</h2>
        {{ section.settings.fsc_cheap_than }}
      </div>
      <div class="fb_lowerCalc_text">
        {{ section.settings.fsc_cheap_based }}
        {% comment %} <a href="javascript:void(0)" 
            class="fb_lowerCalc_hre js-keep-biketype"
            data-url="{{ section.settings.fsc_buy_now_url }}"
            data-keep-biketype="{%- render 'customer-price-control', cpc_product: productcal, type: 'bikeType' -%}"
        >
          {{- section.settings.fsc_buy_now -}}
        </a> {% endcomment %}
        <a href="javascript:void(0)"  
            class="fb_lowerCalc_href js-keep-biketype" 
            data-url="{{ section.settings.fsc_buy_now_url }}"
            data-keep-biketype="{%- render 'customer-price-control', cpc_product: productcal, type: 'bikeType' -%}"
        >
            {{- section.settings.fsc_buy_now -}}
         </a>
  
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "FbSavingsCalculator",
  "presets": [
    {
      "name": "fb-savings-calculator",
      "category": "fb-section",
      "blocks": []
    }
  ],
  "settings": [
    {
      "type": "product",
      "id": "fsc_peoper_prduct",
      "label": "product"
    },
    {
      "type": "number",
      "id": "fsc_peoper_number",
      "label": "max people number",
      "default": 10
    },
    {
      "type": "number",
      "id": "fsc_week_number",
      "label": "max week number",
      "default": 7
    },
    {
      "type": "richtext",
      "id": "fsc_title",
      "label": "Title",
      "default": "<p>The Most Convenient Workout Option</p>"
    },
    {
      "type": "image_picker",
      "id": "fsc_number_bike_img",
      "label": "Number of people using freebeat bike"
    },
    {
      "type": "richtext",
      "id": "fsc_number_bike_text",
      "label": "Number of people using freebeat bike",
      "default": "<p>Number of people using freebeat bike</p>"
    },
    {
      "type": "image_picker",
      "id": "fsc_number_week_img",
      "label": "Number of workouts per week"
    },
    {
      "type": "richtext",
      "id": "fsc_number_week_text",
      "label": "Number of workouts per week",
      "default": "<p>Number of <br/> workouts per week</p>"
    },
    {
      "type": "image_picker",
      "id": "fsc_number_workout_img",
      "label": "Cost per workout"
    },
    {
      "type": "text",
      "id": "fsc_per_workout",
      "label": "Cost per workout",
      "default": "Cost per workout"
    },
    {
      "type": "richtext",
      "id": "fsc_cheap_than",
      "label": "Cheaper than your average coffee shop visit!",
      "default": "<p>Cheaper than your average coffee shop visit!</p>"
    },
    {
      "type": "richtext",
      "id": "fsc_cheap_based",
      "label": "Based on a 5 years",
      "default": "<p>Based on a 5 years time horizon with best 36 month payment financing offer.</p>"
    },
    {
      "type": "text",
      "id": "fsc_buy_now",
      "label": "button text",
      "default": "BUY NOW"
    },
    {
      "type": "url",
      "id": "fsc_buy_now_url",
      "label": "button text url"
    }
  ]
}
{% endschema %}

<style>
  {%- if template contains 'boom-bike' -%}
      @media screen and  (max-width: 1330px)  {
          .fb-product-pagesbike{
              border-radius: 0px!important;
          }
      }
  {%- endif -%}
  {%- if country_code_var == 'gb' or country_code_var == 'au' -%}
    .fb-savings-calculator{
        display: visibility!important;
        height: 0px!important;
        opacity:0!important;
        position: relative;
        z-index: -999;
    }
    @media screen and (min-width: 768px) {
        .fb-savings-calculator{
            display: visibility!important;
            height: 0px!important;
        }
    }
    @media screen and (max-width: 767px) {
        .fb-savings-calculator{
            display: visibility!important;
            height: 0px!important;
        }
    }
  {%- endif -%}
</style>
