{%- assign video_content = section.blocks | where: 'type', 'video_content' | first -%}
{%- assign image_content = section.blocks | where: 'type', 'image_content' | first -%}
<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="fb-showrooms-textwithMedia" 
class="fb-showrooms-textwithMedia Section">
  {%- for block in section.blocks -%}
        {%- capture section_content -%}
          <div class="FeatureText__ContentWrapper">
            <div class="FeatureText__Content">
                <header class="SectionHeader">
      
                    <h2 class="SectionHeader__Heading Heading sr-media-title">{{ section.settings.title1}}</h2>
      
                    <div class="SectionHeader__Description Rte sr-media-content">
                      {{ section.settings.content }}
                    </div>
                    <a href="{{ section.settings.link_url }}"><div class="sr-media-button">{{ section.settings.link_text }}</div></a>
                </header>
            </div>
          </div>
        {%- endcapture -%}
      
        {% comment %} 图片模块 {% endcomment %}
          {%- capture image_content -%}
            <div class="FeatureText__ImageWrapper" style="position:relative;">
              {% assign image_url = block.settings.image | img_url: '1x1' | replace: '_1x1.','_{width}x.' %} 
              <img class="Image--lazyLoad Image--fadeIn Image--slide{{ section.settings.image_position | capitalize }} sr-imgMedia" data-src="{{ image_url }}" 
                    data-optimumx="1.2"
                    data-sizes="auto"
                    data-widths="[800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                >
                <noscript>
                  <img src="{{ block.settings.image | img_url: '800x' }}" alt="{{ block.settings.image.alt | escape }}">
                </noscript>
            </div>
          {%- endcapture -%}

          {% comment %} 视频模块 {% endcomment %}
          {%- capture video_content -%}
          <div class="FeatureText__ImageWrapper" style="position:relative;">
               <div class="AspectRatio">
                    <video class="class-video pc-video Image--lazyLoad js-videoAutoPlayer" 
                    x-webkit-airplay="allow" 
                    webkit-playsinline="true" 
                    playsinline="true" 
                    autoplay="autoplay" 
                    muted="muted" 
                    loop="loop" 
                    data-src="{{ block.settings.video_url }}"
                    >     
                  </video>
                </div>
          </div>
          {%- endcapture -%}

        {%- capture section_media -%}
                    {%- if block.type == 'image_content' -%}   
                      {{- image_content -}}
                    {%- else -%}
                      {{- video_content -}}
                    {%- endif -%}
				{%- endcapture -%} 
        <div class="FeatureText {% if block.settings.image != blank or block.settings.video_url != blank %}FeatureText--withImage FeatureText--image{{ section.settings.image_position | capitalize }}{% endif %}">
          {%- if section.settings.image_position == 'left' -%}
            {{- section_media -}}
            {{- section_content -}}
          {%- else -%}
            {{- section_content -}}
            {{- section_media -}}
          {%- endif -%}
        </div>
        
        {%- endfor -%}
</section>
<style>
  #section-{{ section.id }}{
    background:{{section.settings.backgroundColor}};
  }
  .fb-showrooms-textwithMedia{
    padding:150px 200px 50px;
    display: flex;
    color:{{section.settings.textColor}};
  }
  .fb-showrooms-textwithMedia .FeatureText{
    display: flex;
    justify-content:space-between;
  }
  .fb-showrooms-textwithMedia .FeatureText__ImageWrapper{
    width: auto;
  }
  .fb-showrooms-textwithMedia .class-video{
    width: 700px;
    display:block;
  }
  .fb-showrooms-textwithMedia .sr-imgMedia{
    left:10%;
    height: auto;
    width: 700px;
    display:block;
  }
  .fb-showrooms-textwithMedia .FeatureText__ContentWrapper{
    padding:200px 0 0;
    width:auto;
  }
  .fb-showrooms-textwithMedia .sr-media-title{
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    margin:0;
  }
  .fb-showrooms-textwithMedia .sr-media-content{
    padding:20px 0 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
  }
  .sr-media-button{
    width:235px;
    height:48px;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
    font-weight: bold;
    color: {{section.settings.buttonColor}};
    background-color: {{ section.settings.buttonBg}};
  }
  @media only screen and (min-width: 1025px) and (max-width: 1549px){
    .fb-showrooms-textwithMedia{
        padding:120px 130px 40px;
    }
    .fb-showrooms-textwithMedia .FeatureText{
        gap: 80px;
    }
    .fb-showrooms-textwithMedia .class-video{
        width: 560px;
    }
    .fb-showrooms-textwithMedia .sr-imgMedia{
        left:10%;
        width: 560px;
    }
    .fb-showrooms-textwithMedia .FeatureText__ContentWrapper{
        padding:170px 0 0;
    }
    .fb-showrooms-textwithMedia .sr-media-title{
        font-size: 29px;
        line-height: 36px;
    }
    .fb-showrooms-textwithMedia .sr-media-content{
        padding:16px 0 32px;
        font-size: 13px;
        line-height: 19px;
    }
    .sr-media-button{
        font-size: 13px;
        width:160px;
        height:39px;
        line-height: 39px;
    }
  }
  @media only screen and (min-width:769px) and (max-width:1024px){
    .fb-showrooms-textwithMedia{
        padding:80px 90px 27px;
    }
    .fb-showrooms-textwithMedia .FeatureText{
        gap: 50px;
    }
    .fb-showrooms-textwithMedia .class-video{
        width: 373px;
    }
    .fb-showrooms-textwithMedia .sr-imgMedia{
        left:10%;
        width: 373px;
    }
    .fb-showrooms-textwithMedia .FeatureText__ContentWrapper{
        padding:100px 0 0;
    }
    .fb-showrooms-textwithMedia .sr-media-title{
        font-size: 19px;
        line-height: 23px;
    }
    .fb-showrooms-textwithMedia .sr-media-content{
        padding:11px 0 21px;
        font-size: 12px;
        line-height: 18px;
    }
    .sr-media-button{
        font-size: 12px;
        width:140px;
        height:26px;
        line-height: 26px;
    }
  }
  @media (max-width: 768px) {
    .fb-showrooms-textwithMedia{
        padding:0 0 100px;
    }
    .fb-showrooms-textwithMedia .FeatureText{
        flex-direction: column;
    }
    .fb-showrooms-textwithMedia .FeatureText--imageRight{
        flex-direction:column-reverse;
    }
    .fb-showrooms-textwithMedia .class-video{
        width: 100%;
    }
    .fb-showrooms-textwithMedia .sr-imgMedia{
        left:0;
        width: 100%;
    }
    .fb-showrooms-textwithMedia .FeatureText__ContentWrapper{
        padding:30px 30px 0;
        text-align: center;
    }
    .fb-showrooms-textwithMedia .sr-media-title{
        font-size: 22px;
        line-height: 27px;
    }
    .fb-showrooms-textwithMedia .sr-media-content{
        padding:10px 0 20px;
        font-size: 14px;
        line-height: 18px;
    }
    .sr-media-button{
        margin:0 auto;
        font-size: 14px;
        width:165px;
        height:40px;
        line-height:40px;
    }
  }


</style>
{% schema %}
{
"name": "Fb Sr text with Media",
"class": "shopify-section--bordered",
"presets": [
    {
    "name": "fb-sr-textwithMedia",
    "category": "Fb Sections",
    "blocks": [
            {
            "type": "image_content"
            },
            {
            "type": "video_content"
            }
    ]
    }
],
"settings": [
    {
    "type": "color",
    "id": "backgroundColor",
    "label": "Background"
    },
    {
    "type": "color",
    "id": "textColor",
    "label": "Text Color"
    },
    {
        "type": "color",
        "id": "buttonBg",
        "label": "Button Background"
    },
    {
        "type": "color",
        "id": "buttonColor",
        "label": "Button Text Color"
    },
    {
    "type": "text",
    "id": "subheading",
    "label": "Sub-heading"
    },
    {
    "type": "text",
    "id": "title1",
    "label": "Heading"
    },
    {
    "type": "select",
    "id": "image_position",
    "label": "Image position",
    "options": [
        {
        "value": "left",
        "label": "Left"
        },
        {
        "value": "right",
        "label": "Right"
        }
        ],
        "default": "right"
    },
    {
    "type": "richtext",
    "id": "content",
    "label": "Text"
    },
    {
    "type": "text",
    "id": "link_text",
    "label": "Link text"
    },
    {
    "type": "url",
    "id": "link_url",
    "label": "Link URL"
    }
    ],
"blocks":[
    {
    "type": "image_content",
    "name": "Image Content",
    "limit": 1,
    "settings": [
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    }
]
},
{
    "type": "video_content",
    "name": "Video Content",
    "limit": 1,
    "settings": [
    {
        "type": "url",
        "id": "video_url",
        "label": "Video Url"
    }
    ]
}

]
}
{% endschema %}