 <div id="section-{{ section.id }}">
    {%- if section.settings.hands_title != blank -%}
        <div class="fb_safehands_title fb_new_footerIcon_title">
            {{ section.settings.hands_title }}
        </div>
    {%- endif -%}
    <div class="fb_safe_footerIcon">
        {%- for block in section.blocks -%}
            <div class="footerIcon_safe_item">
                <div>
                    {% assign handsimg = block.settings.hands_img_choose | img_url: '1x1' | replace: '_1x1.','_{width}x.' %}  
                    <img class="Image--lazyLoad Image--fadeIn footerIcon_safe_item_icon" 
                    data-src="{{ handsimg }}" 
                    data-sizes="auto"
                    alt="{{ block.settings.hands_img_choose.alt | escape }}">
                </div>
                <div class="footerIcon_safe_item_title" style="color: {{ block.settings.hands_top_onecolor }};">
                    {{ block.settings.hands_top_one }}
                </div>
                <div class="footerIcon_safe_item_text" style="color: {{ block.settings.hands_top_twocolor }};">
                    <!-- Enjoy warranty up to 10 years for bike components and parts. -->
                     {{ block.settings.hands_top_two }}
                </div>
                <div class="footerIcon_safe_item_button" style="color: {{ block.settings.hands_learn_more_color }};">
                    <a {% if forloop.last %} href="javascript:void(0);" onclick="TidioShowFun()" {% else %} href="{{ block.settings.hands_learn_more_url }}" {% endif %} >
                        <!-- Learn more > -->
                        {{ block.settings.hands_learn_more }}
                    </a>
                </div>
            </div>
        {%- endfor -%}
        
    </div>
    {%- if section.settings.show_stage_description -%}
        <div class="fb-bike-hwbqTs">
            <div class="fb-stage-p">
                {{ section.settings.fb_stage_desc }}
            
            </div>
            <div class="fb-stage-p2">
                {{ section.settings.fb_stage_desc_seconds }}
            </div>
        </div>
    {%- endif -%}
   
 </div>
 <style>
    #section-{{ section.id }} .fb_new_footerIcon_title {
        color: {{ section.settings.hands_title_color }};
    }
    {%- if template == 'page.lit-bike-klarna' -%} 
        @media only screen and (min-width: 1025px) and (max-width: 1550px){ 
            .fb_new_footerIcon_title{
                background: url("https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/20221242118.png?v=1643115434");
                background-repeat: no-repeat;
                background-size: 6%;
                background-position: 59% 0%;
            }
        }
       
         @media only screen and (max-width: 414px){
            .fb_new_footerIcon_title{
                background: url(https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/20221242118.png?v=1643115434);
                background-repeat: no-repeat;
                background-size: 18%;
                background-position: 34% 92%;
                width: 50%; 
            }
         }
    {%- endif -%}

    {%- if section.settings.hands_background_img_pc != blank -%}
       {% assign image_pc_url = section.settings.hands_background_img_pc %}
       #section-{{ section.id }} {
          background: url("{{ image_pc_url }}") no-repeat;
          background-size: 100% 100%;
          margin-top: -2px;
       }
   {%- else -%}
       #section-{{ section.id }} {
           background-color: {{ section.settings.hands_color }};
       }
   {%- endif -%} 

   @media only screen and (max-width: 768px){
       {%- if section.settings.hands_background_img_mobile != blank -%}
           {% assign image_mobile_url = section.settings.hands_background_img_mobile %}
           #section-{{ section.id }} {
               background: url("{{ image_mobile_url }}") no-repeat;
               background-size: 100% 100%;
               margin-top: -2px;
           }
       {%- else -%}
           #section-{{ section.id }} {
               background-color: {{ section.settings.hands_mobile_color }};
           }
       {%- endif -%}          
   }
  {% comment %} stage {% endcomment %}
    
    #section-{{ section.id }} .fb-stage-p p{
        color: {{ section.settings.fb_stage_color }}
    }
    #section-{{ section.id }} .fb-stage-p2{
        margin-top: 10px;
    }
    #section-{{ section.id }} .fb-stage-p2 p{
        color: {{ section.settings.fb_stage_color_seconds }}
    }
   
 </style>
 {% schema %}
 {
   "name": "FbSafeHands",
   "presets": [
     {
       "name": "fb-safe-hands",
       "category": "Fb Sections",
       "blocks": []
     }
   ],
   "settings": [
     {
       "type": "color",
       "id": "hands_color",
       "label": "Background color",
       "default": "#fff"
     },
     {
       "type": "color",
       "id": "hands_mobile_color",
       "label": "Background Mobile color",
       "default": "#fff"
     },
     {
         "type": "url",
         "id": "hands_background_img_pc",
         "label": "background Pc Image"
     },
     {
         "type": "url",
         "id": "hands_background_img_mobile",
         "label": "background Mobile Image"
     },
    {
        "type": "text",
        "id": "hands_title",
        "label": "Title"
    },
    {
        "type": "color",
        "id": "hands_title_color",
        "label": "title color"
    },
    {
        "type": "checkbox",
        "id": "show_stage_description",
        "label": "Show stage description",
        "default": false
    },
    {
        "type": "richtext",
        "id": "fb_stage_desc",
        "label": "Desc1"
    },
    {
        "type": "color",
        "id": "fb_stage_color",
        "label": "color1",
        "default": "#000"
    },
    {
        "type": "richtext",
        "id": "fb_stage_desc_seconds",
        "label": "Desc2"
    },
    {
        "type": "color",
        "id": "fb_stage_color_seconds",
        "label": "color2",
        "default": "#000"
    }
   ],
   "blocks": [
     {
       "type": "safehandsblock",
       "name": "safehandsblock",
       "settings": [
         {
           "type": "url",
           "id": "hands_img_url",
           "label": "Image Url",
           "info": "Abandoned"
         },
         {
            "type": "image_picker",
            "id": "hands_img_choose",
            "label": "Choose Image"
         },
         {
            "type": "text",
            "id": "hands_top_one",
            "label": "one text",
            "default": " Product Warranty"
         },
         {
            "type": "color",
            "id": "hands_top_onecolor",
            "label": "one text color",
            "default": "#fff"
         },
         {
            "type": "text",
            "id": "hands_top_two",
            "label": "two text"
         },
         {
            "type": "color",
            "id": "hands_top_twocolor",
            "label": "one two color",
            "default": "#fff"
         },
         {
            "type": "text",
            "id": "hands_learn_more",
            "label": "learn more"
         },
         {
            "type": "color",
            "id": "hands_learn_more_color",
            "label": "learn more color",
            "default": "#fff"
         },
         {
            "type": "url",
            "id": "hands_learn_more_url",
            "label": "learn more url"
        }
       ]
     }
   ]
 }
{% endschema %}