<div class="fb-single-goods home-community" id="section-{{ section.id }}">
    <!-- init first -->
    {%- capture loop_first_url -%}
        {%- for block1 in section.blocks limit:1 -%}
            {{ block1.settings.link_page_url }}
        {%- endfor -%}
    {%- endcapture -%}
    {%- capture loop_bike_color -%}
        {%- for block in section.blocks -%}
            {%- if block.settings.selector_bike == '2' -%}
                {% capture cirledomimg %}
                    <div class="fb-sg-imgbox-mobile fb-sg-imgbox-mobile1 fb-sg-mobile-doc{{ block.settings.selector_bike_swiper_order }}" data-index="{{ block.settings.selector_bike_swiper_order }}">
                        {% assign imgdefault = block.settings.bike_img_defalut | img_url %}
                        {% assign imgactive = block.settings.bike_img_active | img_url %}
                        <img  class="fb-sg-active" src="{{ imgactive }}" />
                        <img  class="fb-sg-default" src="{{ imgdefault }}" />
                    </div>
                {% endcapture %}
                {%- if block.settings.selector_bike_swiper_order == '1' -%}
                    {{ cirledomimg }}
                {%- endif -%}
                {%- if block.settings.selector_bike_swiper_order == '2' -%}
                    {{ cirledomimg }}
                {%- endif -%}
                {%- if block.settings.selector_bike_swiper_order == '3' -%}
                    {{ cirledomimg }}
                {%- endif -%}
                {%- if block.settings.selector_bike_swiper_order == '4' -%}
                    {{ cirledomimg }}
                {%- endif -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endcapture -%}

    {%- capture loop_boom_bike_color -%}
    {%- for block in section.blocks -%}
        {%- if block.settings.selector_bike == '3' -%}
            {% capture cirledomimg2 %}
                <div class="fb-sg-imgbox-mobile fb-sg-imgbox-mobile2 fb-sg-mobile-boom-doc{{ block.settings.selector_bike_swiper_order }}" data-index="{{ block.settings.selector_bike_swiper_order }}">
                    {% assign imgdefault = block.settings.bike_img_defalut | img_url %}
                    {% assign imgactive = block.settings.bike_img_active | img_url %}
                    <img  class="fb-sg-active" src="{{ imgactive }}" />
                    <img  class="fb-sg-default" src="{{ imgdefault }}" />
                </div>
            {% endcapture %}
            {%- if block.settings.selector_bike_swiper_order == '1' -%}
                {{ cirledomimg2 }}
            {%- endif -%}
            {%- if block.settings.selector_bike_swiper_order == '2' -%}
                {{ cirledomimg2 }}
            {%- endif -%}
            {%- if block.settings.selector_bike_swiper_order == '3' -%}
                {{ cirledomimg2 }}
            {%- endif -%}
            {%- if block.settings.selector_bike_swiper_order == '4' -%}
                {{ cirledomimg2 }}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
{%- endcapture -%}
   <!-- bike image loop -->
    {%- capture loop_bike_image -%}
        <div class="fb-sg-box-pc">
            {%- for block in section.blocks -%}
                {%- if block.settings.selector_bike == '2' -%}
                    {%- assign product1 =  block.settings.product  -%}
                    <div class="fb-sg-profooter js-fsg-loop-profooter fb-loop-index{{ block.settings.selector_bike_swiper_order }}" data-url="{{ block.settings.link_page_url }}">
                        <div class="fb-sg-header-icons">
                            {%- if block.settings.swiss_image != blank  -%}
                                <img class="Image--lazyLoad Image--fadeIn" 
                                    data-src="{{ block.settings.swiss_image }}" 
                                >
                            {%- else -%}
                                <img class="Image--lazyLoad Image--fadeIn" 
                                data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/zhanweitu.png?v=1659520780" 
                                >
                            {%- endif -%}
                        </div>
                        <div class="fb-sg-mobile-dotter fb-sg-mobile-lopbox{{ block.settings.selector_bike_swiper_order }}">
                            {{ loop_bike_color }}
                        </div>
                        <p class="fb-sg-profooter-title">{{ block.settings.fsgblock_title }}</p>
                        {%- if block.settings.fsgblock_title_sub != blank  -%}
                            <p class="fb-sg-profooter-subtitle">{{ block.settings.fsgblock_title_sub }}</p>
                        {%- else -%}
                            <p class="fb-sg-profooter-subtitle">&nbsp;</p>        
                        {%- endif -%}
                        <p class="fb-sg-profooter-desc">{{ block.settings.starting_at }}</p>
                        <div class="fb-sg-proprice">
                            <p class="fb-sg-proprice-price">
                                {% render 'customer-price-control', type:'sale', cpc_product: product1 %}
                            </p>
                            {%- if block.settings.show_discount_price -%}
                            <div class="fb-sg-proprice-discount">
                                {%- comment -%} <p class="fb-sg-proprice-discount-amount">{{ product1.selected_or_first_available_variant.compare_at_price | minus: product1.selected_or_first_available_variant.price | money_without_trailing_zeros }} OFF</p> {%- endcomment -%}
                                <p class="fb-sg-proprice-discount-amount">{% render 'customer-price-control', type:'off', cpc_product: product1 %} OFF</p>
                                <p class="fb-sg-proprice-discount-price">{% render 'customer-price-control', type:'origin', cpc_product: product1 %}</p>
                            </div>
                            {%- endif -%}
                        </div>
                        <div class="fb-sg-dotter fb-sg-mobile-lopbox{{ block.settings.selector_bike_swiper_order }}">
                            {{ loop_bike_color }}
                        </div>
                        <a  class="fb-sg-profooter-shopNow" href="{{ block.settings.link_page_url }}">{{ block.settings.shop_now }}</a>
                    </div>
                {%- endif -%}
               
            {%- endfor -%}
            <div class="fbSingleGoodsSwiper">
                <div class="swiper-wrapper">
                    {%- for block in section.blocks  -%}
                        {%- if block.settings.selector_bike == '2' -%}
                            <a class="fb-sg-heade swiper-slide" href="{{ block.settings.link_page_url }}">
                                {% assign image_url =  block.settings.link_image_product_chooseImage | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %} 
                                <img class="Image--lazyLoad Image--fadeIn fb-sg-product-image" data-src="{{ image_url }}"  data-sizes="auto"
                                    alt="{{ block.settings.link_image_product_chooseImage.alt }}"
                                >
                                <span class="Image__Loader"></span>
                                {% if block.settings.freebeat_klarna_image != blank %}
                                    <img data-src="{{ block.settings.freebeat_klarna_image }}"  class="Image--lazyLoad Image--fadeIn fb-sg-image-desc" />
                                {% endif %} 
                            </a>
                        {%- endif -%}
                    {%- endfor -%}
                </div>
                <!-- <div class="fsg-swiper-pagination">
                </div> -->
            </div>
        </div>
    {%- endcapture -%}
    {%- capture loop_boom_bike_image -%}
        <div class="fb-sg-box-pc">
            {%- for block in section.blocks -%}
                {%- if block.settings.selector_bike == '3' -%}
                    {%- assign product1 =  block.settings.product  -%}
                    <div class="fb-sg-profooter-boom js-fsg-loop-profooter-boom fb-loopboom-index{{ block.settings.selector_bike_swiper_order }}" data-url="{{ block.settings.link_page_url }}">
                        <div class="fb-sg-header-icons">
                            {%- if block.settings.swiss_image != blank  -%}
                                <img class="Image--lazyLoad Image--fadeIn" 
                                    data-src="{{ block.settings.swiss_image }}" 
                                >
                            {%- else -%}
                                <img class="Image--lazyLoad Image--fadeIn" 
                                data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/zhanweitu.png?v=1659520780" 
                                >
                            {%- endif -%}
                        </div>
                        <div class="fb-sg-mobile-dotter-boom fb-sg-mobile-boom-lopbox{{ block.settings.selector_bike_swiper_order }}">
                            {{ loop_boom_bike_color }}
                        </div>
                        <p class="fb-sg-profooter-title">{{ block.settings.fsgblock_title }}</p>
                        {%- if block.settings.fsgblock_title_sub != blank  -%}
                            <p class="fb-sg-profooter-subtitle">{{ block.settings.fsgblock_title_sub }}</p>
                        {%- else -%}
                            <p class="fb-sg-profooter-subtitle">&nbsp;</p>        
                        {%- endif -%}
                        <p class="fb-sg-profooter-desc">{{ block.settings.starting_at }}</p>
                        <div class="fb-sg-proprice">
                            <p class="fb-sg-proprice-price">
                                {% render 'customer-price-control', type:'sale', cpc_product: product1 %}
                            </p>

                            {%- if block.settings.show_discount_price -%}
                            <div class="fb-sg-proprice-discount">
                                {%- comment -%} <p class="fb-sg-proprice-discount-amount">{{ product1.selected_or_first_available_variant.compare_at_price | minus: product1.selected_or_first_available_variant.price | money_without_trailing_zeros }} OFF</p> {%- endcomment -%}
                                <p class="fb-sg-proprice-discount-amount"> {% render 'customer-price-control', type:'off', cpc_product: product1 %} OFF</p>
                                <p class="fb-sg-proprice-discount-price"> {% render 'customer-price-control', type:'origin', cpc_product: product1 %}</p>
                            </div>
                            {%- endif -%}
                        </div>
                        <div class="fb-sg-dotter1 fb-sg-mobile-boom-lopbox{{ block.settings.selector_bike_swiper_order }}">
                            {{ loop_boom_bike_color }}
                        </div>
                        <a  class="fb-sg-profooter-shopNow" href="{{ block.settings.link_page_url }}">{{ block.settings.shop_now }}</a>
                    </div>
                {%- endif -%}
               
            {%- endfor -%}
            <div class="fbSingleGoodsSwiperBoom">
                <div class="swiper-wrapper">
                    {%- for block in section.blocks  -%}
                        {%- if block.settings.selector_bike == '3' -%}
                            <a class="fb-sg-heade swiper-slide" href="{{ block.settings.link_page_url }}">
                                {% assign image_url =  block.settings.link_image_product_chooseImage | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %} 
                                <img class="Image--lazyLoad Image--fadeIn fb-sg-product-image" data-src="{{ image_url }}"  data-sizes="auto"
                                    alt="{{ block.settings.link_image_product_chooseImage.alt }}"
                                >
                                <span class="Image__Loader"></span>
                                {% if block.settings.freebeat_klarna_image != blank %}
                                    <img data-src="{{ block.settings.freebeat_klarna_image }}"  class="Image--lazyLoad Image--fadeIn fb-sg-image-desc" />
                                {% endif %} 
                            </a>
                        {%- endif -%}
                    {%- endfor -%}
                </div>
                <!-- <div class="fsg-swiper-pagination">
                </div> -->
            </div>
        </div>
    {%- endcapture -%}
    <div class="fb-single_products_pc">
        {%- for block in section.blocks  -%}
            {%- if block.settings.selector_order == '1' -%}
                {%- if block.settings.selector_bike == '0' -%}
                    {% render 'fb-single-goods-box', block: block %}
                {%- elsif block.settings.selector_bike == '2' -%}
                     {{ loop_bike_image }}
                {%- else -%}
                    {{ loop_boom_bike_image }}
                {%- endif -%}
                {% break %}
            {%- endif -%}
        {%- endfor -%}

        {%- for block in section.blocks  -%}
            {%- if block.settings.selector_order == '2' -%}
                
                {%- if block.settings.selector_bike == '0' -%}
                    {% render 'fb-single-goods-box', block: block %}
                {%- elsif block.settings.selector_bike == '2' -%}
                    {{ loop_bike_image }}
               {%- else -%}
                   {{ loop_boom_bike_image }}
               {%- endif -%}
                {% break %}
            {%- endif -%}
        {%- endfor -%}

        {%- for block in section.blocks  -%}
            {%- if block.settings.selector_order == '3' -%}
                {%- if block.settings.selector_bike == '0' -%}
                    {% render 'fb-single-goods-box', block: block %}
                {%- elsif block.settings.selector_bike == '2' -%}
                    {{ loop_bike_image }}
               {%- else -%}
                   {{ loop_boom_bike_image }}
               {%- endif -%}
                {% break %}
            {%- endif -%}
        {%- endfor -%}

        {%- for block in section.blocks  -%}
            {%- if block.settings.selector_order == '4' -%}
                {%- if block.settings.selector_bike == '0' -%}
                    {% render 'fb-single-goods-box', block: block %}
                {%- elsif block.settings.selector_bike == '2' -%}
                    {{ loop_bike_image }}
               {%- else -%}
                   {{ loop_boom_bike_image }}
               {%- endif -%}
                {% break %}
            {%- endif -%}
        {%- endfor -%}
    </div>
</div>
{% schema %}
 {
   "name": "FbSingleGoods",
   "presets": [
     {
       "name": "fb-single-goods",
       "category": "Fb Sections",
       "blocks": []
     }
   ],
   "settings": [
       {
           "type": "color",
           "id": "single_back",
           "label": "background color",
           "default": "#f6f6f6"
       },
        {
            "type": "select",
            "id": "item_align_style",
            "label": "PC Aligin Items",
            "options": [
                {
                    "value": "1",
                    "label": "flex-start"
                },
                {
                    "value": "2",
                    "label": "center"
                }
            ],
            "default": "1"
        }
   ],
   "blocks": [
       {
         "type": "goods",
         "name": "product image",
         "settings": [
            {
                "type": "checkbox",
                "id": "show_discount_price",
                "label": "Show Discount Price",
                "default": false
            },
                {
                    "type": "select",
                    "id": "selector_order",
                    "label": "Selector Order",
                    "options": [
                        {
                            "value": "1",
                            "label": "1"
                        },
                        {
                            "value": "2",
                            "label": "2"
                        },
                        {
                            "value": "3",
                            "label": "3"
                        },
                        {
                            "value": "4",
                            "label": "4"
                        },
                        {
                            "value": "5",
                            "label": "5"
                        }
                    ],
                    "default": "1"
                },
                {
                    "type": "select",
                    "id": "selector_bike",
                    "label": "Selector Bike",
                    "options": [
                        {
                            "value": "0",
                            "label": "None"
                        },
                        {
                            "value": "2",
                            "label": "Lit Bike"
                        },
                        {
                            "value": "3",
                            "label": "Boom Bike"
                        }
                    ],
                    "default": "0"
                },
                {
                    "type": "select",
                    "id": "selector_bike_swiper_order",
                    "label": "Selector Swiper Bike Order",
                    "options": [
                        {
                            "value": "1",
                            "label": "1"
                        },
                        {
                            "value": "2",
                            "label": "2"
                        },
                        {
                            "value": "3",
                            "label": "3"
                        },
                        {
                            "value": "4",
                            "label": "4"
                        },
                        {
                            "value": "5",
                            "label": "5"
                        }
                    ],
                    "default": "1"
                },
               {
                   "type": "product",
                   "id": "product",
                   "label": "Product"
               },
               {
                   "type": "url",
                   "id": "link_page_url",
                   "label": "Link page Url"
               },
               {
                   "type": "url",
                   "id": "swiss_image",
                   "label": "Swiss Image Url"
               },
               {
                   "type": "url",
                   "id": "freebeat_klarna_image",
                   "label": "freebeat klarna image"
               },
               {
                   "type": "url",
                   "id": "link_image_product_url",
                   "label": "Show Image Url",
                   "info": "Abandoned"
               },
               {
                   "type": "image_picker",
                   "id": "link_image_product_chooseImage",
                   "label": "Choose Image"
               },
               {
                   "type": "text",
                   "id": "fsgblock_title",
                   "label": "Product Title"
               },
               {
                   "type": "text",
                   "id": "fsgblock_title_sub",
                   "label": "Product Title Sub"
               },
               {
                   "type": "text",
                   "id": "starting_at",
                   "label": "Starting at",
                   "default": "Starting at"
               },
               {
                   "type": "text",
                   "id": "shop_now",
                   "label": "shop now",
                   "default": "SHOP NOW"
               },
                {
                    "type": "image_picker",
                    "id": "bike_img_defalut",
                    "label": "Bike Default Image"
                },
                {
                    "type": "image_picker",
                    "id": "bike_img_active",
                    "label": "Bike Active Image"
                }
           ]
       }
   ]
 }
{% endschema %}
<style>
   #section-{{ section.id }} {
       background-color: {{ section.settings.single_back }};
   }
    @media only screen and (min-width: 1000px) {
        {%- if section.settings.item_align_style == '2' -%}
            #section-{{ section.id }} .fb-single_products, .fb-single_products_pc{
                justify-content: center;
            }
        {%- endif -%}
    }
</style>

