<div class="fb-software-introduction-container">
    <div class="fb-soft-mobile fb-software-introduction" id="section-{{ section.id }}">
        <div class="introduction-box">
            <div class="introduction-title">{{section.settings.content_title}}</div>
            <div class="introduction-des">{{section.settings.content_des}}</div>
        </div>
        <div class="software swiper" id="software">
            <div class="software__wrp swiper-wrapper">
                {% for block in section.blocks %}
                <div class="software__item swiper-slide">
                    <div class="software__content">
                        <div class="software__title">{{block.settings.swiper_content_title}}</div>
                        <div class="software__text">
                        {{block.settings.swiper_content_des}}
                        </div>
                    </div>
                    <div class="software__img">
                        <video 
                            class="Image--lazyLoad Image--fadeIn" 
                            webkit-playsinline="true" playsinline="true"
                            autoplay="autoplay" 
                            muted="muted" 
                            loop="loop"
                            data-src="{{ block.settings.video_url }}"></video>
                    </div>
                </div>
                {% endfor %}
            </div>
            <img data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/png_1_2.png?v=1659516087" alt="bg" class="pic Image--lazyLoad Image--fadeIn">
        </div>
    </div>
</div>




<style>
    .fb-software-introduction-container{
        height: 100%;
        overflow: hidden;
        display: none;
    }
    .software__item {
        display: flex;
        align-items: center;
    }

    .software__item.swiper-slide-active .software__img img {
        opacity: 1;
        /* transition-delay: .3s; */
    }

    .software__item.swiper-slide-active .software__img video {
        opacity: 1;
        /* transition-delay: .3s; */
    }

    .software__item.swiper-slide-active .software__content>* {
        opacity: 1;
        transform: none;
    }

    .software__item.swiper-slide-active .software__content>*:nth-child(1) {
        transition-delay: 0.3s;
    }

    .software__item.swiper-slide-active .software__content>*:nth-child(2) {
        transition-delay: 0.4s;
    }
    .software__img {
        /* width: 300px; */
        flex-shrink: 0;
        height: 210px;
        transform: translateX(-80px);
        overflow: hidden;
        /* transform: translateY(10px); */
    }
    .pic {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 98%;
        height: 359px;
        transform: translate(1%);
    }

    .software__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        opacity: 0;
        transition: all .3s;
    }

    .software__img video {
        width: 100%;
        height: 210px;
        display: block;
        opacity: 1;
        object-fit: contain;
    }

    .video-box video {
        width: 100%;
        height: 100%;
        display: block;
        opacity:0;
        transition: all .3s;
    }
    .fb-soft-mobile{
        display:none
    }
    @media only screen and (min-width: 100px) and (max-width: 640px) {
         .fb-soft-mobile{
            display:block;
            position:relative;
        }
    }
    @media screen and (max-width: 768px) {
        .fb-software-introduction {
            background: #FAFAFA;
            padding-top: 44px;
        }

        .introduction-box {
            width: 100%;
            position:absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 44px 0 16px 0;
        }

        .introduction-title {
            font-size: 24px;
            font-family: Montserrat-Bold, Montserrat;
            font-weight: bold;
            color: #1D1D1F;
            line-height: 24px;
            letter-spacing: 1px;
        }

        .introduction-des {
            width: 345px;
            font-size: 18px;
            font-family: Montserrat-Regular, Montserrat;
            font-weight: 300;
            color: #000000;
            line-height: 24px;
            text-align: center;
            margin: 16px 0 0px 0;
        }

        .software__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .software__item {
            flex-direction: column;
        }

        .software__img {
            transform: translateY(-64%);
            width: 88%;
        }

        .video-box {
            transform: translate(6%,-34%);
            width: 91%;
            height: 100%;
        }

        .software__wrp {
            position: absolute;
            bottom: 0;
            height: 350px;
            z-index: 2;
        }

        .fade_content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 30px;
        }

    }

    .software__content {
        transform: translateY(-120%);
    }

     .software__content>* {
        opacity: 0 ;
        transform: translateY(100px);
        transition: all .4s ;
    } 
    .software__content.upTodown>* {
        transform: translateY(-55px);
    }
    .software__content.downToUp>* {
        transform: translateY(100px);
    }

    .software__code {
        color: #7b7992;
        margin-bottom: 15px;
        display: block;
        font-weight: 500;
    }

    .software__title {
        /* width: 240px; */
        height: 14px;
        font-size: 14px;
        font-family: Montserrat-Bold, Montserrat;
        font-weight: bold;
        color: #000000;
        line-height: 14px;
        letter-spacing: 1px;
        text-align: center;
    }

    .software__text {
        width: 340px;
        height: 66px;
        font-size: 16px;
        font-family: Montserrat-Regular, Montserrat;
        font-weight: 300;
        color: #666666;
        line-height: 22px;
        margin: 14px 0 46px 0;
        text-align: center;
    }

</style>
{% schema %}
    {
    "name": "FbSoftwareIntroduction",
    "presets": [
        {
        "name": "fb-software-introduction",
        "category": "Fb Software Introduction",
        "blocks": []
        }
    ],
    "settings": [
        {
            "type": "text",
            "id": "content_title",
            "label": "Content Title",
            "default": "IMMERSIVE FITNESS"
        },
        {
            "type": "text",
            "id": "content_des",
            "label": "Content Des"
        }
    ],
    "blocks": [
            {
                "type": "activerollImgBlock",
                "name": "activerollImgBlock",
                "settings": [
                    {
                    "type": "url",
                    "id": "video_url",
                    "label": "Video Url"
                    }, {
                    "type": "url",
                    "id": "img_url",
                    "label": "Img Url"
                    },{
                        "type": "text",
                        "id": "swiper_content_title",
                        "label": "Swiper Content Title"
                    },
                    {
                        "type": "text",
                        "id": "swiper_content_des",
                        "label": "Swiper Content Des"
                    }
                ]
            }
        ]
    }

{% endschema %}