<div class="fb-single-text-center Section--spacingNormal" id="section-{{ section.id }}">
    <div class="FeatureText ">
        <div class="FeatureText__ContentWrapper" style="position:relative;">
            <div class="FeatureText__Content">
                <header class="SectionHeader">
                    <h2 class="SectionHeader__Heading Heading u-h1">
                        {{ section.settings.singletext_title }}
                    </h2>
                    <div class="SectionHeader__Description Rte">
                        {{ section.settings.singletext_desc }}
                    </div>
                    {%- if section.settings.singletext_url != blank -%}
                        <a href="{{ section.settings.singletext_url }}"  class="Link Link--underline">
                            {{ section.settings.singletext_url_text }}
                        </a>
                    {%- endif -%}
                   
                </header>
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "FbSingleTextCenter",
    "presets": [
      {
        "name": "fb-single-text-center",
        "category": "Fb Sections",
        "blocks": []
      }
    ],
    "settings": [
        {
            "type": "color",
            "id": "singletext_backcolor",
            "label": "background color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "singletext_textcolor",
            "label": "text color",
            "default": "#000"
        },
        {
            "type": "text",
            "id": "singletext_title",
            "label": "Title",
            "default": "FIND YOUR BEAT"
        },
        {
            "type": "richtext",
            "id": "singletext_desc",
            "label": "Desc",
            "default": "<p>Turn on freebeat and never endure another dull moment during your fitness journey with its energetically curated music and beat-based choreography.</p>"
        },
        {
            "type": "text",
            "id": "singletext_url_text",
            "label": "Link text",
            "default": "EXPLORE BIKES"
        },
         {
            "type": "url",
            "id": "singletext_url",
            "label": "Link url"
        }
    ],
    "blocks": [
    ]
  }
{% endschema %}
<style>
    #section-{{ section.id }} {
        background-color: {{ section.settings.singletext_backcolor }};
        color: {{ section.settings.singletext_textcolor }}
    }
</style>

