<div class="fb-user-manual" id="section-{{ section.id }}">
    <div class="user-manual-bigtitle">{{ section.settings.user-manual-bigtitle }}</div>
    <div class="user-manual-bigdesc">{{ section.settings.user-manual-bigdesc }}</div>
    <div class="user-manual-con">
        {%- for block in section.blocks -%}
            <div class="user-manual-item">
                {% assign user-manual-img = block.settings.user-manual-img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                <img
                  class="Image--lazyLoad Image--fadeIn user-manual-img"
                  data-src="{{ user-manual-img }}"
                  data-sizes="auto"
                  data-optimumx="1.2"
                  data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                  alt="{{ block.settings.user-manual-img.alt | escape }}"
                >
                <div class="user-manual-right">
                    <div class="user-manual-sign">{{ block.settings.user-manual-sign }}</div>
                    <div class="user-manual-title">{{ block.settings.user-manual-title }}</div>
                    <div class="user-manual-desc">{{ block.settings.user-manual-desc }}</div>
                    <div class="user-manual-link-con">
                        <a class="user-manual-link user-manual-link1" href="{{ block.settings.user-manual-link1 }}" target="_blank" >
                            <span class="user-manual-link-title user-manual-link1-title">{{ block.settings.user-manual-link1-title }}</span>
                        </a>
                        <a class="user-manual-link user-manual-link2" href="{{ block.settings.user-manual-link2 }}" target="_blank" >
                            <span class="user-manual-link-title user-manual-link2-title">{{ block.settings.user-manual-link2-title }}</span>
                        </a>
                        <a class="user-manual-link user-manual-link3" href="{{ block.settings.user-manual-link3 }}" target="_blank">
                            <span class="user-manual-link-title user-manual-link3-title">{{ block.settings.user-manual-link3-title }}</span>
                        </a>
                    </div>
                </div>
            </div>
        {%- endfor -%}
    </div>
</div>
{% schema %}
    {
      "name": "FbUserManual",
      "presets": [
        {
            "name": "fb-user-manual",
            "category": "Fb Sections",
            "blocks": []
        }
      ],
      "settings": [
        {
            "type": "text",
            "id": "user-manual-bigtitle",
            "label": "Big Title"
        },
        {
            "type": "text",
            "id": "user-manual-bigdesc",
            "label": "Big Desc"
        }
      ],
      "blocks": [
        {
            "type": "user-manual",
            "name": "usermanual",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "user-manual-img",
                    "label": "Img"
                },
                {
                    "type": "text",
                    "id": "user-manual-sign",
                    "label": "Sign"
                },
                {
                    "type": "text",
                    "id": "user-manual-title",
                    "label": "Title"
                },
                {
                    "type": "richtext",
                    "id": "user-manual-desc",
                    "label": "Desc"
                },
                {
                    "type": "url",
                    "id": "user-manual-link1",
                    "label": "Link1"
                },
                {
                    "type": "text",
                    "id": "user-manual-link1-title",
                    "label": "Link1 Title"
                },
                {
                    "type": "url",
                    "id": "user-manual-link2",
                    "label": "Link2"
                },
                {
                    "type": "text",
                    "id": "user-manual-link2-title",
                    "label": "Link2 Title"
                },
                {
                    "type": "url",
                    "id": "user-manual-link3",
                    "label": "Link3"
                },
                {
                    "type": "text",
                    "id": "user-manual-link3-title",
                    "label": "Link3 Title"
                }
            ]
        }
        ]
    }
  {% endschema %}