{%- assign product = section.settings.product -%}
{%- assign accessories = section.blocks | where: 'type', 'accessories' | first -%}
<div class="fb-xbike-accessories" id="section-{{ section.id }}">
  <div class="fb-xbike-image">
    {% assign imgPiker = section.settings.xbikeAccessoriesImg | img_url: '1x1' | replace: '_1x1.','_{width}x.' %}
    <img class="Image--lazyLoad Image--fadeIn xbike_r_img" data-src="{{ imgPiker }}" data-sizes="auto" data-optimumx="1.2" data-widths="[800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]">
    {% assign imgPiker = section.settings.xbikeAccessoriesImgMb | img_url: '1x1' | replace: '_1x1.','_{width}x.' %}
    <img class="Image--lazyLoad Image--fadeIn xbike_r_img_mb" data-src="{{ imgPiker }}" data-sizes="auto" data-optimumx="1.2" data-widths="[800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]">

  </div>
  <div class="bike-zdy xbike-page">
    <div>
      <h3 class="xbike-title">{{ section.settings.title}}</h3>
      <div class="xbike-subTitle">
        {{section.settings.subTitle}}
      </div>
      <div class="xbike-hr"></div>
      <div class="xbike-price">
        <div class="price">
          <div class="xbike-pre">{{ section.settings.addDes-1 }}</div>
          <div class="price-box">
            {%- if product.selected_or_first_available_variant.compare_at_price >
            product.selected_or_first_available_variant.price -%}
              <div>{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</div>
              <div class="discount">
                {%- if product != blank -%}
                  <span class="jianmian">{{ product.selected_or_first_available_variant.compare_at_price | minus:
 product.selected_or_first_available_variant.price | money_without_trailing_zeros }}
                    Off</span>
                {%- else -%}
                  <span class="jianmian">${{ settings.fb_xbike_discountAmount }}
                    Off</span>
                {%- endif -%}
                <span class="original-price">
                  {{ product.selected_or_first_available_variant.compare_at_price | money_without_trailing_zeros }}</span>
              </div>
            {%- endif -%}
          </div>
        </div>
        <div class="by-stages-custom">
          <div>{{ section.settings.addDes-2 }}</div>
          {%- if product != blank -%}
            ${{ product.selected_or_first_available_variant.price | plus: settings.fb_lit_bike_shipping_rate | divided_by:
          3600.0 | round: 2 }}/MO<sup>1</sup>
          {%- else -%}
            ${{ section.settings.installmentsPrice }}/MO<sup>1</sup>
          {%- endif -%}
        </div>
      </div>
      <div class="introduce">
        {{ section.settings.addDes-3-1 }}
        <br>
        {{section.settings.addDes-3-2}}<sup>1</sup>
      </div>

      <div class="SectionHeader__ButtonWrapper">
        <div class="ButtonGroup ButtonGroup--spacingSmall {% if has_two_buttons %}ButtonGroup--sameSize{% endif %} zdy-ButtonGroup">
          <a id="gtm-bikePaymentPlan-xBikeButton-{{
                                                                                                              section.settings.button_1_text | escape
                                                                                                            }}" class="ButtonGroup__Item Button" style="background-color: #ace5ec;">{{
            section.settings.button_1_text | escape }}</a>
          <br/>
        </div>
        <div id="bike-list">
          {%- for block in section.blocks -%}
            <div class="bike-list-child">
              {% assign imgPiker = block.settings.accessoriesImg | img_url: '1x1' | replace: '_1x1.','_{width}x.' %}
              <img class="Image--lazyLoad Image--fadeIn" data-src="{{ imgPiker }}" data-sizes="auto" data-optimumx="1.2" data-widths="[800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]">{{block.settings.itemContent}}
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .fb-xbike-accessories {
    position: relative;
  }

  .fb-xbike-image img {
    width: 100%;
    max-height: 100%;
  }

  .xbike_r_img {
    display: block;
  }

  .xbike_r_img_mb {
    display: none;
  }

  .xbike-page {
    right: auto;
    left: 0;
    width: 50%;

    background: {
      {
        section.settings.background-color
      }
    };

    color: {
      {
        section.settings.text-color
      }
    };
    padding-left: 70px;
    padding-right: 50px;
    padding-top: 100px;
  }

  .xbike-page > div {
    max-width: 460px;
  }

  .xbike-page .xbike-title {
    font-size: 20px;
    font-weight: 1200;
    margin-bottom: 0;
  }

  .xbike-page .xbike-subTitle {
    font-size: 26px;
  }

  .xbike-page .xbike-hr {
    opacity: 0;
  }

  .xbike-page .xbike-price {
    font-size: 30px;
    letter-spacing: 1px;
    overflow: hidden;
    color: #55bed5;
  }

  .xbike-page .xbike-pre {
    color: #333;
  }

  .by-stages-custom {
    float: left;
    margin-left: 26px;
    font-size: 24px;
    line-height: 26px;
  }

  .xbike-page .by-stages-custom > div {
    color: #333;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 6px;
  }

  .by-stages-custom sup {
    font-size: 10px;
    transform: scale(0.5);
    font-weight: 300;
    position: relative;
    top: -1px;
  }

  .xbike-page .price::after {
    background: #ccc;
    content: "";
    height: 52px;
    width: 1px;
    position: absolute;
    top: 5px;
    right: 0;
    opacity: .6;
  }

  .xbike-page .original-price {
    color: #999;
    text-decoration: line-through;
  }

  .xbike-page .introduce {
    color: #777;
    opacity: 1;
    font-size: 12px;
    line-height: 20px;
    opacity: .7;
    font-weight: 400;
    margin-top: 10px;
  }

  .bike-zdy {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .bike-zdy > div {
    /* max-width: 385px; */
    padding-bottom: 50px;
  }

  .xbike-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .xbike-subTitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
  }

  .xbike-hr {
    height: 1px;
    width: 138px;
    background: #fff;
    opacity: .6;
    margin: 0 0 55px;
  }

  .xbike-pre {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 6px;
  }

  .price {
    float: left;
    position: relative;
    padding-right: 26px;
    overflow: hidden;
  }

  .price-box {
    overflow: hidden;
    position: relative;
    top: -6px;
  }

  .price-box > div {
    float: left;
  }

  .discount {
    font-size: 12px;
    position: relative;
    top: 7px;
    margin-left: 8px;
  }

  .discount > span {
    display: block;
    height: 14px;
  }

  .jianmian {
    color: #55bed5;
  }

  .bike-zdy .ButtonGroup {
    justify-content: left;
    color: #fff;
    border-color: #02c0d9;
  }

  .bike-zdy .Button {
    background-color: #02c0d9;
  }

  #bike-list {
    width: 580px !important;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-top: 40px;
    margin-left: -10px;
    font-size: 14px;
    font-family: Montserrat-SemiBold, Montserrat;
    font-weight: 600;
  }

  #bike-list .bike-list-child {
    float: left;
    margin-bottom: 12px;
    margin-right: 5%;
  }

  #bike-list img {
    width: 36px;
    position: relative;
    top: -8px;
  }

  @media only screen and (min-width:769px)and(max-width:1024px) {
    .xbike-page {
      padding-left: 30px;
      padding-right: 10px;
      padding-top: 50px;
    }

    .xbike-hr {
      margin: 0;
    }

    .xbike-page .xbike-subTitle {
      font-size: 20px;
    }

    .xbike-page .xbike-price {
      font-size: 26px;
      margin-top: 15px;
    }

    #bike-list {
      margin-top: 20px;
      font-size: 12px;
      width: 550px;
      display: flex;
      flex-direction: row;
    }

    .xbike-page .introduce {
      line-height: 13px;
    }
  }

  @media only screen and (max-width:768px) {
    #bike-list {
      width: 340px !important;
      margin-top: 20px;
      font-size: 12px;
      display: block;
      margin-left: 0;
    }

    .xbike_r_img {
      display: none;
    }
    #bike-list .bike-list-child {
      margin-bottom: 0;
    }
    #bike-list > div {
      float: left;
      /* width: 50%; */
      margin-bottom: 12px;
      margin-right: 0;
    }
    .xbike_r_img_mb {
      display: block;
    }

    .price-box {
      font-size: 20px;
      top: 0;
    }

    .by-stages-custom {
      font-size: 20px;
    }

    .discount {
      top: -1px;
    }

    .xbike-page .price::after {
      height: 50px;
    }

    .bike-zdy {
      right: 0;
      top: auto;
      bottom: 0;
      height: 50%;
      z-index: 1;
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 40px;
    }

    .xbike-title {
      margin-bottom: 0;
      font-size: 20px;
    }

    .xbike-subTitle {
      font-size: 12px;

    }

    .xbike-hr {
      margin: 10px 0 20px;
    }

    .xbike-page {
      height: 430px;
      padding-top: 16px;
      position: inherit;
    }

    .xbike-page > div {
      padding-bottom: 10px;
    }

    .xbike-page .xbike-title {
      font-size: 26px;
    }

    .xbike-page .xbike-subTitle {
      font-size: 14px;
    }

    .xbike-page .xbike-hr {
      opacity: 1;
      background: #333;
      width: 100%;
    }

    .xbike-page #bike-list {
      margin-top: 20px;
    }

    #bike-list > div {
      margin-bottom: 0;
      font-size: 12px;
      opacity: .7;
      font-weight: 400;
      margin-top: 10px;
    }

    #bike-list img {
      display: none
    }
  }
</style>
{% schema %}
  {
    "name": "FbXbikeAccessories",
    "presets": [
      {
        "name": "fb-xbike-accessories",
        "category": "Fb Sections",
        "blocks": []
      }
    ],
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      },
      {
        "type": "color",
        "id": "background-color",
        "label": "Background"
      },
      {
        "type": "color",
        "id": "text-color",
        "label": "Text Color"
      },
      {
        "type": "image_picker",
        "id": "xbikeAccessoriesImg",
        "label": "Image Pc"
      }, {
        "type": "image_picker",
        "id": "xbikeAccessoriesImgMb",
        "label": "Image Mb"
      }, {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "text",
        "id": "subTitle",
        "label": "SubTitle"
      }, {
        "type": "text",
        "id": "installmentsPrice",
        "label": "Installments Price"
      }, {
        "type": "text",
        "id": "addDes-1",
        "label": "Add Des 1"
      }, {
        "type": "text",
        "id": "addDes-2",
        "label": "Add Des 2"
      }, {
        "type": "text",
        "id": "addDes-3-1",
        "label": "Add Des 3-1"
      }, {
        "type": "text",
        "id": "addDes-3-2",
        "label": "Add Des 3-2"
      }, {
        "type": "url",
        "id": "button_1_link",
        "label": "Link Url"
      }, {
        "type": "text",
        "id": "button_1_text",
        "label": "Button Content"
      }

    ],
    "blocks": [
      {
        "type": "accessories",
        "name": "Accessories",
        "limit": 4,
        "settings": [
          {
            "type": "image_picker",
            "id": "accessoriesImg",
            "label": "Accessories Image"
          }, {
            "type": "text",
            "id": "itemContent",
            "label": "Accessories Content"
          }
        ]
      }
    ]
  }
{% endschema %}