{%- assign country_code_var = localization.country.iso_code | downcase -%}
<footer id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="footer" class="Footer {% if section.blocks.size <= 2 %}Footer--center{% endif %}" role="contentinfo">
  <div class="Container">
    {%- if section.blocks.size > 0 -%}
      <div class="Footer__Inner">
        <div class="newMbFooter">
          {%- for block in section.blocks -%}
            <div class="custom-nav" {{ block.shopify_attributes }}>
              {%- case block.type -%}
                {%- when 'links' -%}
                    {%- if country_code_var == 'gb' -%}
                        {%- assign linklist = linklists[block.settings.gb_menu] -%}
                    {%- elsif country_code_var == 'au' -%} 
                      {%- assign linklist = linklists[block.settings.au_menu] -%}
                    {%- else -%}
                        {%- assign linklist = linklists[block.settings.menu] -%}
                    {%- endif -%}
                 
                    {%- capture faqs_url -%}
                        {%- if  linklist.title contains 'FAQs' -%}
                            {%- if country_code_var == 'gb' -%}
                                href="/en-uk/pages/faqs-uk"
                            {%- elsif country_code_var == 'au' -%}
                                href="/en-au/pages/faqs-au"
                            {%- else -%}
                                href="/pages/faqs"
                            {%- endif -%} 
                        {%- else -%}
                            href="javascript:void(0)" 
                        {%- endif -%}
                    {%- endcapture -%}
                  {%- if linklist != empty -%}
                      <div class="Footer__Title Heading u-h6 nav-title">
                        <a  {{ faqs_url }} >{{ linklist.title | escape | remove: 'GB' | remove: 'AU' }}</a>
                        <svg class="tw-absolute tw-right-0 tw-transform tw--rotate-90" xmlns="http://www.w3.org/2000/svg"
                            width="12px" height="12px" viewBox="0 0 12 12">
                            <polygon
                                points="9.64644661 3.64644661 10.3535534 4.35355339 6 8.70710678 1.64644661 4.35355339 2.35355339 3.64644661 6 7.293"
                                fill="currentColor"></polygon>
                        </svg>
                      </div>
                    <ul class="Linklist nav-list">
                      {%- for link in linklist.links -%}
                        <li class="Linklist__Item ">
                          <a href="{{ link.url }}" class="Link Link--primary">{{ link.title | escape }}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
              {%- endcase -%}
            </div>
          {%- endfor -%}
        </div>
        {%- for block in section.blocks -%}
          <div class="Footer__Block Footer__Block--{{ block.type }}" {{ block.shopify_attributes }}>
            {%- case block.type -%}
              {%- when 'text' -%}
                {%- if block.settings.title != blank -%}
                  <h2 class="Footer__Title Heading u-h6">{{ block.settings.title | escape }}</h2>
                {%- endif -%}

                {%- if country_code_var == 'ca' -%}
                    {%- if block.settings.caContent != blank -%}
                      <div class="Footer__Content Rte">
                        {{ block.settings.caContent }}
                      </div>
                    {%- endif -%}
                {%-  elsif country_code_var == 'au' -%}
                    {%- if block.settings.auContent != blank -%}
                      <div class="Footer__Content Rte">
                        {{ block.settings.auContent }}
                      </div>
                    {%- endif -%}
                {%- else -%}
                    {%- if block.settings.ukContent != blank -%}
                      <div class="Footer__Content Rte">
                        {{ block.settings.ukContent }}
                      </div>
                    {%- endif -%}
                {%- endif -%}

                {%- if block.settings.show_social_media -%}
                  {% render 'social-media', class: 'Footer__Social', spacing: 'loose' %}
                {%- endif -%}

              {%- when 'links' -%}
                {% comment %} {%- assign linklist = linklists[block.settings.menu] -%} {% endcomment %}
                {%- if country_code_var == 'gb' -%}
                    {%- assign linklist = linklists[block.settings.gb_menu] -%} 
                {%- elsif country_code_var == 'au' -%}
                    {%- assign linklist = linklists[block.settings.au_menu] -%} 
                {%- else -%}
                    {%- assign linklist = linklists[block.settings.menu] -%}
                {%- endif -%}
                {%- if linklist != empty -%}
                  <h2 class="Footer__Title Heading u-h6">{{ linklist.title | escape | remove: 'GB' }}</h2>

                  <ul class="Linklist">
                    {%- for link in linklist.links -%}
                      <li class="Linklist__Item">
                        {%- if tel != empty -%}
                             <a href="{{ link.url }}" class="Link Link--primary">{{ link.title | escape }}</a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}

              {%- when 'newsletter' -%}
                {%- if block.settings.title != blank -%}
                  <h2 class="Footer__Title Heading u-h6">{{ block.settings.title | escape }}</h2>
                {%- endif -%}

                {%- if country_code_var == 'ca' -%}
                    {%- if block.settings.caContent != blank -%}
                      <div class="Footer__Content Rte">
                        {{ block.settings.caContent }}
                      </div>
                    {%- endif -%}
                {%- elsif country_code_var == 'au' -%}
                    {%- if block.settings.auContent != blank -%}
                        <div class="Footer__Content Rte">
                        {{ block.settings.auContent }}
                        </div>
                    {%- endif -%}
                {%- elsif country_code_var == 'uk' -%}
                    {%- if block.settings.ukContent != blank -%}
                      <div class="Footer__Content Rte">
                        {{ block.settings.ukContent }}
                      </div>
                    {%- endif -%}
                {%- else -%}
                {%- endif -%}

                {%- form 'customer', id: 'footer-newsletter', class: 'Footer__Newsletter Form' -%}
                  {%- if form.posted_successfully? -%}
                    <p class="Form__Alert Alert Alert--success">{{ 'footer.newsletter.success' | t }}</p>
                  {%- else -%}
                    {%- if form.errors -%}
                      <p class="Form__Alert Alert Alert--error">{{ form.errors.messages['email'] }}</p>
                    {%- endif -%}
                    {%- if country_code_var == 'ca' -%}
                        {%- assign freebeat_tag = 'footer-signup-CA' -%}
                    {%- elsif country_code_var == 'gb' -%}
                        {%- assign freebeat_tag = 'footer-signup-UK' -%}
                    {%- elsif country_code_var == 'au' -%}
                        {%- assign freebeat_tag = 'footer-signup-AU' -%}
                    {%- else -%}
                        {%- assign freebeat_tag = 'footer-signup-US' -%}
                    {%- endif -%}
                    <input type="hidden" name="contact[tags]" value="{{ freebeat_tag }}">
                    <input type="email" name="contact[email]" class="Form__Input" aria-label="{{ 'footer.newsletter.input' | t }}" placeholder="{{ 'footer.newsletter.input' | t }}" required>
                    <button type="submit" onclick="uet_report_conversion_subscribe()" class="Form__Submit Button Button--primary">{{ 'footer.newsletter.submit' | t }}</button>
                  {%- endif -%}
                {%- endform -%}
            {%- endcase -%}
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}

    <div class="Footer__Aside">
      {%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
        {%- assign currency_selector = true -%}
      {%- endif -%}
      {%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
        {%- assign locale_selector = true -%}
      {%- endif -%}
      {%- capture uk_img -%}
        <img class="fccd-img1" src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/united-kindom.png?v=1682676177"> United Kingdom
      {%- endcapture -%}
      {%- capture ca_img -%}
        <img class="fccd-img1" src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/jianada.png?v=1682676168">Canada
      {%- endcapture -%}
      {%- capture au_img -%}
           <img class="fccd-img1" src="https://cdn.shopify.com/s/files/1/0667/5555/9723/files/australia.png?v=1684217572">Australia
      {%- endcapture -%}
      {%- capture us_img -%}
           <img class="fccd-img1" src="https://cdn.shopifycdn.net/s/files/1/0667/5555/9723/files/UnitedStates.png?v=1684996832">United States ($ USD)
      {%- endcapture -%}
      {%- if locale_selector or currency_selector -%}
        <div class="Footer__Localization fb-change-location-default">
          {%- form 'localization', id: 'localization_form_footer', class: 'Footer__LocalizationForm' -%}
            {%- if currency_selector -%}
              <div class="Footer__LocalizationItem">
                <input type="hidden" name="currency_code" value="{{ form.current_currency.iso_code }}">
                <span class="u-visually-hidden">{{ 'footer.general.currency' | t }}</span>
                <button type="button" class="SelectButton Link Link--primary u-h8" aria-haspopup="true" aria-expanded="false" aria-controls="footer-currency-popover">
                    {% if form.current_currency.iso_code == 'CAD' %}
                        {{ ca_img }} 
                    {% endif %}
                    {% if form.current_currency.iso_code == 'GBP' %}
                        {{ uk_img }}
                    {% endif %}
                    {% if form.current_currency.iso_code == 'AUD' %}
                        {{ au_img }}
                    {% endif %}
                    ({% if form.current_currency.symbol %}{{ form.current_currency.symbol }}{% endif %} {{ form.current_currency.iso_code }})
                </button>

                <div id="footer-currency-popover" class="Popover Popover--small Popover--noWrap" aria-hidden="true">
                  <header class="Popover__Header">
                    <button type="button" class="Popover__Close Icon-Wrapper--clickable" data-action="close-popover">{% render 'icon' with 'close' %}</button>
                    <span class="Popover__Title Heading">
                        CHANGE YOUR COUNTRY
                        {% comment %} {{ 'footer.general.currency' | t }} {% endcomment %}
                    </span>
                  </header>
                  <div class="Popover__Content">
                    <div class="fccd-header">
                        <span>CHANGE YOUR COUNTRY</span>
                    </div>
                    <div class="Popover__ValueList Popover__ValueList--center" data-scrollable>
                        {%- for currency in form.available_currencies -%}
                            <button type="submit" name="currency_code" class="Popover__Value fccd-button {% if currency.iso_code == form.current_currency.iso_code %}is-selected{% endif %} Heading Link Link--primary u-h6"  value="{{ currency.iso_code }}" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %}>
                                {% if currency.iso_code == 'CAD' %}
                                    {{ ca_img }} 
                                {% endif %}
                                {% if currency.iso_code == 'GBP' %}
                                    {{ uk_img }}
                                {% endif %}
                                {% if currency.iso_code == 'AUD' %}
                                    {{ au_img }}
                                {% endif %}
                                ({% if currency.symbol %}{{ currency.symbol }} {% endif %} {{ currency.iso_code }})
                                <svg class="fccd-btn-check" width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.6667 1.00001L5.33333 8.33334L1 4.00001" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>       
                        {%- endfor -%}
                        <a  href="https://www.freebeatfit.com/" class="Popover__Value fccd-button Heading Link Link--primary u-h6">
                            {{ us_img }}
                        </a>
                    </div>
                  </div>
                </div>
              </div>
            {%- endif -%}

            {%- if locale_selector -%}
              <div class="Footer__LocalizationItem">
                <input type="hidden" name="locale_code" value="{{ form.current_locale.iso_code }}">
                <span class="u-visually-hidden">{{ 'footer.general.locale' | t }}</span>

                <button type="button" class="SelectButton Link Link--primary u-h8" aria-haspopup="true" aria-expanded="false" aria-controls="footer-locale-popover">
                  {{- form.current_locale.endonym_name -}}
                  {%- render 'icon', icon: 'select-arrow' -%}
                </button>

                <div id="footer-locale-popover" class="Popover Popover--small Popover--noWrap" aria-hidden="true">
                  <header class="Popover__Header">
                    <button type="button" class="Popover__Close Icon-Wrapper--clickable" data-action="close-popover">{% render 'icon' with 'close' %}</button>
                    <span class="Popover__Title Heading u-h4">{{ 'footer.general.locale' | t }}</span>
                  </header>

                  <div class="Popover__Content">
                    <div class="Popover__ValueList Popover__ValueList--center" data-scrollable>
                      {%- for locale in form.available_locales -%}
                        {% comment %} {{ locale | json }} {% endcomment %}
                        <button type="submit" name="locale_code" class="Popover__Value {% if locale.iso_code == form.current_locale.iso_code %}is-selected{% endif %} Heading Link Link--primary u-h6" value="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %}>
                          {{- locale.endonym_name -}}
                        </button>
                      {%- endfor -%}
                    </div>
                  </div>
                </div>
              </div>
            {%- endif -%}
          {%- endform -%}
        </div>
      {%- endif -%}

      <div class="Footer__Copyright">
        <a href="{{ routes.root_url }}" class="Footer__StoreName Heading u-h7 Link Link--secondary">© {{ shop.name }}</a>
        <p class="Footer__ThemeAuthor">{{ powered_by_link }}</p>
      </div>

      {%- if section.settings.show_payment_methods -%}
        {%- capture payment_methods -%}
          {%- for type in shop.enabled_payment_types -%}
            <li class="HorizontalList__Item">{{ type | payment_type_svg_tag }}</li>  
          {%- endfor -%}
          {%- if country_code_var == 'ca' -%}
            <li class="HorizontalList__Item">{{ 'klarna' | payment_type_svg_tag }}</li>
          {%- endif -%}
        {%- endcapture -%}
			
        {%- if payment_methods != blank -%}

          <ul class="Footer__PaymentList HorizontalList">
<!--             <li class="HorizontalList__Item ">
                <img class="klarna-logo" alt="klarna" src="https://cdn.shopifycdn.net/s/files/1/0592/3766/2905/files/klarna.png?v=1631262810" />
              </li> -->
            {{ payment_methods }}
          </ul>
        {%- endif -%}
      {%- endif -%}
    </div>
  </div>
</footer>

{%- if settings.footer_background == settings.background -%}
  <style>
    .Footer {
      border-top: 1px solid var(--border-color);
    }
  </style>
  <style>
    .Footer__Block--text .Footer__Content p:nth-child(1){
      margin-bottom:0;
    }
    .newMbFooter{
        display:none;
    }
    @media (max-width: 768px){
      .newMbFooter{
        display:block;
        padding: 50px 0 10px;
      }
    }
  </style>
{%- endif -%}

{% schema %}
{
  "name": "Footer",
  "class": "shopify-section--footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_methods",
      "label": "Show payment methods",
      "info": "Payment method icons are automatically displayed based on your Shopify payment methods.",
      "default": true
    },
    {
      "type": "header",
      "content": "Currency selector",
      "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text / social media",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "About the shop"
        },
        {
          "type": "richtext",
          "id": "caContent",
          "label": "ca info",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme settings.</p>"
        },
        {
          "type": "richtext",
          "id": "ukContent",
          "label": "uk info",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme settings.</p>"
        },
        {
          "type": "richtext",
          "id": "auContent",
          "label": "au info",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme settings.</p>"
        },
        {
          "type": "checkbox",
          "id": "show_social_media",
          "label": "Show social media",
          "info": "Make sure to have properly configured your social media in the theme settings.",
          "default": true
        }
      ]
    },
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items."
        },
        {
            "type": "link_list",
            "id": "gb_menu",
            "label": "GB Menu"
        },
        {
            "type": "link_list",
            "id": "au_menu",
            "label": "AU Menu"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text",
        "settings": {}
      },
      {
        "type": "links",
        "settings": {
          "menu": "footer"
        }
      },
      {
        "type": "newsletter",
        "settings": {}
      }
    ]
  }
}
{% endschema %}