{%- if section.settings.show_popup -%}
  {%- unless section.settings.show_only_on_index and template != 'index' -%}
    {%- unless section.settings.show_only_for_visitors and customer -%}
      {% capture section_settings %}
        {
          "apparitionDelay": {{ section.settings.apparition_delay | json }},
          "showOnlyOnce": {{ section.settings.show_only_once | json }}
        }
      {% endcapture %}
       {%- if template == 'index' or  template contains 'lit-bike' or template contains 'lit-bike-klarna' or template contains 'lit-bike-white' or template contains 'lit-bike-beige' or template contains 'boom-bike-first' -%}
            <div class="sub-bg" id="sub-bg" aria-hidden="true" >
                <aside id="NewsletterPopup" class="NewsletterPopup" data-section-id="{{ section.id }}" data-section-type="newsletter-popup" data-section-settings='{{ section_settings }}' aria-hidden="true">
                    <button class="NewsletterPopup__ZoomOut"   id="close-pc-popup-news" >
                        {% render 'icon' with 'close' %}
                    </button>
                    <div>
                        <img data-size="auto"
                        class="mb-img Image--lazyLoad Image--fadeIn" 
                        data-src="{{section.settings.mb_img_url}}" alt="" >
                        <img data-size="auto"
                        class="pc-img Image--lazyLoad Image--fadeIn" 
                        style="width: 400px;"
                        data-src="{{section.settings.pc_img_url}}" alt="" >
                    </div>   
                    
                    <div class="form-subscrip-box">
                        {%- if section.settings.show_newsletter -%}
                        {%- form 'customer', id: 'newsletter-popup', class: 'NewsletterPopup__Form' -%} 
                            {%- if form.posted_successfully? -%}
                                <img  class="Image--lazyLoad Image--fadeIn fb-icon-freebeat-succ"  data-size="auto" data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/6_2x_0051387b-bb3f-4053-bb66-73195f3c6512.png?v=1664362695" alt="">
                                <div class="fb-success-box">
                                    <div class="fb-success-tit">
                                        {{ section.settings.succ_title }} 
                                    </div>
                                    <div class="fb-success-desc">
                                        {{ section.settings.succ_desc }} 
                                    </div>
                                    <div class="fb-success-code-pc">
                                        {% assign imgapp = section.settings.succ_whatsapp_img | img_url: '' %}
                                        {% assign imgface = section.settings.succ_facebook_img | img_url: '' %}
                                        <div class="succ-whatsapp-box succ-code-box">
                                            <img class="Image--lazyLoad Image--fadeIn" data-size="auto"
                                                data-src="{{ imgapp }}"
                                                alt=""
                                            >
                                            <span class="Image__Loader"></span>
                                            <p> {{ section.settings.succ_whatsapp_text }}  </p>
                                        </div>
                                        <div class="succ-facbook-box succ-code-box">
                                            <img class="Image--lazyLoad Image--fadeIn" data-size="auto"
                                            data-src="{{ imgface }}"
                                            alt=""
                                            >
                                            <span class="Image__Loader"></span>
                                            <p> {{ section.settings.succ_facebook_text }}  </p>
                                        </div>
                                    </div>
                                    <div class="fb-success-code-mob">
                                        {% assign imgappmob = section.settings.succ_whatsapp_imgmob | img_url: '' %}
                                        {% assign imgfacemob = section.settings.succ_facebook_imgmob | img_url: '' %}
                                        <a class="succ-whatsapp-box succ-code-box"  href="{{ section.settings.succ_whatsapp_link }}">
                                            <img class="Image--lazyLoad Image--fadeIn" data-size="auto"
                                                data-src="{{ imgappmob }}"
                                                alt=""
                                            >
                                            <p> {{ section.settings.succ_whatsapp_text }}  </p>
                                        </a>
                                        <a class="succ-facbook-box succ-code-box" href="{{ section.settings.succ_facebook_link }}">
                                            <img class="Image--lazyLoad Image--fadeIn" data-size="auto"
                                            data-src="{{ imgfacemob }}"
                                            alt=""
                                            >
                                            <p> {{ section.settings.succ_facebook_text }}  </p>
                                        </a>
                                    </div>
                                    <div class="fb-success-sayhi">
                                        {%- comment -%} <span class="fb-sucircl"></span> {%- endcomment -%}
                                        {{ section.settings.succ_bot_desc }}
                                    </div>
                                </div>
                            {%- else -%}
                                <img  class="Image--lazyLoad Image--fadeIn fb-icon-freebeat"  data-size="auto" data-src="https://cdn.shopify.com/s/files/1/0592/3766/2905/files/6_2x_0051387b-bb3f-4053-bb66-73195f3c6512.png?v=1664362695" alt="">
                                {%- if section.settings.title != blank -%}
                                    <h2 class="NewsletterPopup__Heading Heading fb-pop-p-line">
                                        {{ section.settings.title }}
                                    </h2>
                                {%- endif -%}
            
                                {%- if section.settings.content != blank -%}
                                    <div class="NewsletterPopup__Content">
                                        {{ section.settings.content }}
                                    </div>
                                {%- endif -%}
                                <input type="hidden" name="contact[tags]" value="freebeat-popup">
                                <input type="email" name="contact[email]" class="Form__Input js-popupGtm-class" required="required" aria-label="{{ 'general.popup.email_placeholder' | t }}" placeholder="{{ 'general.popup.email_placeholder' | t }}">
                                <button id="gtm-popup-button" class="Form__Submit Button Button--primary Button--full" type="submit">{{ 'JOIN NOW' }}</button>
                            {%- endif -%}
                        {%- endform -%}
                        {%- endif -%}
                    </div>
                
                </aside>
            </div>  

            <div id="mm-newsletter-button" >
                <div class="mm-newsletter-des">
                  <div>{{ section.settings.mm_newsletter_des1 }}</div>
                  <div>{{ section.settings.mm_newsletter_des2 }}</div>
                  <div>{{ section.settings.mm_newsletter_des3 }}</div>
                </div>
            </div>
        {%- endif -%}
       
    {%- endunless -%}
  {%- endunless -%}
{%- endif -%}

{% schema %}
{
  "name": "Popup",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_popup",
      "label": "Enable",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_only_on_index",
      "label": "Show only on home page",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_only_for_visitors",
      "label": "Show only for visitors",
      "info": "Customers who have created an account on your shop won't see it.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_only_once",
      "label": "Show only once per customer",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Never Miss a Beat!"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p> Sign up to get the latest news and offers on all freebeat products!</p>"
    },
    {
      "type": "image_picker",
      "id": "circle_img",
      "label": "Circle Img"
    },
    {
        "type": "url",
        "id": "mb_img_url",
        "label": "Mb Img Url"
    },
    {
        "type": "url",
        "id": "pc_img_url",
        "label": "Pc Img Url"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": "Show newsletter form",
      "default": true
    },
    {
      "type": "range",
      "id": "apparition_delay",
      "min": 0,
      "max": 15,
      "step": 1,
      "unit": "sec",
      "label": "Delay until the popup appears",
      "default": 5
    },
    {
      "type": "richtext",
      "id": "succ_title",
      "label": "Sccess Title",
      "default": "<p>Hello,friend!</p>"
    },
    {
      "type": "richtext",
      "id": "succ_desc",
      "label": "Sccess Desc",
      "default": "<p> You’ve signed up successfully!<br/>Go ahead get your own customer service to answer all your questions.</p>"
    },
    {
        "type": "image_picker",
        "id": "succ_whatsapp_img",
        "label": "WhatsApp Pc Image"
    },
     {
        "type": "image_picker",
        "id": "succ_whatsapp_imgmob",
        "label": "WhatsApp Mobile Image"
    },
    {
        "type": "text",
        "id": "succ_whatsapp_text",
        "label": "Join on WhatsAPP Text",
        "default": "Join on WhatsAPP"
    },
    {
        "type": "url",
        "id": "succ_whatsapp_link",
        "label": "WhatsAPP link"
    },
    {
        "type": "image_picker",
        "id": "succ_facebook_img",
        "label": "FaceBook Pc Image"
    },
     {
        "type": "image_picker",
        "id": "succ_facebook_imgmob",
        "label": "FaceBook Mobile Image"
    },
    {
        "type": "text",
        "id": "succ_facebook_text",
        "label": "Join on Facebook Text",
        "default": "Join on Facebook"
    },
    {
        "type": "url",
        "id": "succ_facebook_link",
        "label": "Facebook link"
    },
    {
      "type": "richtext",
      "id": "succ_bot_desc",
      "label": "Bottom Desc",
      "default": "<p>Please say hi first if joining on WhatsApp</p>"
    },
    {
      "type": "richtext",
      "id": "mm_newsletter_des1",
      "label": "Mm Newsletter Desc1"
    },
    {
      "type": "richtext",
      "id": "mm_newsletter_des2",
      "label": "Mm Newsletter Desc2"
    },
    {
      "type": "richtext",
      "id": "mm_newsletter_des3",
      "label": "Mm Newsletter Desc3"
    }
  ]
}
{% endschema %}